@(comments : List[Comment])
@main(""){
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/comment/comment_1.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/comment/comment_2.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/comment/comment_3.css")">

<div class="detailHeader cFix pr">
				<div class="detailHeaderShopInfo detail2S cFix">
					<div class="fl pL10 pT10">
							<a href="http://beauty.hotpepper.jp/slnH000231733/">
								<img src="http://imgbp.hotp.jp/CSP/IMG_SRC/05/00/B002710500/B002710500_100-100.jpg" alt="フレール　Freresのお店ロゴ"></a>
					</div>
					<div class="fr sprtHeaderInnerR pa right0 w180">
						<ul class="p10">
							<li class="pa top10 left10">
									<a href="http://beauty.hotpepper.jp/CSP/bt/reserve/?storeId=H000231733" class="btn btn1H60 w156"><span><span>空席確認・予約する</span></span></a>
								</li>
							<li class="mT50 pT15">
								<p><span class="btnSlnSaveToMySalonDone bS offL" style="display: block;">マイサロンに保存済</span></p>
								</li>
							<li class="mT5"><a href="https://beauty.hotpepper.jp/CSP/bt/salonSendMobile/?storeId=H000231733" class="bS db sendToMobile offL salonSendMobileP">携帯に送る</a></li>
						</ul>
					</div>
					<div class="pL10 oh">
						<div class="sprtHeaderOuter">
							<div class="sprtHeaderInner pV10 pR10 ">
								<p class="detailTitle"><a href="http://beauty.hotpepper.jp/slnH000231733/">Freres　フレール</a></p>
								<p class="fs10 fgGray">フレール</p>
								<dl class="cFix pV5 pL10">
									<dt class="fl fs10 fgLGray2 b mR5">ネット予約OK</dt>
											<dd class="fl iS offL listImmediately mR5">即時予約OK</dd>
											<dd class="fl iS offL listNominate mR5">指名予約OK</dd>
											<dd class="fl iS offL listTheDay mR5">当日OK</dd>
												<dd class="fl iS offL listPoint mR5">ポイント加盟店</dd>
											<dd class="fl iS offL listMensOK mR5">メンズ利用OK</dd>
									</dl>
								<div class="cFix mT5 pT5 bdDotT">
									<div class="fr cFix qrcode">
										<ul>
											<li><img src="/CSP/qrCode/?storeId=H000231733&amp;cellsize=1&amp;margine=5&amp;vos=hbt1082" alt="フレール　Freresの2次元バーコード"></li>
										</ul>
									</div>
									<ul class="fs10">
										<li>東京都渋谷区神宮前３－２７－１５　２F</li>
										<li>明治神宮前駅　５番出口　徒歩５分</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<ul class="bS menuBG cFix">
				<li class="fl">
							<a href="http://beauty.hotpepper.jp/slnH000231733/" class="bS db salonInformation offL">サロン情報</a>
								</li>
					<li class="fl">
							<a href="http://beauty.hotpepper.jp/slnH000231733/coupon/" class="bS db couponAndMenu offL">クーポン・メニュー</a>
								</li>
					<li class="fl">
							<a href="http://beauty.hotpepper.jp/slnH000231733/stylist/" class="bS db stylist offL">スタイリスト</a>
								</li>
					<li class="fl">
							<a href="http://beauty.hotpepper.jp/slnH000231733/style/" class="bS db style offL">スタイル</a>
								</li>
					<li class="fl">
							<a href="http://beauty.hotpepper.jp/slnH000231733/blog/" class="bS db blog offL">ブログ</a>
								</li>
					<li class="fl">
							<a href="http://beauty.hotpepper.jp/slnH000231733/map/" class="bS db accessMap offL">地図</a>
								</li>
					<li class="fr">
							<a href="http://beauty.hotpepper.jp/slnH000231733/review/" class="bS db kuchikomiCurrent offL">口コミ</a>
								</li>
					</ul></div>
</div>

<div class="mT20">
						<div class="yS mainContentsSecondTitleOuter">
							<h2 class="yS mainContentsSecondTitleInner">（店名）的评论</h2>
						</div>
						<div class="pH10">
							<p class="mT5 taR">&nbsp;</p>
							<p class="mT5">この口コミは、ネット予約で実際に来店されたHotPepperBeauty会員の方の投稿です。<br>
								口コミは、あくまでも個人の感想であり、個人差があります。</p>
							<p>※口コミの掟に反するものは掲載しておりません。詳細は、<a href="javascript:void(0);" id="kuchikomi_okite">口コミの掟</a>をご覧ください。<br>
								予約時のクーポンメニューを表示しているため、現在掲載がない、もしくは実際の施術内容と異なる場合があります。<br>
								ご利用にあたってはご自身で十分に内容をご確認ください。</p>
							<p class="mT25">（普通＝3が評価時の基準です）</p>
						</div>
</div>

<div class="preList">
						<div class="preListHead">
							<div class="pr">
								<p><span class="numberOfResult">有（后台取该店的评论数）</span>条评论</p>
								<p class="pa bottom0 right0">
									1/3ページ（这边也要从数据库中取）
									<a href="/slnH000231733/review/PN2.html" class="iS arrowPagingR">次へ</a>
									</p>
							</div>
						</div>
</div>

@comments.map { comment =>
<div class="mT20">
						@if(comment.isValid == true) {
						<ul class="reportWrapper">
							<li class="reportDetailCassette mT30">
											<div class="reportHeaderPickup">
												<p class="titlePickup">pick up</p>
												<div class="shopInfo reportPickupTitle cFix">
													<p class="fl w580 pL25"><span class="b">(评论人)@comment.authorId</span><span class="mL5 fs10 fgGray">（评论人的基本信息）（女性/30代前半/会社員）</span></p>
													<div class="fr mT2">
														<p class="fs10 fgGray">[投稿日] （发表评论的日期）@comment.createTime.toLocaleString</p>
													</div>
												</div>
												@*这边需要各种评分吗？*@
												<ul class="judgeList cFix">
													<li class="bdN fgGray b">総合<span class="mL5 mR10 fgPink">5</span><span class="iconStarOn">★</span><span class="iconStarOn">★</span><span class="iconStarOn">★</span><span class="iconStarOn">★</span><span class="iconStarOn">★</span></li>
													<li><span class="fgGray">雰囲気</span><span class="mL10 fgPink b">5</span></li>
													<li><span class="fgGray">接客サービス</span><span class="mL10 fgPink b">5</span></li>
													<li><span class="fgGray">技術・仕上がり</span><span class="mL10 fgPink b">5</span></li>
													<li class="bdN"><span class="fgGray">メニュー・料金</span><span class="mL10 fgPink b">5</span></li>
												</ul>
											</div>
											
											<div class="mT10 pH10">
												<p class="mT10 wwbw">（数据库中取）@comment.content</p>
												<dl class="mT25">
													<dt class="couponMenuTitle fl">予約時のクーポン・メニュー</dt>
													<dd class="oh zoom1">
														<p>
															[Freres☆No.１人気]カット+低刺激カラー+アロマヘッドマッサージ　\9800</p>
														<p class="fs10">[施術メニュー]
															カット、カラー、トリートメント、その他</p>
														</dd>
												</dl>
											</div>
							}else {
											<div class="mT20 mH10 pV5 pH9 bdGray">
													<div class="bdDotGrayB pB5 cFix">
														<p class="fl fgPink b">Freres　フレールからの返信コメント（店家回复评论）</p>
														<div class="fr">
															</div>
													</div>
													<p class="mT10 wwbw">@comment.content    <br /><br />        回复人@comment.authorId</p>
											</div>
											}
							</li>
						</ul>
						
}
				<div class="postList">
                    <ul class="paging">
            			<li><span>1</span></li><li><a href="/slnH000231733/review/PN2.html">2</a></li><li><a href="/slnH000231733/review/PN3.html">3</a></li></ul>
                    <p class="pageControl">
                        1/3ページ
                        <a href="/slnH000231733/review/PN2.html" class="iS arrowPagingR">次へ</a>
                    </p>
                </div>
</div>
}