@(username : String, userId : ObjectId, comments: List[Comment])

@main("Comment") {
	
	

    <body>
		<form>
		
			<table border = 1>
			  <tr>
			 		<td>用户id</td>
			 		<td>评论的内容</td>
			 		<td>评论的时间</td>
			 		<td>评论的对象id</td>
			 		<td>相关用户的id</td>
			 		<td>该评论的状态</td>
			 		<td>评论对象的类型</td>
			 		<td>评论id</td>
			 	</tr>
			 @comments.map { comment =>
			 	
			 	
			 	
				<tr>				
					<td>相关用户的id</td>
					<td>该评论的状态</td>
					<td>评论对象的类型</td>
					<td>@comment.id</td>
					@*<td><a href = "@routes.Comments.answer(comment.id, comment.commentedId)"><input type="button" value="（店铺向用户）解释，回复" ></a></td>*@
					<td><a href = "@routes.Comments.complaint(comment.id)"><input type="button" value="（店铺向后台进行）申诉" ></a></td>
					@*<td><a href = "@controllers.Comments.delete(comment.id, comment.commentedId)"><input type="button" value="（管理员有“删除”的功能，改状态）删除" ></a></td>*@
				</tr>
				}
				
				
			
			</table>
		
			
			@*<a href = "@routes.Comment.addComment"><input type="button" value="addComment" ></a>*@
		</form>
	</body>

}
