@(commentOfSalon: CommentOfSalon)

@import java.text.DateFormat

<li class="sideShortcutSearchCassette bdDotGrayT ">
    <div class="cFix">
        <p class="fl fs10 fgLLGray b mR30 mT2">
            @DateFormat.getDateInstance.format(commentOfSalon.commentInfo.createTime)
        </p>
        <p class="mT5 mB5">
            <a href="@noAuth.routes.Comments.findBySalon(commentOfSalon.salonInfo.get.id)">
                @commentOfSalon.salonInfo.get.salonName
            </a>
        </p>
    </div>
    <p class="fs10 fgLGray wwbw">
        @Html(commentOfSalon.commentInfo.content.slice(0, 100))
        @if(commentOfSalon.commentInfo.content.length > 100) {...}
    </p>
</li>
