@(comments: List[models.portal.review.Comment] = Nil, salon: models.portal.salon.Salon)

<div class="mT20">
  <div class="yS mainContentsSecondTitleOuter">
    <h2 class="yS mainContentsSecondTitleInner">@Messages("comment.salonCommentTitle", salon.salonName)</h2>
  </div>
</div>
@if(comments.isEmpty){
  <div class="bgAlertMsg mT20">
      <p class="alertMsg">@Messages("comment.noComment")</p>
  </div>
}else{
<div class="mT20">    
    <ul class="reportWrapper">
      @for(comment <- comments) {
        <li class="reportDetailCassette mT30">
          @views.html.comment.commentItem(comment, salon)
        </li>
      }
    </ul>    
</div>  
}

