@(salonLogin: Form[Option[Salon]])

	@import helper._
	
	 @main(title = Messages("salon.salonLogin")) {
	 	
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/user/userLogin.css")">
	 	
	 	<div class="contentsTitleWrapper">
	 		<h2 class="contentsTitleInner mT10">@Messages("salon.salonLogin")</h2>
	 	</div>
	 	
	 	<div class=" w1" id="entry">
		 	<div class="mc " id="bgDiv">
		 		<div id="entry-bg">
		 			<img src="@routes.Assets.at("images/login/dl_pic.jpg")"/>
		 		</div>
		 		<div class="form">
		 			@form(auth.routes.Salons.salonLogin(), 'method ->"post"){
						<div class="item fore1">
		                    <span>@Messages("user.name")</span>
		                    <div class="item-ifo">
		                        @inputText(field = salonLogin("salonAccount.accountId"), '_label -> None, 'placeholder -> Messages("salon.login.accountId"), 'class -> "text",
								'_error ->  salonLogin("salonAccount.accountId").error.map(_.withMessage(Messages("salon.login.accountId"))), '_help -> ""
								)
		                        <div class="i-name ico"></div>
		                        <label id="loginname_succeed" class="blank invisible succeed"></label>
		                        <label id="loginname_error" class="focus"></label>
		                    </div>
		                </div>
		                <div class="item fore2">
	                    <span>@Messages("user.password")</span>
	                    <div class="item-ifo">
	                       @inputPassword(field = salonLogin("salonAccount.password"), '_label -> None, 'placeholder -> Messages("salon.login.password") ,
							'_error -> salonLogin.globalError.map(_.withMessage(Messages("salon.loginErr"))), 'class -> "text")
	
	                        <div class="i-pass ico"></div>
	                        <label id="loginpwd_succeed" class="blank invisible"></label>
	                        <label id="loginpwd_error" class="hide"></label>
	                    </div>
	                </div>
	                <div class="item fore4" id="autoentry">
	                    <div class="item-ifo">
	                        <label><a href="@routes.Mails.forgotPasswordOfSalon" class="" title="@Messages("user.forgetPassword")">@Messages("user.forgetPassword")</a></label>
	                        <div class="clr"></div>
	                    </div>
	                </div>
	                <div class="item login-btn2013">
	                    <input type= "submit" class = "btn-img btn-entry" value="@Messages("user.loginBtn")">
	                </div>
				}
		 		</div>
					
		 	</div>
	 	</div>
	 	
	 	<div class="free-regist">
            <span><a href="@routes.Application.salonRegister" >@Messages("user.registerBtn")</a></span>
        </div>
	 }
