@(salonRegister: Form[Salon],industry: List[Industry])
@import helper._
@import helper.twitterBootstrap._

@main(Messages("salon.register")){
	
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/salon/salonAdmin.css")">

	<div class="salonRegister">
		<div class="contentsTitleWrapper">
			<h2 class="contentsTitleInner">@Messages("salon.register")</h2>
		</div>

		<div class="mT10 pH10">
			@helper.form(noAuth.routes.Salons.register(), 'id -> "salonRegister", 'name ->"salonRegister"){
				<table cellspacing="0" class="wFull bdCell pCell10 bgThNml">
				    <tbody>
				    	@if(salonRegister.hasGlobalErrors){
             			 <div>
                 			 @salonRegister.globalError.get.message
              			 </div>				    		
				    	}
				        <tr>
				            <th class="w222">
				                <div class="dibBL vaM w160">
				                    <font class="cR">*</font>@Messages("salon.id")
				                </div>
				            </th>
				            <td>
				                @inputText(salonRegister("salonAccount.accountId"),'_label -> None,
				                			'id -> "accountId",
									 		'placeholder -> Messages("salon.login.accountId"),
									 		'_help -> Messages("salon.register.accountId"),
									 		'_error -> salonRegister("salonAccount.accountId").error.map(_.withMessage(Messages("salon.register.accountIdErr"))))
				            </td>
			            	<td rowspan="10">
			            		<div class="mT20 txtC">
			            			<span>@Messages("user.hasUserId")</span><br>
			            			<a href="@auth.routes.Salons.salonLogin"><span>@Messages("user.loginBtn")</span></a>
			            		</div>
			            	</td>				            
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	<font class="cR">*</font>@Messages("salon.password")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@inputPassword(salonRegister("salonAccount.password.main"),'_label -> None,
				                		'id -> "password_main",
				                		'_help -> Messages("salon.register.password"),
				                		'placeholder -> Messages("salon.login.password"),
				                		'_error -> salonRegister("salonAccount.password.main").error.map(_.withMessage(Messages("salon.passwordError"))))
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	<font class="cR">*</font>@Messages("user.confirmPas")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@inputPassword(salonRegister("salonAccount.password.confirm"),'_label -> None,'_help -> Messages(""),'placeholder -> Messages("salon.confirmMessage"),'id ->"password_confirm",'_error -> salonRegister.error("salonAccount.password"))
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	<font class="cR">*</font>@Messages("salon.Name")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@inputText(salonRegister("salonName"),'_label ->  None,'_help -> Messages(""),'id-> "salonName",
				                		'_error -> salonRegister("salonName").error.map(_.withMessage(Messages("salon.register.salonName"))))				             	
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	<font class="cR">*</font>@Messages("salon.type")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@input(field = salonRegister("salonIndustry"),args = '_label -> None,'_error -> salonRegister("salonIndustry").error.map(_.withMessage(Messages("salon.industryError")))){(id,name,value,args) =>
								 	@for(i <- 0 to industry.length-1){
								 		<input type = "checkbox" class="salonIndustry" name = "salonIndustry[@i]" value = "@industry(i).industryName">@Messages("industry.industryName."+industry(i).industryName)
								 	}
								  }
				                </div>
				            </td>
				        </tr> 				        
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	<font class="cR">*</font>@Messages("salon.mainPhone")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@inputText(salonRegister("contactMethod.mainPhone"), '_label -> None,'_help -> Messages(""),
				                	'id -> "contact_tel",	'_error -> salonRegister("contactMethod.mainPhone").error.map(_.withMessage(Messages("salon.register.mainPhone"))))
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	<font class="cR">*</font>@Messages("salon.contact")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@inputText(salonRegister("contactMethod.contact"), '_label -> None,'_help -> Messages(""),
                                        'id->"contact",'_error -> salonRegister("contactMethod.contact").error.map(_.withMessage(Messages("salon.register.contact"))))
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	<font class="cR">*</font>@Messages("user.email")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@inputText(salonRegister("contactMethod.email"), '_label -> None,'_help -> Messages(""),
				                		'id->"contact_email",'_error -> salonRegister("contactMethod.email").error.map(_.withMessage(Messages("salon.mailError"))))
				                </div>
				            </td>
				        </tr>					        					        
				    </tbody>
				</table>
				<div class="mT20 txtC">
					<input type = "hidden" name="salonPics[0].fileObjId" />
					<input type = "hidden" name="salonPics[0].picUse" value="LOGO"/>
					<input type = "button" class = "buttons" value=@Messages("user.registerBtn") onclick="checksOfSalonRegister();">
				</div>
		  		<div class="mT20 txtC">
					<a href= "#"><p>@Messages("salon.agreement")</p></a>
		  		</div>				
			}

		</div>
</div>
}

<script src="@routes.Assets.at("javascripts/stylist.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/checksForForms.js")" type="text/javascript"></script>
