@(salons: List[models.portal.salon.Salon])
<div id="index_tjsh">
  <h2><img src="@routes.Assets.at("images/index_tjsh_title.jpg")" width="255" height="36" /></h2>
  <div id="index_tjsh_nr">
    @if(salons.length > 0){
      @for(i <- 0 to (if (salons.length > 4) 3 else salons.length-1)){
      <dl>
          <dt><a href="@noAuth.routes.Salons.getSalon(salons(i).id)" class="link-green">@salons(i).salonName</a></dt>
          <dd class="pic"><a href="@noAuth.routes.Salons.getSalon(salons(i).id)"><img src="@routes.Application.getPhoto(salons(i).salonPics(0).fileObjId)" width="80" height="90" /></a></dd>
          <dd class="txt">                        
            @salons(i).salonIntroduction.map(pic=>pic.introContent.slice(0,15))
            @if(salons(i).salonIntroduction.map(pic=>pic.introContent.length > 15)) {...}
          </dd>
          <dd class="more"><a href="@noAuth.routes.Salons.getSalon(salons(i).id)"><img src="@routes.Assets.at("images/more.jpg")" width="40" height="10" /></a></dd>
      </dl>            
        }              
    }
  </div>
</div><!--美发沙龙-->
