@(salonForm:Form[Salon],industry: List[Industry], salon: Salon)
@import helper._
@import helper.twitterBootstrap._
@import views.html.salon.admin.mySalonInfoManageMain

@mySalonInfoManageMain("my-detailInfo",salon){
  
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/salon/salonAdmin.css")">

  <div class="salonRegister">

    <div class="mT40 pH10">
      @helper.form(action = auth.routes.Salons.salonDetailUpdate(salon.id),'id -> "salonForm", 'name ->"salonDetail"){
        
        <table cellspacing="0" class="wFull bdCell pCell10 bgThNml">
          <tbody>
            <input type="hidden" name="salonAccount.accountId" readonly="readonly" value="@salon.salonAccount.accountId">
            <input type="hidden" name="salonAccount.password" readonly="readonly" value="@salon.salonAccount.password">
            <input type="hidden" name="salonName" readonly="readonly" value="@salon.salonName">
            <input type="hidden" name="contactMethod.mainPhone" readonly="readonly" value="@salon.contactMethod.mainPhone">
            <input type="hidden" name="contactMethod.contact" readonly="readonly" value="@salon.contactMethod.contact">
            <input type="hidden" name="contactMethod.email" readonly="readonly" value="@salon.contactMethod.email">
            <input type="hidden" name="salonNameAbbr" readonly="readonly" value="@salon.salonNameAbbr">
            <input type="hidden" name="homepage" readonly="readonly" value="@salon.homepage">
            <input type="hidden" name="salonDescription" readonly="readonly" value="@salon.salonDescription">
            <input type="hidden" name="salonAddress.province" readonly="readonly" value="@salon.salonAddress.map(add=>add.province).getOrElse(None)">
            <input type="hidden" name="salonAddress.city" readonly="readonly" value="@salon.salonAddress.map(add=>add.city).getOrElse(None)">
            <input type="hidden" name="salonAddress.region" readonly="readonly" value="@salon.salonAddress.map(add=>add.region).getOrElse(None)">
            <input type="hidden" name="salonAddress.town" readonly="readonly" value="@salon.salonAddress.map(add=>add.town).getOrElse(None)">
            <input type="hidden" name="salonAddress.addrDetail" readonly="readonly" value="@salon.salonAddress.map(add=>add.addrDetail).getOrElse(None)">
            <input type="hidden" name="salonAddress.longitude" readonly="readonly" value="@salon.salonAddress.map(add=>add.longitude).getOrElse(None)">
            <input type="hidden" name="salonAddress.latitude" readonly="readonly" value="@salon.salonAddress.map(add=>add.latitude).getOrElse(None)">
            <input type="hidden" name="salonAddress.accessMethodDesc" readonly="readonly" value="@salon.salonAddress.map(add=>add.accessMethodDesc).getOrElse(None)">
            <input type="hidden" name="workTime.openTime" readonly="readonly" value="@salon.workTime.map(time=>time.openTime).getOrElse(None)">
            <input type="hidden" name="workTime.closeTime" readonly="readonly" value="@salon.workTime.map(time=>time.closeTime).getOrElse(None)">
            @inputDate(salonForm("establishDate"),'_label -> "" ,'style -> "display: none", '_help -> Messages(""))
            @inputDate(salonForm("registerDate"),'_label -> "" ,'style -> "display: none", '_help -> Messages(""))                    
            <tr>
              <th class="w222 ">
                <!-- -->
                <div class="dibBL vaM w154">
                    <font class="cR">*</font>@Messages("salon.seatNums")
                </div>
              </th>
              <td>
                <div>
                  @inputText(salonForm("seatNums"),
                    'id -> "seatNums",
                    '_label -> None,
                    'class -> "inputField",
                    '_help -> Messages(""))
                </div>
              </td>
            </tr>
            <tr>
              <th class="w222 ">
                <!-- -->
                <div class="dibBL vaM w154">
                    @Messages("salon.iss")
                </div>
              </th>
              <td>
                <div class="inputField isCan">
                  @checkbox(salonForm("salonFacilities.canOnlineOrder"), '_label -> Messages("salon.canOnlineOrder"),'_help -> Messages(""))
                  @checkbox(salonForm("salonFacilities.canImmediatelyOrder"), '_label -> Messages("salon.canImmediatelyOrder"),'_help -> Messages(""))
                  @checkbox(salonForm("salonFacilities.canNominateOrder"), '_label -> Messages("salon.canNominateOrder"),'_help -> Messages(""))
                  @checkbox(salonForm("salonFacilities.canCurntDayOrder"), '_label -> Messages("salon.canCurntDayOrder"),'_help -> Messages(""))
                  @checkbox(salonForm("salonFacilities.canMaleUse"), '_label -> Messages("salon.canMaleUse"),'_help -> Messages(""))
                  @checkbox(salonForm("salonFacilities.isPointAvailable"), '_label -> Messages("salon.isPointAvailable"),'_help -> Messages(""))
                  @checkbox(salonForm("salonFacilities.isPosAvailable"), '_label -> Messages("salon.isPosAvailable"),'_help -> Messages(""))
                  @checkbox(salonForm("salonFacilities.isWifiAvailable"), '_label -> Messages("salon.isWifiAvailable"),'_help -> Messages(""))
                  @checkbox(salonForm("salonFacilities.hasParkingNearby"), '_label -> Messages("salon.hasParkingNearby"),'_help -> Messages(""))
                </div>
              </td>
            </tr>
            <tr>
              <th class="w222 ">
                <!-- -->
                <div class="dibBL vaM w154">
                    @Messages("salon.parkingDesc")
                </div>
              </th>
              <td>
                <div class="inputField">
                  @inputText(salonForm("salonFacilities.parkingDesc"),
                    '_label -> None,
                    'maxlength->"40",
                    'style-> "width:300px;",
                    'placeholder -> Messages("salon.parkDes"))
                </div>
              </td>
            </tr>                                                
          </tbody>
        </table>    
        <table cellspacing="0" class="display01">
          <tbody>
            <tr>
              <th class="w222">
                <div class="dibBL vaM w160">
                  @Messages("user.optContactMethod")
                </div>
              </th>
              <td>
          @input(field = salonForm("salonIndustry"),
            '_label -> None,
            'style -> "display: none"){(id,name,value,args) =>
          @for(i <- 0 to industry.length-1){
            @if(salon.salonIndustry.contains(industry(i).industryName)){
              <input type = "checkbox" class="" name = "salonIndustry[@i]" value = "@industry(i).industryName" checked="checked">@Messages("industry.industryName."+industry(i).industryName)
            }else{
              <input type = "checkbox" class="" name = "salonIndustry[@i]" value = "@industry(i).industryName">@Messages("industry.industryName."+industry(i).industryName)
            }
          }
          }    
              </td>
            </tr>
          </tbody>
        </table>                
        <table cellspacing="0" class="display01">
          <tbody>
            <tr>
              <th class="w222">
                <div class="dibBL vaM w160">
                  @Messages("user.optContactMethod")
                </div>
              </th>
              <td>
                <div id="optContactMethods">
      
                  @repeat(salonForm("optContactMethods"), min = 0) { optContactMethod =>
                  
                    @optContactMethodGroup(optContactMethod)
                  
                  }
                  
                  @**
                   * Keep an hidden block that will be used as template for Javascript copy code
                   **@
                  @optContactMethodGroup(
                    salonForm("optContactMethods[x]"),
                    className = "optContactMethod_template"
                  )
                  
                  <div class="manage">
                    <a class="addOptContactMethod btn success">@Messages("optContactMethod.AddOptContactMethod")</a>
                  </div>
                
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        
        <table cellspacing="0" class="display02">
          <tbody>
            <tr>
              <th class="w222">
                <div class="dibBL vaM w160">
                  @Messages("salon.restDay")
                </div>
              </th>
              <td>
                <div class="restDays">
                  @inputRadioGroup(salonForm("restDays.restWay"), options = options("Fixed" -> Messages("restWay.fixed"),"Indefinite" -> Messages("restWay.indefinite")) , '_label -> None)
                  @if(salon.restDays.map(rest=>rest.restWay.equals("Fixed"))){
                    <div id="restDays_div">
                      @Messages("salon.selectRestDays")
                      <input type="checkbox" name="restDays.restDay1[0]" value="Monday" @if(salon.restDays.map{day=>day.restDay.toList.contains("Monday")}.getOrElse(None)){checked}>@Messages("Monday")
                      <input type="checkbox" name="restDays.restDay1[1]" value="Tuesday" @if(salon.restDays.map{day=>day.restDay.toList.contains("Tuesday")}.getOrElse(None)){checked}>@Messages("Tuesday")
                      <input type="checkbox" name="restDays.restDay1[2]" value="Wednesday" @if(salon.restDays.map{day=>day.restDay.toList.contains("Wednesday")}.getOrElse(None)){checked}>@Messages("Wednesday")
                      <input type="checkbox" name="restDays.restDay1[3]" value="Thursday" @if(salon.restDays.map{day=>day.restDay.toList.contains("Thursday")}.getOrElse(None)){checked}>@Messages("Thursday")
                      <input type="checkbox" name="restDays.restDay1[4]" value="Friday" @if(salon.restDays.map{day=>day.restDay.toList.contains("Friday")}.getOrElse(None)){checked}>@Messages("Friday")
                      <input type="checkbox" name="restDays.restDay1[5]" value="Saturday"@if(salon.restDays.map{day=>day.restDay.toList.contains("Saturday")}.getOrElse(None)){checked}>@Messages("Saturday")
                      <input type="checkbox" name="restDays.restDay1[6]" value="Sunday"@if(salon.restDays.map{day=>day.restDay.toList.contains("Sunday")}.getOrElse(None)){checked}>@Messages("Sunday")
                    </div>
                    <div id="noRestDays_div" style="display: none;">
                      @Messages("salon.EnterRestDays")
                      <input type="text" name="restDays.restDay2[0]" >
                    </div>
                  }else{
                    <div id="restDays_div" style="display: none;">
                      @Messages("salon.selectRestDays")
                      <input type="checkbox" name="restDays.restDay1[0]" value="Monday" >@Messages("Monday")
                      <input type="checkbox" name="restDays.restDay1[1]" value="Tuesday" >@Messages("Tuesday")
                      <input type="checkbox" name="restDays.restDay1[2]" value="Wednesday" >@Messages("Wednesday")
                      <input type="checkbox" name="restDays.restDay1[3]" value="Thursday" >@Messages("Thursday")
                      <input type="checkbox" name="restDays.restDay1[4]" value="Friday" >@Messages("Friday")
                      <input type="checkbox" name="restDays.restDay1[5]" value="Saturday" >@Messages("Saturday")
                      <input type="checkbox" name="restDays.restDay1[6]" value="Sunday" >@Messages("Sunday")
                    </div>
                    <div id="noRestDays_div" >
                      @Messages("salon.EnterRestDays")
                      <input type="text" name="restDays.restDay2[0]" value="@salon.restDays.map(day=>day.restDay.toList).getOrElse(None)">
                    </div>
                  }
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <table cellspacing="0" class="wFull bdCell pCell10 bgThNml mT10">
          <tbody>
             <tr>    
              <th class="w222 ">
               <div class="dibBL vaM w154">
                <font class="cR">*</font>@Messages("salon.showPic")
               </div>
              </th>             
             <td>    
              <div class="picture-show-description inputField">
                @picDescriptions(
                  salonForm("picDescription"),
                  className = "salonShowPicsDes"
                  )
                </div>
              </td>
            </tr>                        
          </tbody>
        </table>                
        <table cellspacing="0" class="display03">
          <tbody>
            <tr>
              <th class="w222">
                <div class="dibBL vaM w160">
                  @Messages("salon.pictures")
                </div>
              </th>
              <td>
              <div id="salonPics">
                <div class="demo">
                  <div class="logoupload">
                    <div class="btnbox">
                      @Messages("onUsePicture.selectImge")&nbsp;@Messages("onUsePicture.limit")
                      <a id="uploadBtnHolder" class="uploadbtn" href="javascript:;">@Messages("onUsePicture.selectImge")</a>
                    </div>
                    <div class="uploadtip">@Messages("onUsePicture.uploadImgSize")<b>@Messages("onUsePicture.WH")</b>@Messages("onUsePicture.size")</div>
                    
                    <div class="progress-box fl-progress" style="display:none;">
                      <div class="progress-num">@Messages("onUsePicture.process")<b>0%</b></div>
                      <div class="progress-bar"><div style="width:0%;" class="bar-line"></div></div>
                    </div>
                    
                  </div>
                  <div class="batch-pic">
                    <ul>
                    @repeat(salonForm("salonPics")) { salonPic =>
                      @pictureGroup(salonPic)
                    }
                    </ul>
                  </div>
                </div>

                @pictureGroup(
                  salonForm("salonPics[x]"),
                  className = "salonPic_template"
                )
                
                <div class="manage">
                   <a class="addSalonPic btn success">@Messages("salon.addPicture")</a>
                </div>
              </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="tipbox hide" id="step1">
          <div class="tipword">
          </div>
          <span class="tipboxBtn" onclick="hideTip()">
          </span>
        </div>
        <div class="tipbox hide" id="step2">
          <div class="tipword">
          </div>
          <span class="tipboxBtn" onclick="hideTip()">
          </span>
        </div>
        <div class="tipbox hide" id="step3">
          <div class="tipword">
          </div>
          <span class="tipboxBtn" onclick="hideTip()">
          </span>
        </div>                                                    
        <div class="mT20 txtC">
          <input type = "button" class = "buttons" value=@Messages("common.submit") onclick="checksForSalonDetail();">
        </div>
      }
    </div>

  </div>
}
<style>
</style>
@accountField(field: Field, className: String = "account") = {
  @input(field, '_label -> Messages("salon.account"), '_class -> className) { (id, name, value, _) =>
    <input type="text" name="@name" value="@value"> 
    <a class="removeAccount btn danger">@Messages("optContactMethod.Remove")</a>
  }
}

@optContactMethodGroup(field: Field, className: String = "optContactMethod") = {
  <div class="twipsies well @className">
    
    <a class="removeOptContactMethod btn danger pull-right">@Messages("optContactMethod.RemoveOptContactMethod")</a>
    
    @select(
      field("contMethodType"), 
      ContMethodType.getAllContMethodTypes,
      '_default -> Messages("user.chooseOpt"),
      '_label -> Messages("user.contMethodType")
    )
    
    <div class="accounts">

      @repeat(field("accounts"), min = 1) { account =>
        
        @accountField(account)
  
      }
      
      @**
       * Keep an hidden block that will be used as template for Javascript copy code
       **@
      @accountField(
        field("accounts[x]"),
        className = "account_template"
      )
      
      <div class="clearfix">
        <div class="input">
          <a class="addAccount btn success">@Messages("optContactMethod.AddNumber")</a>
        </div>
      </div>
    
    </div>
 
  </div>
}


@pictureGroup(field: Field, className: String = "salonPic") = {
  <li>
  <div class="delete-pic"></div>
    @field("fileObjId").value.map{fileid=>
      @if(!fileid.equals("")){    
      <div class='p-pic'><img src='@routes.Application.getPhoto(new ObjectId(fileid))'/></div>
    }
  }
  <div class="addstyles-byStylist twipsies well @className">
    @inputText(
      field("fileObjId"), 
      '_label -> "fileObjId", 'id -> "imageoffileobjid", 'class ->"imageoffileobjid"
    )
    
    @select(
      field ("picUse"), 
      options = options(
        "LOGO" -> Messages("salon.picUse.logo"),
        "Navigate" -> Messages("salon.picUse.Navigate"),
        "Atmosphere" -> Messages("salon.picUse.Atmosphere"),
        "SalonCheck" ->  Messages("salon.picUse.SalonCheck")
      ),
       '_label -> None,
       'placeholder -> Messages("salon.picUse"),
       '_help -> Messages("")
    )            
    @inputText(
      field("showPriority"), 
      '_label -> None, 'class -> "imgShowPriority"
    )
    @textarea(
      field("description"),
      '_label -> None,
      'rows -> 2,
      'cols -> 15,
      'placeholder -> Messages("onUserPicture.description"), 'class -> "imagesDescriptionfelid"
)
    
  </div>

  </li>
  }
@picDescriptions(field: Field, className: String = "salonPicDescription") = {
  <div class="picDescriptions">
  <div>
    @textarea(
        field("picTitle"),
        'id ->"picTitle",
        '_label -> Messages("salon.pic.title"),
        'rows -> 4,
        'cols -> 40,
        'onFocus -> "show('step1')",
        'onblur -> "hide('step1')"
        )
  </div>        
  <div>    
    @textarea(
        field("picContent"),
        'id ->"picContent",
        '_label -> Messages("salon.pic.content"),
        'rows -> 8,
        'cols -> 40,
        'onFocus -> "show('step2')",
        'onblur -> "hide('step2')"
        )
  </div>
  <div>            
    @textarea(
        field("picFoot"),
        'id ->"picFoot",
        '_label -> Messages("salon.pic.foot"),
        'rows -> 4,
        'cols -> 40,
        'onFocus -> "show('step3')",
        'onblur -> "hide('step3')"
        )
  </div>
  </div>     
}

  <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/ajaxfileupload.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/checksForForms.js")" type="text/javascript"></script>
  <script type="text/javascript" charset="utf-8">
    function show(step){
      var txt = '#'+step;
      $(txt).removeClass('hide');
    }

    function hide(step){
      var txt = '#'+step;
      $(txt).addClass('hide');
    }
  </script>
