@(salonRegister: Form[models.portal.salon.Salon],industry: List[models.portal.industry.Industry], user: Option[models.portal.user.User] = None)

@import helper._
@import helper.twitterBootstrap._
@import common.loginAndRegisterMain

@loginAndRegisterMain(Messages("salon.register"), "salonRegister", user){
  

  @helper.form(noAuth.routes.Salons.register(), 'name ->"salonRegister"){
    <div class="salonRegister">
      <div class="registerForm">
        <h3>@Messages("salon.info")</h3>
        <div class="item">
          <span class="label"><b class="cR">*</b>@Messages("salon.id"):</span>

          <div class="fl item-ifo">
            @inputText(salonRegister("salonAccount.accountId"),
              '_label -> None,
              'id -> "accountId",
              'class -> "text")
          </div>
        </div>
        <div class="item">
          <span class="label"><b class="cR">*</b>@Messages("salon.password"):</span>

          <div class="fl item-ifo">
            @inputPassword(salonRegister("salonAccount.password.main"),
              '_label -> None,
              'id -> "password_main",
              'class -> "text")
          </div>
        </div>
        <div class="item">
          <span class="label"><b class="cR">*</b>@Messages("user.confirmPas"):</span>

          <div class="fl item-ifo">
            @inputPassword(salonRegister("salonAccount.password.confirm"),
              '_label -> None,
              'id ->"password_confirm",
              'class -> "text")
          </div>
        </div>
        <div class="item">
          <span class="label"><b class="cR">*</b>@Messages("salon.Name"):</span>

          <div class="fl item-ifo">
            @inputText(salonRegister("salonName"),
              '_label ->  None,
              'class -> "text")
          </div>
        </div>
        <div class="item">
          <span class="label"><b class="cR">*</b>@Messages("salon.type"):</span>

          <div class="fl item-ifo">
            @input(field = salonRegister("salonIndustry"),
              '_label -> None){(id,name,value,args) =>
              @for(i <- 0 to industry.length-1){
                <input type = "checkbox" class="salonIndustry" name = "salonIndustry[@i]" value = "@industry(i).industryName">
                <span class="salonIndustry">@Messages("industry.industryName."+industry(i).industryName)</span>
                }
            }
          </div>
        </div>
        <div class="item">
          <span class="label"><b class="cR">*</b>@Messages("salon.mainPhone"):</span>

          <div class="fl item-ifo">
            @inputText(salonRegister("contactMethod.mainPhone"),
              '_label -> None,
              'id -> "contact_tel",
              'class -> "text")
          </div>
        </div>
        <div class="item">
          <span class="label"><b class="cR">*</b>@Messages("salon.contact"):</span>

          <div class="fl item-ifo">
            @inputText(salonRegister("contactMethod.contact"),
              '_label -> None,
              'id->"contact",
              'class -> "text")
          </div>
        </div>
        <div class="item">
          <span class="label"><b class="cR">*</b>@Messages("user.email"):</span>

          <div class="fl item-ifo">
            @inputText(salonRegister("contactMethod.email"),
              '_label -> None,
              'id->"contact_email",
              'class -> "text")
          </div>
        </div>
        <div class="item item-new">
          <span class="label">&nbsp;</span>

          <div class="fl item-ifo">
            @checkbox(
              salonRegister("accept"),
              '_label -> None,
              '_text -> Messages("user.agreement"),
              '_showConstraints -> false)
          </div>
        </div>
        <div class="item">
          <span class="label">&nbsp;</span>
          <input type = "hidden" name="salonPics[0].fileObjId" />
          <input type = "hidden" name="salonPics[0].picUse" value="LOGO"/>
          <input type = "button" class = "btn-img btn-regist" value=@Messages("user.registerBtn") onclick="checksForSalonRegister();"/>
        </div>
      </div>
    </div>
  }

}

<script src="@routes.Assets.at("javascripts/stylist.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/checksForForms.js")" type="text/javascript"></script>
