<div id="index_bp">
   <h2><img src="@routes.Assets.at("images/esthe/index_bp_title.jpg")" width="255" height="36" /></h2>
   <div id="index_bp_nr">
     <ul>
       <li class="btn"><a href="#">双眼皮</a></li>
       <li><a href="#">瘦身</a></li>
       <li><a href="#">隆鼻</a></li>
       <li><a href="#">瓜子脸</a></li>
       <li><a href="#">丰胸</a></li>
       <li><a href="#">提臀</a></li>
       <li><a href="#">美白</a></li>
       <li><a href="#">祛斑</a></li>
       <li><a href="#">祛疤</a></li>
       <li><a href="#">收腰</a></li>
       <li><a href="#">除皱</a></li>
       <li><a href="#">保养</a></li>
    </ul>
  </div>
</div>
