@(style: Style,salon:Salon)
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/style/style.css")">
<div class="mT30" id="jsiHoverAlphaLayerScope">
	<div class="stylePageTileOuter cFix">
		<h2 class="fs16 fl">
			@style.styleName
		</h2>
		<div class="jscHoverTarget">
			<div class="jscLayer">
				<p id="mysId01L000544169" style="position: relative; zoom: 1;">
					<a id="mysIdh01L000544169" href="javascript:void(0);" >
						@Messages("hair.ToCollect")
					</a>
					<a href="" class="btnSaveToMyStyleDone jscRadius3px offL fr mR10">
						<span class="btnSaveToMyStyleDoneInner jscRadius3px">
							@Messages("hair.BeCollected")
						</span>
					</a>
				</p>
			</div>
		</div>
	</div>
	<div class="cFix mT30 pH10">
		<div class="fl w273">
			<div class="pr">
				<span id="imgMain" >
					<img src="">
				</span>
			</div>
			<ul class="cFix mT10">
				@style.stylePic.map {stylePic =>
					<li class="fl w91">
						<span id="img" style="cursor: pointer;">
							<img src="#" class="bdImgGray" onclick="changePic('img','imgMain')" height="89" width="65" >
						</span>
						<div class="iS SV01 offL mHA mT5">
						</div>
					</li>	
				}
			</ul>
			<div class="jscHoverTarget">
				<div class="jscLayer">
					<p id="mysId01L000544169" style="position: relative; zoom: 1;">
						<a id="mysIdh01L000544169" href="javascript:void(0);" >
							@Messages("hair.ToCollect")
						</a>
						<a href="" class="btnSaveToMyStyleDone jscRadius3px offL fr mR10">
							<span class="btnSaveToMyStyleDoneInner jscRadius3px">
								@Messages("hair.BeCollected")
							</span>
						</a>
					</p>
				</div>
			</div>
		</div>
		<div class="fr w427">
			<div>
				<div class="titleStyle">
					@Messages("hair.assessFromStylist")
				</div>
				<div class="cFix mT10">
					<div class="fl w99">
						<a href="@routes.Stylists.findStylistById(Stylist.findOneById(style.stylistId).get.id)">
							<img src=""
							alt="">
						</a>
					</div>
					<div class="fr w318">
						@style.description
					</div>
				</div>
				<div class="cFix mT10 pT10 bdDotT">
					<div class="fl" >
						<a href="@routes.Stylists.findStylistById(Stylist.findOneById(style.stylistId).get.id)">
							
						</a>
					</div>
					<div class="fr" >
						<a href="http://beauty.hotpepper.jp/CSP/bt/reserve/?storeId=H000231733&amp;stylistId=T000164185"
						class="bS db nominatedReserve offL" width="200px">
							@Messages("reserve.name")
						</a>
					</div>
				</div>
			</div>
			<div class="mT30">
				<div class="titleStyle">
					@Messages("hair.style")
				</div>
				<dl class="cFix mT10">
					<dt class="fl w8em fgPink">
						@Messages("hair.styleLength")
					</dt>
					<dd class="fl" style="background:#24D3E2">
						@style.styleLength
					</dd>
				</dl>
				<dl class="cFix bdDotT mT5 pT5">
					<dt class="fl w8em fgPink">
						@Messages("hair.color")
					</dt>
					<dd class="fl" style="background:#24D3E2">
						@style.styleColor.map {color =>
							@color  
						}
					</dd>
				</dl>
				<dl class="cFix bdDotT mT5 pT5">
					<dt class="fl w8em fgPink">
						@Messages("hair.impression")
					</dt>
					<dd class="fl" style="background:#24D3E2">
						@style.styleImpression
					</dd>
				</dl>
				<dl class="cFix bdDotT mT5 pT5">
					<dt class="fl w8em fgPink">
						@Messages("hair.serviceItem")
					</dt>
					<dd class="fl w318" style="background:#24D3E2">
						@style.serviceType
					</dd>
				</dl>
			</div>
			<div class="mT30">
				<div class="titleStyle">
					@Messages("hair.styleForPerson")
				</div>
				<div class="cFix p10 bgLGray">
					<div class="fl w190">
						<dl class="cFix">
							<dt class="fl fgPink w2em">
								@Messages("hair.styleAmount")
							</dt>
							<dd class="fl" style="background:#24D3E2">
								<span>
									@style.styleAmount.map {styleAmount =>
										@styleAmount  
									}
								</span>
							</dd>
						</dl>
						<dl class="cFix mT5">
							<dt class="fl fgPink w2em">
								@Messages("hair.styleQuality")
							</dt>
							<dd class="fl" style="background:#24D3E2">
								<span>
									@style.styleQuality.map {styleQuality =>
										@styleQuality
									}
								</span>
							</dd>
						</dl>
						<dl class="cFix mT5">
							<dt class="fl fgPink w2em">
								@Messages("hair.styleDiameter")
							</dt>
							<dd class="fl" style="background:#24D3E2">
								<span>
									@style.styleDiameter.map {styleDiameter =>
										@styleDiameter
									}
								</span>
							</dd>
						</dl>
					</div>
					<dl class="fr w190 bdGrayL pL15" >
						<dt class="fl fgPink w2em h106">
							@Messages("hair.faceShape")
						</dt>
						<dd class="fl" style="background:#24D3E2">
							<span>
								@style.faceShape.map {faceShape =>
									@faceShape
								}
							</span>
						</dd>
					</dl>
				</div>
			</div>
		</div>
	</div>
	<!-- ↓carousel -->
	<div class="w785 mT30">
		<div class="yS mainContentsSecondTitleOuter" id="jsiCarouselPaging" style="position: relative;">
			<h2 class="yS mainContentsSecondTitleInner">
				@Messages("hair.styleOfStylist")
			</h2>
			<div style="position: absolute; top: 6px; right: 20px; color: rgb(255, 255, 255); font-size: 14px;">
				7 / 7
			</div>
		</div>
		<div class="mT20 carouselWrapper" id="jsiCarouselWrapper">
			<div class="carouselInnerWrapper" id="jsiCarouselInnerWrapper">
				<ul class="carousel" id="jsiCarousel" style="left: -4284px;">
					@Style.findByStylistId(style.stylistId).map { stylistAll =>
						@if(stylistAll.id != style.id) {
							<li>
								<a href="@routes.Styles.getStyleInfoOfSalon(salon.id,stylistAll.id)"  class="db pr">
									@*<img src="@routes.Application.getPhoto(stylistAll.stylePic(0))"*@
									class="bdImgGray" oncontextmenu="return false;">
								</a>
							</li>
						}
					}
				</ul>
			</div>
			<p class="carouselPrev">
				<a href="javascript: void(0);" class="db bS btnCarouselPrev offL" id="jsiBtnCarouselPrev"
				style="opacity: 1; cursor: pointer;">
					pre
				</a>
			</p>
			<p class="carouselNext disabled">
				<a href="javascript: void(0);" class="db bS btnCarouselNext offL" id="jsiBtnCarouselNext"
				style="opacity: 0.5; cursor: default;">
					fut
				</a>
			</p>
		</div>
	</div>
	<div class="mT30">
		<div class="cFix p15 bgLGray">
			<div class="fl w89">
				<a href="@routes.Stylists.findStylistById(Stylist.findOneById(style.stylistId).get.id)">
					<img src=""
					alt="">
				</a>
			</div>
			<div class="cFix fr w636">
				<div class="detail2S waitTitle offL">
					@Messages("hair.welcome")
				</div>
				<div class="cFix bgDGray p10">
					<div class="fl">
						<div class="fgPink fs10">
							 @*店长@Stylist.findOneById(style.stylistId).get.stylist*@
						</div>
						<div class="fs14 b mT5">
							<a href="">
							
							</a>
						</div>
					</div>
				</div>
				<ul class="">
					<li class="">
						<a href="http://beauty.hotpepper.jp/CSP/bt/reserve/?storeId=H000231733&amp;stylistId=T000164185"
						class="bS db nominatedReserve offL">
							@Messages("reserve.name")
						</a>
					</li>
					<li class="">
						<a href="https://beauty.hotpepper.jp/CSP/my/myStylist/doSet/?stylistId=T000164185&amp;org.apache.struts.taglib.html.TOKEN=4607a496c428a11ef5de803c10f73ad8"
						class="bS db addIntoMyStylist offL">
							@Messages("hair.stylistToCollect")
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<script language="JavaScript">
	function changePic(img,imgMain){
		alert("haha");
		alert(document.getElementById(imgMain).innerHTML);
		alert(document.getElementById(img).innerHTML);
		//document.getElementById(imgMain).innerHTML = document.getElementById(img).innerHTML;
		document.getElementById(imgMain).innerHTML = <img src="/getPhoto/B004554657_164-219.jpg">
		alert(document.getElementById(imgMain).innerHTML);
		alert("wokao");
	}
</script>
