@(styleLoginForm: Form[Style], stylePara : models.StylePara)

@import helper._

@*<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/stylist/stylist.css")">*@
<head>
	<div>
		<h2>@Messages("hair.styleAdd")</h2>
	</div>
</head>
<body>
	<div>
	@form(routes.Styles.styleLoginNew, 'id -> "styleLoginForm"){
		<div>
			@Messages("hair.styleName")<input type = "text" class="" name = "styleName" value = "">
		</div>
		<div>
			@input(field = styleLoginForm("stylePic"),args = '_label ->"图片"){(id,name,value,args) =>
				<input type = "checkbox" class="" name = "stylePic[0]" value = "B004670057_164-219.jpg">
			}
		</div>
		<div>
			@Messages("hair.stylist")<input type = "text" class="" name = "stylistId" field = styleLoginForm("stylistId") value = "530d8010d7f2861457771bf8">	
		</div>
		<div align="left">	
			@input(field = styleLoginForm("styleLength"),args = '_label ->Messages("hair.styleLength")){(id,name,value,args) =>
            @for(i <- 0 to stylePara.styleLength.length-1){
                  <input type = "checkbox" class="" name = "styleLength[@i]", value = "@stylePara.styleLength(i)">@stylePara.styleLength(i)
            }
        }
        @input(field = styleLoginForm("styleColor"),args = '_label ->Messages("hair.color")){(id,name,value,args) =>
            @for(i <- 0 to stylePara.styleColor.length-1){
                  <input type = "checkbox" class="" name = "styleColor[@i]", value = "@stylePara.styleColor(i)">@stylePara.styleColor(i)
            }
        }

        @input(field = styleLoginForm("styleImpression"),args = '_label ->Messages("hair.impression")){(id,name,value,args) =>
            @for(i <- 0 to stylePara.styleImpression.length-1){
                  <input type = "checkbox" class="" name = "styleImpression[@i]", value = "@stylePara.styleImpression(i)">@stylePara.styleImpression(i)
            }
        }
        @input(field = styleLoginForm("serviceType"),args = '_label ->Messages("hair.serviceType")){(id,name,value,args) =>
            @for(i <- 0 to stylePara.serviceType.length-1){
                  <input type = "checkbox" class="" name = "serviceType[@i]", value = "@stylePara.serviceType(i)">@stylePara.serviceType(i)
            }
        }
        @input(field = styleLoginForm("styleAmount"),args = '_label ->Messages("hair.styleAmount")){(id,name,value,args) =>
            @for(i <- 0 to stylePara.styleAmount.length-1){
                  <input type = "checkbox" class="" name = "styleAmount[@i]", value = "@stylePara.styleAmount(i)">@stylePara.styleAmount(i)
            }
        }
        @input(field = styleLoginForm("styleQuality"),args = '_label ->Messages("hair.styleQuality")){(id,name,value,args) =>
            @for(i <- 0 to stylePara.styleQuality.length-1){
                  <input type = "checkbox" class="" name = "styleQuality[@i]", value = "@stylePara.styleQuality(i)">@stylePara.styleQuality(i)
            }
        }
        @input(field = styleLoginForm("styleDiameter"),args = '_label ->Messages("hair.styleDiameter")){(id,name,value,args) =>
            @for(i <- 0 to stylePara.styleDiameter.length-1){
                  <input type = "checkbox" class="" name = "styleDiameter[@i]", value = "@stylePara.styleDiameter(i)">@stylePara.styleDiameter(i)
            }
        }

        @input(field = styleLoginForm("faceShape"),args = '_label ->Messages("hair.faceShape")){(id,name,value,args) =>
            @for(i <- 0 to stylePara.faceShape.length-1){
                  <input type = "checkbox" class="" name = "faceShape[@i]" value = "@stylePara.faceShape(i)">@stylePara.faceShape(i)
            }
        }
        @input(field = styleLoginForm("consumerSocialStatus"),args = '_label ->Messages("hair.consumerSocialStatus")){(id,name,value,args) =>
            @for(i <- 0 to stylePara.consumerSocialStatus.length-1){
                  <input type = "checkbox" class="" name = "consumerSocialStatus[@i]" value = "@stylePara.consumerSocialStatus(i)">@stylePara.consumerSocialStatus(i)
            }
        }
        @input(field = styleLoginForm("consumerSex"),args = '_label ->Messages("hair.consumerSex")){(id,name,value,args) =>
            @for(i <- 0 to stylePara.consumerSex.length-1){
                  <input type = "checkbox" class="" name = "consumerSex[@i]" value = "@stylePara.consumerSex(i)">@stylePara.consumerSex(i)
            }
        }
        @input(field = styleLoginForm("consumerAgeGroup"),args = '_label ->Messages("hair.consumerAgeGroup")){(id,name,value,args) =>
            @for(i <- 0 to stylePara.consumerAgeGroup.length-1){
                  <input type = "checkbox" class="" name = "consumerAgeGroup[@i]" value = "@stylePara.consumerAgeGroup(i)">@stylePara.consumerAgeGroup(i)
            }
        }
	    </div>
		<div>
			@Messages("hair.assessFromStylist")<input type = "text" class="" name = "description" value = "">
	    </div>
	    <div align="center">
	        <input type = "reset" class = "buttons" value=@Messages("service.resetBton")>
		    <input type="submit" class = "buttons" value=@Messages("common.submit")>
        </div>
     }	
	</div>
</body> 

