@(styleSearchForm: Form[Style], styles: List[models.Style], salon:Salon ,stylePara : models.StylePara)
@import helper._
	@*数据测试
	<h2 class="fs16 fl">
		@styles
	</h2>
	<h2 class="fs16 fl">
		@styleSearchForm
	</h2>
	<h2 class="fs16 fl">
		@salon
	</h2>*@

<div>
	<h2>@Messages("hair.search")</h2>
	<div>
	@form(routes.Styles.styleSearchList, 'id -> "styleSearchForm"){
	    @input(field = styleSearchForm("styleLength"),args = '_label ->Messages("hair.styleLength")){(id,name,value,args) =>
	    	@for(i <- 0 to stylePara.styleLength.length-1){
	    		@if(styleSearchForm.get.styleLength.contains(stylePara.styleLength(i))){
	      			<input type = "checkbox" class="" name = "styleLength[@i]", value = "@stylePara.styleLength(i)" checked="checked">@stylePara.styleLength(i)
	    		}else{
					<input type = "checkbox" class="" name = "styleLength[@i]", value = "@stylePara.styleLength(i)">@stylePara.styleLength(i)
				}
	    	}
	    }
	    @input(field = styleSearchForm("styleColor"),args = '_label ->Messages("hair.color")){(id,name,value,args) =>
	    	@for(i <- 0 to stylePara.styleColor.length-1){
	    		@if(styleSearchForm.get.styleColor.contains(stylePara.styleColor(i))){
	      			<input type = "checkbox" class="" name = "styleColor[@i]", value = "@stylePara.styleColor(i)" checked="checked">@stylePara.styleColor(i)
	    		}else{
					<input type = "checkbox" class="" name = "styleColor[@i]", value = "@stylePara.styleColor(i)">@stylePara.styleColor(i)
				}
	    	}
	    }
	    @input(field = styleSearchForm("styleImpression"),args = '_label ->Messages("hair.impression")){(id,name,value,args) =>
	    	@for(i <- 0 to stylePara.styleImpression.length-1){
	      		@if(styleSearchForm.get.styleImpression.contains(stylePara.styleImpression(i))){
	      			<input type = "checkbox" class="" name = "styleImpression[@i]", value = "@stylePara.styleImpression(i)" checked="checked">@stylePara.styleImpression(i)
	    		}else{
					<input type = "checkbox" class="" name = "styleImpression[@i]", value = "@stylePara.styleImpression(i)">@stylePara.styleImpression(i)
				}
	    	}
	    }
	    @input(field = styleSearchForm("serviceType"),args = '_label ->Messages("hair.serviceType")){(id,name,value,args) =>
	    	@for(i <- 0 to stylePara.serviceType.length-1){
	      		@if(styleSearchForm.get.serviceType.contains(stylePara.serviceType(i))){
	      			<input type = "checkbox" class="" name = "serviceType[@i]", value = "@stylePara.serviceType(i)" checked="checked">@stylePara.serviceType(i)
	    		}else{
					<input type = "checkbox" class="" name = "serviceType[@i]", value = "@stylePara.serviceType(i)">@stylePara.serviceType(i)
				}
	    	}
	    }
	    @input(field = styleSearchForm("styleAmount"),args = '_label ->Messages("hair.styleAmount")){(id,name,value,args) =>
	    	@for(i <- 0 to stylePara.styleAmount.length-1){
	      		@if(styleSearchForm.get.styleAmount.contains(stylePara.styleAmount(i))){
	      			<input type = "checkbox" class="" name = "styleAmount[@i]", value = "@stylePara.styleAmount(i)" checked="checked">@stylePara.styleAmount(i)
	    		}else{
					<input type = "checkbox" class="" name = "styleAmount[@i]", value = "@stylePara.styleAmount(i)">@stylePara.styleAmount(i)
				}
	    	}
	    }
	    @input(field = styleSearchForm("styleQuality"),args = '_label ->Messages("hair.styleQuality")){(id,name,value,args) =>
	    	@for(i <- 0 to stylePara.styleQuality.length-1){
	      		@if(styleSearchForm.get.styleQuality.contains(stylePara.styleQuality(i))){
	      			<input type = "checkbox" class="" name = "styleQuality[@i]", value = "@stylePara.styleQuality(i)" checked="checked">@stylePara.styleQuality(i)
	    		}else{
					<input type = "checkbox" class="" name = "styleQuality[@i]", value = "@stylePara.styleQuality(i)">@stylePara.styleQuality(i)
				}
	    	}
	    }
	    @input(field = styleSearchForm("styleDiameter"),args = '_label ->Messages("hair.styleDiameter")){(id,name,value,args) =>
	    	@for(i <- 0 to stylePara.styleDiameter.length-1){
	      		@if(styleSearchForm.get.styleDiameter.contains(stylePara.styleDiameter(i))){
	      			<input type = "checkbox" class="" name = "styleDiameter[@i]", value = "@stylePara.styleDiameter(i)" checked="checked">@stylePara.styleDiameter(i)
	    		}else{
					<input type = "checkbox" class="" name = "styleDiameter[@i]", value = "@stylePara.styleDiameter(i)">@stylePara.styleDiameter(i)
				}
	    	}
	    }
	    @input(field = styleSearchForm("faceShape"),args = '_label ->Messages("hair.faceShape")){(id,name,value,args) =>
	    	@for(i <- 0 to stylePara.faceShape.length-1){
	      		@if(styleSearchForm.get.faceShape.contains(stylePara.faceShape(i))){
	      			<input type = "checkbox" class="" name = "faceShape[@i]", value = "@stylePara.faceShape(i)" checked="checked">@stylePara.faceShape(i)
	    		}else{
					<input type = "checkbox" class="" name = "faceShape[@i]", value = "@stylePara.faceShape(i)">@stylePara.faceShape(i)
				}
	    	}
	    }
	    @input(field = styleSearchForm("consumerSocialStatus"),args = '_label ->Messages("hair.consumerSocialStatus")){(id,name,value,args) =>
	    	@for(i <- 0 to stylePara.consumerSocialStatus.length-1){
	      		@if(styleSearchForm.get.consumerSocialStatus.contains(stylePara.consumerSocialStatus(i))){
	      			<input type = "checkbox" class="" name = "consumerSocialStatus[@i]", value = "@stylePara.consumerSocialStatus(i)" checked="checked">@stylePara.consumerSocialStatus(i)
	    		}else{
					<input type = "checkbox" class="" name = "consumerSocialStatus[@i]", value = "@stylePara.consumerSocialStatus(i)">@stylePara.consumerSocialStatus(i)
				}
	    	}
	    }
	    @input(field = styleSearchForm("consumerSex"),args = '_label ->Messages("hair.consumerSex")){(id,name,value,args) =>
	    	@for(i <- 0 to stylePara.consumerSex.length-1){
	      		@if(styleSearchForm.get.consumerSex.contains(stylePara.consumerSex(i))){
	      			<input type = "checkbox" class="" name = "consumerSex[@i]", value = "@stylePara.consumerSex(i)" checked="checked">@stylePara.consumerSex(i)
	    		}else{
					<input type = "checkbox" class="" name = "consumerSex[@i]", value = "@stylePara.consumerSex(i)">@stylePara.consumerSex(i)
				}
	    	}
	    }
	    @input(field = styleSearchForm("consumerAgeGroup"),args = '_label ->Messages("hair.consumerAgeGroup")){(id,name,value,args) =>
	    	@for(i <- 0 to stylePara.consumerAgeGroup.length-1){
	      		@if(styleSearchForm.get.consumerAgeGroup.contains(stylePara.consumerAgeGroup(i))){
	      			<input type = "checkbox" class="" name = "consumerAgeGroup[@i]", value = "@stylePara.consumerAgeGroup(i)" checked="checked">@stylePara.consumerAgeGroup(i)
	    		}else{
					<input type = "checkbox" class="" name = "consumerAgeGroup[@i]", value = "@stylePara.consumerAgeGroup(i)">@stylePara.consumerAgeGroup(i)
				}
	    	}
	    }
	    <div align="center">
	        <input type = "reset" class = "buttons" value=@Messages("service.resetBton")>
		    <input type="submit" class = "buttons" value=@Messages("hair.search")>
        </div>
     }	
	</div>
</div>
<hr/>
<hr/>
<div>
 	@Messages("hair.style")
   	@for(i <- 0 to styles.length-1){
   		<a href="@routes.Styles.getStyleInfoOfSalon(styles(i).id,salon.id)" >
   			<img src="#" class="" alt="@styles(i).styleName" >
   		</a>
		<div class="layer jscLayer jscFixPng">
			<p>
				<a href="" >@Messages("hair.ToCollect")</a>
				<a href="" class="btnSaveToMyStyleDone">
					<span class="">@Messages("hair.BeCollected")</span>
				</a>
			</p>
			<p><a href="">@Messages("hair.detailInfo")</a></p>
		</div>
		<div class="mT2">
			<a href="@routes.Styles.getStyleInfoOfSalon(styles(i).id,salon.id)" class="rankingListInnerAnchor" >
				<p><span class="photoCaption">@styles(i).styleName</span></p>
				<div class="mT2">
					<p class="rankingListShop">@salon.salonName</p>
				</div>
			</a>
		</div>
   	}
</div>
