@(styles: List[models.Style],salon:Salon)
		<h2 class="fs16 fl">
			@styleSearch
		</h2>
		<h2 class="fs16 fl">
			数据检索结果查看
		</h2>
		<h2 class="fs16 fl">
			@salon
		</h2>

@Messages("hair.styleLength")
   	@for(i <- 0 to styles.length-1){
   		<a href="@routes.Styles.getStyleInfoOfSalon(styles(i).id,salon.id)" >
   			<img src="#" class="" alt="@styles(i).styleName" >
   		</a>
		<div class="layer jscLayer jscFixPng">
			<p>
				<a href="" >@Messages("hair.ToCollect")</a>
				<a href="" class="btnSaveToMyStyleDone">
					<span class="">@Messages("hair.BeCollected")</span>
				</a>
			</p>
			<p><a href="">@Messages("hair.detailInfo")</a></p>
		</div>
		<div class="mT2">
			<a href="@routes.Styles.getStyleInfoOfSalon(styles(i).id,salon.id)" class="rankingListInnerAnchor" >
				<p><span class="photoCaption">@styles(i).styleName</span></p>
				<div class="mT2">
					<p class="rankingListShop">@salon.salonName</p>
				</div>
			</a>
		</div>
   	}
