@(styleLoginForm: Form[Style])

@import helper._

<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/stylist/stylist.css")">
<head>
	<div>
		<h2>发型登记 </h2>
	</div>
</head>
<body>
	<div>
	@form(routes.Styles.styleLogin, 'id -> "styleLoginForm"){
		<div>
			发型名<input type = "text" class="" name = "styleName" value = "">
		</div>
		<div>
			@input(field = styleLoginForm("stylePic"),args = '_label ->"图片"){(id,name,value,args) =>
			<input type = "checkbox" class="" name = "stylePic[0]" value = "B004670057_164-219.jpg">
			}
		</div>
		<div>
			技师ID<input type = "text" class="" name = "stylistId" field = styleLoginForm("stylistId") value = "530d8010d7f2861457771bf8">	
		</div>
		<div>
		</div>
		<div align="left">	
		
		@input(field = styleLoginForm("styleLength"),args = '_label ->Messages("hair.styleLength")){(id,name,value,args) =>
	    	@for(i <- 0 to StyleLength.findAll().length-1){
	      		<input type = "checkbox" class="" name = "styleLength[@i]", value = "@StyleLength.findAll()(i).styleLength">@StyleLength.findAll()(i).styleLength
	    	}
	    }	
	    @input(field = styleLoginForm("styleColor"),args = '_label ->Messages("hair.color")){(id,name,value,args) =>
	    	@for(i <- 0 to StyleColor.findAll().length-1){
	      		<input type = "checkbox" class="" name = "styleColor[@i]" value = "@StyleColor.findAll()(i).styleColor">@StyleColor.findAll()(i).styleColor
	    	}
	    }
	    @input(field = styleLoginForm("styleImpression"),args = '_label ->Messages("hair.impression")){(id,name,value,args) =>
	    	@for(i <- 0 to StyleImpression.findAll().length-1){
	      		<input type = "checkbox" class="" name = "styleImpression[@i]" value = "@StyleImpression.findAll()(i).styleImpression">@StyleImpression.findAll()(i).styleImpression
	    	}
	    }
	    @input(field = styleLoginForm("serviceType"),args = '_label ->Messages("hair.serviceType")){(id,name,value,args) =>
	    	@for(i <- 0 to ServiceType.findAll().length-1){
	      		<input type = "checkbox" class="" name = "serviceType[@i]" value = "@ServiceType.findAll().toList(i).serviceTypeName">@ServiceType.findAll().toList(i).serviceTypeName
	    	}
	    }
	    @input(field = styleLoginForm("styleAmount"),args = '_label ->Messages("hair.styleAmount")){(id,name,value,args) =>
	    	@for(i <- 0 to StyleAmount.findAll().length-1){
	      		<input type = "checkbox" class="" name = "styleAmount[@i]"  value = "@StyleAmount.findAll()(i).styleAmount">@StyleAmount.findAll()(i).styleAmount
	    	}
	    }
	    @input(field = styleLoginForm("styleQuality"),args = '_label ->Messages("hair.styleQuality")){(id,name,value,args) =>
	    	@for(i <- 0 to StyleQuality.findAll().length-1){
	      		<input type = "checkbox" class="" name = "styleQuality[@i]" value = "@StyleQuality.findAll()(i).styleQuality">@StyleQuality.findAll()(i).styleQuality
	    	}
	    }
	    @input(field = styleLoginForm("styleDiameter"),args = '_label ->Messages("hair.styleDiameter")){(id,name,value,args) =>
	    	@for(i <- 0 to StyleDiameter.findAll().length-1){
	      		<input type = "checkbox" class="" name = "styleDiameter[@i]" value = "@StyleDiameter.findAll()(i).styleDiameter">@StyleDiameter.findAll()(i).styleDiameter
	    	}
	    }
	    @input(field = styleLoginForm("faceShape"),args = '_label ->Messages("hair.faceShape")){(id,name,value,args) =>
	    	@for(i <- 0 to FaceShape.findAll().length-1){
	      		<input type = "checkbox" class="" name = "FaceShape[@i]" value = "@FaceShape.findAll()(i).faceShape">@FaceShape.findAll()(i).faceShape
	    	}
	    }
	    </div>
		<div>
			技师描述<input type = "text" class="" name = "description" value = "">
	    </div>
	    <div align="center">
	        <input type = "reset" class = "buttons" value=@Messages("service.resetBton")>
		    <input type="submit" class = "buttons" value=@Messages("common.submit")>
        </div>
     }	
	</div>
</body> 

