@(styleSearchForm: Form[Style], stylePara : models.StylePara)

@import helper._

<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/stylist/stylist.css")">
<head>
	<div>
		<h1>@Messages("hair.search")</h1>
	</div>
</head>
<body>
	<div>
	@form(routes.Styles.styleSearchList, 'id -> "styleSearchForm"){
		@input(field = styleSearchForm("styleLength"),args = '_label ->Messages("hair.styleLength")){(id,name,value,args) =>
	    	@for(i <- 0 to stylePara.styleLength.length-1){
	      		<input type = "checkbox" class="" name = "styleLength[@i]", value = "@stylePara.styleLength(i)">@stylePara.styleLength(i)
	    	}
	    }
	    @input(field = styleSearchForm("styleColor"),args = '_label ->Messages("hair.color")){(id,name,value,args) =>
	    	@for(i <- 0 to stylePara.styleColor.length-1){
	      		<input type = "checkbox" class="" name = "styleColor[@i]", value = "@stylePara.styleColor(i)">@stylePara.styleColor(i)
	    	}
	    }

	    @input(field = styleSearchForm("styleImpression"),args = '_label ->Messages("hair.impression")){(id,name,value,args) =>
	    	@for(i <- 0 to stylePara.styleImpression.length-1){
	      		<input type = "checkbox" class="" name = "styleImpression[@i]", value = "@stylePara.styleImpression(i)">@stylePara.styleImpression(i)
	    	}
	    }
	    @input(field = styleSearchForm("serviceType"),args = '_label ->Messages("hair.serviceType")){(id,name,value,args) =>
	    	@for(i <- 0 to stylePara.serviceType.length-1){
	      		<input type = "checkbox" class="" name = "serviceType[@i]", value = "@stylePara.serviceType(i)">@stylePara.serviceType(i)
	    	}
	    }
	    @input(field = styleSearchForm("styleAmount"),args = '_label ->Messages("hair.styleAmount")){(id,name,value,args) =>
	    	@for(i <- 0 to stylePara.styleAmount.length-1){
	      		<input type = "checkbox" class="" name = "styleAmount[@i]", value = "@stylePara.styleAmount(i)">@stylePara.styleAmount(i)
	    	}
	    }
	    @input(field = styleSearchForm("styleQuality"),args = '_label ->Messages("hair.styleQuality")){(id,name,value,args) =>
	    	@for(i <- 0 to stylePara.styleQuality.length-1){
	      		<input type = "checkbox" class="" name = "styleQuality[@i]", value = "@stylePara.styleQuality(i)">@stylePara.styleQuality(i)
	    	}
	    }
	    @input(field = styleSearchForm("styleDiameter"),args = '_label ->Messages("hair.styleDiameter")){(id,name,value,args) =>
	    	@for(i <- 0 to stylePara.styleDiameter.length-1){
	      		<input type = "checkbox" class="" name = "styleDiameter[@i]", value = "@stylePara.styleDiameter(i)">@stylePara.styleDiameter(i)
	    	}
	    }

	    @input(field = styleSearchForm("faceShape"),args = '_label ->Messages("hair.faceShape")){(id,name,value,args) =>
	    	@for(i <- 0 to stylePara.faceShape.length-1){
	      		<input type = "checkbox" class="" name = "faceShape[@i]" value = "@stylePara.faceShape(i)">@stylePara.faceShape(i)
	    	}
	    }
	    @input(field = styleSearchForm("consumerSocialStatus"),args = '_label ->Messages("hair.consumerSocialStatus")){(id,name,value,args) =>
	    	@for(i <- 0 to stylePara.consumerSocialStatus.length-1){
	      		<input type = "checkbox" class="" name = "consumerSocialStatus[@i]" value = "@stylePara.consumerSocialStatus(i)">@stylePara.consumerSocialStatus(i)
	    	}
	    }
	    @input(field = styleSearchForm("consumerSex"),args = '_label ->Messages("hair.consumerSex")){(id,name,value,args) =>
	    	@for(i <- 0 to stylePara.consumerSex.length-1){
	      		<input type = "checkbox" class="" name = "consumerSex[@i]" value = "@stylePara.consumerSex(i)">@stylePara.consumerSex(i)
	    	}
	    }
	    @input(field = styleSearchForm("consumerAgeGroup"),args = '_label ->Messages("hair.consumerAgeGroup")){(id,name,value,args) =>
	    	@for(i <- 0 to stylePara.consumerAgeGroup.length-1){
	      		<input type = "checkbox" class="" name = "consumerAgeGroup[@i]" value = "@stylePara.consumerAgeGroup(i)">@stylePara.consumerAgeGroup(i)
	    	}
	    }
	    <div align="center">
	        <input type = "reset" class = "buttons" value=@Messages("service.resetBton")>
		    <input type="submit" class = "buttons" value=@Messages("hair.search")>
        </div>
     }	
	</div>
</body> 

