@(sex: String , salon: Salon)

<ul class="cFix pH15 mT15 linkList">
    <li>
        @if(sex.equals("all")) {
            <strong>@Messages("common.all")</strong>
        }else {
            <a href="@routes.Styles.findBySalonAndSex(salon.id, "all")">@Messages("common.all")</a>
        }
    </li>
     @for(i <- 0 to Sex.findAll.length-1){
        <li class="dibBL mR2">
            @if(sex.equals(Sex.findAll.toList(i).sex)) {
                |<strong>@Sex.findAll.toList(i).sex</strong>
            }else {
                |<a href="@routes.Styles.findBySalonAndSex(salon.id, Sex.findAll.toList(i).sex)">@Sex.findAll.toList(i).sex</a>
            }
        </li>
    }
    <li>
        
    </li>
</ul>
