# ignore all dot files;
.*

# ignore all html temp files;
*~

# ignore all vim temp files;
*.swp

# except for .gitignore file;
!.gitignore

# ignore play! working directory;
bin
db
eclipse
log
logs
project/project
project/target
target
test-result
tmp
dist
*.iml

# ignore auto backuped html files.
*.bak

# individual work plan not to commit.
doc/plan
