@(resetPassOfSalonForm: Form[(models.portal.salon.Salon,String)], accountId : String, uuid : String, user: Option[models.portal.user.User] = None)

  @import helper._

  @main(Messages("common.resetPassword"), user) {
     <head>
      <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/user/findPwd.css")">
    </head>
    
    <div id="entry" class="w m">
       <div class="mt">
        <h2>@Messages("user.resetPassword")</h2>
        <b></b>
      </div>
      <div class="mc">
        <div class="step">
          <ul>
            <li class="one one1">@Messages("pwd.account")</li>
            <li class="two">@Messages("pwd.verify")</li>
            <li class="three cur">@Messages("pwd.setNewPwd")</li>
            <li class="four">@Messages("pwd.finish")</li>
          </ul>
        </div>
        <div class="form">
          @form(action = routes.Mails.resetPasswordOfSalon(uuid), 'method ->"post"){
            <input type="hidden" name="salonChange.accountId" value = "@accountId">
            <div class="item">
              <span class="label">@Messages("user.newPassword"):</span>
              <div class="fl">
                <!-- text_error -->
                @inputPassword(resetPassOfSalonForm("newPassword.main"),'_label -> None, '_help -> Messages("salon.register.password"))
                <span class="clr"></span>
                <label id="password_error"></label>
              </div>
            </div>
            <div class="item">
              <span class="label">@Messages("user.confirmPas"):</span>
              <div class="fl">
                <!-- text_error -->
                @inputPassword(resetPassOfSalonForm("newPassword.confirm"),'_label -> None,'_error -> resetPassOfSalonForm.error("newPassword"))
                <span class="clr"></span>
                <label id="repassword_error" class=""></label>
              </div>
            </div>
            <div class="item">
              <span class="label">&nbsp;</span>
              <input type= "submit" class = "buttons btn-img btn-entry" value="@Messages("common.submit")">
            </div>
          }
        </div>
       </div>
     </div>
  }        
