@(salon:Salon)
@import helper._
@import helper.twitterBootstrap._
@import views.html.salon.admin._

@mySalonMain(navInSalon = "", salon){
		@helper.form(routes.SalonInfo.imageUpload(salon.id), 'enctype -> "multipart/form-data") {
                              <input type="file" id="filePhoto" name="logo" style="width:50"  /> 
                              <button type="submit">@Messages("user.changeImage")</button>
                              <img src="#" id="target"/>
     }
}
<script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
<script type="text/javascript">
function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
            $('#target').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
    }
}

$("#filePhoto").change(function() {
    readURL(this);
});
</script>