@(salonForm:Form[Salon],industry: List[Industry], salon: Salon)
@import helper._
@import helper.twitterBootstrap._

@main(Messages("salon.basicInformation")){
	
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/salon/salonAdmin.css")">

	<div class="salonRegister">
		<div class="contentsTitleWrapper">
			<h2 class="contentsTitleInner">@Messages("salon.basicInformation")</h2>
		</div>

		<div class="mT10 pH10">
			@helper.form(action = auth.routes.Salons.informationConsum(salon.id), args = 'id -> "salonForm"){
				
				<table cellspacing="0" class="wFull bdCell pCell10 bgThNml">
				    <tbody>
				        <input type="hidden" name="salonAccount.accountId" readonly="readonly" value="@salon.salonAccount.accountId">
				        <input type="hidden" name="salonAccount.password" readonly="readonly" value="@salon.salonAccount.password">
				        <input type="hidden" name="salonName" readonly="readonly" value="@salon.salonName">
				        <input type="hidden" name="salonIndustry" readonly="readonly" value="@salon.salonIndustry">
				        <input type="hidden" name="contactMethod.mainPhone" readonly="readonly" value="@salon.contactMethod.mainPhone">
				        <input type="hidden" name="contactMethod.contact" readonly="readonly" value="@salon.contactMethod.contact">
				        <input type="hidden" name="contactMethod.email" readonly="readonly" value="@salon.contactMethod.email">
				        @inputDate(salonForm("registerDate"),'_label -> "" ,'style -> "display: none", '_help -> Messages(""))
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("salon.Abbr")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@inputText(salonForm("salonNameAbbr"),'_label -> None)
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("salon.homepage")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@inputText(salonForm("homepage"), '_label -> None)
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("salon.description")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@textarea(salonForm("salonDescription"), '_label -> None,'cols -> 50,'placeholder -> Messages("salon.desMseeage"))
				                </div>
				            </td>
				        </tr>				        
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("salon.address")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@Messages("salon.province"):  <select id="Select1" name = "salonAddress.province" value = "@salon.salonAddress.map(add=>add.province).getOrElse(None)"></select>
									@Messages("salon.city"):  <select id="Select2" name = "salonAddress.city" value = "@salon.salonAddress.map(add=>add.city).getOrElse(None)"></select>
									@Messages("salon.region"):  <select id="Select3" name = "salonAddress.region" value = "@salon.salonAddress.map(add=>add.region).getOrElse(None)"></select>*
									<script type="text/javascript">
										addressInit('Select1', 'Select2', 'Select3');
									</script>
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("salon.town")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@inputText(salonForm("salonAddress.town"), '_label -> None)
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("salon.addrDetail")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@inputText(salonForm("salonAddress.addrDetail"), '_label -> None)
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("salon.longitude")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@inputText(salonForm("salonAddress.longitude"), '_label -> None,'_help -> Messages(""))
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("salon.latitude")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@inputText(salonForm("salonAddress.latitude"), '_label -> None,'_help -> Messages(""))
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("salon.accessMethod")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@inputText(salonForm("salonAddress.accessMethodDesc"), '_label -> None)
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("salon.openTime")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@inputText(salonForm("workTime.openTime"), '_label -> None)
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("salon.closeTime")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@inputText(salonForm("workTime.closeTime"), '_label -> None)
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("salon.establishDate")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@*inputDate(salonForm("establishDate"), '_label -> None, '_help -> Messages("*"),
				                		'_error -> salonForm("establishDate").error.map(_.withMessage(Messages("salon.register.establishDate"))))*@
				                    @input(field = salonForm("establishDate"), '_label -> None, '_help -> Messages("*"), '_error -> salonForm("establishDate").error.map(_.withMessage(Messages("salon.register.establishDate")))) { (id, name, value, _) =>
        							<input class="Wdate" type="text" name="@name" value="@value" onClick="WdatePicker() ">
								    }
				                </div>
				            </td>
				        </tr>				        				        				        
				    </tbody>
				</table>
		            
	            <table cellspacing="0" class="wFull bdCell pCell10 bgThNml mT10">
				    <tbody>
				        <tr>
				            <th class="w222">
				                <div class="dibBL vaM w160">
				                    @Messages("user.optContactMethod")
				                </div>
				            </th>
				            <td>
				            	<div id="optContactMethods">
				            		 @repeat(salonForm("optContactMethod"), min = 0) { optContactMethod =>
					                    @optContactMethodGroup(optContactMethod)
					                }
					                
					                @optContactMethodGroup(
					                    salonForm("optContactMethod[x]"),
					                    className = "optContactMethod_template"
					                )
		                
					                <div class="manage">
					                    <a class="addoptContactMethod btn success">@Messages("optContactMethod.AddOptContactMethod")</a>
					                </div>
				            	</div>
				            </td>
				        </tr>
					</tbody>
				</table>
				
				<table cellspacing="0" class="wFull bdCell pCell10 bgThNml mT10">
				    <tbody>
				        <tr>
				            <th class="w222">
				                <div class="dibBL vaM w160">
				                    @Messages("salon.restDay")
				                </div>
				            </th>
				            <td>
                                <div class="restDays">
                                    @inputRadioGroup(salonForm("restDays.restWay"), options = options("Fixed" -> Messages("restWay.fixed"),"Indefinite" -> Messages("restWay.indefinite")) , '_label -> None)
                                    @if(salon.restDays.map{rest=>rest.restWay}.equals("Fixed")){
                                        <div id="restDays_div">
                                            @Messages("salon.selectRestDays")
                                            <input type="checkbox" name="restDays.restDay1[0]" value="Monday" @if(salon.restDays.map(rest=>rest.restDay).getOrElse(Nil).contains("Monday")){checked}>@Messages("Monday")
                                            <input type="checkbox" name="restDays.restDay1[1]" value="Tuesday" @if(salon.restDays.map(rest=>rest.restDay).getOrElse(Nil).contains("Tuesday")){checked}>@Messages("Tuesday")
                                            <input type="checkbox" name="restDays.restDay1[2]" value="Wednesday" @if(salon.restDays.map(rest=>rest.restDay).getOrElse(Nil).contains("Wednesday")){checked}>@Messages("Wednesday")
                                            <input type="checkbox" name="restDays.restDay1[3]" value="Thursday" @if(salon.restDays.map(rest=>rest.restDay).getOrElse(Nil).contains("Thursday")){checked}>@Messages("Thursday")
                                            <input type="checkbox" name="restDays.restDay1[4]" value="Friday" @if(salon.restDays.map(rest=>rest.restDay).getOrElse(Nil).contains("Friday")){checked}>@Messages("Friday")
                                            <input type="checkbox" name="restDays.restDay1[5]" value="Saturday"@if(salon.restDays.map(rest=>rest.restDay).getOrElse(Nil).contains("Saturday")){checked}>@Messages("Saturday")
                                            <input type="checkbox" name="restDays.restDay1[6]" value="Sunday"@if(salon.restDays.map(rest=>rest.restDay).getOrElse(Nil).contains("Sunday")){checked}>@Messages("Sunday")
                                        </div>
                                        <div id="noRestDays_div" style="display: none;">
                                            @Messages("salon.EnterRestDays")
                                            <input type="text" name="restDays.restDay2[0]" >
                                        </div>
                                    }else{
                                        <div id="restDays_div" style="display: none;">
                                            @Messages("salon.selectRestDays")
                                            <input type="checkbox" name="restDays.restDay1[0]" value="Monday" >@Messages("Monday")
                                            <input type="checkbox" name="restDays.restDay1[1]" value="Tuesday" >@Messages("Tuesday")
                                            <input type="checkbox" name="restDays.restDay1[2]" value="Wednesday" >@Messages("Wednesday")
                                            <input type="checkbox" name="restDays.restDay1[3]" value="Thursday" >@Messages("Thursday")
                                            <input type="checkbox" name="restDays.restDay1[4]" value="Friday" >@Messages("Friday")
                                            <input type="checkbox" name="restDays.restDay1[5]" value="Saturday" >@Messages("Saturday")
                                            <input type="checkbox" name="restDays.restDay1[6]" value="Sunday" >@Messages("Sunday")
                                        </div>
                                        <div id="noRestDays_div" >
                                            @Messages("salon.EnterRestDays")
                                            <input type="text" name="restDays.restDay2[0]" value="@salon.restDays.map(rest=>rest.restDay).toList">
                                        </div>
                                    }
                                </div>
				            </td>
				        </tr>
					</tbody>
				</table>
				<div class="mT20 txtC">			
					<input type = "submit" class = "buttons" value=@Messages("common.submit")>
					<input type="reset" value=@Messages("common.reset")>
					<a href = "/  "><input type="button" value=@Messages("common.backUp") ></a>
				</div>
			}
		</div>

	</div>
</div>
}
@accountField(field: Field, className: String = "account") = {
    @input(field, '_label -> Messages("salon.account"), '_class -> className) { (id, name, value, _) =>
        <input type="text" name="@name" value="@value">
        <a class="removeAccount btn danger">@Messages("optContactMethod.Remove")</a>
    }
}

@optContactMethodGroup(field: Field, className: String = "optContactMethod") = {
    <div class="twipsies well @className">

        <a class="removeoptContactMethod btn danger pull-right">@Messages("optContactMethod.RemoveOptContactMethod")</a>

        @*inputText(
            field("contMethodType"),
            '_label -> Messages("user.contMethodType")
        )*@
        
        @select(
        	field("contMethodType"), 
        	ContMethodType.getAllContMethodTypes,
        	'_default -> Messages("user.chooseOpt"),
        	'_label -> Messages("user.contMethodType")
        )

        <div class="accounts">

            @repeat(field("accounts"), min = 1) { account =>

                @accountField(account)

            }

            @**
             * Keep an hidden block that will be used as template for Javascript copy code
             **@
            @accountField(
                field("accounts[x]"),
                className = "account_template"
            )

            <div class="clearfix">
                <div class="input">
                    <a class="addAccount btn success">@Messages("optContactMethod.AddNumber")</a>
                </div>
            </div>

        </div>

    </div>
}

    <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
	
