@(salonLogin: Form[Option[Salon]])

	@import helper._
	
	 @main(title = Messages("salon.salonLogin")) {
	 	
	 	<head>
			<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/user/userLogin.css")">
		</head>
	 	
	 	<div class="contentsTitleWrapper">
	 		<h2 class="contentsTitleInner mT10">@Messages("salon.salonLogin")</h2>
	 	</div>
	 	
	 	<div class="cFix mT20">
			<div class="loginRBox fl">
				<div class="loginRBoxTop">
					<dl class="loginRBoxBottom">
						<dt>
							<div>
								<p class="b fs14"><font>@Messages("salon.salonLogin")</font></p>
								<p><font><font class="">@Messages("salon.loginMessage")</font></font></p>
							</div>
						</dt>
						<dd class="mT5 pT5">
							<div class="pr">
								<dl class="lh30">
									@form(auth.routes.Salons.salonLogin(), 'method ->"post"){
										
										<dd class="mT5 pT5">
											<div class="pr">
												<dl class="lh30">
													<dt class="dibBL vaM w150 b fl">@Messages("salon.id")</dt>
													<dd class="dibBL vaM w280">
														@inputText(field = salonLogin("salonAccount.accountId"), '_label -> None, 'placeholder -> Messages("salon.login.accountId"), 'class -> "inputField")
													</dd>
													<dt class="dibBL vaM w150 b fl">@Messages("user.password")</dt>
													<dd class="dibBL vaM w280">
														@inputPassword(field = salonLogin("salonAccount.password"), '_label -> None, 'placeholder -> Messages("salon.login.password") ,
																		'_error -> salonLogin.globalError.map(_.withMessage(Messages("user.loginErr"))), 'class -> "inputField")
													</dd>
												</dl>
											</div>
										</dd>
										<div class="mT15">
											<span class="btn btn2H32 w194 mHA">
												<span>
													<input type= "submit" class = "buttons" value="@Messages("user.loginBtn")">												
												</span>
											</span>
										</div>
			 						}	
								</dl>
							</div>
						</dd>
						<div class="mT10 taR">
							<p><a href="#" id="pwRemindLink" title="Messages("user.forgetPassword")"><font><font>@Messages("user.forgetPassword")</font></font></a></p>
						</div>
					</dl>
				</div>
			</div>
			<div class="loginRBox fr">
				<div class="loginRBoxTop">
				    <dl class="loginRBoxBottom">
				        <dt class="b fs14">
				            <font>
				                @Messages("salon.newSalon")
				            </font>
				        </dt>
				        <dd class="mT5 pT10 taC">
				            <p class="dibBL taL">
				                <font>
				                    @Messages("salon.registerMessage1")
				                </font>
				                <br>
				                <font>
				                    @Messages("salon.registerMessage2")
				                </font>
				            </p>
				        </dd>
				        <dd class="mT10 mB10">
				            <div>
				                <span class="btn btn2H32 w194 mHA">
				                	<span>
				                		<a href="@routes.Application.salonRegister" class="w194">
					                        <input type="button" class = "buttons" value="@Messages("user.registerBtn")">
					                    </a>
				                	</span>
				                </span>
				            </div>
				        </dd>
				    </dl>
				</div>
			</div>
		</div>
	 }
