@(searchParaForSalon: models.SearchParaForSalon)
</hr>
@searchParaForSalon
</hr>
@main(Messages("site.title")){
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/meifanIndex.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/salon/hotelslist_2013.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/salon/EL_common.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/salon/searchMain.css")">
<script src="@routes.Assets.at("javascripts/swfupload/jquery-1.8.2.min.js")" type="text/javascript"></script>
<div id="left">
	<div id="salon_search">
    	<form>
    	<ul>
        	<li>@Messages("salonSerachPage.city")</li>
            <li>
            <div class="demo">
	            <div>
					<input type="text" value="" size="15" id="getcity_name" onPropertyChange="changeArea('getcity_name');"  name="city" mod="address|notice" mod_address_source="hotel" mod_address_suggest="@@Beijing|北京|53@@Shanghai|上海|321@@Shenzhen|深圳|91@@Guangzhou|广州|80@@Qingdao|青岛|292@@Chengdu|成都|324@@Hangzhou|杭州|383@@Wuhan|武汉|192@@Tianjin|天津|343@@Dalian|大连|248@@Xiamen|厦门|61@@Chongqing|重庆|394@@" mod_address_reference="getcityid" mod_notice_tip="中文/拼音" />
					<input id="getcityid" name="getcityid" type="hidden" value="{$getcityid}" />
				</div>
			</div>
			<div id="jsContainer" class="jsContainer" style="height:0">
			    <div id="tuna_alert" style="display:none;position:absolute;z-index:999;overflow:hidden;"></div>
			    <div id="tuna_jmpinfo" style="visibility:hidden;position:absolute;z-index:120;"></div>
			</div>
            </li>
            <script type="text/javascript" src="@routes.Assets.at("javascripts/location/fixdiv.js")"></script>
			<script type="text/javascript" src="@routes.Assets.at("javascripts/location/address.js")"></script>
            <li>@Messages("industy")</li>
            <li>
            	<select name="salonIndustry">
            		@Industry.findAll.toList.map{industry=>
            			<option value="@industry.industryName">@Messages(industry.industryName)</option>	
            		}
            	</select>
            </li>
            <li>@Messages("salonSerachPage.keyword")</li>
            <li><input name="keywords" type="text"></li>
            <li><input name="" type="button" class="btn" value></li>
        </ul>
        
        </form>
    </div>
    <div class="listBox">      
	<div class="newFilter newFiltermvt1" id="filterArea" tab="noPop">
    <div class="boxcolor">
        <div class="wBox" id="wbox_l">
        <p class="title">@Messages("salonSerachPage.location")</p>
        <div class="rBox">
            <div class="notto"><a href="javascript:void(0);" class="cur" method="l_no">@Messages("salonSerachPage.unlimited")</a></div>
            <ul class="place" id="locationTab">
                <li class="active"><a href="javascript:changeArea('getcity_name');" rel="nofollow" method="l_3" class="cur">@Messages("salonSerachPage.region")<span class="iconjt"></span></a></li>
                <li class=""><a href="javascript:;" rel="nofollow" method="l_6" class="cur">@Messages("salonSerachPage.businessArea")<span class="iconjt"></span></a></li>
            </ul>
        </div>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/location/changeArea.js")"></script>
        <div class="filterShow" id="oneLine">
            <ul class="normal" id="areafield">
            
            </ul>
            <div class="clear"></div>
        </div>
        <div class="clear">
        </div>
    	</div>
    <!---->
    	<div class="wBox" id="wbox_s">
	        <p class="title">@Messages("salonSerachPage.serviceType")：</p>
	        <div class="rBox">
	            <div class="notto"><a href="javascript:void(0)" class="cur" method="s_no">@Messages("salonSerachPage.unlimited")</a></div>
	            <ul class="place prices">
	            	@for((e, i) <- ServiceType.findAll.toList.zipWithIndex){
	            		<li class="">
		                    <input type="checkbox" name="serviceType[@i]" value="@e.serviceTypeName" method="s_5" mark="5" id="star@i">
		                    <label for="star@i" class="">@e.description</label>
	                	</li>
	            	}
	            </ul>
	        </div>
	        <div class="clear"></div>
    	</div>
    <!---->
        <div class="wBox" id="wbox_p">
        <p class="title">@Messages("comment.price")：</p>
        <div class="rBox">
            <div class="notto"><a href="javascript:void(0);" class="cur" method="p_no">@Messages("salonSerachPage.unlimited")</a></div>
            <ul class="place prices">
            	@PriceRange.findAll.map{price=>
            		<li class="">
                    	<input name="haircutPrice" dataname="" type="radio" value="@price.minPrice~@price.maxPrice" method="p_4" mark="600" id="pr4">
                    	<label for="pr4" title="苏州600元以上酒店" class="">
                    	@if(price.maxPrice == 20){
                    		@price.maxPrice.toInt
                    		@Messages("salonSerachPage.below")
                    	}else{
	                    	@if(price.maxPrice == 100000){
	                    		@price.minPrice.toInt
	                    		@Messages("salonSerachPage.over")
	                    	}else{
	                    		@price.minPrice.toInt
	                    		-
	                    		@price.maxPrice.toInt
	                    		@Messages("salonSerachPage.rmb")</label>
	                    	}
                    	}
                    </li>	
            	}
                
                
            </ul>
            <div class="optional" id="optPrice">@Messages("salonSerachPage.manualDefine")
	            <input type="text" class="priTxt" method="lowPrice" id="lowPrice">
	            -
	            <input type="text" class="priTxt" method="highPrice" id="highPrice">
	            <input type="button" id="surePrice" class="priBut" value="@Messages("salonSerachPage.confirm")" method="p_opt">
            </div>
        </div>
        <div class="clear">
        </div>
    	</div>
    <!---->
        <div class="wBox" id="wbox_s">
        <p class="title">@Messages("salonSerachPage.setNumber")：</p>
        <div class="rBox">
            <div class="notto"><a href="javascript:void(0);" class="cur" method="s_no">@Messages("salonSerachPage.unlimited")</a></div>
            <ul class="place prices">
            	@SeatNums.findAll.toList.map{seat=>
            		<li class="">
                    	<input name="seatNums" dataname="" type="radio" value="@seat.minNum-@seat.maxNum" method="p_4" mark="600" id="pr4">
                    	<label for="pr4" title="" class="">
                            @seat.minNum-@seat.maxNum</label>
                    </li>
            	}
                
            </ul>
        </div>
        <div class="clear">
        </div>
    	</div>
    <!---->
        
        <div class="wBox" id="wbox_b">
        <p class="title">@Messages("salonSerachPage.otherCondtion")：</p>
        <div class="rBox">
            <div class="notto"><a href="void(0);" class="cur" method="b_no">@Messages("salonSerachPage.unlimited")</a></div>
            <ul class="place prver">
                <li class="">
                    <input type="checkbox" name="salonFacilities.canOnlineOrder" value="true" datatype="5" method="b_316" brandid="316" id="br316">
                    <label for="br316" class="">
                        @Messages("salon.canOnlineOrder")
                    </label>
                </li>
                <li class="">
                    <input type="checkbox" name="salonFacilities.canImmediatelyOrder" value="true" datatype="5" method="b_316" brandid="316" id="br317">
                    <label for="br317" class="">
                        @Messages("salon.canImmediatelyOrder")
                    </label>
                </li>
                <li class="">
                    <input type="checkbox" name="salonFacilities.canNominateOrder" value="true" datatype="5" method="b_316" brandid="316" id="br318">
                    <label for="br318" class="">
                        @Messages("salon.canNominateOrder")
                    </label>
                </li>
                <li class="">
                    <input type="checkbox" name="salonFacilities.canCurntDayOrder" value="true" datatype="5" method="b_316" brandid="316" id="br319">
                    <label for="br319" class="">
                        @Messages("salon.canCurntDayOrder")
                    </label>
                </li>
                <li class="">
                    <input type="checkbox" name="salonFacilities.canMaleUse" value="true" datatype="5" method="b_316" brandid="316" id="br320">
                    <label for="br320" class="">
                        @Messages("salon.canMaleUse")
                    </label>
                </li>
                <li class="">
                    <input type="checkbox" name="salonFacilities.isPointAvailable" value="true" datatype="5" method="b_316" brandid="316" id="br321">
                    <label for="br321" class="">
                        @Messages("salon.isPointAvailable")
                    </label>
                </li>
                <li class="">
                    <input type="checkbox" name="salonFacilities.isPosAvailable" value="true" datatype="5" method="b_316" brandid="316" id="br322">
                    <label for="br322" class="">
                        @Messages("salon.isPosAvailable")
                    </label>
                </li>
				<li class="">
                    <input type="checkbox" name="salonFacilities.isWifiAvailable" value="true" datatype="5" method="b_316" brandid="316" id="br323">
                    <label for="br323" class="">
                        @Messages("salon.isWifiAvailable")
                    </label>
                </li>                	
				<li class="">
                    <input type="checkbox" name="salonFacilities.hasParkingNearby" value="true" datatype="5" method="b_316" brandid="316" id="br324">
                    <label for="br324" class="">
                        @Messages("salon.hasParkingNearby")
                    </label>
                </li>					
			</ul>
        </div>
        <div class="clear">
        </div>
   		</div>
     </div>
    <!---->
</div>
</div>
<div id="salon_nvfxjs">
	<div class="listMain" id="contentId">
   <div class="sort" method="sortArea">
    <ul>
        <li class="def" method="sort" data-type="elong"><a href="javascript:void(0)" rel="nofollow" class="on" onfocus="this.blur();">@Messages("salonSerachPage.meifanRec")</a></li>
        <li method="sort" data-type="popu"><a href="javascript:void(0)" rel="nofollow" class="down" onfocus="this.blur();">@Messages("salonSerachPage.sortByHot")</a></li>
        <li method="sort" data-type="distance"><a href="javascript:void(0)" rel="nofollow" class="up c" onfocus="this.blur();">@Messages("salonSerachPage.sortByPrice")</a></li>
        <li class="" method="sort" data-type="priceAsc"><a href="javascript:void(0)" rel="nofollow" class="up" onfocus="this.blur();">@Messages("salonSerachPage.sortByComment")</a></li>
    </ul>
</div> 
</div>	
</div>

}