@(salonRegister: Form[Salon],industry: List[Industry],salon:Salon)
@import helper._
@import helper.twitterBootstrap._
@import views.html.salon.admin.mySalonMain

@mySalonMain("registerInformation",salon){
	
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/salon/salonAdmin.css")">

	<div class="salonRegister">
		<div class="contentsTitleWrapper">
			<h2 class="contentsTitleInner">@Messages("salon.register")</h2>
		</div>

		<div class="mT10 pH10">
			@helper.form(action = auth.routes.Salons.update(salon.id), 'id -> "salonRegister"){

				<table cellspacing="0" class="wFull bdCell pCell10 bgThNml">
				    <tbody>
				        <input type="hidden" name="salonNameAbbr" readonly="readonly" value="@salon.salonNameAbbr">
				        <input type="hidden" name="homepage" readonly="readonly" value="@salon.homepage">
				        <input type="hidden" name="salonDescription" readonly="readonly" value="@salon.salonDescription">
				        <input type="hidden" name="salonAddress.province" readonly="readonly" value="@salon.salonAddress.map(add=>add.province).getOrElse(None)">
				        <input type="hidden" name="salonAddress.city" readonly="readonly" value="@salon.salonAddress.map(add=>add.city).getOrElse(None)">
				        <input type="hidden" name="salonAddress.region" readonly="readonly" value="@salon.salonAddress.map(add=>add.region).getOrElse(None)">
						<input type="hidden" name="salonAddress.town" readonly="readonly" value="@salon.salonAddress.map(add=>add.town).getOrElse(None)">
						<input type="hidden" name="salonAddress.addrDetail" readonly="readonly" value="@salon.salonAddress.map(add=>add.addrDetail).getOrElse(None)">
						<input type="hidden" name="salonAddress.longitude" readonly="readonly" value="@salon.salonAddress.map(add=>add.longitude).getOrElse(None)">
						<input type="hidden" name="salonAddress.latitude" readonly="readonly" value="@salon.salonAddress.map(add=>add.latitude).getOrElse(None)">
						<input type="hidden" name="salonAddress.accessMethodDesc" readonly="readonly" value="@salon.salonAddress.map(add=>add.accessMethodDesc).getOrElse(None)">
						<input type="hidden" name="workTime.openTime" readonly="readonly" value="@salon.workTime.map(time=>time.openTime).getOrElse(None)">
						<input type="hidden" name="workTime.closeTime" readonly="readonly" value="@salon.workTime.map(time=>time.closeTime).getOrElse(None)">
						@inputDate(salonRegister("establishDate"),'_label -> "" ,'style -> "display: none", '_help -> Messages(""))
						@inputDate(salonRegister("registerDate"),'_label -> "" ,'style -> "display: none", '_help -> Messages(""))
						<input type="hidden" name="optContactMethod.contMethodType" readonly="readonly" value="@salon.optContactMethod.map(opt=>opt.contMethodType)">
						<input type="hidden" name="optContactMethod.accounts" readonly="readonly" value="@salon.optContactMethod.map(opt=>opt.accounts)">
						<input type="hidden" name="restDays.restWay" readonly="readonly" value="@salon.restDays.map(restDay=>restDay.restWay).getOrElse(None)">
						<input type="hidden" name="restDays.restDay" readonly="readonly" value="@salon.restDays.map(restDay=>restDay.restDay).getOrElse(None)">
						<input type="hidden" name="seatNums" readonly="readonly" value="@salon.seatNums.getOrElse(None)">
						<input type="hidden" name="salonFacilities.canOnlineOrder" readonly="readonly" value="@salon.salonFacilities.map(fac=>fac.canOnlineOrder).getOrElse(None)">
						<input type="hidden" name="salonFacilities.canImmediatelyOrder" readonly="readonly" value="@salon.salonFacilities.map(fac=>fac.canImmediatelyOrder).getOrElse(None)">
						<input type="hidden" name="salonFacilities.canNominateOrder" readonly="readonly" value="@salon.salonFacilities.map(fac=>fac.canNominateOrder).getOrElse(None)">
						<input type="hidden" name="salonFacilities.canCurntDayOrder" readonly="readonly" value="@salon.salonFacilities.map(fac=>fac.canCurntDayOrder).getOrElse(None)">
						<input type="hidden" name="salonFacilities.canMaleUse" readonly="readonly" value="@salon.salonFacilities.map(fac=>fac.canMaleUse).getOrElse(None)">
						<input type="hidden" name="salonFacilities.isPointAvailable" readonly="readonly" value="@salon.salonFacilities.map(fac=>fac.isPointAvailable).getOrElse(None)">
						<input type="hidden" name="salonFacilities.isPosAvailable" readonly="readonly" value="@salon.salonFacilities.map(fac=>fac.isPosAvailable).getOrElse(None)">
						<input type="hidden" name="salonFacilities.isWifiAvailable" readonly="readonly" value="@salon.salonFacilities.map(fac=>fac.isWifiAvailable).getOrElse(None)">
						<input type="hidden" name="salonFacilities.hasParkingNearby" readonly="readonly" value="@salon.salonFacilities.map(fac=>fac.hasParkingNearby).getOrElse(None)">
						<input type="hidden" name="salonFacilities.parkingDesc" readonly="readonly" value="@salon.salonFacilities.map(fac=>fac.parkingDesc).getOrElse(None)">
						<input type="hidden" name="salonPics.fileObjId" readonly="readonly" value="@salon.salonPics.map(pic=>pic.fileObjId)">
						<h>@salon.salonPics.map(pic=>pic.fileObjId)</h>
						<input type="hidden" name="salonPics.picUse" readonly="readonly" value="@salon.salonPics.map(pic=>pic.picUse)">
						<input type="hidden" name="salonPics.showPriority" readonly="readonly" value="@salon.salonPics.map(pic=>pic.showPriority)">
						<input type="hidden" name="salonPics.description" readonly="readonly" value="@salon.salonPics.map(pic=>pic.description)">
						<input type="hidden" name="picDescription.picTitle" readonly="readonly" value="@salon.picDescription.map(pic=>pic.picTitle).getOrElse(None)">
						<input type="hidden" name="picDescription.picContent" readonly="readonly" value="@salon.picDescription.map(pic=>pic.picContent).getOrElse(None)">
						<input type="hidden" name="picDescription.picFoot" readonly="readonly" value="@salon.picDescription.map(pic=>pic.picFoot).getOrElse(None)">
										    
				    	@if(salonRegister.hasGlobalErrors){
             			 <div>
                 			 @salonRegister.globalError.get.message
              			 </div>				    		
				    	}
				        <tr>
				            <th class="w222">
				                <div class="dibBL vaM w160">
				                    @Messages("salon.id")
				                </div>
				            </th>
				            <td>
				                @inputText(salonRegister("salonAccount.accountId"),'_label -> None,
									 		'placeholder -> Messages("salon.login.accountId"),
									 		'_help -> Messages("salon.register.accountId"),
									 		'_error -> salonRegister("salonAccount.accountId").error.map(_.withMessage(Messages("salon.register.accountIdErr"))))
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("salon.password")
				                </div>
				            </th>
				            <td>
				                <div>
									<a href="@auth.routes.Salons.password"/> @Messages("user.changePassword")
									<input type="hidden" name="salonAccount.password" readonly="readonly" value="@salon.salonAccount.password">
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("salon.Name")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@inputText(salonRegister("salonName"),'_label ->  None,'_help -> Messages("*"),
				                		'_error -> salonRegister("salonName").error.map(_.withMessage(Messages("salon.register.salonName"))))				             	
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("salon.type")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@input(field = salonRegister("salonIndustry"),args = '_label -> None){(id,name,value,args) =>
								 	@for(i <- 0 to industry.length-1){
								 		@if(salon.salonIndustry.contains(industry(i).industryName)){
								 			<input type = "checkbox" class="" name = "salonIndustry[@i]", value = "@industry(i).industryName" checked="checked">@Messages("industry.industryName."+industry(i).industryName)
								 		}else{
								 			<input type = "checkbox" class="" name = "salonIndustry[@i]", value = "@industry(i).industryName">@Messages("industry.industryName."+industry(i).industryName)			 			
								 		}
								 	}
								  }
				                </div>
				            </td>
				        </tr>				        
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("salon.mainPhone")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@inputText(salonRegister("contactMethod.mainPhone"), '_label -> None,'_help -> Messages("*"),
				                		'_error -> salonRegister("contactMethod.mainPhone").error.map(_.withMessage(Messages("salon.register.mainPhone"))))
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("salon.contact")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@inputText(salonRegister("contactMethod.contact"), '_label -> None,'_help -> Messages("*"),
				                		'_error -> salonRegister("contactMethod.contact").error.map(_.withMessage(Messages("salon.register.contact"))))
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("user.email")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@inputText(salonRegister("contactMethod.email"), '_label -> None,'_help -> Messages("*"),
				                		'_error -> salonRegister("contactMethod.email").error.map(_.withMessage(Messages("salon.register.contact"))))
				                </div>
				            </td>
				        </tr>					        					        
				    </tbody>
				</table>
				<div class="mT20 txtC">			
					<input type = "submit" class = "buttons" value=@Messages("common.submit")>
					<input type="reset" value=@Messages("common.reset")>
					<a href = "@routes.Application.salonLogin"><input type="button" value=@Messages("common.backUp") ></a>
				</div>
			}

		</div>
</div>
}