@CHARSET "UTF-8";

.salonInfoState {
border-collapse: collapse;
border-spacing: 0;
width:100%;
}

.salonInfoState thead {
background: #f5f5f5;
border-bottom: 0;
text-align: left;
line-height: 33px;
height: 33px;
}

.salonInfoState thead {
display: table-header-group;
vertical-align: middle;
}

.salonInfoState tr {
display: table-row;
vertical-align: inherit;
border-color: inherit;
}

.salonInfoState td {
padding: 10px;
border-top: solid 1px #ebebeb;
}
.disable-button {
background-position: 0 -202px;
color: #aaa;
}
.big-button, .small-button {
background-position: 0 -98px;
color: #FFF;
display: inline-block;
font-family: Microsoft YaHei;
font-size: 18px;
font-weight: normal;
height: 40px;
line-height: 40px;
padding: 0 15px;
position: relative;
border: none;
}

.disable-button .big-button{
background-image: url('http://img04.taobaocdn.com/tps/i4/T1lWxCXpVbXXagk9ZW-233-350.png');
background-repeat: no-repeat;
background-color: transparent;
position: absolute;
top: 0;
}
.redfont {
color: #f04137;
}
.iconfont {
font-family: "iconfont";
font-size: 16px;
font-style: normal;
margin-right: 5px;
}
.greenfont {
color: #690;
}
.new-shop-title{
	font-size: 16px;
}
.warning-txt{
	font: 12px/1.5 tahoma,arial,\5b8b\4f53;
}

.auth{
color: #F70B0B;
font-size: 16px;
}