.container-map {
position: relative;
width: 765px;
height: 652px;
}

.map-view {
position: absolute;
margin-top:30px; 
width: 765px; 
height: 590px; 
top: 50; 
border: 1px solid gray;
overflow:hidden;
}