.left {
float: left;
width: 220px;
margin-right: 10px;
font: 14px/150% Arial,Verdana,"\5b8b\4f53";
}
.m, .sm {
margin-bottom: 10px;
}
.m, .mt, .mc, .mb, .sm, .smt, .smc, .smb {
overflow: hidden;
zoom: 1;
}
dl {
display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}
.user {
float: left;
text-align: center;
}
.ftx-03{
color: #999999;
}
.account {
overflow: hidden;
zoom: 1;
margin-bottom: 5px;
line-height: 23px;
}
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, big, cite, code, del, em, font, img, ins, small, strong, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
margin: 0;
padding: 0;
}
.mysalon-stylist-0,.mysalon-stylist-1,.mysalon-stylist-2{
	float: left;
	margin-left: 10px;
	margin-top: 15px;
	padding-right: 10px;
	border-right: 1px solid #dddddd;
}
.mysalon-stylist-3{
	float:left;
	margin-left:10px;
	margin-top:15px;
}
.mt, .smt {
cursor: default;
}
.m, .mt, .mc, .mb, .sm, .smt, .smc, .smb {
overflow: hidden;
zoom: 1;
}
.tab {
border-bottom: 1px solid #edd28b;
cursor: pointer;
}
.tab {
padding-left: 5px;
border-bottom: 2px solid #ffccaa;
z-index: 2;
}
.tab li {
float: left;
background: url(i/tab.gif) 0 -28px;
line-height: 29px;
margin-right: 3px;
text-align: center;
height: 27px;
padding: 0 10px;
position: relative;
overflow: hidden;
}
.curr{
color: #cc0000;
font-weight: bold;
font-size:16px;
letter-spacing: 0;
}
.left dl{
	margin-bottom:30px;
}
.mysalon-stylist-search{
	text-align:center;
}
#stylist-search{
	width:180px;
	height:24px;
}

div.mysalon-stylist-group {
float: left;
}