.faciGrp {
overflow: hidden;
clear: both;
padding: 5px;
border-bottom: 1px #CCC dotted;
padding-left: 0px;
margin-bottom: 6px;
}

.faciUnit {
padding: 1px;
float: left;
margin-right: 8px;
padding-top: 1px;
line-height: 12px;
font-size: 10px;
border-radius: 2px;
}

/* red  */
.canOnline {
  background: #f3dcdc;
  color: #aa3353;
  border: 1px solid #e8b8b9;
}

.canImmed {
  background: #f3dcdc;
  color: #aa3353;
  border: 1px solid #e8b8b9;
}

.canNominate {
  background: #f3dcdc;
  color: #aa3353;
  border: 1px solid #e8b8b9;
}

.canCurntDay {
  background: #f3dcdc;
  color: #aa3353;
  border: 1px solid #e8b8b9;
}

/* yellow  */
.posAvail {
  background: #FF8C00;
  color: white;
  border: 1px solid #f79646;
}

.wifiAvail {
  background: #FF8C00;
  color: white;
  border: 1px solid #f79646;
}

.hasPark {
  background: #FF8C00;
  color: white;
  border: 1px solid #f79646;
}

/* blue  */
.canMaleUse {
  background: #dcebf2;
  color: #427aad;
  border: 1px solid #427aad;
}

/* ?  */
.pointAvail {
  background: #9370DB;
  color: #fff;
  border: 1px solid #8968cd;
}

#nav2 {
clear: both;
overflow: hidden;
height: 35px;
background: url("/assets/images/salonTitleLine.png") no-repeat left bottom;
padding: 10px 5px 2px 7px;
}

#nav2 ul li {
margin-right: 2px;
}

.bts	{
background-image: url(/assets/images/salonTitle.png);
background-repeat: no-repeat;
background-color: transparent;
border: 0;
}

.salonInformation {
background-position: 0 0;
width: 140px;
height: 35px;
}

.couponAndMenu {
background-position: -140px 0px;
width: 140px;
height: 35px;
}

.stylist {
background-position: -280px 0px;
width: 85px;
height: 35px;
}

.stylist-nail {
  background-position: -800px 0px;
  width: 85px;
  height: 35px;
}

.stylist-relax {
  background-position: -800px 0px;
  width: 85px;
  height: 35px;
}

.style {
background-position: -365px 0px;
width: 85px;
height: 35px;
}

.nail {
  background-position: -885px 0px;
  width: 85px;
  height: 35px;
}

.relax {
  background-position: -885px 0px;
  width: 85px;
  height: 35px;
}

.blog {
background-position: -450px 0px;
width: 85px;
height: 35px;
}

.accessMap {
background-position: -535px 0px;
width: 85px;
height: 35px;
}

.kuchikomi {
background-position: -620px 0px;
width: 90px;
height: 35px;
}

.salonInformation:hover {
background-position: 0 -60px;
}

.couponAndMenu:hover {
background-position: -140px -60px;
}

.stylist:hover {
background-position: -280px -60px;
}

.stylist-nail:hover {
background-position: -800px -60px;
}

.style:hover {
background-position: -365px -60px;
}

.nail:hover {
background-position: -885px -60px;
}

.blog:hover {
background-position: -450px -60px;
}

.accessMap:hover {
background-position: -535px -60px;
}

.kuchikomi:hover {
background-position: -620px -60px;
}

.salonInformationCurrent {
background-position: 0 -120px;
width: 140px;
height: 37px;
}

.couponAndMenuCurrent {
background-position: -140px -120px;
width: 140px;
height: 37px;
}

.stylistCurrent {
background-position: -280px -120px;
width: 85px;
height: 37px;
}

.stylistCurrent-nail {
background-position: -800px -120px;
width: 85px;
height: 37px;
}

.stylistCurrent-relax {
  background-position: -800px -120px;
  width: 85px;
  height: 37px;
}

.styleCurrent {
background-position: -365px -120px;
width: 85px;
height: 37px;
}

.nailCurrent {
background-position: -885px -120px;
width: 85px;
height: 37px;
}

.relaxCurrent {
  background-position: -885px -120px;
  width: 85px;
  height: 37px;
}

.blogCurrent {
background-position: -450px -120px;
width: 85px;
height: 37px;
}

.accessMapCurrent {
background-position: -535px -120px;
width: 85px;
height: 37px;
}

.kuchikomiCurrent {
background-position: -620px -120px;
width: 90px;
height: 37px;
}

.sl_show_yy {
width: 160px;
height: 60px;
overflow: hidden;
clear: both;
margin: 2px auto 0px;
background: url("/assets/images/salon_head_btn.png");
font-size: 14px;
background-size: 160px 60px;
}

.sl_show_yy a {
color: #FFF;
text-decoration: none;
width: 155px;
height: 60px;
display: block;
text-indent: -999px;
}

.sl_show_xx{
height: 31px;
overflow: hidden;
clear: both;
background: url("/assets/images/sl_show_dpan3.jpg") repeat-x;
font-size: 10px;
padding-top: 5px;
width: 155px;
background-size: 155px 30px;
}

.sl_show_xx a {
color: #333333;
text-decoration: none;
display: block;
}

.faciUnit {
margin-bottom: 5px;
}

#salonMainContents li.atmoPic:last-child {
	border-right: none;
}

/* 沙龙内页的首页js效果 */
#slider {
    width: 410px; /* important to be same as image width */
    height: 300px; /* important to be same as image height */
    position: relative; /* important */
	overflow: hidden; /* important */
}
#sliderContent {
    width: 410px; /* important to be same as image width or wider */
    position: absolute;
	top: 0;
	margin-left: 0;
}
.sliderImage {
    float: left;
    position: relative;
	display: none;
}
.sliderImage span {
    background-color: transparent;
    display: none;
}
.clear {
	clear: both;
}
/* 沙龙内页的首页js效果 */

/* 发型页面中该技师的其他发型展示js效果 */
.es-carousel-wrapper {
background: #ddd;
padding: 10px 37px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
position: relative;
}
.es-carousel ul{
	display:block;
}

.es-carousel{
	overflow: hidden;
	background: #fff;
}
.es-carousel ul{
	display:none;
}
.es-carousel ul li{
	height:100%;
	float:left;
	display:block;
}
.es-carousel ul li a{
	display:block;
	border-style:solid;
	border-color:#222;
}
.es-carousel ul li a img{
	display:block;
	border: 1px solid #fff;
	max-height:100%;
	max-width:100%;
}
.es-carousel ul li a:hover img{
	border: 1px solid #CC4466;
}

.es-nav span{
	position:absolute;
	top:50%;
	left:12px;
	background:transparent url(/assets/images/nav.png) no-repeat top left;
	width:14px;
	height:26px;
	margin-top:-13px;
	text-indent:-9000px;
	cursor:pointer;
	opacity:0.8;
}
.es-nav span.es-nav-next{
	right:12px;
	left:auto;
	background-position:top right;
}
.es-nav span:hover{
	opacity:1.0;
}
/* 发型页面中该技师的其他发型展示js效果 */
/* 发型页面中前后中展示效果 */
#containerPic {position:relative; width:271px; height:361px; background:#888; margin:10px auto; font-size:12px;}
#containerPic a.pics span {display:none; border:0; text-align:center;}
#containerPic a.pics img.thumb {display:block; border:0;}

#containerPic a.pics span img {margin:10px auto; width:271px; height:361px;}

#containerPic a.pics:hover span {display:block; position:absolute; top:-10px; left: 0px; z-index:10;}

#containerPic a.pics:active span {display:block; position:absolute; top:-10px; left: 0px; z-index:5;}

#containerPic a.pics:focus span {display:block; position:absolute; top:-10px; left: 0px; z-index:5; outline:0;}

.picContent {
width: 90px;
height: 120px;
float: left;
position: static;
}

.picDescription {
color: #CC4466;
font-weight: bold;
text-align: center;
}
/* 发型页面中前后中展示效果  */

a.nominatedReserve {
color: #fff;
line-height: 30px;
font-weight: bold;
text-align: center;
width: 135px;
}

a.addIntoMyStylist, a.sendToMobile {
text-align: center;
line-height: 30px;
font-weight: bold;
}

.addIntoMyStylePink {
background-position: -645px 0;
width: 151px;
height: 30px;
line-height: 30px;
font-weight: bold;
text-align: center;
}

.addIntoMyStylePink:hover { 
background-position: -645px -30px; 
}

a.pics {
cursor: pointer;
}

.sendToMobile {
background-position: -826px 0;
width: 160px;
height: 30px;
}

.sendToMobile:hover {
background-position: -826px -30px;
}

.addIntoMyStylist {
background-position: -826px 0;
width: 160px;
height: 30px;
}