@CHARSET "UTF-8";

/*-------------------------------------------------------start 沙龙----------------------------------------*/
#salon_search{
	border:1px solid #ecd4d4;
	border-top:1px solid #d2bebe;
	background-color:#fbeded;
	padding:5px 10px;
	clear:both;
	overflow:hidden;
	margin-bottom:12px;
}
#salon_search ul li{
	float:left;
	padding:0 5px;
	font-size:14px;
	font-family:"微软雅黑";
	color:#8b0009;
}


#salon_searchlist{
	clear:both;
	overflow:hidden;
	border:1px solid #e8e8e8;
	margin-bottom:12px;
}

#salon_nvfxjs{
	clear:both;
	overflow:hidden;
}
#salon_nvfxjs_title{
	clear:both;
	overflow:hidden;
	border-top:1px solid #f39aa3;
}
#salon_nvfxjs_nr{
	overflow:hidden;
}
	
#salon_nvfxjs_nr_box {
	TEXT-ALIGN: center;HEIGHT: 30px; CLEAR: both; padding-bottom:2px;
}

#salon_nvfxjs_nr_box h2 {
	margin:0px; padding:0px 0px 0px 0px; width:98px; float:left; height:36px; font:bold 12px/30px "宋体"; text-align:center; overflow:hidden; color:#333; border-right:1px solid #FFF;
}
	#salon_nvfxjs_nr_box h2.menuOn {
		font:normal 16px/30px "微软雅黑"; cursor:hand; background-color:#f6d7d7; width:98px; height:30px; color:#8b0009;
	}
	#salon_nvfxjs_nr_box h2.menuNo {
		font:normal 16px/30px "微软雅黑"; cursor:hand; background-color:#a79d9d; width:98px; height:30px; color:#fff;
	}
	#salon_nvfxjs_nr div.salon_nvfxjs_nrList_none {
		DISPLAY: none; CLEAR: both
	}
	#salon_nvfxjs_nr div.salon_nvfxjs_nrList {
		clear:both;
		border-top:2px solid #a79d9d;
		padding:15px 0px;
	}
	#salon_nvfxjs_nrlist{
		clear:both;
		overflow:hidden;
	}
	#salon_nvfxjs_nrlist ul li{
		float:left;
		padding-right:41px;
	}
	#salon_nvfxjs_nrlist ul li.right{
		float:left;
		padding-right:0px;
	}
	#salon_nvfxjs_nrlist ul li img{
		border:1px solid #cdcdcd;
	}
	#salon_nvfxjs_nrlist ul li span{
		display:block;
		text-align:center;
	}
}

#salon_nanfxjs{
	clear:both;
	overflow:hidden;
}
#salon_nanfxjs_title{
	clear:both;
	overflow:hidden;
	border-top:1px solid #89d2ed;
}
#salon_nanfxjs_nr{
	clear:both;
	overflow:hidden;
}
	#salon_nanfxjs_nr_box {
		TEXT-ALIGN: center;HEIGHT: 30px; CLEAR: both; padding-bottom:2px;
	}
	#salon_nanfxjs_nr_box h2 {
		margin:0px; padding:0px 0px 0px 0px; width:98px; float:left; height:36px; font:bold 12px/30px "宋体"; text-align:center; overflow:hidden; color:#333; border-right:1px solid #FFF;
	}
	#salon_nanfxjs_nr_box h2.menuOn {
		font:normal 16px/30px "微软雅黑"; cursor:hand; background-color:#89d2ed; width:98px; height:30px; color:#005f8b;
	}
	#salon_nanfxjs_nr_box h2.menuNo {
		font:normal 16px/30px "微软雅黑"; cursor:hand; background-color:#a79d9d; width:98px; height:30px; color:#fff;
	}
	#salon_nanfxjs_nr div.salon_nanfxjs_nrList_none {
		DISPLAY: none; CLEAR: both
	}
	#salon_nanfxjs_nr div.salon_nanfxjs_nrList {
		clear:both;
		border-top:2px solid #a79d9d;
		padding:15px 0px;
	}
	#salon_nanfxjs_nrlist{
		clear:both;
		overflow:hidden;
	}
	#salon_nanfxjs_nrlist ul li{
		float:left;
		padding-right:41px;
	}
	#salon_nanfxjs_nrlist ul li.right{
		float:left;
		padding-right:0px;
	}
	#salon_nanfxjs_nrlist ul li img{
		border:1px solid #cdcdcd;
	}
	#salon_nanfxjs_nrlist ul li span{
		display:block;
		text-align:center;
	}
#salon_tjtj{
	clear:both;
	overflow:hidden;
}
#salon_tjtj h2{
	clear:both;
	overflow:hidden;
	border-top:1px solid #f39aa3;
}
#salon_tjtj h2.nvfxjs{
	border-top:1px solid #8bd0ef;
}
#salon_tjtj_nr{
	clear:both;
	overflow:hidden;
}
#salon_tjtj_nr dl{
	width:250px;
	float:left;
	padding:5px 6px;
}
#salon_tjtj_nr dl dt{
	width:130px;
	float:right;
}
#salon_tjtj_nr dl dt a{
	font-size:14px;
	line-height:30px;
	color:#51abcc;
	text-decoration:underline;
}
#salon_tjtj_nr dl dt a:hover{
	font-size:14px;
	line-height:30px;
	color:#51abcc;
	text-decoration:underline;
}
#salon_tjtj_nr dl dd.pic{
	width:110px;
	float:left;
}
#salon_tjtj_nr dl dd.pic img{
	border:1px solid #cdcdcd;
}
#salon_tjtj_nr dl dd.txt{
	width:130px;
	float:right;
}
#salon_bkfk{
	width:500px;
	float:left;
}
#salon_bkfk h2{
	clear:both;
	overflow:hidden;
	width:500px;
	border-top:1px solid #cdcdcd;
}
#salon_bkfk_nr{
	width:500px;
	clear:both;
	overflow:hidden;
}
#salon_bkfk_nr dl{
	width:230px;
	float:left;
	padding:5px 6px;
}
#salon_bkfk_nr dl dt{
	width:150px;
	float:right;
	color:#666;
}
#salon_bkfk_nr dd.pic{
	width:72px;
	float:left;
}
#salon_bkfk_nr dd.pic img{
	border:1px solid #cdcdcd;
}
#salon_bkfk_nr dd.txt{
	width:150px;
	float:right;
	line-height:18px;
}
#salon_zxpl{
	width:270px;
	padding-left:15px;
	float:left;
}
#salon_zxpl h2{
	clear:both;
	overflow:hidden;
	width:270px;
	border-top:1px solid #cdcdcd;
}
#salon_zxpl_nr{
	width:270px;
	clear:both;
	overflow:hidden;
}
#salon_zxpl_nr ul li{
	clear:both;
	overflow:hidden;
	padding:5px 0px;
	font-family:"微软雅黑";
}
#salon_zxpl_nr form label{
	float:left;
	padding:0px 10px;
}

/*-------------------------------------------------------end 沙龙----------------------------------------*/


.sort {
border-top: 2px solid #6f9ed8;
background: #f8f8f8;
height: 33px;
margin-top: 10px;
}

.listMain {
float: left;
width: 768px;
}

.sort ul {
width: 270px;
margin: 0;
float: left;
display: inline;
}

.sort li.def {
background: #fff5e9;
border: 1px solid #ffbe60;
border-top: 0;
}

.sort li {
width: 50px;
height: 17px;
padding: 7px 8px;
border-right: 1px dashed #ccc;
float: left;
text-align: center;
color: #4a4a4a;
line-height: 16px;
cursor: pointer;
}

.sort li a {
display: block;
color: #4a4a4a;
text-decoration: none;
}

.sort li label.upl {
  background: url(/assets/images/potup.jpg) no-repeat center right;
  padding-right: 10px;
}

.sort li label.downl {
  background: url(/assets/images/potdown.jpg) no-repeat center right;
  padding-right: 10px;
}

a[data-sort-asc="asc"] {
  background: url(/assets/images/potup.jpg) no-repeat center right;
  padding-right: 10px;
}

.hidCheckBox {
  display: None;
}

.searchResults {
border-bottom: 2px solid #ddd;
padding: 5px 0;
}

.styleLength {
font-size: 18px;
color: #CC4466;
}

