@CHARSET "UTF-8";

/*-------------------------------------------------------start 沙龙----------------------------------------*/
#salon_search{
	border:1px solid #ecd4d4;
	border-top:1px solid #d2bebe;
	background-color:#fbeded;
	padding:5px 10px;
	clear:both;
	overflow:hidden;
	margin-bottom:12px;
}
#salon_search ul li{
	float:left;
	padding:0 5px;
	font-size:14px;
	font-family:"微软雅黑";
	color:#8b0009;
}

#salon_nvfxjs_title{
	clear:both;
	overflow:hidden;
	border-top:1px solid #f39aa3;
}

#salon_tjtj{
	clear:both;
	overflow:hidden;
}
#salon_tjtj h2{
	clear:both;
	overflow:hidden;
	border-top:1px solid #f39aa3;
}
#salon_tjtj h2.nvfxjs{
	border-top:1px solid #8bd0ef;
}
#salon_tjtj_nr{
	clear:both;
	overflow:hidden;
}
#salon_tjtj_nr dl{
	width:250px;
	float:left;
	padding:5px 6px;
}
#salon_tjtj_nr dl dt{
	width:130px;
	float:right;
}
#salon_tjtj_nr dl dt a{
	font-size:14px;
	line-height:30px;
	color:#51abcc;
	text-decoration:underline;
}
#salon_tjtj_nr dl dt a:hover{
	font-size:14px;
	line-height:30px;
	color:#51abcc;
	text-decoration:underline;
}
#salon_tjtj_nr dl dd.pic{
	width:110px;
	float:left;
}
#salon_tjtj_nr dl dd.pic img{
	border:1px solid #cdcdcd;
}
#salon_tjtj_nr dl dd.txt{
	width:130px;
	float:right;
}
/*-------------------------------------------------------end 沙龙----------------------------------------*/


.sort {
border-top: 2px solid #6f9ed8;
background: #f8f8f8;
height: 33px;
margin-top: 10px;
}

.listMain {
float: left;
width: 768px;
}

.sort ul {
width: 270px;
margin: 0;
float: left;
display: inline;
}

.sort li.def {
background: #fff5e9;
border: 1px solid #ffbe60;
border-top: 0;
}

.sort li {
width: 50px;
height: 17px;
padding: 7px 8px;
border-right: 1px dashed #ccc;
float: left;
text-align: center;
color: #4a4a4a;
line-height: 16px;
cursor: pointer;
}

.sort li a {
display: block;
color: #4a4a4a;
text-decoration: none;
}

.sort li label.upl {
  background: url(/assets/images/potup.jpg) no-repeat center right;
  padding-right: 10px;
}

.sort li label.downl {
  background: url(/assets/images/potdown.jpg) no-repeat center right;
  padding-right: 10px;
}

a[data-sort-asc="asc"] {
  background: url(/assets/images/potup.jpg) no-repeat center right;
  padding-right: 10px;
}

.hidCheckBox {
  display: None;
}

.searchResults {
border-bottom: 2px solid #ddd;
padding: 5px 0;
}

.styleLength {
font-size: 18px;
color: #CC4466;
}