@CHARSET "UTF-8";

a:hover{color:#F30;text-decoration:none}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
q:before,q:after{content:''}
abbr,acronym{border:0}
.left{float:left}
.right{float:right}
.clear{clear:both;height:0;line-height:0;margin:0 auto;font-size:1px}
.com_error{background-color:#FFF;position:absolute;z-index:99998;border:#aaa solid 1px}
.com_error ul{list-style-position:outside;position:relative;list-style:none;padding:2px;margin:0;z-index:99999}
.com_error li{background-color:#B00;color:#FFF;margin:0;padding:6px 5px 0 5px;_height:20px;min-height:20px;cursor:pointer;display:block;font-size:12px;line-height:16px;word-wrap:break-word}
