@main(Messages("site.title")) {
	
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/contactUs.css")">
	
    <div class="commonContent">
		<div class="contactImage">
			<img src="/assets/images/contact/contactImage.jpg">
		</div>
		<div class="contactUs">
		<div class="contactUs_cn">
			<div class="contactContent">
				<p><strong><span>苏州隆泰信息技术有限公司</span> </strong></p>
				<span>
					   地　址：苏州市高新区竹园路209号 中国苏州创业园3幢1805室<br />
					    邮　编：215011<br />
					    联系人：许晨 <br />
					    电　话：0512-68320328<br />
					    传　真：0512-68321798<br />
					     邮　箱：customer-relation@@rontech.co.jp
				 </span>
				<p> </p>
			</div>
		</div>
			<img src="/assets/images/contact/contactAddress.png"/>
		</div>
    </div>
}