@(salon: Salon)

@import models._
@import controllers._

@mySalonMain("",salon){
	<body onload="success('@salon.id')">
		<div>
			<div class="mt">
	        	<ul class="tab">
					<li clstag="click|keycount|myhome|tuangouqian" data-widget="tab-item" class="curr"><s></s><b></b>@Messages("salonAdmin.applyStylists")</li>
	            </ul>
			</div>
			<div>
				<p id="apply_message">@Messages("salonAdmin.ApplyOperateResult")<span id="times">5</span>@Messages("salonAdmin.ApplyOperateAction")
				<a href="javascript:go('@salon.id');">@Messages("salonAdmin.ApplyOperateGo")</a></p>
			</div>
		</div>
	</body>	
}
<script language="javascript" type="text/javascript">
var timer = null;
var i=5;
function success(salonId){
	timer=window.setInterval(showTimes(salonId),1000);
	//window.setTimeout(go(salonId),6000);
}
function go(salonId) {//定义函数
	window.location="/mySalon/"+salonId+"/checkHoldApply";//页面跳转
 }
function showTimes(sid){
		document.getElementById("times").innerHTML=i;
		i--;
		if(i==0){
			window.clearInterval(timer);
			alert("i "+i)
			go(sid);
		}
}
</script>

