@(subNavInSalon: String = "my-reservation", salon: models.portal.salon.Salon)(content: Html)

@mySalonMain("my-reservation",salon){
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/reservation/reservation.css")">
  <div>
    <ul class="tab-sub">
      <li class="fl  @if(subNavInSalon == "my-resvInProcessing") {selected}">
        <a class="current-demo" href="@auth.routes.Salons.getAllResvsInProcessing">@Messages("salonAdmin.resvInProcessing")</a>
      </li>        
      <li class="fl  @if(subNavInSalon == "my-resvRecord") {selected}">
        <a class="current-demo" href="@auth.routes.Salons.getAllResvsRecord">@Messages("salonAdmin.resvRecord")</a>
      </li>
    </ul>
  </div>
  @content
  
}
