@(navInSalon: String = "my-stylists", salon: Salon, stylist: List[Stylist])

@mySalonMain(navInSalon, salon){
	<div>
		<div class="contentsTitleWrapper">
			<h2 class="contentsTitleInner">@Messages("salonAdmin.myStylist")</h2>
		</div>
		
		<div class="mysalon-stylist-search mT20">
			<form action="/searchStylistById" method="get">
				@Messages("stylist.stylistId")<input name="searchStylistById" id="stylist-search-stylist"/>&nbsp;&nbsp;&nbsp;
					<input type="hidden" name="salonId" id="stylist-search-salon" value="@salon.id">
				<input type="submit" id="searchStylistToSubmit" value="@Messages("stylist.search")">
			</form>
		</div>
	</div>
	<div class="mc">
		<span id="stylistSearchResult"></span>
   		<div class="tabcon hide" data-widget="tab-content" style="display: block;">
   			
        	@views.html.stylist.mySalonStylistGroup(stylists = stylist, salon = salon, status = 1)
        </div>
    </div>
}