@(salon: Salon)

			<div class ="Owner">
				@if(salon.salonPics.exists{a => a.picUse == "LOGO"}){
					@if(salon.id.getTime.equals(salon.salonPics(0).fileObjId.getTime)){
						<a href="@noAuth.routes.Salons.salonInfoBasic(salon.id)" class='Img'><img src="@routes.Assets.at("images/user/portrait.png")"/></a>
					}else{
						@for(i <- 0 to salon.salonPics.size-1){
							@if(salon.salonPics(i).picUse == "LOGO" ){
								<a href="@noAuth.routes.Salons.salonInfoBasic(salon.id)" class='Img'><img src="@routes.Application.getPhoto(salon.salonPics(i).fileObjId)"/></a>
							}								
						}										
					}
										
				}else{
					<a href="@noAuth.routes.Salons.salonInfoBasic(salon.id)" class='Img'><img src="@routes.Assets.at("images/user/portrait.png")"/></a>
				}	
				<span class='U'>
					<p class='opts'>
						<span style="font-size:16px;">@Messages("stylist.hello")&nbsp;</span> @salon.salonName
					</p>
      				<a href="" class='Name' title='female'></a>

					<span class='opts'>
						<a href = "@auth.routes.Salons.addImage">@Messages("user.changeImage")</a>
					</span>

				</span>
    				<div class="clear"></div>
				
			</div>
			<div class='RMod' id='UserSkills'>
	  			<div id="OtherScore">
        			<h1><a href="#" target="_blank" title="@Messages("user.howToGetPoint")"><em></em>@Messages("salon.level")</a></h1>
    			</div> 
	  		</div>
   			<div class='Opts clearfix'>
                <a href="@auth.routes.Salons.salonInfoManage" class='a2 admin w220'><span>@Messages("user.changeInfo")</span></a>
				<a href="/showBlog/@salon.id" class='a1 blog'><span>@Messages("user.myBlog")</span></a>
			</div>
   			<!-- 店铺基本信息管理 -->
			<div class='Mod Users' id='Fans'>
	   			<strong>@Messages("salonAdmin.infoManagement")</strong>
	   			<div class='more'>
		 			<a href="@noAuth.routes.Salons.salonInfoBasic(salon.id)">
		 				<span>@salon.salonName</span>
		 			</a>
		 		</div>	
		 		
			</div>
			<!-- 技师管理 -->
			<div class='Mod Users' id='Fellows'>
    			<strong>@Messages("salonAdmin.stylistManagement")</strong>
				<ul class='clearfix'>
	  				<li>
    	 			</li>
	  			</ul>
	  			<div class='more'>
    				<a href="/mySalon/@salon.id/stylist">@Messages("salonAdmin.myStylist")
    				(@SalonAndStylist.countStylistBySalon(salon.id))</a><br />
    				<a href="@auth.routes.Salons.checkHoldApply">
                	@Messages("salonAdmin.fromStylistApply")
                	(
                		 <span id="reviewCount">
                               @SalonStylistApplyRecord.applingStylistCount(salon.id)
                         </span>
                	)
                	</a>
    				</div>
			</div>  			
			<div class='Mod Users' id='Fellows'>
    			<strong>@Messages("salonAdmin.styleManagement")</strong>
	  			<ul class='clearfix'>
	  				<li>
    	 			</li>
	  			</ul>
				<div class='more'>
					<a href="/getAllStylesBySalon/@salon.id">@Messages("stylistMag.showAllStyles")</a>
				</div>
			</div>
			<div class='Mod Users' id='Fellows'>
    			<strong>@Messages("salonAdmin.reserveManagement")</strong>
	  			<ul class='clearfix'>
	  				<li>
    	 				<a href="/mySalon/@salon.id/reserv"></a>&nbsp;&nbsp;&nbsp;&nbsp;
    	 			</li>
	  					
    			</ul>
				<div class='more'>
					
    			<a href="#">@Messages("salonAdmin.needCommentRsv")
    							(
                            	<span id="reviewCount">
                                0
                            	</span>
                            	)</a><br />
				<a href="#">@Messages("salonAdmin.overtimeRsv")
                           	 (
                            	<span id="reviewCount">
                                1
                            	</span>
				)</a><br />
				
				<a href="#">@Messages("salonAdmin.expireRsv")
                           	(
                            	<span id="reviewCount">
                                0
                            	</span>
                            	)</a><br />
				
    			</div>
			</div>
			<div class='Mod Users' id='Fans'>
	   			<strong>@Messages("salonAdmin.commentManagement")</strong>
	   			<ul class='clearfix'>
      				<li>
    	 			</li>
	  			</ul>
		 		<div class='more'>
       					<a href="@auth.routes.Salons.myComment">@Messages("salonAdmin.checkComment")</a>
     				</div>
			</div>
			<div class='Mod Users' id='Fans'>
	   			<strong>@Messages("salonAdmin.serviceManagement")</strong>
	   			<ul class='clearfix'>
      				<li>
    	 			</li>
	  			</ul>
		 		<div class='more'>
       					<a href="/mySalon/@salon.id/service">@Messages("salonAdmin.checkService")</a>
     				</div>
			</div>
			<div class='Mod Users' id='Fans'>
	   			<strong>@Messages("salonAdmin.couponManagement")</strong>
	   			<ul class='clearfix'>
      				<li>
    	 			</li>
	  			</ul>
		 		<div class='more'>
       					<a href="/mySalon/@salon.id/coupon">@Messages("salonAdmin.checkCoupon")</a>
     				</div>
			</div>
			<div class='Mod Users' id='Fans'>
	   			<strong>@Messages("salonAdmin.menuManagement")</strong>
	   			<ul class='clearfix'>
      				<li>
    	 			</li>
	  			</ul>
		 		<div class='more'>
       					<a href="/mySalon/@salon.id/menu">@Messages("salonAdmin.checkMenu")</a>
     				</div>
			</div>
			<div class='Mod Users' id='Fans'>
	   			<strong>@Messages("salonAdmin.stateManagement")</strong>
	   			<ul class='clearfix'>
      				<li>
    	 			</li>
	  			</ul>
		 		<div class='more'>
       					<a href="#">@Messages("salonAdmin.checkState")</a>
     				</div>
			</div>
	<!-- ↑mainContents -->	