@(navInMyPage:String = "my-reservation", salon :Salon)

	<!-- ↓mainContents -->

    	<ul class="menuBG cFix">
		<li class="fl">
			<a href="@auth.routes.Salons.salonInfoBasic" >
		    	@Messages("salonAdmin.infoManagement")&nbsp&nbsp&nbsp&nbsp&nbsp
		    </a>
		</li>
		<li class="fl">
			<a href="@auth.routes.Salons.myStylist">
		    	@Messages("salonAdmin.stylistManagement")&nbsp&nbsp&nbsp&nbsp&nbsp
		    </a>
		</li>
		<li class="fl">
			<a href="#">
				@Messages("salonAdmin.styleManagement")&nbsp&nbsp&nbsp&nbsp&nbsp
		    </a>
		</li>
		<li class="fl">
			<a href="@auth.routes.Salons.myService">
				@Messages("salonAdmin.reserveManagement")&nbsp&nbsp&nbsp&nbsp&nbsp
		    </a>
		</li>
		<li class="fl">
			<a href="@auth.routes.Salons.myComment">
				@Messages("salonAdmin.commentManagement")&nbsp&nbsp&nbsp&nbsp&nbsp
		    </a>
		</li>
		</ul>
	<!-- ↑mainContents -->