@(navInSalon: String = "my-stylists", mySalon: Salon, applies: List[(Stylist, ObjectId)])

@import models.Salon

@views.html.salon.admin.mySalonMain(navInSalon, mySalon){
  <div>
    <ul class="tabInfoTitle">
      <li class="fl selected">
        @Messages("salonAdmin.applyStylists")
      </li>        
    </ul>
  </div>
  <div class="mc mT40">
    @if(!applies.isEmpty){
    <div class="tabcon hide" data-widget="tab-content" style="display: block;">
      @*status == 0: salon '来自技师申请’的item*@
      @views.html.stylist.mySalonStylistGroup(applies, mySalon, status = 0)
    </div>
    }else{
      <span>@Messages("stylist.empty")</span>
    }
  </div>
}
