@(navInSalon: String = "my-reservation", salon: Salon, stylist: List[Stylist], status: Int = 0)
@import views._
@mySalonMain(navInSalon, salon){
	<div>
		<div class="mt">
        	<ul class="tab">
				<li clstag="click|keycount|myhome|tuangouqian" data-widget="tab-item" class="curr"><s></s><b></b>@Messages("salonAdmin.applyStylists")</li>
            </ul>
		</div>
		
	</div>
	<div class="mc">
		@if(stylist != Nil){
		@Messages("stylist.id")<input name="id" id="stylist-search"/>&nbsp;&nbsp;&nbsp;
		<input type="button" value="@Messages("stylist.search")">
   		<div class="tabcon hide" data-widget="tab-content" style="display: block;">
   			@views.html.stylist.mySalonStylistGroup(stylist , status)
        </div>
        }else{
        	<span>@Messages("stylist.empty")</span>
        }
    </div>
}