@(salon: models.portal.salon.Salon, condtionForm: Form[models.portal.coupon.CouponServiceType], serviceTypes: List[models.portal.service.ServiceType], menus: List[models.portal.menu.Menu])

@mySalonMain(navInSalon = "my-menus", salon) {
  
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/coupon/coupon.css")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/coupon/menu.css")">    
  
  @*@views.html.coupon.couponSearchGroup(salon, serviceTypes)*@
  @views.html.menu.sreachMenu(salon, condtionForm, serviceTypes)

  <!-- Get the models.portal.salon.Salon with all the coupons.  -->
  @views.html.menu.showMenuGroup(salon, menus)

}
