@(navInMyPage:String = "my-reservation", salon :Salon)

	<!-- ↓mainContents -->

    	<ul class="menuBG cFix">
    	@if(Salon.checkBasicInfoIsFill(salon)){
		<li class="fl">
			<a href="@auth.routes.Salons.salonRegister" >
		    	@Messages("salonAdmin.infoManagement")&nbsp&nbsp&nbsp&nbsp&nbsp
		    </a>
		</li>    		
    	}else{
 		<li class="fl">
			<a href="@auth.routes.Salons.checkAuth">
		    	@Messages("salonAdmin.infoManagement")&nbsp&nbsp&nbsp&nbsp&nbsp
		    </a>
		</li>   	
    	}
		@if(Salon.checkBasicInfoIsFill(salon) && Salon.checkDetailIsFill(salon) &&
		 	Salon.checkImgIsExist(salon)){			
		<li class="fl">
			<a href="@auth.routes.Salons.myStylist">
		    	@Messages("salonAdmin.stylistManagement")&nbsp&nbsp&nbsp&nbsp&nbsp
		    </a>
		</li>
		<li class="fl">
			<a href="@auth.routes.Salons.getAllStylesBySalon()">
				@Messages("salonAdmin.styleManagement")&nbsp&nbsp&nbsp&nbsp&nbsp
		    </a>
		</li>
		<li class="fl">
			<a href="#">
				@Messages("salonAdmin.reserveManagement")&nbsp&nbsp&nbsp&nbsp&nbsp
		    </a>
		</li>
		<li class="fl">
			<a href="@auth.routes.Salons.myComment">
				@Messages("salonAdmin.commentManagement")&nbsp&nbsp&nbsp&nbsp&nbsp
		    </a>
		</li>
		}else{
		<li class="fl">
			<a href="@auth.routes.Salons.checkAuth">
		    	@Messages("salonAdmin.stylistManagement")&nbsp&nbsp&nbsp&nbsp&nbsp
		    </a>
		</li>
		<li class="fl">
			<a href="@auth.routes.Salons.checkAuth">
				@Messages("salonAdmin.styleManagement")&nbsp&nbsp&nbsp&nbsp&nbsp
		    </a>
		</li>
		<li class="fl">
			<a href="@auth.routes.Salons.checkAuth">
				@Messages("salonAdmin.reserveManagement")&nbsp&nbsp&nbsp&nbsp&nbsp
		    </a>
		</li>
		<li class="fl">
			<a href="@auth.routes.Salons.checkAuth">
				@Messages("salonAdmin.commentManagement")&nbsp&nbsp&nbsp&nbsp&nbsp
		    </a>
		</li>		
		}
		</ul>
	<!-- ↑mainContents -->