@(navInSalon: String = "my-reservation", salon: Salon)(content: Html)
@import models._

@import controllers._
@main(Messages("site.title")){
	<head>
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/salon/mySalon.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/salon/mycss.css")">
	</head>

<!-- ↓contents -->

        <div id="OSC_Content">
        	<div id='SpaceLeft'>
        		@views.html.salon.admin.mySalonLeft(salon)
        	</div>
			<div id='SpaceMain'>
	    		@content
       		</div>	        
        </div>
<!-- ↑contents -->
}