@(navInSalon: String = "my-stylists", salon: Salon, styles: List[Style], styleSearchForm: Form[models.Style], styleParaAll: models.StylePara, isFirstSearch: Boolean, isStylist: Boolean,stylists: List[models.Stylist])

@mySalonMain(navInSalon, salon){
	@*<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/style/style.css")">*@
    @views.html.style.admin.backstageStyleSearch(styleSearchForm, styleParaAll, isFirstSearch, isStylist, null, stylists)
    <hr/>
    <a href="@auth.routes.Salons.styleAddBySalon" >@Messages("hair.addStyle")</a>
    <hr/>
    @views.html.style.admin.backstageStyleSearchList(styles, isStylist)
	
}