@(salon: Salon, salonInfo:Form[Salon])

@import views.html.salon.admin.mySalonPictureMain

@mySalonPictureMain("my-logoPicture", salon){
  <div id="salonImgLogo" class="mT40">
    @helper.form(auth.routes.Salons.updateLogoPicture(), 'enctype -> "multipart/form-data") {
    <input type="file" id="filePhoto" name="logo" style="width:50" /> 
    <button type="submit" onclick='return check();'>@Messages("user.changeImage")</button>
    <img src="#" id="target"/>
     }
  </div></br></br>

  <div class="picDesLimit">
    <h3>@Messages("salon.pictureLimit")</h3>
    <p>@Messages("salon.picLimitDes1")<strong>@Messages("salon.picLimitDes2")</strong>@Messages("salon.picLimitDes3")<strong>@Messages("salon.picLimitDes4")</strong>。
      <br/>
      @Messages("salon.logoNumberLimit")<br/>
      @Messages("salon.typeLimit")
    </p>            
  </div>    
}
@views.html.salon.admin.salonSwfupload("")
<script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
<script type="text/javascript">
function check(){
  var input = document.getElementById('filePhoto');
  if(input.files.length < 1){
    alert("没有找到图片");
    return false
    }
  return true
}
function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function(e) {
      $('#target').attr('src', e.target.result);
    }
    reader.readAsDataURL(input.files[0]);
  }
}

$("#filePhoto").change(function() {
  readURL(this);
});
</script>
