@(navInSalon: String = "my-salonInfo",salonForm:Form[Salon],industry: List[Industry], salon:Salon)
@import helper._
@import helper.twitterBootstrap._
@import views.html.salon.admin._

@mySalonMain(navInSalon, salon){
	
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/salon/salonAdmin.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/style/swfupload.css")">
    <script src="@routes.Assets.at("javascripts/jquery-1.8.2.min.js")" type="text/javascript"></script>
    
    <script type="text/javascript" src="@routes.Assets.at("javascripts/swfupload/swfupload.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/swfupload/swfupload.queue.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/swfupload/swfupload.speed.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/swfupload/handlers.js")"></script>
<style type="text/css">
            .batch-pic li .delete-pic{
            background:url(@routes.Assets.at("images/swfupload/red-close-btn.gif")) no-repeat;width:27px;height:27px;overflow:hidden;cursor:pointer;position:absolute;right:-7px;top:-13px;
            }
        </style>
<div class="basicInformation-content">
	<div class="basicInformation">
		<div class="contentsTitleWrapper">
			<h2 class="contentsTitleInner">@Messages("salon.title")</h2>
		</div>

		<div class="mT10 pH10">
			@helper.form(action = auth.routes.Salons.update(salon.id), args = 'id -> "salonForm"){
				
				<table cellspacing="0" class="wFull bdCell pCell10 bgThNml">
				    <tbody>
				        <tr>
				            <th class="w222">
				                <div class="dibBL vaM w160">
				                    @Messages("salon.id")
				                </div>
				            </th>
				            <td>
				                @inputText(salonForm("salonAccount.accountId"),'_label -> None, 'readonly -> "true", 
			 								'_help -> Messages("salon.accountIdMessage"), 'class -> "inputField")
				            </td>
				        </tr>
				                <div>
				                	<input type="hidden" name="salonAccount.password" readonly="readonly" value="@salon.salonAccount.password">
				                	
				                </div>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("salon.Name")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@inputText(salonForm("salonName"),'_label ->  None, '_help -> Messages("*"),'readonly -> "true")
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("salon.Abbr")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@inputText(salonForm("salonNameAbbr"),'_label -> None)
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("salon.type")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@input(field = salonForm("salonIndustry"),args = '_label -> None){(id,name,value,args) =>
								 	@for(i <- 0 to industry.length-1){
								 		@if(salon.salonIndustry.contains(industry(i).industryName)){
								 			<input type = "checkbox" class="" name = "salonIndustry[@i]", value = "@industry(i).industryName" checked="checked">@Messages("industry.industryName."+industry(i).industryName)
								 		}else{
								 			<input type = "checkbox" class="" name = "salonIndustry[@i]", value = "@industry(i).industryName">@Messages("industry.industryName."+industry(i).industryName)			 			
								 		}
								 	}
								  }
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("salon.homepage")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@inputText(salonForm("homepage"), '_label -> None)
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("salon.description")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@textarea(salonForm("salonDescription"), '_label -> None,'cols -> 50,'placeholder -> Messages("salon.desMseeage"))
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("salon.mainPhone")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@inputText(salonForm("contactMethod.mainPhone"), '_label -> None, '_help -> Messages("*"),
				                		'_error -> salonForm("contactMethod.mainPhone").error.map(_.withMessage(Messages("salon.register.mainPhone"))))
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("salon.contact")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@inputText(salonForm("contactMethod.contact"), '_label -> None,'_help -> Messages("*"),
				                		'_error -> salonForm("contactMethod.contact").error.map(_.withMessage(Messages("salon.register.contact"))))
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("user.email")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@inputText(salonForm("contactMethod.email"), '_label -> None,'_help -> Messages("*"),
				                		'_error -> salonForm("contactMethod.email").error.map(_.withMessage(Messages("salon.register.contact"))))
				                </div>
				            </td>
				        </tr>				        
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("salon.establishDate")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@*inputDate(salonForm("establishDate"), '_label -> None, '_help -> Messages("*"),
				                		'_error -> salonForm("establishDate").error.map(_.withMessage(Messages("salon.register.establishDate"))))*@
				                    @input(field = salonForm("establishDate"), '_label -> None, '_help -> Messages("*"), '_error -> salonForm("establishDate").error.map(_.withMessage(Messages("salon.register.establishDate")))) { (id, name, value, _) =>
        							<input class="Wdate" type="text" name="@name" value="@value" onClick="WdatePicker() ">
								    }
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("salon.address")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@Messages("salon.province"):  <select id="Select1" name = "salonAddress.province" value = "@salon.salonAddress.map(add=>add.province).getOrElse(None)"></select>
									@Messages("salon.city"):  <select id="Select2" name = "salonAddress.city" value = "@salon.salonAddress.map(add=>add.city).getOrElse(None)"></select>
									@Messages("salon.region"):  <select id="Select3" name = "salonAddress.region" value = "@salon.salonAddress.map(add=>add.region).getOrElse(None)"></select>
									<script type="text/javascript">
										addressInit('Select1', 'Select2', 'Select3');
									</script>
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("salon.town")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@inputText(salonForm("salonAddress.town"), '_label -> None)
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("salon.addrDetail")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@inputText(salonForm("salonAddress.addrDetail"), '_label -> None)
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("salon.longitude")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@inputText(salonForm("salonAddress.longitude"), '_label -> None,'_help -> Messages(""))
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("salon.latitude")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@inputText(salonForm("salonAddress.latitude"), '_label -> None,'_help -> Messages(""))
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("salon.accessMethod")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@inputText(salonForm("salonAddress.accessMethodDesc"), '_label -> None)
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("salon.openTime")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@inputText(salonForm("workTime.openTime"), '_label -> None)
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("salon.closeTime")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@inputText(salonForm("workTime.closeTime"), '_label -> None)
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("salon.seatNums")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@inputText(salonForm("seatNums"), '_label -> None,'_help -> Messages("*"),
				                		'_error -> salonForm("seatNums").error.map(_.withMessage(Messages("salon.register.seatNums"))))
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("salon.iss")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@checkbox(salonForm("salonFacilities.canOnlineOrder"), '_label -> Messages("salon.canOnlineOrder"),'_help -> Messages(""))
				                	@checkbox(salonForm("salonFacilities.canImmediatelyOrder"), '_label -> Messages("salon.canImmediatelyOrder"),'_help -> Messages(""))
									@checkbox(salonForm("salonFacilities.canNominateOrder"), '_label -> Messages("salon.canNominateOrder"),'_help -> Messages(""))
									@checkbox(salonForm("salonFacilities.canCurntDayOrder"), '_label -> Messages("salon.canCurntDayOrder"),'_help -> Messages(""))
									@checkbox(salonForm("salonFacilities.canMaleUse"), '_label -> Messages("salon.canMaleUse"),'_help -> Messages(""))
									@checkbox(salonForm("salonFacilities.isPointAvailable"), '_label -> Messages("salon.isPointAvailable"),'_help -> Messages(""))
									@checkbox(salonForm("salonFacilities.isPosAvailable"), '_label -> Messages("salon.isPosAvailable"),'_help -> Messages(""))
									@checkbox(salonForm("salonFacilities.isWifiAvailable"), '_label -> Messages("salon.isWifiAvailable"),'_help -> Messages(""))
									@checkbox(salonForm("salonFacilities.hasParkingNearby"), '_label -> Messages("salon.hasParkingNearby"),'_help -> Messages(""))
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("salon.parkingDesc")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@inputText(salonForm("salonFacilities.parkingDesc"), '_label -> None,'_help -> Messages(""))
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("salon.registerTime")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@inputDate(salonForm("registerDate"), '_label -> None, 'readonly -> "true")
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("salon.showPic")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@inputText(salonForm("picDescription.picTitle"), '_label -> None, 'placeholder -> Messages("salon.pic.title"),'cols -> 50,'_help -> Messages("*"))
				                	@inputText(salonForm("picDescription.picContent"), '_label -> None, 'placeholder -> Messages("salon.pic.content"),'cols -> 50,'_help -> Messages("*"))
				                	@inputText(salonForm("picDescription.picFoot"), '_label -> None, 'placeholder -> Messages("salon.pic.foot"),'cols -> 50,'_help -> Messages("*"))
				                </div>
				            </td>
				        </tr>				        
				    </tbody>
				</table>
		            
	            <table cellspacing="0" class="wFull bdCell pCell10 bgThNml mT10">
				    <tbody>
				        <tr>
				            <th class="w222">
				                <div class="dibBL vaM w160">
				                    @Messages("user.optContactMethod")
				                </div>
				            </th>
				            <td>
				            	<div id="optContactMethods">
				            		 @repeat(salonForm("optContactMethod"), min = 0) { optContactMethod =>
					                    @optContactMethodGroup(optContactMethod)
					                }
					                
					                @optContactMethodGroup(
					                    salonForm("optContactMethod[x]"),
					                    className = "optContactMethod_template"
					                )
		                
					                <div class="manage">
					                    <a class="addoptContactMethod btn success">@Messages("optContactMethod.AddOptContactMethod")</a>
					                </div>
				            	</div>
				            </td>
				        </tr>
					</tbody>
				</table>
				
				<table cellspacing="0" class="wFull bdCell pCell10 bgThNml mT10">
				    <tbody>
				        <tr>
				            <th class="w222">
				                <div class="dibBL vaM w160">
				                    @Messages("salon.restDay")
				                </div>
				            </th>
				            <td>
                                <div class="restDays">
                                    @inputRadioGroup(salonForm("restDays.restWay"), options = options("Fixed" -> Messages("restWay.fixed"),"Indefinite" -> Messages("restWay.indefinite")) , '_label -> None)
                                    @if(salon.restDays.map{rest=>rest.restWay}.equals("Fixed")){
                                        <div id="restDays_div">
                                            @Messages("salon.selectRestDays")
                                            <input type="checkbox" name="restDays.restDay1[0]" value="Monday" @if(salon.restDays.map(rest=>rest.restDay).getOrElse(Nil).contains("Monday")){checked}>@Messages("Monday")
                                            <input type="checkbox" name="restDays.restDay1[1]" value="Tuesday" @if(salon.restDays.map(rest=>rest.restDay).getOrElse(Nil).contains("Tuesday")){checked}>@Messages("Tuesday")
                                            <input type="checkbox" name="restDays.restDay1[2]" value="Wednesday" @if(salon.restDays.map(rest=>rest.restDay).getOrElse(Nil).contains("Wednesday")){checked}>@Messages("Wednesday")
                                            <input type="checkbox" name="restDays.restDay1[3]" value="Thursday" @if(salon.restDays.map(rest=>rest.restDay).getOrElse(Nil).contains("Thursday")){checked}>@Messages("Thursday")
                                            <input type="checkbox" name="restDays.restDay1[4]" value="Friday" @if(salon.restDays.map(rest=>rest.restDay).getOrElse(Nil).contains("Friday")){checked}>@Messages("Friday")
                                            <input type="checkbox" name="restDays.restDay1[5]" value="Saturday"@if(salon.restDays.map(rest=>rest.restDay).getOrElse(Nil).contains("Saturday")){checked}>@Messages("Saturday")
                                            <input type="checkbox" name="restDays.restDay1[6]" value="Sunday"@if(salon.restDays.map(rest=>rest.restDay).getOrElse(Nil).contains("Sunday")){checked}>@Messages("Sunday")
                                        </div>
                                        <div id="noRestDays_div" style="display: none;">
                                            @Messages("salon.EnterRestDays")
                                            <input type="text" name="restDays.restDay2[0]" >
                                        </div>
                                    }else{
                                        <div id="restDays_div" style="display: none;">
                                            @Messages("salon.selectRestDays")
                                            <input type="checkbox" name="restDays.restDay1[0]" value="Monday" >@Messages("Monday")
                                            <input type="checkbox" name="restDays.restDay1[1]" value="Tuesday" >@Messages("Tuesday")
                                            <input type="checkbox" name="restDays.restDay1[2]" value="Wednesday" >@Messages("Wednesday")
                                            <input type="checkbox" name="restDays.restDay1[3]" value="Thursday" >@Messages("Thursday")
                                            <input type="checkbox" name="restDays.restDay1[4]" value="Friday" >@Messages("Friday")
                                            <input type="checkbox" name="restDays.restDay1[5]" value="Saturday" >@Messages("Saturday")
                                            <input type="checkbox" name="restDays.restDay1[6]" value="Sunday" >@Messages("Sunday")
                                        </div>
                                        <div id="noRestDays_div" >
                                            @Messages("salon.EnterRestDays")
                                            <input type="text" name="restDays.restDay2[0]" value="@salon.restDays.map(rest=>rest.restDay).toList">
                                        </div>
                                    }
                                </div>
				            </td>
				        </tr>
					</tbody>
				</table>
				<table cellspacing="0" class="wFull bdCell pCell10 bgThNml mT10">
				    <tbody>
				        <tr>
				            <th class="w222">
				                <div class="dibBL vaM w160">
				                    @Messages("salon.pictures")
				                </div>
				            </th>
				            <td>
			            	<div id="salonPics">
								<div class="demo">
					                <div class="logoupload">
					                    <div class="btnbox">
					                        @Messages("onUsePicture.selectImge")&nbsp;@Messages("onUsePicture.limit")
					                        <a id="uploadBtnHolder" class="uploadbtn" href="javascript:;">@Messages("onUsePicture.selectImge")</a>
					                    </div>
					                    <div class="uploadtip">@Messages("onUsePicture.uploadImgSize")<b>@Messages("onUsePicture.WH")</b>@Messages("onUsePicture.size")</div>
					                    
					                    <div class="progress-box fl-progress" style="display:none;">
					                        <div class="progress-num">@Messages("onUsePicture.process")<b>0%</b></div>
					                        <div class="progress-bar"><div style="width:0%;" class="bar-line"></div></div>
					                    </div>
					                    
					                </div>
					                <div class="batch-pic">
					                    <ul>
					                    @repeat(salonForm("salonPics")) { salonPic =>
				                    		@pictureGroup(salonPic)
				                		}
					                    </ul>
					                </div>
					            </div>

					            @pictureGroup(
					                salonForm("salonPics[x]"),
					                className = "salonPic_template"
					            )
								
					            <div class="manage">
					                 <a class="addSalonPic btn success">@Messages("salon.addPicture")</a>
					            </div>
					        </div>
				            </td>
				        </tr>
					</tbody>
				</table>				
				<div class="mT20 txtC">			
					<input type = "submit" class = "buttons" value=@Messages("common.submit")>
					<input type="reset" value=@Messages("common.reset")>
					<a href = "/  "><input type="button" value=@Messages("common.backUp") ></a>
				</div>
			}
		</div>

	</div>
</div>
        <script type="text/javascript" charset="utf-8">

        $ ('#restDays_restWay_Fixed').live('click', function(e) {
            $('#noRestDays_div' ).hide();
            $('#restDays_div' ).show();
        })

        $('#restDays_restWay_Indefinite').live('click', function(e) {
            $('#noRestDays_div' ).show();
            $('#restDays_div' ).hide();
        })

        $('.removeoptContactMethod').live('click', function(e) {
            $(this).parents('.optContactMethod').remove()
            renumber()
        })

        $('.removeSalonPic').live('click', function(e) {
            $(this).parents('.salonPic').remove()
            renumber()
        })

        $('.removeAccount').live('click', function(e) {
            var accounts = $(this).parents('.accounts')
            $(this).parents('.account').remove()
            renumber(accounts)
        })

        $('.addAccount').live('click', function(e) {
            var accounts = $(this).parents('.accounts')
            var template = $('.account_template', accounts)
            template.before('<div class="clearfix account">' + template.html() + '</div>')
            renumber(accounts)
        })

        $('.addoptContactMethod').live('click', function(e) {
            var template = $('.optContactMethod_template')
            template.before('<div class="twipsies well optContactMethod">' + template.html() + '</div>')
            renumber()
        })

        $('.addSalonPic').live('click', function(e) {
            var template = $('.salonPic_template')
            template.before('<div class="twipsies well salonPic">' + template.html() + '</div>')
            renumber()
        })

        var renumber = function(accounts) {
            $('.optContactMethod').each(function(i) {
                $('select', this).each(function() {
                    $(this).attr('name', $(this).attr('name').replace(/optContactMethods\[.+?\]/g, 'optContactMethods[' + i + ']'))
                })
                $('.account input', this).each(function(j) {
                	$(this).attr('name', $(this).attr('name').replace(/optContactMethods\[.+?\]/g, 'optContactMethods[' + i + ']'))
                    $(this).attr('name', $(this).attr('name').replace(/accounts\[.+\]/g, 'accounts[' + j + ']'))
                })
            })
            $('.salonPic').each(function(i) {
                $('input', this).each(function() {
                    $(this).attr('name', $(this).attr('name').replace(/salonPics\[.+?\]/g, 'salonPics[' + i + ']'))
                })
            })
        }

		function updateProgress(file) {
    		$('.progress-box .progress-bar > div').css('width', parseInt(file.percentUploaded) + '%');
    		$('.progress-box .progress-num > b').html(SWFUpload.speed.formatPercent(file.percentUploaded));
    	}

    	function initProgress() {
    		$('.progress-box').show();
    		$('.progress-box .progress-bar > div').css('width', '0%');
    		$('.progress-box .progress-num > b').html('0%');
    	}

    	function successAction(fileInfo) {
    		setUploadImage(fileInfo);
    		// 如果上传完成了
    		$('.progress-box').hide();
    	}

    	function setUploadImage(fileInfo) {
    		var up_path = fileInfo.path;
    		alert("files path... "+up_path);
    		var up_width = fileInfo.width;
    		var up_height = fileInfo.height;
    		
    		var listEls = $('.batch-pic');
    		var innerHtml = 
    		'<li>'+
    			'<div class="delete-pic"></div>'+
    			'<div class="p-pic"><img src="' + up_path + '" /></div>'+
    			'<div class="p-des">图片尺寸：<span>' + up_width + 'x' + up_height + '</span>像素</div>'+
    			'<div class="p-text"><input type="text" value="图片名称" /></div>'+
    		'</li>';
    		listEls.find('ul').append(innerHtml);
    		initImageListFn();
    	}

    	function initImageListFn() {
    		$('.batch-pic').find('ul > li .delete-pic').each(function() {
    			$(this).unbind('click').click(function() {
    				$(this).parent().remove();
    			});
    		});
    		
    	}

    	var swfImageUpload;
    	$(document).ready(function() {
    		var settings = {
    			flash_url : "@routes.Assets.at("javascripts/swfupload/swfupload.swf")",
    			flash9_url : "@routes.Assets.at("javascripts/swfupload/swfupload_fp9.swf")",
    			upload_url: "/fileUploadAction",// 接受上传的地址
    			file_post_name : "Filedata",
    			file_size_limit : "2 MB",// 文件大小限制
    			file_types : "*.jpg;*.gif;*.png;*.jpeg;",// 限制文件类型
    			file_types_description : "Image Files",// 说明，自己定义
    			file_upload_limit : 5,
    			file_queue_limit : 0,
    			custom_settings : {},
    			debug: false,
    			// Button settings
    			button_image_url: "@routes.Assets.at("images/swfupload/upload-btn.png")",
    			button_width: "143",
    			button_height: "45 ",
    			button_placeholder_id: 'uploadBtnHolder',
    			button_window_mode : SWFUpload.WINDOW_MODE.TRANSPARENT,
    			button_cursor : SWFUpload.CURSOR.HAND,
    			button_action: SWFUpload.BUTTON_ACTION.SELECT_FILES,
    			
    			moving_average_history_size: 40,
    			
    			// The event handler functions are defined in handlers.js
    			swfupload_preload_handler : preLoad,
    			swfupload_load_failed_handler : loadFailed,
    			file_queued_handler : fileQueued,
    			file_dialog_complete_handler: fileDialogComplete,
    			upload_start_handler : function (file) {
    				initProgress();
    				updateProgress(file);
    			},
    			upload_progress_handler : function(file, bytesComplete, bytesTotal) {
    				updateProgress(file);
    			},
    			upload_success_handler : function(file, data, response) {
    				// 上传成功后处理函数
    				
    				var template = $('.salonPic_template');
		            var listEls = $('.batch-pic');
		    		var innerHtml = 
		    		'<li>'+
		    			'<div class="delete-pic"></div>'+
		    			"<div class='p-pic'><img src='/getPhoto/"+data+"' /></div>"+
		    			'<div class="twipsies well salonPic">' + template.html() + '</div>'+
		    		'</li>';
		    		listEls.find('ul').append(innerHtml);
		    		initImageListFn();
		    		
					renumber();
           			var $obj=$('.imageoffileobjid');
					$obj.each(function(i){
						var index=$obj.index($(this));
						if(index==($obj.length-2)){
						$(this).val(data);
						}
					});
					var $priority = $(".imgShowPriority");
					$priority.each(function(i){
						var index=$priority.index($(this));
						if(index==($priority.length-1)){
						$(this).val((index-1));
						}
					});
					
    				var fileInfo = eval("(" + data + ")");
    				
    				successAction(fileInfo);
    			},
    			upload_error_handler : function(file, errorCode, message) {
    				alert(file);
    				alert(errorCode);
    				alert(message);
    				alert('上传发生了错误！');
    			},
    			file_queue_error_handler : function(file, errorCode, message) {
    				if(errorCode == -110) {
    					alert('您选择的文件太大了。');	
    				}
    			}
    		};
    		swfImageUpload = new SWFUpload(settings);
    		initImageListFn();
    	});

    </script>
}

@accountField(field: Field, className: String = "account") = {
    @input(field, '_label -> Messages("salon.account"), '_class -> className) { (id, name, value, _) =>
        <input type="text" name="@name" value="@value">
        <a class="removeAccount btn danger">@Messages("optContactMethod.Remove")</a>
    }
}

@optContactMethodGroup(field: Field, className: String = "optContactMethod") = {
    <div class="twipsies well @className">

        <a class="removeoptContactMethod btn danger pull-right">@Messages("optContactMethod.RemoveOptContactMethod")</a>

        @*inputText(
            field("contMethodType"),
            '_label -> Messages("user.contMethodType")
        )*@
        
        @select(
        	field("contMethodType"), 
        	ContMethodType.getAllContMethodTypes,
        	'_default -> Messages("user.chooseOpt"),
        	'_label -> Messages("user.contMethodType")
        )

        <div class="accounts">

            @repeat(field("accounts"), min = 1) { account =>

                @accountField(account)

            }

            @**
             * Keep an hidden block that will be used as template for Javascript copy code
             **@
            @accountField(
                field("accounts[x]"),
                className = "account_template"
            )

            <div class="clearfix">
                <div class="input">
                    <a class="addAccount btn success">@Messages("optContactMethod.AddNumber")</a>
                </div>
            </div>

        </div>

    </div>
}

@pictureGroup(field: Field, className: String = "salonPic") = {
	<li>
	<div class="delete-pic"></div>
		@field("fileObjId").value.map{fileid=>
			@if(!fileid.equals("")){	
			<div class='p-pic'><img src='@routes.Application.getPhoto(new ObjectId(fileid))'/></div>
		}
	}
    <div class="addstyles-byStylist twipsies well @className">
        @inputText(
            field("fileObjId"), 
			'_label -> "fileObjId", 'id -> "imageoffileobjid", 'class ->"imageoffileobjid"
        )
        
        @select(
            field ("picUse"), 
            options = options(
                "LOGO" -> Messages("salon.picUse.logo"),
                "Navigate" -> Messages("salon.picUse.Navigate"),
                "Atmosphere" -> Messages("salon.picUse.Atmosphere")
            ),
             '_label -> None,
             'placeholder -> Messages("salon.picUse"),
             '_help -> Messages("")
        )	        
        @inputText(
            field("showPriority"), 
			'_label -> None, 'class -> "imgShowPriority"
        )
        @textarea(
            field("description"),
            '_label -> None,
            'rows -> 2, 'cols -> 15, 
            'placeholder -> Messages("onUserPicture.description"), 'class -> "imagesDescriptionfelid"
)
        
    </div>

    </li>
    }

    <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/ajaxfileupload.js")" type="text/javascript"></script>
