@(navInSalon: String = "my-salonInfo",salonForm:Form[Salon], salon:Salon)
@import helper._
@import helper.twitterBootstrap._
@import views.html.salon.admin._

@mySalonMain(navInSalon, salon){
	
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/salon/salonAdmin.css")">

<div class="basicInformation-content">
	<div class="basicInformation">
		<div class="contentsTitleWrapper">
			<h2 class="contentsTitleInner">@Messages("salon.title")</h2>
		</div>

		<div class="mT10 pH10">
			@helper.form(action = auth.routes.Salons.update(salon.id), args = 'id -> "salonForm"){
				
				<table cellspacing="0" class="wFull bdCell pCell10 bgThNml">
				    <tbody>
				        <tr>
				            <th class="w222">
				                <div class="dibBL vaM w160">
				                    @Messages("salon.id")
				                </div>
				            </th>
				            <td>
								@salon.salonAccount.accountId
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("user.oldPassword")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@inputPassword(field = salonForm("salon.salonAccount.password"), '_label -> None, 'placeholder ->Messages("salon.oldPassword") ,
            				'_error -> salonForm("salon").error.map(_.withMessage(Messages("user.oldPasswordErr"))))
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("user.newPassword")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@inputPassword(salonForm("newPassword.main"),'_label -> None,'placeholder ->Messages("salon.newPassword") )
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("user.confirmPas")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@inputPassword(salonForm("newPassword.confirm"),'_label -> None,'_error -> salonForm.error("newPassword"),'placeholder ->Messages("salon.confirmNewPassword"))
				                </div>
				            </td>
				        </tr>				        
				    </tbody>
				</table>
		 				
				<div class="mT20 txtC">
					<input type = "submit" class = "buttons" value=@Messages("common.submit")>
					<input type="reset" value=@Messages("common.reset")>
					<a href = "/  "><input type="button" value=@Messages("common.backUp") ></a> 
				</div>
			}
		</div>
		
	</div>
</div>
}
