@(salon: Salon, salonInfo:Form[Salon])

@import views.html.salon.admin.mySalonMain

@mySalonMain("checkSalonInfo", salon){
	<table cellspacing="0" class="wFull bdCell pCell10 bgThNml mT10">
		<tbody>	
		</tbody>
	</table>		
	<div>
		<ul class="bS menuBG cFix">
			<li class="fl"><a class="current-demo" href="@auth.routes.Salons.salonRegister">@Messages("salonCheckInfoState.register")&nbsp&nbsp&nbsp&nbsp&nbsp</a>
			</li>		
            <li class="fl">
				<a class="current-demo" href="@auth.routes.Salons.salonBasic">@Messages("salonCheckInfoState.basicInfo")&nbsp&nbsp&nbsp&nbsp&nbsp</a>
			</li>			
            <li class="fl">
				<a class="current-demo" href="@auth.routes.Salons.salonDetail"> @Messages("salonCheckInfoState.detail")&nbsp&nbsp&nbsp&nbsp&nbsp</a>
			</li>			
			<li class="fl"><a class="current-demo" href="@auth.routes.Salons.salonShowPicture">@Messages("salonCheckInfoState.pictures")&nbsp&nbsp&nbsp&nbsp&nbsp</a>
			</li>			
		</ul>
	</div>
	<table cellspacing="0" class="wFull bdCell pCell10 bgThNml mT10">
		<tbody>	
		</tbody>
	</table>
	<div>
		<ul class="bS menuBG cFix">
			<li class="fl"><a class="current-demo" href="@auth.routes.Salons.salonShowPicture">@Messages("salonCheckInfoState.uploadpics")&nbsp&nbsp&nbsp&nbsp&nbsp</a>
			</li>		
            <li class="fl">
				<a class="current-demo" href="@auth.routes.Salons.salonAtmoPicture">@Messages("salonCheckInfoState.uploadAtom")&nbsp&nbsp&nbsp&nbsp&nbsp</a>
			</li>			
            <li class="fl">
				<a class="current-demo" href="@auth.routes.Salons.salonLogoPicture">@Messages("salonCheckInfoState.uploadLogo")&nbsp&nbsp&nbsp&nbsp&nbsp</a>
			</li>			
			<li class="fl"><a class="current-demo" href="@auth.routes.Salons.salonCheckPicture">@Messages("salonCheckInfoState.uploadStore")&nbsp&nbsp&nbsp&nbsp&nbsp</a>
			</li>			
		</ul>
	</div>
	<div id="salonImgLogo">
		@helper.form(auth.routes.Salons.imageUpload, 'enctype -> "multipart/form-data") {
        <input type="file" id="filePhoto" name="logo" style="width:50" /> 
        <button type="submit">@Messages("user.changeImage")</button>
        <img src="#" id="target"/>
     	}
	</div></br></br>
	<table cellspacing="0" class="wFull bdCell pCell10 bgThNml mT10">
		<tbody>	
		</tbody>
	</table>	
	<div class="regPoint">
		<h3>@Messages("salon.pictureLimit")</h3>
		<p>@Messages("salon.picLimitDes1")<strong>@Messages("salon.picLimitDes2")</strong>@Messages("salon.picLimitDes3")<strong>@Messages("salon.picLimitDes4")</strong>。
			<br/>
			@Messages("salon.logoNumberLimit")<br/>
			@Messages("salon.typeLimit")
		</p>
	</div>	
}