@(navInSalon: String = "my-salonInfo",salonForm:Form[Salon],industry: List[Industry], salon:Salon)
@import helper._
@import helper.twitterBootstrap._
@import views.html.salon.admin._

@mySalonMain(navInSalon, salon){
	
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/salon/salonAdmin.css")">

<div class="basicInformation-content">
	<div class="basicInformation">
		<div class="contentsTitleWrapper">
			<h2 class="contentsTitleInner">@Messages("salon.title")</h2>
		</div>

		<div class="mT10 pH10">
			@helper.form(action = auth.routes.Salons.update(salon.id), args = 'id -> "salonForm"){
				
				<table cellspacing="0" class="wFull bdCell pCell10 bgThNml">
				    <tbody>
				        <tr>
				            <th class="w222">
				                <div class="dibBL vaM w160">
				                    @Messages("salon.id")
				                </div>
				            </th>
				            <td>
				                @inputText(salonForm("salonAccount.accountId"),'_label -> None, 'readonly -> "true", 
			 								'_help -> Messages("salon.accountIdMessage"), 'class -> "inputField")
				            </td>
				        </tr>
				                <div>
				                	<input type="hidden" name="salonAccount.password" readonly="readonly" value="@salon.salonAccount.password">
				                	
				                </div>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("salon.Name")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@inputText(salonForm("salonName"),'_label ->  None, '_help -> Messages("*"),'readonly -> "true")
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("salon.Abbr")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@inputText(salonForm("salonNameAbbr"),'_label -> None)
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("salon.type")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@input(field = salonForm("salonIndustry"),args = '_label -> None){(id,name,value,args) =>
								 	@for(i <- 0 to industry.length-1){
								 		@if(salon.salonIndustry.contains(industry(i).industryName)){
								 			<input type = "checkbox" class="" name = "salonIndustry[@i]", value = "@industry(i).industryName" checked="checked">@Messages("industry.industryName."+industry(i).industryName)
								 		}else{
								 			<input type = "checkbox" class="" name = "salonIndustry[@i]", value = "@industry(i).industryName">@Messages("industry.industryName."+industry(i).industryName)			 			
								 		}
								 	}
								  }
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("salon.homepage")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@inputText(salonForm("homepage"), '_label -> None)
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("salon.description")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@textarea(salonForm("salonDescription"), '_label -> None,'cols -> 50,'placeholder -> Messages("salon.desMseeage"))
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("salon.mainPhone")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@inputText(salonForm("mainPhone"), '_label -> None, '_help -> Messages("*"),
				                		'_error -> salonForm("mainPhone").error.map(_.withMessage(Messages("salon.register.mainPhone"))))
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("salon.contact")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@inputText(salonForm("contact"), '_label -> None,'_help -> Messages("*"),
				                		'_error -> salonForm("contact").error.map(_.withMessage(Messages("salon.register.contact"))))
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("salon.establishDate")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@inputDate(salonForm("establishDate"), '_label -> None, '_help -> Messages("*"),
				                		'_error -> salonForm("establishDate").error.map(_.withMessage(Messages("salon.register.establishDate"))))
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("salon.address")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@Messages("salon.province"):  <select id="Select1" name = "salonAddress.province" value = "@salon.salonAddress.province"></select>
									@Messages("salon.city"):  <select id="Select2" name = "salonAddress.city" value = "@salon.salonAddress.city"></select>
									@Messages("salon.region"):  <select id="Select3" name = "salonAddress.region" value = "@salon.salonAddress.region"></select>
									<script type="text/javascript">
										addressInit('Select1', 'Select2', 'Select3');
									</script>
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("salon.town")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@inputText(salonForm("salonAddress.town"), '_label -> None)
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("salon.addrDetail")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@inputText(salonForm("salonAddress.addrDetail"), '_label -> None)
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("salon.longitude")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@inputText(salonForm("salonAddress.longitude"), '_label -> None,'_help -> Messages(""))
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("salon.latitude")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@inputText(salonForm("salonAddress.latitude"), '_label -> None,'_help -> Messages(""))
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("salon.accessMethod")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@inputText(salonForm("salonAddress.accessMethodDesc"), '_label -> None)
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("salon.openTime")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@inputText(salonForm("workTime.openTime"), '_label -> None)
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("salon.closeTime")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@inputText(salonForm("workTime.closeTime"), '_label -> None)
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("salon.seatNums")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@inputText(salonForm("seatNums"), '_label -> None,'_help -> Messages("*"),
				                		'_error -> salonForm("seatNums").error.map(_.withMessage(Messages("salon.register.seatNums"))))
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("salon.iss")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@checkbox(salonForm("salonFacilities.canOnlineOrder"), '_label -> Messages("salon.canOnlineOrder"),'_help -> Messages(""))
				                	@checkbox(salonForm("salonFacilities.canImmediatelyOrder"), '_label -> Messages("salon.canImmediatelyOrder"),'_help -> Messages(""))
									@checkbox(salonForm("salonFacilities.canNominateOrder"), '_label -> Messages("salon.canNominateOrder"),'_help -> Messages(""))
									@checkbox(salonForm("salonFacilities.canCurntDayOrder"), '_label -> Messages("salon.canCurntDayOrder"),'_help -> Messages(""))
									@checkbox(salonForm("salonFacilities.canMaleUse"), '_label -> Messages("salon.canMaleUse"),'_help -> Messages(""))
									@checkbox(salonForm("salonFacilities.isPointAvailable"), '_label -> Messages("salon.isPointAvailable"),'_help -> Messages(""))
									@checkbox(salonForm("salonFacilities.isPosAvailable"), '_label -> Messages("salon.isPosAvailable"),'_help -> Messages(""))
									@checkbox(salonForm("salonFacilities.isWifiAvailable"), '_label -> Messages("salon.isWifiAvailable"),'_help -> Messages(""))
									@checkbox(salonForm("salonFacilities.hasParkingNearby"), '_label -> Messages("salon.hasParkingNearby"),'_help -> Messages(""))
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("salon.parkingDesc")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@inputText(salonForm("salonFacilities.parkingDesc"), '_label -> None,'_help -> Messages(""))
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("salon.registerTime")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@inputDate(salonForm("registerDate"), '_label -> None, 'readonly -> "true")
				                </div>
				            </td>
				        </tr>
				        <tr>
				            <th class="w222 ">
				                <!-- -->
				                <div class="dibBL vaM w154">
				                   	@Messages("salon.showPic")
				                </div>
				            </th>
				            <td>
				                <div>
				                	@inputText(salonForm("picDescription.picTitle"), '_label -> None, 'placeholder -> Messages("salon.pic.title"),'cols -> 50,'_help -> Messages("*"))
				                	@inputText(salonForm("picDescription.picContent"), '_label -> None, 'placeholder -> Messages("salon.pic.content"),'cols -> 50,'_help -> Messages("*"))
				                	@inputText(salonForm("picDescription.picFoot"), '_label -> None, 'placeholder -> Messages("salon.pic.foot"),'cols -> 50,'_help -> Messages("*"))
				                </div>
				            </td>
				        </tr>				        
				    </tbody>
				</table>
		            
	            <table cellspacing="0" class="wFull bdCell pCell10 bgThNml mT10">
				    <tbody>
				        <tr>
				            <th class="w222">
				                <div class="dibBL vaM w160">
				                    @Messages("user.optContactMethod")
				                </div>
				            </th>
				            <td>
				            	<div id="optContactMethods">
				            		 @repeat(salonForm("optContactMethod")) { optContactMethod =>
					                    @optContactMethodGroup(optContactMethod)
					                }
					                
					                @optContactMethodGroup(
					                    salonForm("optContactMethod[x]"),
					                    className = "optContactMethod_template"
					                )
		                
					                <div class="manage">
					                    <a class="addoptContactMethod btn success">@Messages("optContactMethod.AddOptContactMethod")</a>
					                </div>
				            	</div>
				            </td>
				        </tr>
					</tbody>
				</table>
				
				<table cellspacing="0" class="wFull bdCell pCell10 bgThNml mT10">
				    <tbody>
				        <tr>
				            <th class="w222">
				                <div class="dibBL vaM w160">
				                    @Messages("salon.restDay")
				                </div>
				            </th>
				            <td>
                                <div class="restDays">
                                    @inputRadioGroup(salonForm("restDays.restWay"), options = options("Fixed" -> Messages("restWay.fixed"),"Indefinite" -> Messages("restWay.indefinite")) , '_label -> None)
                                    @if(salon.restDays.restWay.equals("Fixed")){
                                        <div id="restDays_div">
                                            @Messages("salon.selectRestDays")
                                            <input type="checkbox" name="restDays.restDay1[0]" value="Monday" @if(salon.restDays.restDay.contains("Monday")){checked}>@Messages("Monday")
                                            <input type="checkbox" name="restDays.restDay1[1]" value="Tuesday" @if(salon.restDays.restDay.contains("Tuesday")){checked}>@Messages("Tuesday")
                                            <input type="checkbox" name="restDays.restDay1[2]" value="Wednesday" @if(salon.restDays.restDay.contains("Wednesday")){checked}>@Messages("Wednesday")
                                            <input type="checkbox" name="restDays.restDay1[3]" value="Thursday" @if(salon.restDays.restDay.contains("Thursday")){checked}>@Messages("Thursday")
                                            <input type="checkbox" name="restDays.restDay1[4]" value="Friday" @if(salon.restDays.restDay.contains("Friday")){checked}>@Messages("Friday")
                                            <input type="checkbox" name="restDays.restDay1[5]" value="Saturday"@if(salon.restDays.restDay.contains("Saturday")){checked}>@Messages("Saturday")
                                            <input type="checkbox" name="restDays.restDay1[6]" value="Sunday"@if(salon.restDays.restDay.contains("Sunday")){checked}>@Messages("Sunday")
                                        </div>
                                        <div id="noRestDays_div" style="display: none;">
                                            @Messages("salon.EnterRestDays")
                                            <input type="text" name="restDays.restDay2[0]" >
                                        </div>
                                    }else{
                                        <div id="restDays_div" style="display: none;">
                                            @Messages("salon.selectRestDays")
                                            <input type="checkbox" name="restDays.restDay1[0]" value="Monday" >@Messages("Monday")
                                            <input type="checkbox" name="restDays.restDay1[1]" value="Tuesday" >@Messages("Tuesday")
                                            <input type="checkbox" name="restDays.restDay1[2]" value="Wednesday" >@Messages("Wednesday")
                                            <input type="checkbox" name="restDays.restDay1[3]" value="Thursday" >@Messages("Thursday")
                                            <input type="checkbox" name="restDays.restDay1[4]" value="Friday" >@Messages("Friday")
                                            <input type="checkbox" name="restDays.restDay1[5]" value="Saturday" >@Messages("Saturday")
                                            <input type="checkbox" name="restDays.restDay1[6]" value="Sunday" >@Messages("Sunday")
                                        </div>
                                        <div id="noRestDays_div" >
                                            @Messages("salon.EnterRestDays")
                                            <input type="text" name="restDays.restDay2[0]" value="@salon.restDays.restDay.toList">
                                        </div>
                                    }
                                </div>
				            </td>
				        </tr>
					</tbody>
				</table>
				<table cellspacing="0" class="wFull bdCell pCell10 bgThNml mT10">
				    <tbody>
				        <tr>
				            <th class="w222">
				                <div class="dibBL vaM w160">
				                    @Messages("salon.pictures")
				                </div>
				            </th>
				            <td>
			            	<div id="salonPics">
               				<form action="fileUploadAction" enctype="multipart/form-data">
				    				<input type="file" id="file" class="toUploadPhoto" name="photo" /><br />
				    				<input type="button" value= @Messages("salon.salonPics.upload") onclick="return ajaxFileUpload();">
			         			    <legend>@Messages("user.optContactMethod")</legend>
        						</form>			            					            
				            	@repeat(salonForm("salonPics")) { salonPic =>
				                    @pictureGroup(salonPic)
				                }

					            @pictureGroup(
					                salonForm("salonPics[x]"),
					                className = "salonPic_template"
					            )

					            <div class="manage">
					                 <a class="addSalonPic btn success">@Messages("salon.addPicture")</a>
					            </div>
					        </div>
				            </td>
				        </tr>
					</tbody>
				</table>				
				<div class="mT20 txtC">			
					<input type = "submit" class = "buttons" value=@Messages("common.submit")>
					<input type="reset" value=@Messages("common.reset")>
					<a href = "/  "><input type="button" value=@Messages("common.backUp") ></a>
				</div>
			}
		</div>

	</div>
</div>
        <script type="text/javascript" charset="utf-8">

        $ ('#restDays_restWay_Fixed').live('click', function(e) {
            $('#noRestDays_div' ).hide();
            $('#restDays_div' ).show();
        })

        $('#restDays_restWay_Indefinite').live('click', function(e) {
            $('#noRestDays_div' ).show();
            $('#restDays_div' ).hide();
        })

        $('.removeoptContactMethod').live('click', function(e) {
            $(this).parents('.optContactMethod').remove()
            renumber()
        })

        $('.removeSalonPic').live('click', function(e) {
            $(this).parents('.salonPic').remove()
            renumber()
        })

        $('.removeAccount').live('click', function(e) {
            var accounts = $(this).parents('.accounts')
            $(this).parents('.account').remove()
            renumber(accounts)
        })

        $('.addAccount').live('click', function(e) {
            var accounts = $(this).parents('.accounts')
            var template = $('.account_template', accounts)
            template.before('<div class="clearfix account">' + template.html() + '</div>')
            renumber(accounts)
        })

        $('.addoptContactMethod').live('click', function(e) {
            var template = $('.optContactMethod_template')
            template.before('<div class="twipsies well optContactMethod">' + template.html() + '</div>')
            renumber()
        })

        $('.addSalonPic').live('click', function(e) {
            var template = $('.salonPic_template')
            template.before('<div class="twipsies well salonPic">' + template.html() + '</div>')
            renumber()
        })

        var renumber = function(accounts) {
            $('.optContactMethod').each(function(i) {
                $('input', this).each(function() {
                    $(this).attr('name', $(this).attr('name').replace(/optContactMethods\[.+?\]/g, 'optContactMethods[' + i + ']'))
                })
                $('.account input', this).each(function(i) {
                    $(this).attr('name', $(this).attr('name').replace(/accounts\[.+\]/g, 'accounts[' + i + ']'))
                })
                
            })
            $('.salonPic').each(function(i) {
                $('input', this).each(function() {
                    $(this).attr('name', $(this).attr('name').replace(/salonPics\[.+?\]/g, 'salonPics[' + i + ']'))
                })
            })
        }
    	function readURL(input) {
    	    if (input.files && input.files[0]) {
    	    	var reader = new FileReader();
    	        reader.onload = function(e) {
    	            var $objImg=$('.image-insert-style-index-item');
    	            $objImg.each(function(i){
    				var index=$objImg.index($(this));
    				if(index==($objImg.length-2)){
    				$(this).append('<img src='+e.target.result+' style="float:left;width:80px;height:100px;"'+ '>');
    			}
    		});
    	        }
    	        reader.readAsDataURL(input.files[0]);
    	    }
    	}
    	$(".toUploadPhoto").change(function() {
    	alert(".toUploadPhoto ok");
    	    readURL(this);
    	});
    	function ajaxFileUpload() {
    		$("#loading").ajaxStart(function() {
    	        $(this).show();
    	    }) @*开始上传文件时显示一个图片 *@ 
    	    .ajaxComplete(function(){ 
    	    	$(this).hide();
    	     });
    	    $.ajaxFileUpload({                  
    		url:"/fileUploadAction",                
    		secureuri:false,                  
    		fileElementId:'file',
    		dataType:'text/html',
    		success: function (data, status){ 
    		var reg = /<pre.+?>(.+)<\/pre>/g;  
            var result = data.match(reg); 
    		var objvalue=RegExp.$1;
    		var $obj=$('.imageoffileobjid');
    		alert("objlength.. "+$obj.length);
    		$obj.each(function(i){
    			var index=$obj.index($(this));
    			if(index==($obj.length-2)){
    			$(this).val(objvalue);
    			}
    		});
    		var sizes=$obj.size();
    		var arr1=$obj.get(0);
    		if(typeof(data.error) != 'undefined'){
    			if(data.error != ''){   
    				alert(data.error);                
    			}else{
    				alert(data.message);    
    			}           
    		}                 
    		},
    		error: function (data, status, e){
    			alert("files error"); 
    			alert(e);  
    		}             
    		})                   
    		return false;      
    	}        
    </script>
}

@accountField(field: Field, className: String = "account") = {
    @input(field, '_label -> Messages("salon.account"), '_class -> className) { (id, name, value, _) =>
        <input type="text" name="@name" value="@value">
        <a class="removeAccount btn danger">@Messages("optContactMethod.Remove")</a>
    }
}

@optContactMethodGroup(field: Field, className: String = "optContactMethod") = {
    <div class="twipsies well @className">

        <a class="removeoptContactMethod btn danger pull-right">@Messages("optContactMethod.RemoveOptContactMethod")</a>

        @inputText(
            field("contMethodType"),
            '_label -> Messages("user.contMethodType")
        )

        <div class="accounts">

            @repeat(field("accounts"), min = 0) { account =>

                @accountField(account)

            }

            @**
             * Keep an hidden block that will be used as template for Javascript copy code
             **@
            @accountField(
                field("accounts[x]"),
                className = "account_template"
            )

            <div class="clearfix">
                <div class="input">
                    <a class="addAccount btn success">@Messages("optContactMethod.AddNumber")</a>
                </div>
            </div>

        </div>

    </div>
}

@pictureGroup(field: Field, className: String = "salonPic") = {
    <div class="twipsies well @className">
        <a class="removeSalonPic btn danger pull-right">@Messages("salon.removePicture")</a>
        @inputText(
            field("fileObjId"), 
            '_label ->  Messages("salon.fileId"), 'placeholder -> new ObjectId, 'id -> "imageoffileobjid", 'class ->"imageoffileobjid"
        )
		@select(
            field ("picUse"), 
            options = options(
                "LOGO" -> Messages("salon.picUse.logo"),
                "Navigate" -> Messages("salon.picUse.Navigate"),
                "Atmosphere" -> Messages("salon.picUse.Atmosphere")
            ),
             '_label -> Messages("salon.picUse"),
             '_help -> Messages("")
        )	        
        @inputText(
            field("showPriority"), 
            '_label -> Messages("salon.showPriority")
        )
        @inputText(
            field("description"), 
            '_label -> Messages("salon.PicDescription")
        )
    </div>
    }  

    <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/ajaxfileupload.js")" type="text/javascript"></script>