@(salon: Salon)

<div class="faciGrp">
  @if(salon.salonFacilities.map(fac=>fac.canOnlineOrder).getOrElse(false)) {
    <div class="faciUnit canOnline">@Messages("salon.canOnlineOrderValue")</div>
  }
  @if(salon.salonFacilities.map(fac=>fac.canNominateOrder).getOrElse(false)) {
    <div class="faciUnit canNominate">@Messages("salon.canNominateOrderValue")</div>
  }
  @if(salon.salonFacilities.map(fac=>fac.canCurntDayOrder).getOrElse(false)) {
    <div class="faciUnit canCurntDay">@Messages("salon.canCurntDayOrderValue")</div>
  }
  @if(salon.salonFacilities.map(fac=>fac.canImmediatelyOrder).getOrElse(false)) {
    <div class="faciUnit canImmed">@Messages("salon.canImmediatelyOrderValue")</div>
  }
  @if(salon.salonFacilities.map(fac=>fac.isPosAvailable).getOrElse(false)) {
    <div class="faciUnit posAvail">@Messages("salon.posAvailable")</div>
  }
  @if(salon.salonFacilities.map(fac=>fac.hasParkingNearby).getOrElse(false)) {
    <div class="faciUnit hasPark">@Messages("salon.hasParkingNearByMsg")</div>
  }
  @if(salon.salonFacilities.map(fac=>fac.isWifiAvailable).getOrElse(false)) {
    <div class="faciUnit wifiAvail">@Messages("salon.isWifiAvailable")</div>
  }
  @if(salon.salonFacilities.map(fac=>fac.canMaleUse).getOrElse(false)) {
    <div class="faciUnit canMaleUse">@Messages("salon.canMaleUseValue")</div>
  }
  @if(salon.salonFacilities.map(fac=>fac.isPointAvailable).getOrElse(false)) {
    <div class="faciUnit pointAvail">@Messages("salon.isPointAvailValue")</div>
  }
 </div>
 
