@(salon: Salon)

<div class="sl_show_abj">
    @if(salon.salonFacilities.map(fac=>fac.canOnlineOrder).getOrElse(false)) {
        <div class="sl_show_an">@Messages("salon.canOnlineOrderValue")</div>
    }
    @if(salon.salonFacilities.map(fac=>fac.canImmediatelyOrder).getOrElse(false)) {
        <div class="sl_show_an">@Messages("salon.canImmediatelyOrderValue")</div>
    }
    @if(salon.salonFacilities.map(fac=>fac.canNominateOrder).getOrElse(false)) {
        <div class="sl_show_an">@Messages("salon.canNominateOrderValue")</div>
    }
    @if(salon.salonFacilities.map(fac=>fac.canCurntDayOrder).getOrElse(false)) {
        <div class="sl_show_an">@Messages("salon.canCurntDayOrderValue")</div>
    }
    @if(salon.salonFacilities.map(fac=>fac.isPointAvailable).getOrElse(false)) {
        <div class="sl_show_an">@Messages("salon.isPointAvailValue")</div>
    }
    @if(salon.salonFacilities.map(fac=>fac.canMaleUse).getOrElse(false)) {
        <div class="sl_show_an">@Messages("salon.canMaleUseValue")</div>
    }
    @if(salon.salonFacilities.map(fac=>fac.isWifiAvailable).getOrElse(false)) {
        <div class="sl_show_an">@Messages("salon.isWifiAvailable")</div>
    }
    @if(salon.salonFacilities.map(fac=>fac.hasParkingNearby).getOrElse(false)) {
        <div class="sl_show_an">@Messages("salon.hasParkingNearByMsg")</div>
    }
    @if(salon.salonFacilities.map(fac=>fac.isPosAvailable).getOrElse(false)) {
        <div class="sl_show_an">@Messages("salon.posAvailable")</div>
    }
</div>
 
