@(salonId: ObjectId, menuForm: Form[Menu], services: List[Service])

@import helper._

@form(routes.Menus.createMenu, 'id -> "menuForm") {
	<legend class="mainTitle">@Messages("menu.createMenuArea")</legend>
	<div class="menuInfo">
		<input type="hidden" name="salonId" value="@salonId" />
		
		@inputText(menuForm("menuName"), '_label -> Messages("menu.menuName"),
			'_error -> menuForm("menuName").error.map(_.withMessage(Messages("menu.addErrorMsg")))
            ,'_error -> menuForm.globalError
		)
		
		<fieldset class="serviceArea">
			<legend>@Messages("coupon.serviceArea")</legend>
			@input(field = menuForm("serviceItems"), args = '_label ->None){(id,name,value,args) =>
			 	@for(service <- services) {
			 		<div class="serviceItemArea">
			 			<input type = "checkbox" class="serviceItem" name = "serviceItems[@services.indexOf(service)].id", value = "@service.id">@service.serviceName
			 		</div>
			 	}
			  }
		</fieldset>
		
		@inputText(menuForm("description"), '_label -> Messages("coupon.description"))
	</div>	
	<div class="btnArea">
		<input type = "submit" class = "buttons" value="@Messages("service.addBton")">
	            
	    <input type = "reset" class = "buttons" value="@Messages("service.resetBton")">
    </div>
}