@(salon: Salon, menuForm: Form[Menu], services: List[Service], menu: Menu)

@import helper._

<div class="contentsTitleWrapper">
	<h2 class="contentsTitleInner">@Messages("menu.updateMenuArea")</h2>
</div>
@form(auth.routes.Menus.updateMenu(menu.id), 'id -> "menuForm", 'name -> "menuForm") {
	
	@if(menuForm.hasGlobalErrors) { 
          <div>
              <p>@menuForm.globalError.get.message<p>
          </div>
     }
	
	<input type="hidden" name="salonId" value="@salon.id" />
	<table cellspacing="0" class="wFull bdCell pCell10 bgThNml mT10">
	    <tbody>
	        <tr>
	            <th>
	                <!-- -->
	                <div class="dibBL vaM w154">
	                	<font class="cR">*</font>
	                   	@Messages("menu.menuName")
	                </div>
	            </th>
	            <td>
	                <div class="inputField">
	                	@inputText(menuForm("menuName"), '_label -> None, '_help -> Messages(""), 'id -> "menuName",
						'_error -> menuForm("menuName").error.map(_.withMessage(Messages("menu.menuNameRequired"))))
	                </div>
	            </td>
	        </tr>
	        <tr>
	            <th>
	                <!-- -->
	                <div class="dibBL vaM w154">
	                	<font class="cR">*</font>
	                   	@Messages("coupon.serviceArea")
	                </div>
	            </th>
	            <td>
	                <div class="inputField">
	                	@input(field = menuForm("serviceItems"), args = '_label ->None, '_error -> menuForm("serviceItems").error.map(_.withMessage(Messages("menu.menuServiceRequired")))){(id,name,value,args) =>
					 	@for(service <- services) {
					 		<div class="serviceItemArea">
						 		@if(Service.getServiceIdList(menu.serviceItems).contains(service.id)) {
						 			<input type = "checkbox" class="serviceItem" name = "serviceItems[@services.indexOf(service)].id", value = "@service.id" checked ="checked">@service.serviceName
						 		} else {
						 			<input type = "checkbox" class="serviceItem" name = "serviceItems[@services.indexOf(service)].id", value = "@service.id">@service.serviceName
						 		}
					 		</div>
					 	}
                       <dd class="info"></dd>
					  }
	                </div>
	            </td>
	        </tr>
	        <tr>
	            <th>
	                <!-- -->
	                <div class="dibBL vaM w154">
	                	<font class="cR">*</font>
	                   	@Messages("coupon.description")
	                </div>
	            </th>
	            <td>
	                <div class="inputField">
	                	@textarea(menuForm("description"), '_label -> None, 'rows -> 3, 'cols -> 50, '_help -> Messages("coupon.couponDiscriptionMsg"),
						 'id -> "description", '_error -> menuForm("description").error.map(_.withMessage(Messages("menu.menuDiscriptionErr"))))
	                </div>
	            </td>
	        </tr>
	     </tbody>
	</table>
	
	
	<div class="btnArea">
		<input type = "button" class = "buttons" value="@Messages("common.submit")" onclick="checksForMenu();">
	            
	    <a href="@auth.routes.Salons.myMenu"><input type = "button" class = "buttons" value="@Messages("common.backUp")"></a>
	</div>
}
<script src="@routes.Assets.at("javascripts/checksForForms.js")" type="text/javascript"></script>