@(salon: Salon, menuForm: Form[Menu], services: List[Service], menu: Menu)

@import helper._

@form(auth.routes.Menus.updateMenu(menu.id), 'id -> "menuForm") {
	<legend class="mainTitle">@Messages("menu.createMenuArea")</legend>
	<div class="menuInfo">
		<input type="hidden" name="salonId" value="@salon.id"/>
		@if(menuForm.hasGlobalErrors) { 
              <div>
                  <p align = center>@menuForm.globalError.get.message<p>
              </div>
         }
		
		@inputText(menuForm("menuName"), '_label -> Messages("menu.menuName"), 'readonly -> true)
		
		<fieldset class="serviceArea">
			<legend>@Messages("coupon.serviceArea")</legend>
			@input(field = menuForm("serviceItems"), args = '_label ->None, '_error -> menuForm("serviceItems").error.map(_.withMessage(Messages("menu.menuServiceRequired")))){(id,name,value,args) =>
			 	@for(service <- services) {
			 		<div class="serviceItemArea">
				 		@if(Service.getServiceIdList(menu.serviceItems).contains(service.id)) {
				 			<input type = "checkbox" class="serviceItem" name = "serviceItems[@services.indexOf(service)].id", value = "@service.id" checked ="checked">@service.serviceName
				 		} else {
				 			<input type = "checkbox" class="serviceItem" name = "serviceItems[@services.indexOf(service)].id", value = "@service.id">@service.serviceName
				 		}
			 		</div>
			 	}
			  }
		</fieldset>
		
		@textarea(menuForm("description"), '_label -> Messages("coupon.description"), '_error -> menuForm("description").error.map(_.withMessage(Messages("menu.menuDiscriptionErr"))))
	</div>	
	
	<div class="btnArea">
		<input type = "submit" class = "buttons" value="@Messages("common.submit")">
	            
	    <a href="@auth.routes.Salons.myMenu"><input type = "button" class = "buttons" value="@Messages("common.backUp")"></a>
	</div>
}