@(serviceTypeName: String)

<div class="singleMenuHead mT30 cFix">
		<p class="b fl"><span><font><font>@serviceTypeName</font></font></span></p>
</div>

<div>
	<table summary="summary" cellspacing="1" class="wFull bgLGray2 mT10 fs10 couponTable w765">
		<tbody>
			@for(service <- Service.getTypeList(serviceTypeName)) {
				<tr>
				<td class="w580 bgWhite">
					<a id="MN00000001062756" name="MN00000001062756"><!-- --></a>
					<div class="p10">
						<div class="">
							<div class="w560 b fs12 cFix">
								<p class="fl"><font><font>@service.serviceName</font></font></p>
								<p class="fr"><span class="fs13"><font><font>@service.servicePrice @Messages("coupon.currency")</font></font></span></p>
							</div>
						</div>
						<p class="mT5 fgGray fs10"><font><font>@Messages("menu.todoMessage")</font></font></p>
					</div>
				</td>
				<td class="bdWhite bgLLGray2 vaM">
					<div class="pV10 fs12">
					<div>
							<a href="http://beauty.hotpepper.jp/CSP/bt/reserve/?storeId=H000231733&amp;menuId=MN00000001062756&amp;addMenu=0&amp;rootCd=10" class="btn btn2H30 w120 mHA"><span><span class="fs12 b"><font><font>@Messages("menu.appointment")</font></font></span></span></a>
						</div>
						<div class="mT5 taC"><a href="http://beauty.hotpepper.jp/CSP/bt/reserve/?storeId=H000231733&amp;menuId=MN00000001062756&amp;addMenu=1&amp;rootCd=10" class="iS arrowR"><font><font>@Messages("coupon.addMenu")</font></font></a></div>
					</div>
				</td>
				</tr>
			}
			</tbody>
	</table>
</div>