@(styleSearchForm: Form[Style], styles: List[models.Style],stylePara : models.StylePara,isFirstSearch : Boolean)
@import helper._

<div>
    <h2>@Messages("hair.search")</h2>
    @if(isFirstSearch){
    <div>
        @form(routes.Styles.backstageStyleSearchList, 'id -> "styleSearchForm"){
            <br/>@Messages("hair.styleLength")<br/>
                      <input type = "radio" class = "" name = "styleLength" value = "all" checked="checked">@Messages("common.all")
	            @for(i <- 0 to stylePara.styleLength.length-1){
	                  <input type = "radio" class = "" name = "styleLength", value = "@stylePara.styleLength(i)">@stylePara.styleLength(i)
	            }
            <br/>@Messages("hair.impression")<br/>
                      <input type = "radio" class = "" name = "styleImpression" value = "all" checked="checked">@Messages("common.all")
	            @for(i <- 0 to stylePara.styleImpression.length-1){
	                  <input type = "radio" class = "" name = "styleImpression", value = "@stylePara.styleImpression(i)">@stylePara.styleImpression(i)
	            }
            @input(field = styleSearchForm("styleColor"),args = '_label ->Messages("hair.color")){(id,name,value,args) =>
                @for(i <- 0 to stylePara.styleColor.length-1){
                     <input type = "checkbox" class="" name = "styleColor[@i]", value = "@stylePara.styleColor(i)">@stylePara.styleColor(i)
                }
            }
            @input(field = styleSearchForm("serviceType"),args = '_label ->Messages("hair.serviceType")){(id,name,value,args) =>
                @for(i <- 0 to stylePara.serviceType.length-1){
                     <input type = "checkbox" class="" name = "serviceType[@i]", value = "@stylePara.serviceType(i)">@stylePara.serviceType(i)
                }
            }
            @input(field = styleSearchForm("styleAmount"),args = '_label ->Messages("hair.styleAmount")){(id,name,value,args) =>
                @for(i <- 0 to stylePara.styleAmount.length-1){
                     <input type = "checkbox" class="" name = "styleAmount[@i]", value = "@stylePara.styleAmount(i)">@stylePara.styleAmount(i)
                }
            }
            @input(field = styleSearchForm("styleQuality"),args = '_label ->Messages("hair.styleQuality")){(id,name,value,args) =>
                @for(i <- 0 to stylePara.styleQuality.length-1){
                     <input type = "checkbox" class="" name = "styleQuality[@i]", value = "@stylePara.styleQuality(i)">@stylePara.styleQuality(i)
                }
            }
            @input(field = styleSearchForm("styleDiameter"),args = '_label ->Messages("hair.styleDiameter")){(id,name,value,args) =>
                @for(i <- 0 to stylePara.styleDiameter.length-1){
                     <input type = "checkbox" class="" name = "styleDiameter[@i]", value = "@stylePara.styleDiameter(i)">@stylePara.styleDiameter(i)
                }
            }
            @input(field = styleSearchForm("faceShape"),args = '_label ->Messages("hair.faceShape")){(id,name,value,args) =>
                @for(i <- 0 to stylePara.faceShape.length-1){
                     <input type = "checkbox" class="" name = "faceShape[@i]" value = "@stylePara.faceShape(i)">@stylePara.faceShape(i)
                }
            }
            @input(field = styleSearchForm("consumerSocialStatus"),args = '_label ->Messages("hair.consumerSocialStatus")){(id,name,value,args) =>
                @for(i <- 0 to stylePara.consumerSocialStatus.length-1){
                     <input type = "checkbox" class="" name = "consumerSocialStatus[@i]" value = "@stylePara.consumerSocialStatus(i)">@stylePara.consumerSocialStatus(i)
                }
            }
            @input(field = styleSearchForm("consumerSex"),args = '_label ->Messages("hair.consumerSex")){(id,name,value,args) =>
                <input type = "radio" class = "" name = "consumerSex" value = "all" checked="checked">@Messages("common.all")
                @for(i <- 0 to stylePara.consumerSex.length-1){
                    <input type = "radio" class="" name = "consumerSex" value = "@stylePara.consumerSex(i)">@stylePara.consumerSex(i)
                }
            }
            @input(field = styleSearchForm("consumerAgeGroup"),args = '_label ->Messages("hair.consumerAgeGroup")){(id,name,value,args) =>
                @for(i <- 0 to stylePara.consumerAgeGroup.length-1){
                    <input type = "checkbox" class="" name = "consumerAgeGroup[@i]" value = "@stylePara.consumerAgeGroup(i)">@stylePara.consumerAgeGroup(i)
                }
            }
            <div align="center">
                <input type = "reset" class = "buttons" value=@Messages("service.resetBton")>
                <input type="submit" class = "buttons" value=@Messages("hair.search")>
            </div>
         }    
    </div>
    }else{
    <div>
        @form(routes.Styles.backstageStyleSearchList, 'id -> "styleSearchForm"){
            <br/>@Messages("hair.styleLength")<br/>
	                    <input type = "radio" class = "" name = "styleLength" value = "all" checked="checked">@Messages("common.all")
	            @for(i <- 0 to stylePara.styleLength.length-1){
	                @if(styleSearchForm.get.styleLength.equals(stylePara.styleLength(i))){
	                    <input type = "radio" class="" name = "styleLength", value = "@stylePara.styleLength(i)" checked="checked">@stylePara.styleLength(i)
	                }else{
	                    <input type = "radio" class="" name = "styleLength", value = "@stylePara.styleLength(i)">@stylePara.styleLength(i)
	                }
	            }
	        <br/>@Messages("hair.impression")<br/>
	                    <input type = "radio" class = "" name = "styleImpression" value = "all" checked="checked">@Messages("common.all")
	            @for(i <- 0 to stylePara.styleImpression.length-1){
	                @if(styleSearchForm.get.styleImpression.equals(stylePara.styleImpression(i))){
	                    <input type = "radio" class="" name = "styleImpression", value = "@stylePara.styleImpression(i)" checked="checked">@stylePara.styleImpression(i)
	                }else{
	                    <input type = "radio" class="" name = "styleImpression", value = "@stylePara.styleImpression(i)">@stylePara.styleImpression(i)
	                }
	            }
            @input(field = styleSearchForm("styleColor"),args = '_label ->Messages("hair.color")){(id,name,value,args) =>
                @for(i <- 0 to stylePara.styleColor.length-1){
                    @if(styleSearchForm.get.styleColor.contains(stylePara.styleColor(i))){
                          <input type = "checkbox" class="" name = "styleColor[@i]", value = "@stylePara.styleColor(i)" checked="checked">@stylePara.styleColor(i)
                    }else{
                        <input type = "checkbox" class="" name = "styleColor[@i]", value = "@stylePara.styleColor(i)">@stylePara.styleColor(i)
                    }
                }
            }
            @input(field = styleSearchForm("serviceType"),args = '_label ->Messages("hair.serviceType")){(id,name,value,args) =>
                @for(i <- 0 to stylePara.serviceType.length-1){
                    @if(styleSearchForm.get.serviceType.contains(stylePara.serviceType(i))){
                        <input type = "checkbox" class="" name = "serviceType[@i]", value = "@stylePara.serviceType(i)" checked="checked">@stylePara.serviceType(i)
                    }else{
                        <input type = "checkbox" class="" name = "serviceType[@i]", value = "@stylePara.serviceType(i)">@stylePara.serviceType(i)
                    }
                }
            }
            @input(field = styleSearchForm("styleAmount"),args = '_label ->Messages("hair.styleAmount")){(id,name,value,args) =>
                @for(i <- 0 to stylePara.styleAmount.length-1){
                    @if(styleSearchForm.get.styleAmount.contains(stylePara.styleAmount(i))){
                        <input type = "checkbox" class="" name = "styleAmount[@i]", value = "@stylePara.styleAmount(i)" checked="checked">@stylePara.styleAmount(i)
                    }else{
                        <input type = "checkbox" class="" name = "styleAmount[@i]", value = "@stylePara.styleAmount(i)">@stylePara.styleAmount(i)
                    }
                }
            }
            @input(field = styleSearchForm("styleQuality"),args = '_label ->Messages("hair.styleQuality")){(id,name,value,args) =>
                @for(i <- 0 to stylePara.styleQuality.length-1){
                    @if(styleSearchForm.get.styleQuality.contains(stylePara.styleQuality(i))){
                        <input type = "checkbox" class="" name = "styleQuality[@i]", value = "@stylePara.styleQuality(i)" checked="checked">@stylePara.styleQuality(i)
                    }else{
                        <input type = "checkbox" class="" name = "styleQuality[@i]", value = "@stylePara.styleQuality(i)">@stylePara.styleQuality(i)
                    }
                }
            }
            @input(field = styleSearchForm("styleDiameter"),args = '_label ->Messages("hair.styleDiameter")){(id,name,value,args) =>
                @for(i <- 0 to stylePara.styleDiameter.length-1){
                    @if(styleSearchForm.get.styleDiameter.contains(stylePara.styleDiameter(i))){
                        <input type = "checkbox" class="" name = "styleDiameter[@i]", value = "@stylePara.styleDiameter(i)" checked="checked">@stylePara.styleDiameter(i)
                    }else{
                        <input type = "checkbox" class="" name = "styleDiameter[@i]", value = "@stylePara.styleDiameter(i)">@stylePara.styleDiameter(i)
                    }
                }
            }
            @input(field = styleSearchForm("faceShape"),args = '_label ->Messages("hair.faceShape")){(id,name,value,args) =>
                @for(i <- 0 to stylePara.faceShape.length-1){
                    @if(styleSearchForm.get.faceShape.contains(stylePara.faceShape(i))){
                        <input type = "checkbox" class="" name = "faceShape[@i]", value = "@stylePara.faceShape(i)" checked="checked">@stylePara.faceShape(i)
                    }else{
                        <input type = "checkbox" class="" name = "faceShape[@i]", value = "@stylePara.faceShape(i)">@stylePara.faceShape(i)
                    }
                }
            }
            @input(field = styleSearchForm("consumerSocialStatus"),args = '_label ->Messages("hair.consumerSocialStatus")){(id,name,value,args) =>
                @for(i <- 0 to stylePara.consumerSocialStatus.length-1){
                    @if(styleSearchForm.get.consumerSocialStatus.contains(stylePara.consumerSocialStatus(i))){
                        <input type = "checkbox" class="" name = "consumerSocialStatus[@i]", value = "@stylePara.consumerSocialStatus(i)" checked="checked">@stylePara.consumerSocialStatus(i)
                    }else{
                        <input type = "checkbox" class="" name = "consumerSocialStatus[@i]", value = "@stylePara.consumerSocialStatus(i)">@stylePara.consumerSocialStatus(i)
                    }
                }
            }
            @input(field = styleSearchForm("consumerSex"),args = '_label ->Messages("hair.consumerSex")){(id,name,value,args) =>
                        <input type = "radio" class = "" name = "consumerSex" value = "all" checked="checked">@Messages("common.all")
                @for(i <- 0 to stylePara.consumerSex.length-1){
                    @if(styleSearchForm.get.consumerSex.equals(stylePara.consumerSex(i))){
                        <input type = "radio" class="" name = "consumerSex", value = "@stylePara.consumerSex(i)" checked="checked">@stylePara.consumerSex(i)
                    }else{
                        <input type = "radio" class="" name = "consumerSex", value = "@stylePara.consumerSex(i)">@stylePara.consumerSex(i)
                    }
                }
            }
            @input(field = styleSearchForm("consumerAgeGroup"),args = '_label ->Messages("hair.consumerAgeGroup")){(id,name,value,args) =>
                @for(i <- 0 to stylePara.consumerAgeGroup.length-1){
                      @if(styleSearchForm.get.consumerAgeGroup.contains(stylePara.consumerAgeGroup(i))){
                          <input type = "checkbox" class="" name = "consumerAgeGroup[@i]", value = "@stylePara.consumerAgeGroup(i)" checked="checked">@stylePara.consumerAgeGroup(i)
                    }else{
                        <input type = "checkbox" class="" name = "consumerAgeGroup[@i]", value = "@stylePara.consumerAgeGroup(i)">@stylePara.consumerAgeGroup(i)
                    }
                }
            }
            <div align="center">
                <input type = "reset" class = "buttons" value=@Messages("service.resetBton")>
             <input type="submit" class = "buttons" value=@Messages("hair.search")>
               </div>
         }    
    </div>
    }
</div>
<hr/>
<hr/>
<div>
       @for(i <- 0 to styles.length-1){
           <a href="" >
               <img src="#" class="" alt="@styles(i).styleName" >
           </a>
        <div class="layer jscLayer jscFixPng">
            <p>
                <a href="@routes.Styles.styleUpdate(styles(i).id)" >@Messages("common.edit")</a>
                <a href="@routes.Styles.styleToInvalid(styles(i).id,styles(i).isValid)" >@Messages("common.delete")</a>
            </p>
        </div>
        <div class="mT2">
            <a href="" class="rankingListInnerAnchor" >
                <p><span class="photoCaption">@styles(i).styleName</span></p>
            </a>
        </div>
       }
</div>
