@(styles: List[models.Style])
@import helper._

<div>
       @for(i <- 0 to styles.length-1){
       	<table class="styleItem">
		    <tbody>
			<tr>
			    <td class="vaT bdGrayR">
				<div class="w176 mHA">
				    <div class="mT10 fs16 taM">
					<a href="" >
		               <img src="@routes.Application.getPhoto(styles(i).stylePic(0).fileObjId)" alt="@styles(i).styleName" >
		           </a>
				    </div>
				     <p>
		                <a href="@routes.Styles.styleUpdate(styles(i).id)" >@Messages("common.edit")</a>
		                <a href="@routes.Styles.styleToInvalid(styles(i).id,styles(i).isValid)" >@Messages("common.delete")</a>
		            </p>
				</div>
				<div class="mT2">
		            <a href="" class="rankingListInnerAnchor" >
		                <p><span class="photoCaption">@styles(i).styleName</span></p>
		            </a>
		        </div>
				<div class="w156 mHA">
				    <div class="bdDotT mT10 pT5">
				    </div>
				</div>
			    </td>
			</tr>
		    </tbody>
		    <tbody>
			<tr>
			    <td colspan="4">
				<div class="separateLine">
				    &nbsp;
				</div>
			    </td>
			</tr>
		    </tbody>
		</table>
       }
</div>
