@(nailWithAllInfos: List[models.portal.nail.NailWithAllInfo])

<div class="searchResults">
    <span class="styleLength">@nailWithAllInfos.length</span>
    <span>@Messages("nail.searchResultMsg")</span>
</div>
@if(nailWithAllInfos.isEmpty){
<div class="bgAlertMsg mT20">
    <p class="alertMsg"> @Messages("nail.noNailSearched") </p>
</div>
}
@for(nailWithAllInfo <- nailWithAllInfos) {
<div class="styleContainer">
    <div class="styleResult h240">
        <a href="@noAuth.routes.Salons.getOneStyle(nailWithAllInfo.salonId, nailWithAllInfo.nail.id)">
            <img src="@routes.Application.getPhoto(nailWithAllInfo.nail.stylePic(0).fileObjId)"
                 class="w120 h150" alt="@nailWithAllInfo.nail.styleName">
        </a>
        <div class="layer jscLayer jscFixPng">
            <div class="mT2">
                <a href="javascript:void(0);" onclick="addFollow('@nailWithAllInfo.nail.id','nail')" class="bS db styleCollect mHA">
                    @Messages("nail.ToCollect")
                </a>
            </div>
            <p class="txtC">
                <a href="@noAuth.routes.Salons.getOneStyle(nailWithAllInfo.salonId, nailWithAllInfo.nail.id)">
                    @Messages("nail.detailInfo")
                </a>
            </p>
        </div>
        <div class="mT2">
            <a href="@noAuth.routes.Salons.getOneStyle(nailWithAllInfo.salonId, nailWithAllInfo.nail.id)"
               class="rankingListInnerAnchor">
                <p class="txtC">
                    <span class="photoCaption"> @nailWithAllInfo.nail.styleName </span>
                </p>
            </a>
        </div>
        <div class="mT2">
            <p class="rankingListShop txtC">
                <a href="@noAuth.routes.Salons.getSalon(nailWithAllInfo.salonId)">
                    @nailWithAllInfo.salonName
                </a>
            </p>
        </div>
    </div>
</div>
}
