@(nailSearchForm: Form[models.portal.nail.SearchPara], nailAndSalon: List[models.portal.nail.NailWithAllInfo], stylePara : models.portal.nail.StylePara, user:Option[models.portal.user.User])

@main(title = Messages("hair.tabName"), nav = "hair-catalog") {

  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/style/style.css")">
  <div>
    <div style="float:left;width:80%">
      <!-- models.portal.nail.Nail Ranking Result Page, SearchList. -->
      @views.html.nailCatalog.general.nailRankingList(nailAndSalon)
    </div>
    <div style="">
      <!-- ↓generalContentRightColumn -->
      @views.html.salon.general.rightColumn(user)
      <!-- ↑generalContentRightColumn -->
    </div>
  </div>
}
