@CHARSET "UTF-8";

.titleBlog {
text-align: center;
font-weight: bold;
color: #665555;
background-color: #E4E0D9;
padding: 3px;
}

.w187 {
width: 187px;
}

.blogS {
background-color: #7c25ff;
}

.cFix dl {
-webkit-margin-after: 0;
-webkit-margin-before: 0;
}

.mR70 {
	margin-right: 70px;
}

.blogCategoryLargeBL10 {
background-position: -2860px -40px;
display: block;
width: 232px;
height: 34px;
text-align: center;
color: white
}

.fs21 {
	font-size: 21px;
}

.titleBlogPublisher {
text-align: center;
font-weight: bold;
color: #CC4466;
background-color: #E4E0D9;
padding: 3px;
}

.bgDGray2 {
background-color: #F8F2EC;
}
