	@charset "utf-8";
/* CSS Document */
body{
	margin:0px; padding:0px; font-size:12px; line-height:22px; color:#333333;
	font-family: 'Microsoft YaHei', Arial, Helvetica, MS PGothic, sans-serif;
}
/*------------------------Start 解决12号字在google和傲游浏览器的不识别小于12号的英文字体-------------*/
html{-webkit-text-size-adjust:none;}
/*------------------------End 解决12号字在google和傲游浏览器的不识别小于12号的英文字体----------*/
div, h1, h2, h3, h4, p, form, label, input, textarea, img, span{
	margin:0px; padding:0px;
}

h1, h2 {
font-size: 12px;
}
body, input, select, table {
color: #333333;
border-spacing: 0;
font-size: 12px;
line-height: 1.5;
}
ul{
	margin:0px; padding:0px; list-style-type:none;
}
dl{
	margin:0px;	padding:0px; list-style-type:none;
}
dd{
	margin:0px;
}
a{
	color:#333333;
	text-decoration:none;
}
a:hover{
	color:#993d46;
	text-decoration:underline;
}
.link-green{
	color: #000;
	text-decoration:none;
}
.link-green:hover{
	color: #c9404d;
	text-decoration:underline;
}

img{
	font-size:0px;
	line-height:0px;
	vertical-align:bottom;
	border:0px;
}
/*--Start 分页样式---------*/
.List_page{text-align:center;margin:8px;font-family:"宋体";clear:both; padding:15px 0px;}
.List_page a{background:#fff;margin:1px;padding:4px 6px;border:1px solid #333;color:#333;font-family:"宋体";}
.List_page span{background:#e1e1e1;color:#000;margin:1px;padding:4px 6px;border:1px solid #333;font-family:"宋体";}
/*--End 分页样式---------*/

#top01_bg{
	background:#d1c7be repeat-x;
	width:100%;
	height:23px; color:#FFF; line-height:1.3em
}
#top01_word{
	width:990px;
	margin:0 auto;
	clear:both;
	overflow:hidden;
	line-height:28px;
}
#top_bg{
	background:url(/assets/images/top_bg.jpg) repeat-x;
	height:64px;
	width:100%;
	margin:0 auto;
	clear:both;
	overflow:hidden;
}
#top{
	width:990px;
	margin:0 auto;
	clear:both;
	overflow:hidden;
}
#top img.logo{
	float:left;
	margin-top: 8px;
}
#top_right{
	width:830px;
	float:right;
}
#headerWrapper {
	border-bottom: 3px solid #BFB4AB;
	border-top: 14px solid #BFB4AB;
	zoom: 1;
}
#header {
width: 1000px;
margin: 0 auto -2px;
position: relative;
}
#headSummary {
font-size: 10px;
font-weight: normal;
color: #FFFFFF;
padding-left: 18px;
margin-top: -16px;
position: absolute;
}
#top_list{
	height:32px;
	float:right;
}
#top_list ul li{
	float:left;
	padding:0 10px;
	line-height:32px;
}
#top_list ul li.sc{
	background:url(/assets/images/pot01.jpg) no-repeat left;
	padding-left:12px;
}
#top_list ul li.sc a{
	color:#913a43;
}
#top_list ul li.sc a:hover{
	color:#1d6e76;
}
#nav{
	width:830px;
	clear:both;
	overflow:hidden;
	height:32px;
}
#nav ul li{
	float:left;
	padding:0 2px;
}
#nav ul li a{
	background:url(/assets/images/nav_btn.jpg) no-repeat 0 1px;
	width: 130px;
	height: 32px;
	line-height: 32px;
	font-size: 14px;
	font-family: "微软雅黑";
	display: block;
	text-align: center;
	color: #000;
	background-size: 130px 32px;
}
#nav ul li a:hover{
	background:url(/assets/images/nav_btn_.jpg) no-repeat;
	text-decoration:none;
	color:#f36d7a;
	background-size: 130px 32px;
}
#nav ul li.btn a {
background: url(/assets/images/nav_btn_.jpg) no-repeat;
width: 113px;
height: 32px;
line-height: 32px;
font-size: 14px;
font-family: "微软雅黑";
display: block;
text-align: center;
text-decoration: none;
color: #f36d7a;
}
#by_hot_search{
	width:990px;
	margin:0 auto;
	clear:both;
	overflow:hidden;
}
#by{
	width:400px;
	float:left;
	font-size:18px;
	height:32px;
	line-height:32px;
	padding-top:38px;
	font-family:"微软雅黑";
}
#top_search_hotlist{
	width:410px;
	float:right;
	padding-top:10px;
}
#top_search{
	width:400px;
	border:3px solid #f36d7a;
	height:26px;
	clear:both;
	overflow:hidden;
}
#top_search form{
	clear:both;
	overflow:hidden;
}
#top_search form select{
	border:0px;
	padding-top:2px;
	padding-bottom:2px;
	float:left;
	border:none;
}
#uboxstyle .select_box{width:94px;height:26px; float:left; border:0px;}
#uboxstyle div.tag_select{display:block;color:#000000;width:84px;height:26px;background:transparent url("/assets/images/ubox-select.jpg") no-repeat 0 0;padding:0 10px;line-height:26px;}
#uboxstyle div.tag_select_hover{display:block;color:#ff0000;width:84px;height:26px;background:transparent url("/assets/images/ubox-select.jpg") no-repeat 0 0px;padding:0 10px;line-height:26px;}
#uboxstyle div.tag_select_open{display:block;color:#79A2BD;width:84px;height:26px;background:transparent url("/assets/images/ubox-select.jpg") no-repeat 0 0px;padding:0 10px;line-height:26px;}
/*选中的颜色*/
#uboxstyle ul.tag_options{position:absolute;padding:0 0px;margin:0;list-style:none; border:1px solid #e7be7d; background-color:#fff; color:#000000; width:92px;}
#uboxstyle ul.tag_options li{ display:block; text-decoration:none;color:#000000; padding:0 10px;}

#uboxstyle ul.tag_options li.open_hover{ background-color:#e7be7d; color:#fff; }
#uboxstyle ul.tag_options li.open_selected{ background-color:#e7be7d; color:#fff; }
.yS		{ background-image: url(/assets/images/y.png); }

#top_search form input.txt{
	width:270px;
	height:26px;
	line-height:26px;
	float:left;
	color:#333333;
	border:0px;
}
#top_search form input.btn{
	height:26px;
	background-color:#f36d7a;
	width:44px;
	border:0px;
	line-height:26px;
	text-align:center;
	color:#fff;
	cursor:hand;
	float:right;
}
#hotlist{
	width:410px;
	clear:both;
	overflow:hidden;
	line-height:30px;
	text-align:right;
}
#hotlist a{
	color:#666;
}
#hotlist a:hover{
	color:#333;
}


#banner{
	width:990px;
	margin:0 auto;
	clear:both;
	overflow:hidden;
}
.mainImage_navi{width:990px; height:397px; margin:0 auto;}
.mainImage_navi a{ text-indent: -9999px; text-decoration: none; display: block; width: 230px; background-repeat: no-repeat;
}
.mainImage_navi a:hover { text-indent: -9999px; text-decoration: none; display: block; width: 230px; background-repeat: no-repeat;
}
.mainImage{    width:760px; height:397px; float:left;}

/* index4.html */
.imgNaviWrapper	{
	width: 230px;
	float: left;
	position: relative;
}
.naviBar	{
	position: absolute;
	width: 10px;
	height: 100px;
	background-color: #393021;
}
.mainImage	{
	position: relative;
}
.mainImage li	{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 98;
}
.mainImage li.current	{
	z-index: 100;
}
.mainImage li.prevCurrent	{
	z-index: 99;
}
.mainImage_navi	{
	width: auto;
}

.hair_reserve{ width:230px; height:99px; float:left;}
.nail_reserve{ width:230px; height:99px; float:left;}
.relax_reserve{width:230px; height:99px; float:left;}
.esthe_reserve{width:230px; height:100px; float:left;}

.hair_reserve a {
	background: url(/assets/images/mainImg_Btn.png) 0 0 no-repeat;
	width: 230px;
	height: 99px;
}
.hair_reserve a:hover {
	background-position: 0 -100px;
}
.nail_reserve a {
	background: url(/assets/images/mainImg_Btn.png) -230px 0 no-repeat;
	width: 230px;
	height: 99px;
}
.nail_reserve a:hover {
	background-position: -230px -100px;
}
.relax_reserve a {
	background: url(/assets/images/mainImg_Btn.png) -460px 0 no-repeat;
	width: 230px;
	height: 99px;
}
.relax_reserve a:hover {
	background-position: -460px -100px;
}
.esthe_reserve a {
	background: url(/assets/images/mainImg_Btn.png) -690px 0 no-repeat;
	width: 230px;
	height: 100px;
}
.esthe_reserve a:hover {
	background-position: -690px -100px;
}

.sliderBar {
	position: absolute;
	top: 0;
	right: 220px;
	width: 10px;
	height: 100px;
	background-color: #f55a6c;
}

.plugWrapper {
	margin-top:-1px;
	font-size:0;     /* cFixによる空白解除用 */
	display: block;  /* cFixによる空白解除用 */
}
.plugWrapper div.w421{
	margin-top:21px;
	font-size:12px;
}

/*--end banner--*/
#container{
	width:990px;
	margin:0 auto;
	clear:both;
	overflow:hidden;
	padding:15px 0px;
}
#left{
	width:795px;
	float:left;
}
#pl{ width:210px; float:right}

#index_zxfx{
	width:565px;
	float:left;
}
#index_zxfx h2{
	border-top:1px solid #e1e1e1;
	clear:both;
}
#index_zxfx_nr{
	width:565px;
	clear:both;
	overflow:hidden;
	padding:10px 0px;
}
#index_zxfxleft{
	width:220px;
	float:left;
}
	#index_zxfxleft_box {
		TEXT-ALIGN: center; CLEAR: both;
	}
	#index_zxfxleft_box h3 {
		margin:0px; padding:0px 0px 0px 0px; width:90px;  float:left; 
	}
	#index_zxfxleft_box h3.menuOn {
		cursor:hand; width:90px; float:left; border:5px solid #b9b9b9; margin:5px;
	}
	#index_zxfxleft_box h3.menuNo {
		cursor:hand; width:90px; float:left; border:5px solid #cdcdcd; margin:5px;
	}
	#index_zxfxleft div.index_zxfxleftList_none {
		DISPLAY: none; CLEAR: both
	}
	#index_zxfxleft div.index_zxfxleftList {
		width:220px;
		clear:both;
	}

#index_zxfx_pic li.one{
	width:220px;
	float:left;
	position:relative;
	background:none;
	padding:0px;
	font-size:12px;
	font-weight:normal;
	clear:both;
	overflow:hidden;
}
#index_zxfx_pic li.one span{
	display:block;
	text-align:center;
	top:190px;
	color:#FFF;
	position:absolute;
	height:60px;
	line-height:30px;
	width:220px;
	left:0px;
	background:rgba(0, 0, 0, 0.5) none repeat scroll 0 0 !important;
	filter:Alpha(opacity=50); 
	background:#000000;/*实现IE背景透明 （这里是关键）*/
}
#index_zxfx_pic span a{
	color:#FFF;
}
#index_zxfx_pic span a:hover{
	color:#fff;
}
/*--切换--*/

#left_container{
	width:795px;
	clear:both;
	overflow:hidden;
}
#left01{
	width:425px;
	float:left;
}
#left02{
	width:354px;
	float:right;
}

#index_nail{
	width:425px;
	float:left;
}
#index_nail h2{
	border-top:1px solid #e1e1e1;
	clear:both;
}
 #index_nail_nr{
	width:425px;
	clear:both;
	overflow:hidden;
	padding:10px 0px;
}
#index_nail_nr ul li{
float:left;
padding:10px 30px 10px 0px;
}
#index_nail_nr ul li.right{
padding-right:0px;
}
#index_nail_nr ul li span{
display:block;
text-align:center;
}
 #index_nail_nr dl{
	width:205px;
	float:left;
	padding:10px 10px 10px 0px;
}
#index_nail_nr dl.right{
	padding-right:0px;
}
 #index_nail_nr dl dt{
	width:115px;
	float:right;
}
#index_nail_nr dl dd.pic{
	width:80px;
	float:left;
}
 #index_nail_nr dl dd.txt{
	width:115px;
	line-height:18px;
	float:right; color:#999
}
 #index_nail_nr dl dd.more{
	width:115px;
	float:right;
	text-align:right;
}
/*------------------end 推荐沙龙---------------------*/


#index_ps{
	width:354px;
	clear:both;
	overflow:hidden;
}
#index_ps h2{
	border-top:1px solid #e1e1e1;
	clear:both;
}
#index_ps_nr{
	width:354px;
	clear:both;
	overflow:hidden;
	padding:10px 0px;
}
#index_ps_nr ul li{
	width:167px;
	float:left;
	position:relative;
	margin:15px 15px 0px 0px;
}
#index_ps_nr ul li.right{
	margin-right:0px;
}
#index_ps_nr ul li span{
	display:block;
	text-align:center;
	top:80px;
	color:#FFF;
	position:absolute;
	height:30px;
	line-height:30px;
	width:167px;
	left:0px;
	background:rgba(0, 0, 0, 0.5) none repeat scroll 0 0 !important;
	filter:Alpha(opacity=50); 
	background:#000000;/*实现IE背景透明 （这里是关键）*/
}
#index_ps_nr ul li span a{
	color:#FFF;
}
#index_ps_nr ul li span a:hover{
	color:#fff;
}


/*-------------------------------------------end left-------------------------------*/
#right{
	width:180px;
	float:right;
}
#index_member{
	width:180px;
	clear:both;
	overflow:hidden; margin-bottom:8px
}
#index_member h2{
	background:url(/assets/images/right_member_title.jpg) no-repeat;
	width:180px;
	height:55px;
	clear:both;
	overflow:hidden;
}
#index_member h3{
	background:url(/assets/images/right_member_title1.jpg) no-repeat;
	width:180px;
	height:36px;
	clear:both;
	overflow:hidden;
}
#index_member_nr{
	background:url(/assets/images/right_member_bg.jpg) repeat-y;
	width:180px;
	clear:both;
	overflow:hidden;
}
#index_member_nr p.ad{
	width:155px;
	height:45px;
	padding:5px;
	font-family:"微软雅黑";
	color: #FFF; 
	padding-top:2px; 
	font-size:13px;
	text-align:center;
	clear:both;
	overflow:hidden;
	margin:0 auto;
	background:url(/assets/images/right_member_pic.jpg) no-repeat;
}
#index_member_nr p.fk{
	clear:both;
	overflow:hidden;
	text-align:center;
}
#index_member_nr p.hydl{
	width:165px;
	margin:0 auto;
	clear:both;
	overflow:hidden;
	background: url("/assets/images/right_member_btn.jpg");
	height: 28px;
	line-height: 28px;
	font-size: 15px;
	text-align: center;
}
#index_member_nr p.hydl a {
	width: 165px;
	height: 28px;
	display: block;
	color: #f45e6a;
}
#index_member_nr p.hydl span {
	color: #f45e6a;
	font-weight: bold;
}
#index_member_nr ul{
	width:140px;
	margin:0 auto;
	clear:both;
	overflow:hidden;
	padding:3px 0px;
}
#index_member_nr ul li{
	clear:both;
	overflow:hidden;
	line-height:24px;
	color:#1d6e76;
}
#index_member_bottom{
	width:180px;
	clear:both;
	overflow:hidden;
	background:url(/assets/images/right_member_bottom.jpg) no-repeat;
	height:5px;
	font-size:0px;
	line-height:0px;
}

#index_faq{
	width:180px;
	clear:both;
	overflow:hidden;
	padding-bottom:10px;
}
#index_faq h2{
	background:url(/assets/images/right_aq_title.jpg) no-repeat;
	width:180px;
	height:36px;
	clear:both;
	overflow:hidden;
}
#index_faq_nr{
	background:url(/assets/images/right_aq_bg.jpg) repeat-y;
	width:180px;
	clear:both;
	overflow:hidden;
}
#index_faq_nr ul{
	width:140px;
	margin:0 auto;
	clear:both;
	overflow:hidden;
	padding:10px 0px;
}
#index_faq_nr ul li{
	line-height:24px;
}
#index_faq_bottom{
	background:url(../images/right_aq_bottom.jpg) no-repeat;
	width:180px;
	height:10px;
	font-size:0px;
	line-height:0px;
}
#index_blog{
	width:180px;
	clear:both;
	overflow:hidden;
	padding-bottom:10px;
}
#index_blog h2{
	background:url(../images/right_blog_title.jpg) no-repeat;
	width:180px;
	height:40px;
	clear:both;
}
#index_blog_nr{
	background:url(../images/right_blog_bg.jpg) repeat-y;
	width:180px;
	clear:both;
	overflow:hidden;
}
#index_blog_nr dl{
	width:140px;
	margin:0px auto;
	clear:both;
	overflow:hidden;
	padding:10px 0px;
}
#index_blog_nr dl dt{
	width:75px;
	float:right;
}
#index_blog_nr dl dd.pic{
	width:58px;
	float:left;
}
#index_blog_nr dl dd.btn{
	width:75px;
	float:right;
}
#index_blog_bottom{
	background:url(../images/right_blog_bottom.jpg) no-repeat;
	width:180px;
	height:9px;
	font-size:0px;
	line-height:0px;
	clear:both;
}
#right_adlist{
	width:180px;
	clear:both;
	overflow:hidden;
}
#right_adlist ul li{
	padding-bottom:10px;
	clear:both;
}


#footer{
	width:1000px;
	margin:0 auto;
	clear:both;
	overflow:hidden;
	position: relative;
	padding-bottom: 10px;
}
#footer_logo{
	width:250px;
	float:left;
}
#footer_right{
	width:740px;
	text-align:right;
	float:right;
	line-height:30px;
}

#copyrightnew {
float: left;
margin: 10px 10px 0 10px;
}

.postSalonInfo {
	position: absolute;
	top: 20px;
	left: 320px;
	background: url("/assets/images/icon_postsalon.png") no-repeat left 10px;
	padding-left: 20px;
	line-height: 36px;
	font-weight: bold;
}
.postSalonInfo a {
	margin-left: 5px;
	font-weight: normal;
}

#footerLinks {
	font-size: 10px;
	overflow: hidden;
	position: absolute;
	top: 25px;
	right: 30px;
}
#footerLinks li {
	float: left;
	border-right: 1px solid #DDD;
	padding-right: 15px;
	*padding-right: 16px;
	margin-left: 15px;
	margin-right: -1px;
}

.right {
float: right;
}

#index_blog_nr ul li {
	margin-top: -1px;
}

.b {
font-weight: bold !important;
}

.grayPointBody {
background-position: -486px 0;
background-repeat: repeat-y;
padding-left: 5px;
padding-right: 5px;
padding-top: 1px;
}

.y4S {
background-image: url(/assets/images/y4.png);
}

.grayPointBodyHead {background-position: -324px top; background-repeat: no-repeat; padding-top: 6px; margin: auto; width: 162px;}
.grayPointBodyBox {background-position: -648px bottom; background-repeat: no-repeat; padding-bottom: 6px;}

.fs10 {
font-size: 10px;
}

.grayPointBody p {
color: #FFF;
font-weight: bold;
line-height: 120%;
font-size: 10px;
}

.usePointBodyBox {
background-position: -162px bottom;
background-repeat: no-repeat;
padding-bottom: 6px;
}

.grayPointBody p span, .usePointBody p span {
font-size: 16px;
line-height: 110%;
}

.bl {
border: 1px solid #545651;
}

.h489 {
	height: 489px;
}

.w100p {
    width : 100%;
}

.w768 {
    width : 768px;
}
}

.h100 {
height: 100px;
}

.w89 {
	width: 89px;
}

.brL {
	border: 1px solid;
}

.h162 {
	height: 162px;
}

.cR {
	color: red;
}

.errorMsg{
		color:red;
		background-image:url(/assets/images/vadtion/unchecked.png);
		background-repeat:no-repeat;
		padding-left:20px;
}
.trueMsg{
	color:green;
	background-image:url(/assets/images/vadtion/checked.png);
	background-repeat:no-repeat;
	width: 15px;
	height: 15px;
    padding-left: 20px;
}

.inputField {
margin: 15px 5px;
}

.lt {
	text-decoration: line-through;
}

.pointerCursor {
  cursor: pointer;
}

.mainContentsSecondTitleInnerForAdmin {
line-height: 21px;
border-bottom: 1px solid #666666;
background: none;
padding-bottom: 1px;
font-size: 14px;
font-weight: bold;
color: #444444;
padding: 3px;
}

.searchBtn {
background: #f09499;
vertical-align: middle;
width: 60px;
height: 28px;
border: none;
color: #fff;
cursor: pointer;
}

.serviceItemArea {
float: left;
min-width: 120px;
margin: 5px 0;
}

.btnArea {
border-top: 1px solid #dedddc;
margin-top: 10px;
text-align: center;
}

div.btnArea .buttons{
background: #f09499;
margin-top: 30px;
width: 50px;
height: 28px;
border: none;
color: #fff;
margin-right: 20px;
cursor: pointer;
padding: 0;
}

.buttons {
background: #f09499;
padding: 7px;
border: none;
color: #fff;
cursor: pointer;
}

a:hover.buttons {
	text-decoration: none;
	color: #fff;
}


div.input input[type="text"] {
    width:200px;
}

.sl_show_xx{
width: 120px;
height: 20px;
overflow: hidden;
clear: both;
background: url("/assets/images/sl_show_dpan_02.jpg") repeat-x 0 -1px;
font-size: 10px;
padding-top: 2px;
}

.sl_show_xx a {
color: #333333;
text-decoration: none;
display: block;
}

.sl_show_xy{
width: 142px;
height: 31px;
overflow: hidden;
clear: both;
background: url("/assets/images/sl_show_dpan3.jpg") repeat-x;
font-size: 10px;
padding-top: 5px;
margin-left: auto;
margin-right: auto
}

.sl_show_xy a {
color: #333333;
text-decoration: none;
display: block;
}

.sl_show {
float: right;
}

.searchCoupon {
width: 80px;
height: 30px;
}

.w349 {
width: 349px;
}

.w478 {
width: 478px;
}

.hMin50 {
min-height: 50px;
}

.hMin119 {
min-height: 119px;
_height: 119px;
}

.w8em {
width: 8em;
}

.w636 {
width: 636px;
}

.w427 {
width: 427px;
}

.w91 {
width: 91px;
}

.w85 {
width: 85px;
}

.h91 {
height: 91px;
}

.w190 {
width: 190px;
}

.pT40 {
padding-top: 40px;
}

.bS	{
background-image: url(/assets/images/btn1.png);
background-repeat: no-repeat;
background-color: transparent;
border: 0;
}

.styleCollect {
height: 25px;
background-position: -511px 0;
width: 120px;
text-align: center;
line-height: 25px;
margin: 5px;
}

.styleCollect:hover {
background-position: -511px -25px;
}

.lh34 {
line-height: 34px;
}

.fgBlue {
color: #0000FF;
}

.w166 {
width: 166px;
}

.bgThNml th {
background-color: #EEEBE4;
}

.fs24 {
font-size: 24px;
}

.m1 {
margin: 1px;
}

.w60 {
width: 60px;
}

.h80 {
height: 80px;
}

/*-- footer --*/
.footercontents {
	background:#FFFFFF;
	border-top: 1px solid #DDDDDD;
	margin: 20px auto 0;
	}
#copyright {
	position: absolute;
	top: 10px;
	left: 30px;
}

#copyrightnew p a {
	font-size: 10px;
	font-weight: bold;
	font-family: 'Microsoft YaHei', Arial, Helvetica, MS PGothic, sans-serif;
	line-height: 2;
	color: #435B67 !important;
	text-decoration: underline !important;
}
/*-- footer --*/

/* clearfix */
.cFix:after {
	content: "";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
.cFix	{ min-height: 1px; _height: 1px; }

#wrapper {
	width: 1000px;
	margin: 0 auto;
	position: relative;
}
/*-- salon footer --*/
.salonMainContentsFooter {
margin-top: 20px;
}

#salonBottomSummary {
color: #666666;
text-align: right;
}
/*-- salon footer --*/

/* table? */
.bdCell {
	border-top: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
}
.bdCell th,
.bdCell td {
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
}

.pCell10 th, .pCell10 td {
padding: 5px;
}

.bdCell tr {
display: table-row;
vertical-align: inherit;
border-color: inherit;
}

.fgThNml th {
	font-weight: bold;
}

.vaThT th {
	vertical-align: top;
}

.pCellV10H12 th,
.pCellV10H12 td {
	padding: 10px 12px;
}

dd.error {
color: red;
}
/* table? */
/* title */
.mainContentsTitleOuter { background: none; }
.mainContentsSecondTitleInner {
 line-height: 21px;
 border-bottom: 1px solid #666666;
 background: url('/assets/images/icon_heading.png') no-repeat 0 1px;
 padding-left: 25px;
 padding-bottom: 1px;
 font-size: 15px;
 font-weight: bold;
 color: #444444;
  }
.mainContentsTitleInner h2		{ font-size: 18px; }

.mainContentsSecondTitleOuter {
background: none;
}

.contentsTitleWrapper {
background: none;
}

.contentsTitleInner {
height: 15px;
border-bottom: 1px solid #988989;
background: url("/assets/images/icon_heading.png") no-repeat 0 1px;
padding-left: 25px;
padding-bottom: 7px;
font-size: 15px;
font-weight: bold;
color: #444444;
}
/* title */
/* common */
.w765 {
	width: 765px;
}

.txtC {
	text-align: center;
}

.mL50 {
	margin-left: 50px;
}

.hMin30 {
min-height: 30px;
_height: 30px;
}
/* common */

.detailTitle,
.detailTitle a {
	font-size: 18px;
	font-weight: bold;
	color: #333333 !important;
	text-decoration: none !important;
}

#preContents {
	padding: 0 20px;
}

#contents {
	margin-top: 8px;
	padding: 0 20px;
	min-height: 300px;
	_height: 300px;
}

#sideContents {
	float: right;
	width: 180px;
}

#mainContents {
	float: left;
	width: 960px;
}

.usePointBody{
	background-position: 0 0;
	background-repeat: repeat-y;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 7px;
}

.sideShortcutSearchBox {
	margin-top: -1px;
}

.pankuzu {
	float: left;
	font-size: 10px;
	padding: 0;
}

.pankuzu li {
	display: inline;
}

.pankuzu strong {
	font-weight: normal;
}

.sideShortcutSearchCassette {
	border-top: 1px dotted #CCCCCC;
	padding-top: 10px;
	margin-bottom: 10px;
}

.bdImgGray	{ border: 1px solid #EEE; }

.cbF {
	height: 1.5em;
	vertical-align: middle;
	margin: 0 5px 0 5px;
	padding: 0;
}

.skinHeadingWrapper {
	height: 12px;
	border-bottom: 1px solid #959595;
	background: url(/assets/images/img/bt/icons/icon_heading_bt.png) no-repeat 0 0;
	padding-left: 24px;
	padding-bottom: 9px;
	line-height: 18px;
}

	height: 12px;
	border-bottom: 1px solid #959595;
	background: url(/assets/images/img/bt/icons/icon_heading_bt.png) no-repeat 0 0;
	padding-left: 24px;
	padding-bottom: 9px;
	line-height: 16px;
	/*display:none;*/    /*ヘアカタログサイト時使用*/
}

div.skinHeadingWrapper2 {
	height: 12px;
	border-bottom: 1px solid #959595;
	background: url(/CSP/img/top/icons/icon_heading.png) no-repeat 0 0;
	padding-left: 24px;
	padding-bottom: 9px;
	line-height: 18px;
	position: static;
	display: block !important;
}

.skinHeadingWrapper h3,
.skinHeadingWrapper1 h3,
.skinHeadingWrapper2 h3 {
	font-size:13px;
	color:#444444;
	font-family: 'Microsoft YaHei', Arial, Helvetica, MS PGothic, sans-serif; 
}

.skinHeadingCaption {
	display: none;
}

/* WIDTH */
.wFull	{ width: 100%; }
.w89	{ width: 89px; }
.w98	{ width: 98px; }
.w100	{ width: 100px; }
.w130	{ width: 130px; }
.w150	{ width: 150px; }
.w160	{ width: 160px; }
.w180	{ width: 180px; }
.w200	{ width: 200px; }
.w273	{ width: 273px; }
.w421	{ width: 421px; }
.w557	{ width: 557px; }
.w501 { width: 501px; }
.w151 { width: 151px; }
.w76	{ width: 76px; }
.w80	{ width: 80px; }
.w105	{ width: 105px; }
.w110	{ width: 110px; }
.w112	{ width: 112px; }
.w115	{ width: 115px; }
.w120	{ width: 120px; }
.w154	{ width: 154px; }
.w170	{ width: 170px; }
.w194	{ width: 194px; }
.w218	{ width: 218px; }
.w221	{ width: 221px; }
.w222	{ width: 222px; }
.w240	{ width: 240px; }
.w295	{ width: 295px; }
.w380	{ width: 380px; }
.w440	{ width: 440px; }
.w500	{ width: 500px; }
.w580	{ width: 580px; }
.w620	{ width: 620px; }
.w745	{ width: 745px; }
.w397 { width: 397px; }
.w554 { width: 554px; }
.w534 { width: 534px; }
.w146 { width: 146px; }
.w164 { width: 164px; }
.w176 { width: 176px; }
.w137 { width: 137px; }
.w166 { width: 166px; }


.hMin19 {
min-height: 19px;
_height: 19px;
}

/* HEIGHT */
.h200	{ height: 200px; }
.h119	{ height: 119px; }
.h150	{ height: 150px; }
.h219 { height: 219px; }
.h122 { height: 122px; }
.h240 { height: 240px; }

/* LINE-HEIGHT */
.lhDe	{ line-height: 1; }
.lh16	{ line-height: 16px; }
.lh18	{ line-height: 18px; }
.lh13	{ line-height: 13px; }
.lh23	{ line-height: 23px; }

/* MARGIN */
.mT2	{ margin-top: 2px; }
.mT3	{ margin-top: 3px; }
.mT5	{ margin-top: 5px; }
.mT7	{ margin-top: 7px; }
.mT8	{ margin-top: 8px; }
.mT10	{ margin-top: 10px; }
.mT13	{ margin-top: 13px; }
.mT14	{ margin-top: 14px; }
.mT15	{ margin-top: 15px; }
.mT20	{ margin-top: 20px; }
.mT25	{ margin-top: 25px; }
.mT30	{ margin-top: 30px; }
.mT34	{ margin-top: 34px; }
.mT40	{ margin-top: 40px; }
.mT6	{ margin-top: 6px; }
.mT50	{ margin-top: 50px; }

.mR1	{ margin-right: 1px; }
.mR2	{ margin-right: 2px; }
.mR5	{ margin-right: 5px; }
.mR10	{ margin-right: 10px; }
.mR15	{ margin-right: 15px; }
.mR20	{ margin-right: 20px; }
.mR30	{ margin-right: 30px; }
.mR40	{ margin-right: 40px; }
.mR3	{ margin-right: 3px; }
.mR8	{ margin-right: 8px; }

.mL4	{ margin-left: 4px; }
.mL5	{ margin-left: 5px; }
.mL10	{ margin-left: 10px; }
.mL20	{ margin-left: 20px; }
.mL2	{ margin-left: 2px; }

.mB5	{ margin-bottom: 5px; }
.mB10	{ margin-bottom: 10px; }
.mB15	{ margin-bottom: 15px; }
.mB20	{ margin-bottom: 20px; }

.mHA	{ margin-left: auto; margin-right: auto; }

/* PADDING */
.pT3	{ padding-top: 3px; }
.pT5	{ padding-top: 5px; }
.pT10	{ padding-top: 10px; }
.pT15	{ padding-top: 15px; }
.pT2	{ padding-top: 2px; }

.pR2	{ padding-right: 2px; }
.pR5	{ padding-right: 5px; }
.pR10	{ padding-right: 10px; }
.pR20	{ padding-right: 20px; }

.pB5	{ padding-bottom: 5px; }
.pB10	{ padding-bottom: 10px; }

.pL5	{ padding-left: 5px; }
.pL10	{ padding-left: 10px; }
.pL15	{ padding-left: 15px; }
.pl10 { padding-left: 10px; }

.pV5	{ padding-top: 5px; padding-bottom: 5px; }
.pV10	{ padding-top: 10px; padding-bottom: 10px; }
.pV1	{ padding-top: 1px; padding-bottom: 1px; }

.pH5	{ padding-left: 5px; padding-right: 5px; }
.pH10	{ padding-left: 10px; padding-right: 10px; }
.pH15	{ padding-left: 15px; padding-right: 15px; }
.pH20	{ padding-left: 20px; padding-right: 20px; }

.p3		{ padding: 3px; }
.p5		{ padding: 5px; }
.p10	{ padding: 10px; }
.p15	{ padding: 15px; }

/* DISPLAY */
.dn		{ display: none !important; }
.db		{ display: block; }
.di		{ display: inline; }
.dib	{ display: inline-block !important; }
.dibBL	{ display: inline-block !important; *display: inline !important; zoom: 1; }
.offL	{ text-indent: -9999px; overflow: hidden; }
.oh		{ overflow: hidden; }
.zoom1	{ zoom: 1; }
.nowrap	{ white-space: nowrap; }
.wwbw	{ word-wrap: break-word; }

/* POSITION */
.fl		{ float: left; }
.fr		{ float: right; }
.taR	{ text-align: right !important; }
.taC	{ text-align: center !important; }
.vaT	{ vertical-align: top; }
.vaM	{ vertical-align: middle; }

.pr			{ position: relative; }
.pa			{ position: absolute; }
.top0		{ top: 0; }
.top10		{ top: 10px; }
.topN20		{ top: -20px; }
.topHalf	{ top: 50%; margin-top: -8px; }
.topHalfH24	{ top: 50%; margin-top: -12px; }
.left0		{ left: 0; }
.left5		{ left: 5px; }
.left10		{ left: 10px; }
.left15		{ left: 15px; }
.left20		{ left: 20px; }
.left210	{ left: 210px; }
.right0		{ right: 0; }
.right5		{ right: 5px; }
.right8		{ right: 8px; }
.right10	{ right: 10px; }
.right15	{ right: 15px; }
.right20	{ right: 20px; }
.bottom0	{ bottom: 0; }
.bottom5	{ bottom: 5px; }
.bottom10	{ bottom: 10px; }
.bottom15	{ bottom: 15px; }
.bottom20	{ bottom: 20px; }

/* FOREGROUNG */
.fgRed	{ color: #FF0000; }
.fgWRed	{ color: #A5184B; }
.fgPink	{ color: #CC4466; }
.fgGray { color: #817162; }
.fgDGray { color: #333333; }
.fgLGray{ color: #999999; }
.fgLLGray{ color: #595959; }
.fgBlack{ color: #555555; }
.fgWhite{ color: #FFFFFF; }
.fgRbrown	{ color: #632523; }
.fgOrange	{ color: #E46C0A; }

.b		{ font-weight: bold !important; }
.n		{ font-weight: normal !important; }
.fs10	{ font-size: 10px; }
.fs12	{ font-size: 12px; }
.fs14	{ font-size: 14px; }
.fs16	{ font-size: 16px; }
.fs11	{ font-size: 11px; }
.fs18	{ font-size: 18px; }
.fs22	{ font-size: 22px; }

/* BACKGROUNG */
.bgGray	{ background-color: #FAF9F1; }
.bgGray2{ background-color: #D9D9D9; }
.bgLGray5	{ background-color: #DDDDDD; }
.bgWRed	{ background-color: #AA3355; }
.bgLGray	{ background-color: #F2F2F2; }
.bgLGray2	{ background-color: #D9D9D9; }
.bgLGray3	{ background-color: #EEECE1; }
.bgLLGray2  { background-color: #FDF7EF; }
.bgDGray	{ background-color: #A6A39B; }
.bgWhite	{ background-color: #FFFFFF; }
.bgPink7 { background-color: #FF8A90; }
.bgPink8    { background-color: #FB615F; }

/* BORDER */
.bdGray		{ border: 1px solid #DDDDDD; }
.bdDotGrayT	{ border-top: 1px dotted #999999; }
.bdDotGrayB	{ border-bottom: 1px dotted #999999; }

.iS		{ background-image: url(/assets/images/i.png) !important; background-repeat: no-repeat; }
.arrowR	{ background-position: -196px -240px; display: inline-block; padding-left: 8px; }
.arrowT	{ background-position: -193px -4px; padding-left: 10px; }
.arrowROff	{ background-position: -196px -460px; display: inline-block; padding-left: 8px; }

.pageTopLink {
	margin-top: 20px;
	text-align: right;
}

/************************************************************
* buttons
************************************************************/
/* ボタン */

.btn, .btn1 {
	display: block;
	border: 0;
	padding-left: 4px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
}
a.btn1:link, a.btn1:visited {
color: #fff;
}
.btn > span, .btn1 > span {
	padding-right: 4px;
	display: block;
}
.btn > span > input,
.btn > span > span, 
.btn1 > span > input,
.btn1 > span > span {
	display: block;
	width: 100%;
	height: 100%;
	border: none;
	font-family: 'Microsoft YaHei', Arial, Helvetica, MS PGothic, sans-serif; 
	font-weight: bold;
	cursor: pointer;
}

/* btn1 */
.btn1H60 {
	background: url('/assets/images/btn2.png') no-repeat left 0;
	line-height: 60px;
}
.btn1H60 > span {
	background: url('/assets/images/btn2.png') no-repeat right -120px;
}
.btn1H60 > span > span {
	background: url('/assets/images/btn2.png') repeat-x 0 -240px;
	color: #FFF;
	font-size: 15px;
}
.btn1H60:hover {
	background: url('/assets/images/btn2.png') no-repeat left -60px;
}
.btn1H60:hover > span {
	background: url('/assets/images/btn2.png') no-repeat right -180px;
}
.btn1H60:hover > span > span {
	background-position: 0 -300px;
	color: #FFF;
}

/* btn2 */
.btn2H30 {
	background: url('/assets/images/btn2.png') no-repeat left -360px;
	line-height: 30px;
}
.btn2H30 > span {
	background: url('/assets/images/btn2.png') no-repeat right -420px;
}
.btn2H30 > span > span {
	background: url('/assets/images/btn2.png') repeat-x 0 -480px;
	color: #e74557;
	font-weight:normal;
}
.btn2H30:hover {
	background: url('/assets/images/btn2.png') no-repeat left -390px;
}
.btn2H30:hover > span {
	background: url('/assets/images/btn2.png') no-repeat right -450px;
}
.btn2H30:hover > span > span {
	background-position: 0 -510px;
	color: #ee7d8a;
}
a.btn2H50:visited, a.btn2H30:visited {
	color: #E53B4E;
}
.btn2H32 {
	background: url('/CSP/img/my/sprites/btn3.png') no-repeat left -300px;
	line-height: 32px;
}
.btn2H32 > span {
	background: url('/CSP/img/my/sprites/btn3.png') no-repeat right -364px;
}
.btn2H32 > span > input,
.btn2H32 > span > span {
	background: url('/CSP/img/my/sprites/btn3.png') repeat-x 0 -428px;
	color: #E53B4E;
}
.btn2H32 > span > input {
	height: 32px;
}
.btn2H32:hover {
	background-position: left -332px;
}
.btn2H32:hover > span {
	background-position: right -396px;
}
.btn2H32:hover > span > input,
.btn2H32:hover > span > span {
	background-position: left -460px;
	color: #F26F7E;
}
.btn2H50 {
	background: url('/assets/images/btn3.png') no-repeat 0 0;
	line-height: 50px;
}
.btn2H50 > span {
	background: url('/assets/images/btn3.png') no-repeat right -100px;
}
.btn2H50 > span > input,
.btn2H50 > span > span {
	background: url('/assets/images/btn3.png') repeat-x 0 -200px;
	color: #E53B4E;
	font-size: 13px;
}
.btn2H50 > span > input {
	height: 50px;
}
.btn2H50:hover {
	background-position: 0 -50px;
}
.btn2H50:hover > span {
	background-position: right -150px;
}
.btn2H50:hover > span > input,
.btn2H50:hover > span > span {
	background-position: 0 -250px;
	color: #F26F7E;
}
.btn2H50.btnWlines {
	line-height: 18px;
}
.btn2H50.btnWlines > span > span {
	padding: 7px 0;
}

/* btn3 */
.btn3H24 {
	background: url('/assets/images/btn2.png') no-repeat left -606px;
	line-height: 24px;
}
.btn3H24 > span {
	background: url('/assets/images/btn2.png') no-repeat right -654px;
}
.btn3H24 > span > span {
	background: url('/assets/images/btn2.png') repeat-x 0 -702px;
	color: #666666;
}
.btn3H24:hover {
	background-position: left -630px;
}
.btn3H24:hover > span {
	background-position: right -678px;
}
.btn3H24:hover > span > span {
	background-position: left -726px;
	color: #A3A3A3;
}

/*
 * add by jie-zhang@2014/03/05.
 * for salon index page. 
*/

.tabBody {
background-color: #FDFDF5;
width: 392px;
padding: 0px 15px;
border: 1px solid #BFB4AB;
}

/* add by jie-zhang@2014/03/08
 * for Salon Page.
 *
 *
 */
 
 #salonMainContents {
float: left;
width: 765px;
}

.detailHeader {
	margin-bottom: 20px;
	background-color: #F7F6EA;
}

.pr {
position: relative;
zoom: 1;
}

.fgLGray2 {
color: #7F7F7F;
}

.w156 {
width: 156px;
}

.pH9 {
padding-left: 9px;
padding-right: 9px;
}

.sprtHeaderOuter {
margin-right: 180px;
}

/* BORDER */
.bd0			{ border: 0 !important;}
.bdN			{ border: none !important; }

.bdGrayR		{ border-right: 1px solid #DDDDDD; }
.bdGrayL		{ border-left: 1px solid #DDDDDD; }

.bdLGray		{ border: 1px solid #CCCCCC; }
.bdLGrayT		{ border-top: 1px solid #CCCCCC; }
.bdLGrayR		{ border-right: 1px solid #CCCCCC; }
.bdLGrayB		{ border-bottom: 1px solid #CCCCCC; }

.bdWhite		{ border: 1px solid #FFFFFF; }

.bdDotT			{ border-top: 1px dotted #999999; }
.bdDotB			{ border-bottom: 1px dotted #999999; }

.bdRedB			{ border-bottom: 2px solid #AA3355; }

/************************************************************
 * スプライト画像 - ボタン（b.png）
 ************************************************************/
.addIntoMySalon				{ background-position: -1320px -120px; width: 115px; height: 24px; }
.addIntoMySalon:hover		{ background-position: -1320px -144px; }

.sort						{ background-position: 0 -520px; height: 30px; }
.sort:hover					{ background-position: 0 -550px; }

.showDetailW131H30 { 
	background-position: 0 -74px;
 	width: 131px;
	height: 30px;
	text-align: center;
	line-height: 30px; 
}
.showDetailW131H30:hover	{ background-position: 0 -104px; }

.bar_left {
    float: left;
    word-spacing: 1px;
    height: 27px;
    padding: 0 5px;
    line-height: 32px;
}
.bar_left h2 {
    display: inline;
    font-weight: 700;
    font-size: 16px;
    color: red;
    float: left;
}

#ipconfig a {
    color: #666;
}

/* user */
#UserSkills #UserScore {
      border-bottom: 1px dashed #eee;
      overflow: hidden;
      padding-bottom: 10px;
    }
    #UserSkills #UserScore h1 {
      font-size: 12pt;
      font-weight: normal;
      float: left;
      text-align: center;
    }
    #UserSkills #UserScore h1 em {
      font-size: 20pt;
      color: red;
      font-style: normal;
      color: #F00;
      display: block;
      margin: 5px 0 0 0;
    }
    #UserSkills #UserScore h1 a {
      color: #999;
      text-decoration: none;
      display: block;
    }
    #UserSkills #UserScore h1 a:hover {
      color: #000;
    }
    #UserSkills #UserScore h1.best {
      width: 80px;
    }
    #UserSkills #UserScore h1.score {
      width: 90px;
      border-left: 1px solid #eee;
      padding-left: 10px;
    }
    #UserSkills h1.Title {
      color: #ad4a23;
      font-size: 16pt;
    }
    #UserSkills h1.Title a {
      font-weight: normal;
      font-size: 10pt;
      float: right;
      margin: 3px 2px 0 0;
    }
    #UserSkills ul li {
      margin: 10px 0 0 0;
    }
    #UserSkills ul li strong {
      font-size: 10.5pt;
      margin: 0px;
      font-weight: bold;
    }
    #UserSkills ul li p {
      color: #666;
    }
    #UserSkills ul li .more {
      display: block;
    }
    #UserSkills #OtherScore {
      overflow: hidden;
    }
    #UserSkills #OtherScore h1 {
      font-size: 10pt;
      font-weight: normal;
      float: left;
    }
    #UserSkills #OtherScore h1 em {
      font-size: 10pt;
      color: red;
      font-style: normal;
      color: #F00;
      margin: 0 15px 0 0px;
      float: right;
      width: 50px;
      text-align: right;
    }
    #UserSkills #OtherScore h1 a {
      height: 25px;
	  line-height: 25px;
	  font-weight: normal;
	  text-decoration: none;
	  color: #913a43;
    }
    #UserSkills #OtherScore h1 a:hover {
      color: #000;
    }
    
.couponTypeSmallCT02{ background-position: -177px -3946px; display: block; width: 23px; height: 18px;}
.couponTypeSmallCT01{ background-position: -177px -4176px; display: block; width: 23px; height: 13px; }

.upLately			{ background-position: -170px -1500px; width: 30px; height: 13px; margin-left: 5px; }
/* user */

.blogCategoryBL10 {
background-position: -360px 0;
display: block;
width: 107px;
height: 19px;
text-align: center;
color: white;
}

.couponMenuIcon			{ background-color: #FF8A90; }

.couponMenuIcons li {
	float: left;
	margin-right: 5px;
	padding: 1px 10px;
	color: #FFF;
	text-align: center;
	white-space: nowrap;
}

.listCassette {
margin-bottom: 20px;
padding-bottom: 20px;
border-bottom: 1px dotted #999;
}

.pull-right {
  float: right;
}

.manage {
    margin: 15px 0 25px 5px;
}

.couponTable {
	border-spacing: 1px;
	vertical-align: top;
}

.bgAlertMsg {
background-color: #F5F3EF;
padding: 15px;
text-align: center;
}

.alertMsg {
font-size: 16px;
color: #DD0000;
font-weight: bold;
}

.bgSBrown {
background-color: #F5F5F5;
}

.taM {
	text-align: center;
}

.mysalon-stylist {
float: left;
}