@CHARSET "UTF-8";

#preContents {
  display: none;
}

#index_zxfx_pic{
		width:220px;
		float:left;
		border: 1px solid #e1e1e1;
	}

#index_zxfx_pic li.g1{
	width:170px;
	clear:both;
	overflow:hidden;
	background:url(/assets/images/guan_pot01.jpg) no-repeat 5% 50%;
	padding-left:50px;
	font-size:28px; 
	font-weight:bold;
	line-height:50px;
}
#index_zxfx_pic li.g2{
	width:170px;
	clear:both;
	overflow:hidden;
	background:url(/assets/images/guan_pot02.jpg) no-repeat 5% 50%;
	padding-left:50px;
	font-size:28px; 
	font-weight:bold;
	line-height:50px;
}

#index_xxtg{
	width:210px;
	float:right;
	background-color:#FFF; color: #000; padding-bottom:25px
}

#index_tjhs{
	width:354px;
	clear:both;
	height:290px;
}
#index_tjhs h2{
	border-top:1px solid #e1e1e1;
	clear:both;
}
#index_tjhs_nr{
	width:354px;
	clear:both;
	overflow:hidden;
	padding:20px 0px;
}
#index_tjhs_nr dl dd.pic{
	width:156px;
	float:left;
}
#index_tjhs_nr dl dd.txt{
	float:right;
	background:url(/assets/images/index_tjhs_bg.jpg) no-repeat;
	width:155px;
	height:118px;
	padding:10px 20px;
	color:#FFF;
}
#index_tjhs_nr dl dd.txt span{
	display:block;
	text-align:right;
	padding-top:10px;
}
#index_tjhs_nr dl dd.list{
	width:198px;
	float:right;
}
#index_tjhs_nr ul{
	width:198px;
	clear:both;
	overflow:hidden;
}
#index_tjhs_nr ul li{
	float:left;
	padding-left:9px;
	padding-top:10px;
}
#index_tjhs_nr ul li.right{
	padding-right:0px;
}

#index_tjhs_nr dl dd.list ul li a img {
border: 1px solid #e1e1e1;
}
#index_tjhs_nr dl dd.list ul li a:hover img {
border: 1px solid #999999;
}
/*---end 推荐发型师--*/

#index_comment ul li.bl {
border-bottom: 1px dotted #999999;
margin-bottom: 10px;
}

#index_xxtg ul{
	clear:both;
	overflow:hidden; width:210px
}
#index_xxtg ul li{
	background:url(/assets/images/index_news_pot.jpg) no-repeat left;
	padding-left:10px;
	line-height:24px;
}

.left01 {
width: 425px;
float: left;
}

.left02 {
width: 354px;
float: right;
}

#container2_bg{
	width:100%;
	margin:0 auto;
	clear:both;
	overflow:hidden;
}
#container2{
	width:990px;
	margin:0 auto;
	clear:both;
	overflow:hidden;
	padding:15px 0px;
}
#container2_ad{
	width:262px;
	float:left;
	padding-right:10px;
}
#index_news{
	width:450px;
	float:left;
	background-color:#FFF;
}
#index_news h2{
	border-top:2px solid #f39aa3;
	clear:both;
	overflow:hidden;
}
#index_news_nr{
	width:430px;
	clear:both;
	overflow:hidden;
	padding:10px 10px;
}
#index_news_nr dl{
	clear:both;
	overflow:hidden;
	padding-bottom:10px;
}
#index_news_nr dl dt{
	width:280px;
	float:right;
}
#index_news_nr dl dd.pic{
	float:left;
	width:138px;
}
#index_news_nr dl dd.txt{
	width:280px;
	float:right;
}
#index_news_nr ul{
	clear:both;
	overflow:hidden;
}
#index_news_nr ul li{
	background:url(/assets/images/index_news_pot.jpg) no-repeat left;
	padding-left:10px;
	line-height:24px;
}
#index_bp{
	width:255px;
	background-color:#FFF;
	float:right;
}
#index_bp h2{
	border-top:3px solid #f66d77;
	clear:both;
	overflow:hidden;
}
#index_bp_nr{
	width:235px;
	clear:both;
	overflow:hidden;
	padding:9px 10px;
}
#index_bp_nr ul li{
	float:left;
	padding:4px 6px;
}
#index_bp_nr ul li a{
	width:105px;
	height:30px;
	line-height:30px;
	display:block;
	text-align:center;
	background-color:#dcdcdc;
	font-size:14px;
}
#index_bp_nr ul li a:hover{
	width:105px;
	height:30px;
	line-height:30px;
	display:block;
	text-align:center;
	background-color:#f66d77;
	font-size:14px;
	color:#FFF;
}
#index_bp_nr ul li.btn a{
	width:105px;
	height:30px;
	line-height:30px;
	display:block;
	text-align:center;
	background-color:#f66d77;
	font-size:14px;
	color:#FFF;
}
#index_bp_nr ul li.btn a:hover{
	width:105px;
	height:30px;
	line-height:30px;
	display:block;
	text-align:center;
	background-color:#f66d77;
	font-size:14px;
	color:#FFF;
}

#index_tjsh{
	width:425px;
	float:left;
	height: 290px;
}
#index_tjsh h2{
	border-top:1px solid #e1e1e1;
	clear:both;
}
 #index_tjsh_nr{
	width:425px;
	clear:both;
	overflow:hidden;
	padding:10px 0px;
}
 #index_tjsh_nr dl{
	width:200px;
	float:left;
	padding:10px 10px 10px 0px;
}
#index_tjsh_nr dl.right{
	padding-right:0px;
}
 #index_tjsh_nr dl dt{
	width:115px;
	float:right;
}
#index_tjsh_nr dl dd.pic{
	width:80px;
	float:left;
}
dl dd.pic img, #index_nail_nr li a img{
	border: 1px solid #e1e1e1;
}
dl dd.pic a:hover img,  #index_nail_nr li a:hover img{
	border: 1px solid #999999;
}
#index_tjsh_nr dl dd.pic img{
	border: 1px solid #e1e1e1;
}
#index_tjsh_nr dl dd.pic a:hover img{
	width:80px;
	float:left;
	border: 1px solid #999999;
}
 #index_tjsh_nr dl dd.txt{
	width:115px;
	line-height:18px;
	float:right;
}
 #index_tjsh_nr dl dd.more{
	width:115px;
	float:right;
	text-align:right;
}
/*--end--*/

.pl_bt{ 
	width:210px; 
	height:36px; 
	overflow:hidden; 
	clear:both; 
	margin:0 auto; 
	padding-bottom:8px;
	border-top: 1px solid #e1e1e1;
}

#index_zxfxlist{
	width:340px;
	float:right;
}
#index_zxfxlist ul li{
	float:left;
	padding:0px 0px 0px 14px;
}
#index_zxfxlist ul li a img{
	border: 1px solid #e1e1e1;
}
#index_zxfxlist ul li a:hover img{
	border: 1px solid #999999;
}
#index_zxfxlist ul li span{
	display:block;
	text-align:center;
	line-height:20px;
}

#index_leis{
	width:795px;
	clear:both;
	overflow:hidden;
}
#index_leis h2{
	border-top:1px solid #e1e1e1;
	clear:both;
}
#index_leis_nr{
	width:795px;
	clear:both;
	overflow:hidden;
	padding:10px 0px;
}
#index_leis_nr dl{
	width:260px;
	float:left;
	padding:0px 5px 10px 0px;
}
#index_leis_nr dl.right{
	padding-right:0px;
}
#index_leis_nr dl dt{
	width:170px;
	float:right;
}
#index_leis_nr dl dd.pic{
	width:80px;
	float:left;
}
#index_leis_nr dl dd.txt{
	width:170px;
	float:right;
}
#index_leis_nr dl dt a {
	text-decoration: underline;
}
#index_leis_nr dl dd.more, #index_news_nr dl dd.more{
	width:115px;
	float:right;
	text-align:right;
}

#index_news_nr dl dt a, #index_comment dl dt a, #index_tjsh_nr dl dt a{
	text-decoration: underline;
}

#index_comment ul li {
	border-top: 1px dotted #aaa;
	margin-top: 10px;
	padding-top: 20px;
} 

#index_comment ul li:first-child {
	border-top: none;
	margin-top: 0;
	padding-top: 0;
}
#container2_ad h2 {
border-top: 2px solid #f66d77;
}