@(message: String)
@import helper._ 
@import helper.twitterBootstrap._

@main("message"){
	<div class="mT30">
    <div class="stylePageTileOuter">
        <div class="fgPink b fs10">
            <font>
                <font>
                   技师
                </font>
            </font>
        </div>
        <h2 class="fs16 dibBL">
            <font>
                <font>
                    岛崎，修
                </font>
            </font>
        </h2>
       
    </div>
    <div class="cFix mT30 pH10">
        <div class="fl w224 taC">
            <div>
                <img src="@routes.Assets.at("images/stylist/stylelist01.jpg")">
            </div>
            <div class="mT20 pT10">
                <a href="#"class="bS db nominatedReserve offL mHA">
                    <font>指定此技师</font>
                </a>
            </div>
            <div class="mT20 pT10">
                <a href="#" class="bS db addIntoMyStylist offL mHA">
                    <font>收藏此技师</font>
                </a>
            </div>
        </div>
        <div class="fr w501">
            <div>
                <dl>
                    <dt class="fgPink b fs14">
                        <font>
                            <font>
                                为了有一个美丽的二十年十年☆
                            </font>
                        </font>
                    </dt>
                    <dd class="mT10">
                        <font>
         拥有高科技的声誉来获得经验的各种沙龙在原宿，青山流行的，以满足广泛的需求，从可爱的系统清理系统。
                         <br />   
         至于10年后需要一个漂亮的'20中，我们提出基于自然的事情一处理方法体，尽可能友好。
                         <br />  
          此外，发型和化妆技术也高度重视，并同时获委任为独家发型化妆师24hcosme。
                          <br />  
                        </font>
                    </dd>
                </dl>
            </div>
            <div class="mT30">
                <table cellspacing="0" class="wFull bgThNml bdCell pCell10">
                    <tbody>
                        <tr>
                            <th class="w100">
                                <font>造型师历史 </font>
                            </th>
                            <td>
                                <font>8年</font>
                                
                            </td>
                        </tr>
                        <tr>
                            <th class="w100">
                            	<font>善于形象</font>
                            </th>
                            <td>
                                <font> 爱莫特</font>
                            </td>
                        </tr>
                        <tr>
                            <th class="w100">
                                <font>擅长技术</font>
                            </th>
                            <td>
                                <font>切☆流派绘制每一个的可爱♪有被它留到全能</font>
                            </td>
                        </tr>
                        <tr>
                            <th class="w100">
                                <font>我的爱好热潮</font>
                            </th>
                            <td>店铺参观美味的有机生活☆☆
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="mT30">
                <div class="pr">
                    <div class="latestBlogtitle">
                       造型师博客
                    </div>
                </div>
                <div class="bdGray p20 cFix">
                    <div class="fl w120 mR10">
                        <img src="@routes.Assets.at("images/stylist/stylelist01.jpg")"
                    </div>
                    <div class="fl w320">
                        <div class="cFix">
                            <div class="fl">
                                <span class="blogS blogCategoryBL05 offL">
             工作情况
                               </span>
                            </div>
                            <div class="fr">
                                <font>
                                    <font>
                                        发表于：2013年8月11日
                                    </font>
                                </font>
                            </div>
                        </div>
                        <dl class="mT10">
                            <dt class="fs14 b wwbw">
                                <a href="#">
                                    <font>
                                        <font>
                                            CM☆☆播出
                                        </font>
                                    </font>
                                </a>
                            </dt>
                            <dd class="mT10 wwbw">
                              下周三我将推出新作品，大家不要往了关注  
                            <a href="#">
                                   
                                            更多我看到
                                       
                                </a>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mT30">
        <div class="yS mainContentsSecondTitleOuter">
            <h3 class="yS mainContentsSecondTitleInner">
       岛崎小寒风格目录
            </h3>
        </div>
        <div class="oh w745 mT20">
            <table cellspacing="0" class="w746">
                @for(i <- 1 to 4){
                <tbody>
                    <tr>
                    
                        <td class="vaT bdGrayR">
                            <div class="w156 mHA">
                                <div class="mT10 fs16">
                                    <a href="#" class="db pr">
                                        <img src="@routes.Assets.at("images/haircatalog/hair-showmain.jpg")" class="bdImgGray" >
                                    </a>
                                </div>
                                <p class="mT5">
                                    <a href="#">
                                 ☆全能鲍勃可爱成年人☆
                                    </a>
                                </p>
                            </div>
                        </td>
                        }
                            
                        
                        
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td colspan="4">
                            <div class="separateLine">
                                &nbsp;
                            </div>
                        </td>
                    </tr>
                </tbody>
                
                
                
            </table>
        </div>
    </div>
    <div class="mT30">
        <div class="cFix p15 bgLGray">
            <div class="fl w89">
                <img src="http://imgbp.hotp.jp/CSP/IMG_SRC/05/32/B002740532/B002740532_89-119.jpg"
                alt="弗里尔兄弟公司崎修">
            </div>
            <div class="cFix fr w636">
                <div class="detail2S waitTitle offL">
                    <font>
                        <font>
                            我们期待未来
                        </font>
                    </font>
                </div>
                <div class="cFix bgDGray p10">
                    <div class="fl">
                        <div class="fgPink fs10">
                            <font>
                                <font>
                                    代表
                                </font>
                            </font>
                        </div>
                        <div class="fs14 b mT5">
                            <font>
                                <font>
                                    岛崎，小寒
                                </font>
                            </font>
                            <span class="fs10 mL5">
                                <font>
                                    <font>
                                        小寒岛崎
                                    </font>
                                </font>
                            </span>
                        </div>
                    </div>
                </div>
                <ul class="cFix mT10">
                    <li class="fr mL10">
                        <a href="http://beauty.hotpepper.jp/CSP/bt/reserve/?storeId=H000231733&amp;stylistId=T000164185"
                        class="bS db nominatedReserve offL">
                            <font>
                                <font>
                                    本书通过预约
                                </font>
                            </font>
                        </a>
                    </li>
                    <li class="fr mL10 mT3">
                        <a href="https://beauty.hotpepper.jp/CSP/my/myStylist/doSet/?stylistId=T000164185&amp;org.apache.struts.taglib.html.TOKEN=99bbdefe70898da1e1ee942c0ae9c350"
                        class="bS db addIntoMyStylist offL">
                            <font>
                                <font>
                                    保存到我的造型师
                                </font>
                            </font>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
	@views.html.store.storeServiceItem()
}
