@(stylist: Stylist, salon: Salon)
<body>
<div class="mysalon-stylist-search w166 mHA">
    <div class="taC">
		<a href="@routes.Salons.getOneStylist(salon.id, stylist.id)">
        	<img src="#" class="bdImgGray w164 h219">
			@*<img src="@routes.Application.getPhoto(stylist.myPics.get(0).fileObjId)" class="bdImgGray w164 h219">*@
        </a>
    </div>
    <p class="mT10">
        <a href="http://beauty.hotpepper.jp/slnH000231733/stylist/T000188298/">
           <p>@Stylist.findUserName(stylist.publicId)</p>
        </a>
    </p>
    <div class="bdDotT mT5 pT5 fs10">
        <span class="fgPink">
       
       	&nbsp;
      
        </span>
  （@stylist.workYears
  年）
    </div>
    <div class="bdDotT mT5 pT5 fs10 hMin30">
    </div>
</div>
<div class="taC mT10">
	<a href="@routes.Reservations.reservHairView(stylist.id)" class="salon-stylist-reserv">查看日程</a>
		<p>
	    	<a href="/removeStylist/@salon.id/@stylist.id">
	    		@Messages("salonAdmin.removeStylist")
	    	</a>
	    </p>
</div>
</body>
