@(stylist: Stylist, salon: Salon)
<body>
<div class="w166 mHA">
    <div class="taC">
        <a href="@*routes.Stylists.findStylistById(stylist.id)*@">
            <img src="#" class="bdImgGray w164 h219">
        </a>
    </div>
    <p class="mT10">
        <a href="#">
           <p>@Stylist.findUserName(stylist.publicId)</p>
        </a>
    </p>
    <div class="bdDotT mT5 pT5 fs10">
        <span class="fgPink">
      
       	&nbsp;
      
        </span>
  （@stylist.workYears
  @Messages("stylist.workYears")）
    </div>
    <div class="bdDotT mT5 pT5 fs10 hMin30">
    </div>
</div>
<div class="taC mT10">
	<div>
		<span>@Messages("stylist.applyCreateTime")
	</div>
	<a href="/agreeStylistApply/@stylist.id/@salon.id" class="salon-stylist-reserv">@Messages("stylist.acceptApply")</a>|
	<a href="/rejectStylistApply/@stylist.id/@salon.id" class="salon-stylist-reserv">@Messages("stylist.rejectApply")</a>
</div>
	
</div>
</body>
