@(stylist: StylistDetailInfo)

<div class="mT30">
    <div class="cFix p15 bgLGray">
        <div class="fl w89">
            <a href="@noAuth.routes.Salons.getOneStylist(stylist.workInfo.get.salonId, stylist.basicInfo.id)">
                <img src="@routes.Application.getPhoto(stylist.stylistInfo.get.myPics(0).fileObjId)" class="w89">
            </a>
       </div>
        <div class="cFix fr w636">
            <div class="detail2S waitTitle offL">
                <font>
                    <font>
                      @Messages("stylist.welcome")  
                    </font>
                </font>
            </div>
            <div class="cFix bgDGray p10">
                <div class="fl">
                    <div class="fgPink fs10">
                        <font>
                            <font>
                                @stylist.workInfo.get.position.map { p=>
                                	@p.positionName &nbsp;
                                }
                            </font>
                        </font>
                    </div>
                    <div class="fs14 b mT5">
                        <font>
                            <font>
                               @stylist.basicInfo.nickName
                            </font>
                        </font>
                        <span class="fs10 mL5">
                            <font>
                                <font>
                                    
                                </font>
                            </font>
                        </span>
                    </div>
                </div>
            </div>
            <ul class="cFix mT10">
                <li class="fr mL10">
                    <a href="#" class="bS db nominatedReserve offL">
                        <font>
                            <font>
                               @Messages("stylist.selectForReserv") 
                            </font>
                        </font>
                    </a>
                </li>
                <li class="fr mL10 mT3">
                    <a href="javascript:void(0);" onclick="addFollow('@stylist.basicInfo.id','stylist')" class="bS db addIntoMyStylist offL">
                        <font>
                            <font>
                              @Messages("stylist.followStylist")
                            </font>
                        </font>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
