@(stylist: StylistDetailInfo, styles: List[Style])

<div class="mT30">
    <div class="yS mainContentsSecondTitleOuter">
        <h3 class="yS mainContentsSecondTitleInner">
            <font>
                <font>
                    @stylist.basicInfo.nickName
                    @Messages("stylist.haircatalog")
                </font>
            </font>
        </h3>
    </div>
    <div class="mysalon-stylist-group">
    <div class="oh w745 mT20">
        @styles.map{style=>
        	<div style="float:left;">
        	<div class="mysalon-stylist-search w166 mHA">
            			<div class="w156 mHA">
                            <div class="mT10 fs16">
                                <a onclick="return LoadPVImgStyleClk('H000231733', 'L000808983', 'P_STYLIST', this);"
                                href="#" class="db pr">
                                    <img src="#" class="bdImgGray" oncontextmenu="return false;">
                                </a>
                            </div>
                            <p class="mT5">
                                <a onclick="return LoadPVImgStyleClk('H000231733', 'L000808983', 'P_STYLIST', this);"
                                href="#">
                                    <font>
                                        <font>
                                            @style.styleName
                                        </font>
                                    </font>
                                </a>
                            </p>
                        </div> 
                        </div>
                        </div>               
        }          
    </div>
    </div>
</div>

