@(salon: Salon, stylist: StylistDetailInfo, style: List[Style], blog: Option[Blog])
        
<div class="cFix mT30 pH10">
    <!-- ST left side info for Stylist picture.-->
    <div class="fl w224 taC">
        <div>
            <img src="@routes.Application.getPhoto(stylist.stylistInfo.get.myPics(0).fileObjId)" alt="@stylist.basicInfo.nickName" class="bdImgGray w164 h219">
        </div>
        <!-- TODO ST Reserve this sytlist. -->
        <div class="mT20 pT10">
            <a href="" class="bS db nominatedReserve offL mHA">@Messages("stylist.selectForReserv")</a>
        </div>
        <!-- TODO END Reserve this sytlist. -->

        <!-- ST Follow this stylist. -->
        <div class="mT20 pT10">
            <a href="@auth.routes.MyFollows.addFollow(stylist.stylistInfo.get.id,"stylist")" 
                class="bS db addIntoMyStylist offL mHA"> @Messages("stylist.followStylist")
            </a>
        </div>
        <!-- END Follow this stylist. -->
    </div>
    <!-- END left side info for Stylist picture.-->

    <div class="fr w501">

        <!--ST. Stylist's Words. -->
        <div>
            <dl>
                <dt class="fgPink b fs14"> @stylist.stylistInfo.get.myWords </dt>
                <dd class="mT10"> @stylist.stylistInfo.get.myPR </dd>
            </dl>
        </div>
        <!--END. Stylist's Words. -->

        <!--ST. Stylist Appeal. -->
        <div class="mT30">
            <ul class="cFix">
                <!--@*show max 4 appeal pic here.*@ -->
                @for(i <- 0 until (if(stylist.stylistInfo.get.myPics.length > 4) 3 else stylist.stylistInfo.get.myPics.length)) {
                    <li class="fl cFix w240 mT30">
                        <div class="fl w89">
                            <!--@*TODO, should show appeal picture here.*@-->
                            <img src="@routes.Application.getPhoto(stylist.stylistInfo.get.myPics(i).fileObjId)"
                            alt="@stylist.stylistInfo.get.myPics(i).description" oncontextmenu="return false;">
                        </div>
                        <div class="fr w151 pr hMin119">
                            <p class="mL10 mR20 fs10 pa bottom0 left0">
                                @stylist.stylistInfo.get.myPics(i).description
                            </p>
                        </div>
                    </li>
                }
            </ul>
        </div>
        <!--ST. Stylist Appeal. -->

        <!--ST. Stylist Resume. -->
        <div class="mT30">
            <table cellspacing="0" class="wFull bgThNml bdCell pCell10">
                <tbody>
                    <tr>
                        <th class="w100"> @Messages("stylist.worked")</th>
                        <td>@Messages("stylist.workYears", stylist.stylistInfo.get.workYears) </td>
                    </tr>
                                
                    <tr> <th class="w100">@Messages("stylist.goodAtImage") </th>
                        <td> @stylist.stylistInfo.get.goodAtImage.foreach(f=> f +"|")</td>
                    </tr>
                    <tr>
                        <th class="w100"> @Messages("stylist.mySpecial") </th>
                        <td> @stylist.stylistInfo.get.mySpecial </td>
                    </tr>
                    <tr>
                        <th class="w100"> @Messages("stylist.myBoom") </th>
                        <td> @stylist.stylistInfo.get.myBoom </td> 
                    </tr>
                </tbody>
            </table>
        </div>
        <!--END. Stylist Resume. -->

        <!--ST. Stylist's latest Blog. -->
        @blog match {
            case None => {}
            case Some(blg) => {
                <div class="mT30">
                    <div class="pr">
                        <div class="latestBlogtitle">
                            <font>
                                <font>
                                    @Messages("stylist.blog")
                                </font>
                            </font>
                        </div>
                        <p class="pa right10 topHalf fs10">
                            <a href="#">
                                <font>
                                    <font>
                                       @Messages("stylist.findAllBlog")
                                    </font>
                                </font>
                            </a>
                        </p>
                    </div>
                    <div class="bdGray p20 cFix">
                        <div class="fl w120 mR10">
                            <img src="#"
                            alt="商店弗里尔兄弟公司推荐的（^ ^）">
                        </div>
                        <div class="fl w320">
                            <div class="cFix">
                                <div class="fl">
                                    <span class="blogS blogCategoryBL11 offL">
                                        <font>
                                            <font>
                                            @Messages("stylist.other")
                                            </font>
                                        </font>
                                    </span>
                                </div>
                                <div class="fr">
                                    <font>
                                        <font>
                                            @Messages("stylist.createBlog")：@blg.createTime.format("yyyy-MM-dd HH:mm")
                                        </font>
                                    </font>
                                </div>
                            </div>
                            <dl class="mT10">
                                <dt class="fs14 b wwbw">
                                    <a href="#">
                                        <font>
                                            <font>
                                            @Messages("stylist.storerecommend")    
                                            </font>
                                        </font>
                                    </a>
                                </dt>
                                <dd class="mT10 wwbw">
                                    <font>
                                        <font>
                                          @Messages("stylist.hello")
                                        </font>
                                        <font>
                                            @Messages("stylist.this")
                                            @salon.salonName
                                            @Messages("stylist.is")
                                            @stylist.basicInfo.nickName
                                        </font>
                                        <font>
                                            @Html(blg.content)
                                        </font>
                                    </font>
                                    <a href="#">
                                        <font>
                                            <font>
                                               @Messages("stylist.findOtherBlog")
                                            </font>
                                        </font>
                                    </a>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            }
        }
        <!--END. Stylist's latest Blog. -->
    </div>
</div>

