@(stylist: Stylist)


<body>
<div class="w166 mHA">
    <div class="taC">
        <a href="@routes.Stylists.findStylistById(stylist.id)">
            <img src="@routes.Application.getPhoto(stylist.pictureName)"
            alt="弗里尔兄弟公司坂本隆文" class="bdImgGray w164 h219">
        </a>
    </div>
    <p class="mT10">
        <a href="http://beauty.hotpepper.jp/slnH000231733/stylist/T000188298/">
            
                   <p>@stylist.label</p>
                
        </a>
        <span class="iS upLately offL dib vaM">
           
                    UP<p>@stylist.id</p>
                
        </span>
    </p>
    <div class="bdDotT mT5 pT5 fs10">
        <span class="fgPink">
       造型师
        </span>
  （历史@stylist.workYears
  年）
    </div>
    <div class="bdDotT mT5 pT5 fs10 hMin30">
    </div>
</div>
<div class="taC mT10">
	<a href="@routes.Reservations.reservHairView(stylist.id)" class="bS db nominatedReserve offL mHA">指名して予約する</a>
</div>

         
        
    
</div>
</body>
