@(stylist: StylistDetailInfo)



@stylist.stylistInfo match {
    case None => {<h1>Not a Stylist.</h1>}    
    case Some(dtl) => {
        <div class="stylePageTileOuter">
            <div class="fgPink b fs10">
                <font>
                    <font>
                        @dtl.position.map { p => @p.positionName &nbsp; }
                    </font>
                </font>
            </div>
            <h2 class="fs16 dibBL">
                <font>
                    <font> @stylist.basicInfo.nickName </font>
                </font>
            </h2>
       </div>
    } 
}
