@CHARSET "UTF-8";

#entry {
background: #e8e8e8;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
padding: 3px;
margin: 0 auto 100px;
position: relative;
width: 98%;
}

.w1 {
width: 890px;
margin: 0 auto;
}

#entry .mc {
border: 1px solid #e1e1e1;
background: #ffffff;
height: 343px;
}

#entry .form {
position: absolute;
top: 18px;
right: 32px;
width: 320px;
overflow: hidden;
height: 354px;
}

.free-regist {
position: absolute;
right: 42px;
bottom: -31px;
background: #e8e8e8;
width: 115px;
height: 32px;
text-align: center;
line-height: 32px;
-moz-border-radius: 0 0 3px 3px;
-webkit-border-radius: 0 0 3px 3px;
border-radius: 0 0 3px 3px;
padding: 0px 5px 5px;
}

.free-regist span {
text-align: center;
font-size: 14px;
background: #6ec7e5;
width: 115px;
height: 32px;
display: block;
color: #FFF;
-moz-border-radius: 0 0 3px 3px;
-webkit-border-radius: 0 0 3px 3px;
border-radius: 0 0 3px 3px;
}

.free-regist a:link, .free-regist a:visited {
color: #ffffff;
}

#entry .fore1 {
z-index: 10;
}

#entry .fore2 {
z-index: 8;
}

#entry .item {
height: 64px;
line-height: 26px;
overflow: visible;
position: relative;
width: 320px;
}

#entry .item span {
color: #999999;
height: 20px;
line-height: 20px;
display: block;
margin-top: 1px;
}

.item-ifo dd.error {
position: absolute;
width: 302px;
padding: 2px 0 2px 3px;
left: 0px;
top: 34px;
border: 1px solid #ffbdbf;
color: #e6393d;
float: none;
line-height: 16px;
z-index: 100;
background: #ffebec;
}

#entry .item .item-ifo {
position: relative;
width: 307px;
}

#entry .text {
float: none;
width: 282px;
height: 24px;
line-height: 24px;
padding: 4px 20px 4px 3px;
border: 1px solid #cccccc;
font-size: 14px;
font-family: arial,"宋体";
}

#entry .item-ifo .i-name {
background: url(/assets/images/login/login-all-bg.png) no-repeat -373px -111px #fff;
width: 16px;
height: 16px;
top: 8px;
}

#entry .item-ifo .i-pass {
background: url(/assets/images/login/login-all-bg.png) no-repeat -346px -108px #fff;
width: 14px;
height: 19px;
top: 8px;
}

#entry .item-ifo .ico {
position: absolute;
right: 12px;
z-index: 5;
}

#entry .text {
float: none;
width: 282px;
height: 24px;
line-height: 24px;
padding: 4px 20px 4px 3px;
border: 1px solid #cccccc;
font-size: 14px;
font-family: arial,"宋体";
}

#entry .btn-entry:hover {
background: url(/assets/images/login/login-all-bg.png) no-repeat 0 -95px;
}

#entry .btn-entry {
width: 307px;
height: 34px;
line-height: 100px;
text-indent: -9999px;
background: url(/assets/images/login/login-all-bg.png) no-repeat 0 -61px;
overflow: hidden;
border: none;
}

#entry #autoentry {
height: 37px;
margin-top: 35px;
}

body, .footercontents {
  background: #f2f2f2;
}

.loginLogo, .registerLogo {
  position: relative;
}

.loginLogo b, .registerLogo b {
  position: absolute;
  background: url(/assets/images/login/login-all-bg.png) 0 -131px no-repeat;
  width: 111px;
  height: 46px;
  top: 10px;
  left: 145px;
}

.registerLogo b {
  background: url(/assets/images/login/regist-word-img.png) no-repeat;
}

.salonRegister td {
  background: #fff;
}

div.noDisplay {
  display: none;
}

.registerForm {
  margin: 0 auto;
}

.salonRegister {
  background: #fff;
  border: 3px solid #e8e8e8;
}


.registerForm .item {
  padding-top: 9px;
  height: 58px;
  line-height: 34px;
  z-index: 1;
  position: relative;
}

.registerForm .label {
  width: 290px;
  font-size: 14px;
  color: #999999;
  padding-right: 10px;
  display: block;
  text-align: right;
  float: left;
}

.registerForm .input .text {
  width: 238px;
  height: 16px;
  padding: 9px 25px 9px 5px;
  border: 1px solid #cccccc;
  float: none;
  font-size: 14px;
  color: #999;
}

.registerForm .btn-regist {
  display: inline-block;
  border: 0 none;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  width: 270px;
  height: 36px;
  text-indent: -9999px;
  overflow: hidden;
  background: url(/assets/images/regist-btn.jpg) no-repeat;
}

.registerForm .btn-regist:hover {
  background: url(/assets/images/regist-btn.jpg) 0 -36px no-repeat;
}

.registerForm h3 {
  border-top: 1px solid #E7E7E7;
  padding: 2px 16px 3px;
  background: #f7f7f7;
  height: 28px;
  line-height: 28px;
  margin-bottom: 10px;
  font-weight: normal;
}

.toLogin {
  float: right;
  line-height: 36px;
  margin-left: 50px;
}

.toLogin span {
  color: #f36d7a;
}

.item span.salonIndustry {
  margin-right: 15px;
}
