:focus {
      outline: 0;
    }
    * {
      padding: 0;
      margin: 0;
    }
    ul,
    ol {
      list-style-type: none;
    }
    img {
      border: 0;
    }
    textarea {
      resize: none;
    }
    .clear {
      clear: both;
      font-size: 1px;
      line-height: 0;
    }
    .clearfix:after {
      content: ".";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0;
    }
    .clearfix {
      display: inline-block;
    }
    html[xmlns] .clearfix {
      display: block;
    }
    * html .clearfix {
      height: 1%;
    }
    .ostable {
      width: 100%;
      table-layout: fixed;
    }
    .ostable td {
      vertical-align: top;
      overflow: hidden;
    }
    .NoData {
      text-align: center;
      padding: 20px 0;
      color: #999999;
    }
    #OSC_Content {
      margin: 10px 2px;
      position: relative;
    }
    #SpaceLeft {
      float: left;
      width: 220px;
    }
    #SpaceMain {
      right: 0;
      top: 0;
      width: 700px;
      word-wrap: break-word;
      float: left;
	  margin-left: 30px;
    }
    .Owner {
      background: #f09499;
      padding: 15px 5px 15px 10px;
      position: relative;
    }
    .Owner a.Img:hover {
      background: none;
    }
    .Owner a {
      color: #fff;
      padding: 0px;
    }
    .Owner a:hover {
      background: #fff;
      color: #ad4a23;
    }
    .Owner a.ThemeSetting {
      position: absolute;
      right: 0;
      top: 0;
      text-indent: -9999px;
      width: 28px;
      height: 28px;
      background: url('/img/2012/enter_narrow.png') no-repeat 0 0;
    }
    .Owner a.ThemeSetting:hover {
      background: url('/img/2012/enter_narrow.png') no-repeat 0 -30px;
    }
    .Owner .Img img {
      float: left;
      width: 56px;
      height: 56px;
      background: #fff;
      padding: 3px;
      margin: 0 8px 10px 0;
    }
    .Owner .Img:hover img {
      background: #eee;
    }
    .Owner span.U {
      float: left;
      width: 120px;
      margin-top: 10px;
    }
    .Owner span.U .Name, .Owner span.myPageA .Name {
      color: #FFF;
      font-size: 16px;
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
      word-wrap: break-word;
      background: none;
    }
    .Owner span.U .opts {
      color: #fff;
      font-size: 9pt;
    }
    .Owner span.U .opts a {
      color: #fff;
    }
    .Owner span.U .opts a:hover {
      background-color: #fff;
      color: #ad4a23;
    }
    .opts img {
	width: 14px;
	top: -4.5px;
	position: relative;
	}
    .Owner a#gender_icon {
      text-indent: -9999px;
      background-color: #ad4a23;
    }
    .Owner a#gender_icon:hover {
      background-color: #ad4a23;
    }
    .Owner .stat {
      color: #fff;
      font-size: 9pt;
    }
    .Owner .stat a {
      margin-right: 3px;
    }
    .Owner .stat a span {
      font-size: 9pt;
    }
    .Opts {
      margin: 8px 0;
    }
    .Opts a {
      cursor: pointer;
    }
    .Opts a.a1 {
      background-color: #f09499;
	  padding: 8px 22.51px;
	  margin-left: 5px;
	  color: #fff;
    }
    .Opts a.a2 {
      background-color: #f09499;
      padding: 8px 25px;
      color: #fff;
    }
    .Opts a.a1:hover, .Opts a.a2:hover {
      text-decoration: underline;
    }
    .Opts a span {
      font-size: 14px;
      color: #fff;
    }
    .Opts a i {
      text-indent: -9999px;
      display: block;
      margin: 10px 0 0 20px;
      width: 67px;
      height: 67px;
      background-image: url('/img/2012/space-opts.png');
      background-repeat: no;
    }
    
    .Opts a.blog i {
      background-position: 0 -67px;
    }
    .Opts a.admin i {
      background-position: 0 -201px;
    }
    .Opts a.sendmsg i {
      background-position: 0 -134px;
    }
    .Opts a.ask i {
      background-position: 0 0;
    }
    .Mod {
      background: #EAEAEA;
      margin: 3px 0 0 0;
      padding: 5px 0;
      color: #666666;
      overflow: hidden;
    }
    .Mod strong {
      display: block;
      font-size: 14px;
      border-bottom: 2px solid #f09499;
      padding: 0 10px 5px 10px;
      color: #666666;
    }
    .Mod strong .more {
      float: right;
      font-weight: normal;
      font-size: 10pt;
      margin: 3px 0 0 0;
    }
    .Mod ul,
    .Mod ol {
      margin: 10px;
      line-height: 24px;
    }
    .Users ul li {
      float: left;
    }
    .Users ul li a {
      margin: 1px 3px 0 0;
    }
    .Users ul li img {
      width: 45px;
      height: 50px;
      border: 1px solid #EAEAEA;
    }
    .Users ul li a:hover img {
      border: 1px solid #ad4a23;
    }
    .Users .more {
      margin: 10px 0;
      text-align: right;
      padding: 0 5px 0 0 ;
    }
    
    .BlogContent {
      font-size: 12.5px;
      overflow: hidden;
    }
    .BlogContent p {
      margin-bottom: 15pt;
      line-height: 1.5;
      letter-spacing: 1px;
    }
    .BlogContent pre {
      line-height: 18px;
      margin: 10px 0 10px 20px;
      font-size: 9pt;
      font-family: Courier New,Arial;
      border: 1px solid #ddd;
      border-left: 5px solid #6CE26C;
      background: #f6f6f6;
      padding: 5px;
    }
    /*   happysha 2013-07-07   */
    .BlogContent {
      color: #333;
      padding: 10px;
    }
    .BlogAbstracts {
      padding: 10px;
      background: #f4f7f9;
      font-size: 12px;
    }
    .BlogAbstracts strong {
      font-size: 15px;
      color: #15a230;
      font-weight: normal;
    }
    .BlogAbstracts span {
      font-size: 12.5px;
      letter-spacing: 0.7px;
    }
    em.corner {
      font-size: 13px;
      font-weight: normal;
      color: #FFF;
      display: inline-block;
      line-height: 20px;
      background: #f09499;
      font-style: normal;
      padding: 1px 8px;
      margin-right: 10px;
    }
    
    .BlogContent h1,
    .BlogContent h2,
    .BlogContent h3,
    .BlogContent h4,
    .BlogContent h5,
    .BlogContent h6 {
      font-weight: 600;
    }
    .BlogContent h1 {
      font-size: 24px;
      margin: 20px 0 10px 0;
    }
    .BlogContent h2 {
      font-size: 20px;
      margin: 20px 0 10px 0;
    }
    .BlogContent h3 {
      font-size: 16px;
      margin: 15px 0 10px 0;
    }
    .BlogContent h4 {
      font-size: 14px;
      margin: 10px 0;
    }
    .BlogContent h5 {
      font-size: 12px;
      margin: 10px 0;
    }
    .BlogContent h6 {
      font-size: 12px;
      margin: 10px 0;
    }
    .BlogContent p {
      font-size: 12.5px;
      margin: 8px 0;
      letter-spacing: 0.5px;
    }
    
    /*   happysha 2013-07-07   */
    .BlogComments h2 {
      font-size: 18px;
      color: #444;
      font-weight: 600;
      padding: 5px 0px;
      border-bottom: 1px solid #ccc;
    }
    .BlogComments h2 em {
      font-size: 12px;
      padding: 0px 5px;
      font-style: normal;
      color: #ad4a23;
    }
    .BlogComments h2 a {
      float: right;
      font-weight: normal;
      font-size: 10pt;
    }
    .BlogComments ul {
      margin: 10px 0 10px 0;
    }
    .BlogComments ul li {
      margin: 0 0 10px 0;
      padding: 5px 0px;
    }
    .BlogComments ul li.even {
      background: #F6F6F6;
    }
    .BlogComments ul li .portrait {
      width: 65px;
      padding-top: 3px;
    }
    .BlogComments ul li .portrait img {
      width: 40px;
      height: 40px;
      padding: 2px;
      background: #fff;
      border: 1px solid #F1F1F1;
    }
    .BlogComments ul li .body .title {
      color: #666666;
      font-size: 9pt;
    }
    .BlogComments ul li .body .title a.user {
      text-decoration: none;
      color: #666666;
      font-weight: bold;
    }
    .BlogComments ul li .body .post {
      margin: 8px 0 0 0;
      color: #00A;
      font-size: 12px;
    }
    .BlogComments ul li .body .post div.ref {
      border: 1px solid #ddd;
      margin: 0 0 10px 0;
      padding: 2px;
      font-size: 9pt;
      background: #FFFEC8;
    }
    .BlogComments ul li .body .post div.ref h4 {
      margin: 0;
      padding: 1px 3px;
      background: #CC9966;
      color: #fff;
      font-size: 10pt;
    }
    .BlogComments ul li .body .post div.ref p {
      margin: 0;
      padding: 2px;
      line-height: 20px;
      color: #666666;
      font-size: 9pt;
    }
    .BlogComments ul li .body .post img {
      width: 20px;
      vertical-align: middle;
      margin: 0px 2px;
    }
    .BlogComments .inline_reply {
      margin-top: 10px;
    }
    .BlogCommentForm {
      width: 650px;
    }
    .BlogCommentForm .comment_form {
      padding-left: 70px;
      width: 630px;
    }
    .blg_submit_btn {
      padding: 5px 10px;
      text-decoration: none;
      background: #f09499;
      font-size: 12px;
      color: #FFF;
      display: inline-block;
      border: none;
      cursor: pointer;
    }
    .blg_submit_btn:hover {
      background-color: #9c4320;
    }
    .BlogCommentForm .comment_portrait {
      float: left;
      margin-left: 10px;
    }
    .BlogCommentForm .comment_portrait img {
      width: 40px;
      height: 40px;
      padding: 2px;
      border: #eee 1px solid;
    }
    .BlogCommentForm p {
      margin: 5px 0px;
      font-size: 12px;
    }
    .BlogCommentForm a.blog_emotion,
    .BlogCommentForm a.blog_soft {
      text-decoration: none;
      padding: 1px 2px 1px 18px;
      color: #666;
      border: 1px #FFF solid;
    }
    .BlogCommentForm a.blog_emotion:hover,
    .BlogCommentForm a.blog_soft:hover {
      border: 1px #F00 solid;
    }
    .BlogCommentForm a.blog_emotion {
      background: url('/img/space/emotion.gif') no-repeat left center;
    }
    .BlogCommentForm a.blog_soft {
      background: url('/img/space/app.gif') no-repeat left center;
    }
    .MMod {
      border: 1px solid #eee;
      background: #fff;
    }
    .RMod {
      border: 1px solid #eee;
	  background: #f09499;
	  padding: 5px;
	  text-align: center;
    }
    .myPoint {
      border: 1px solid #eee;
	  background: #fff;
	  padding: 5px;
	  text-align: center;
    }
    .RMod a {
	color: #fff;
	font-size: 14px;
	}
    .RMod strong {
      color: #333333;
      display: block;
      font-size: 14pt;
      font-weight: normal;
      margin: 0 0 10px 0;
    }
    .RMod strong a {
      float: right;
      font-weight: normal;
      font-size: 10pt;
      margin: 5px 2px 0 0;
    }
    .RMod ul li a {
      color: #333333;
      text-decoration: none;
    }
    .RMod ul li a:hover {
      color: #000;
    }
    
    #optContactMethod li {
      margin: 10px 0 0 0;
      font-size: 9pt;
      color: #666666;
    }
    #optContactMethod li b {
      display: block;
      color: #333333;
      margin-bottom: 2px;
    }
    #optContactMethod li b.inline {
      display: inline;
    }
    #optContactMethod li a {
      color: #4466bb;
    }
    #optContactMethod li a:hover {
      color: #0000aa;
    }
    #Logs {
      margin: 10px 0 0 0;
      padding: 10px;
    }
    #Logs .UserLogs {
      margin: 20px 10px;
    }
    .write-blog .section {
      margin: 10px 0px;
      padding: 5px 0px;
      font-size: 12.5px;
    }
    .write-blog .b-input {
      background-color: #fff;
      border: 1px solid #D9D9D9;
      border-top-color: #C0C0C0;
      border-left-color: #d0d0d0;
      -webkit-transition: border linear .2s;
      -moz-transition: border linear .2s;
      transition: border linear .2s;
    }
    .write-blog .c-input {
      display: inline-block;
      height: 22px;
      padding: 5px 1% 3px 1%;
      margin-bottom: 10px;
      font-size: 12px;
      line-height: 20px;
      color: #111;
      border-radius: 0;
      vertical-align: middle;
      margin-top: 5px;
    }
    .write-blog .d-input {
      display: inline-block;
      height: 22px;
      padding: 5px 0px 3px 0px;
      margin-bottom: 10px;
      font-size: 12px;
      line-height: 20px;
      color: #111;
      border-radius: 0;
      vertical-align: middle;
      margin-top: 5px;
    }
    .write-blog .f-input {
      width: 98%;
    }
    .write-blog .o-input {
      height: 18px;
      margin: 0px;
      padding: 3px 5px;
    }
    .write-blog .t-input {
      width: 98%;
      height: 65px;
    }
    .write-blog .m-input {
      width: 100%;
      min-height: 450px;
      height: auto;
    }
    .write-blog .s-button {
      width: 200px;
      background: #428BD1;
      height: 32px;
      border: none;
      color: #FFF;
      margin-right: 10px;
      font-size: 14px;
      cursor: pointer;
    }
    .write-blog .s-button:hover {
      background: #3270AC;
    }
    .write-blog .blog-title {
      position: relative;
    }
    .write-blog .blog-title .catalog {
      position: absolute;
      right: 10px;
      top: 10px;
      display: inline-block;
      height: 22px;
      line-height: 22px;
      overflow: hidden;
      cursor: pointer;
      color: #FFF;
      z-index: 1000;
    }
    .write-blog .blog-title .catalog ul {
      border: 1px solid #FFF;
      background: #428BD1;
    }
    .write-blog .blog-title .catalog li {
      height: 22px;
      line-height: 22px;
      text-align: center;
      padding: 0px 5px;
      background: #428BD1;
    }
    .write-blog .blog-title .catalog li:hover {
      background: #4BA1F3;
    }
    .write-blog .section strong i {
      display: inline-block;
      width: 15px;
      height: 8px;
      margin-right: 8px;
    }
    .write-blog .section strong {
      vertical-align: middle;
    }
    .write-blog .check-ico {
      background: url("/img/selg.jpg") no-repeat right bottom;
      white-space: nowrap;
      line-height: 30px;
      color: #999;
      border: 2px solid #999;
      font-size: 9pt;
      padding: 3px 15px;
      cursor: pointer;
      margin: 0px 10px 1px 10px;
    }
    .write-blog .checked,
    .multi-check:hover {
      background: url("/img/sel-b-type.gif") no-repeat right bottom;
      border: 2px solid #F00;
      color: #F00;
    }
    .write-blog .single-check:hover {
      color: #999;
    }
    .write-blog .checked:hover {
      color: #F00;
    }
    .write-blog .section .setting-title {
      color: #777;
      font-size: 12px;
      display: inline-block;
      margin-right: 10px;
      width: 120px;
    }
    .write-blog .sel-editor span.sel-box {
      float: right;
    }
    .write-blog .sel-editor .sel-box span {
      color: #FFF;
      padding: 2px 8px;
      background: #E7A940;
      cursor: pointer;
      font-size: 12px;
      float: left;
    }
    .write-blog .sel-editor span.sel-title {
      background: #FFF;
      color: #777;
    }
    .write-blog .sel-editor span.editor-item:hover {
      background: #CF932E;
    }
    .write-blog .sel-editor span.selected-editor {
      background: #40AA53;
    }
    .write-blog .err-msg {
      padding: 5px 15px;
      color: #F00;
      font-size: 12px;
    }
    .write-blog .ke-container {
      margin-top: 8px;
    }
    .write-blog .wmd-button .wmd-blog-prev {
      width: 60px;
      display: inline-block;
      background: #FFF;
      text-align: center;
    }
    .write-blog .wmd-button .wmd-blog-prev:hover {
      background: #99c0fa;
    }
    .edui-default {
      text-align: left;
    }
    .write-blog .select_box {
      white-space: nowrap;
      line-height: 30px;
      color: #999;
      border: 2px solid #999;
      font-size: 9pt;
      padding: 3px 1px;
      cursor: pointer;
      margin: 0px 10px 1px 10px;
    }
.user {
	position: absolute;
	top: 0;
	right: 20px;
	line-height: 33px;
	z-index: 1;
}
.user .arrowR {
	display: inline-block;
	background-position: -196px -234px;
}

#contents {
	margin-top: 6px;
	padding: 0 20px;
	min-height: 300px;
	_height: 300px;
}

.pCell10 th,
.pCell10 td {
	padding: 0px;
}

.linkList {
	text-align: left;
}

.linkList li {
	display: inline;
}

.shopCatchCopy {
	color: #CD4D72;
	font-size: 16px;
}

.seoCaption {
	color: #999999;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
}

.ReserveConditionTable	{ position:relative; z-index: 1; }
/* height24px */

/************************************************************
*********************************************************/

.ympS	{ background-image: url("/assets/images/y_mypage.png?switch=20140227"); }

.shopInformationHead					{ background-position: -2920px top; background-repeat: no-repeat; padding-top: 6px; display: block; text-decoration: none; }
.shopInformationBottom				{ background-position: -3620px bottom; background-repeat: no-repeat; padding-bottom: 6px; zoom: 1; }
.shopInformationMysalon				{ background-position: -2219px top; background-repeat: repeat-y; padding: 4px 0; zoom: 1; }

.netReserveWrapper {
	min-height: 3px;
	_height: 3px;
	line-height: 1.5;
}

.waitTitle				{ background-position: -1040px -260px; width: 635px; height: 24px; display:block; }

/************************************************************
***********************************************************/
.cassetteHeading         {padding: 7px 14px 8px; border-bottom:2px solid #f09499; }
.cassetteContentsHeading {padding-left: 8px; font-weight:bold; color:#666666; border-left: 5px solid #988989; line-height:14px; }

/************************************************************
* buttons
************************************************************/
/* height24px */
#userForm dt {
    display: inline-block;
    float: left;
}

#userForm dd {
    display: inline-block;
    margin:1
}

#userForm label {
    font-size: 10px;
    padding-left: 5px;
}

.MMod li .avatar {
width: 45px;
}

.MMod li td {
vertical-align: top;
padding: 0;
}

.MMod li .update .name {
font-weight: bold;
}

.MMod li .opts {
text-align: right;
width: 50px;
}

.optContactMethod:first-child > .danger {
    display: none;
}

.accounts label {
    display: none;
}

.accounts div:first-child label {
    display: inline-block;
}

.account_template, .optContactMethod_template {
    display: none;
}

form .clearfix {
  margin-bottom: 18px;
  zoom: 1;
}
form .clearfix:before, form .clearfix:after {
  display: table;
  content: "";
  zoom: 1;
}
form .clearfix:after {
  clear: both;
}
form .clearfix.error input, form .clearfix.error textarea {
  color: #b94a48;
  border-color: #ee5f5b;
}
form .clearfix.error input:focus, form .clearfix.error textarea:focus {
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
}
form .clearfix.warning input:focus, form .clearfix.warning textarea:focus {
  border-color: #be9a3f;
  -webkit-box-shadow: 0 0 6px #e5d6b1;
  -moz-box-shadow: 0 0 6px #e5d6b1;
  box-shadow: 0 0 6px #e5d6b1;
}
form .clearfix.success input:focus, form .clearfix.success textarea:focus {
  border-color: #458845;
  -webkit-box-shadow: 0 0 6px #9acc9a;
  -moz-box-shadow: 0 0 6px #9acc9a;
  box-shadow: 0 0 6px #9acc9a;
}

.MMod li .avatar img {
      width: 32px;
      height: 32px;
      margin-top: 5px;
    }

#couponForm dd, #menuForm dd {
display: inline-block;
}

ul.clearfix.quickNav li {
float: left;
background: #f09499;
margin: 0 2px 5px 3px;
padding: 5px;
width: 85px;
text-align: center;
}

ul.clearfix.quickNav li a {
color: #fff;
}


/*右边快捷菜单的样式 ST*/
.sns-tab {
position: relative;
z-index: 1;
margin-top: 10px;
}

.tab-app ul {
border-bottom: 1px solid #dcdcdc;
padding-left: 10px;
margin-bottom: -1px;
}

.sns-tab ul {
position: relative;
z-index: 10;
height: 24px;
}

.tab-app li.selected {
border: 1px solid #DCDCDC;
border-bottom: none;
background-color: #fff;
}

.tab-app ul li {
margin-bottom: -1px;
}

.sns-tab ul li {
float: left;
position: relative;
z-index: 10;
margin: 0 3px;
font-size: 13px;
}

.tab-app li a, .tab-app li a:visited {
height: 25px;
line-height: 25px;
font-weight: normal;
color: #913a43;
text-decoration: none;
}

.tab-app li.selected a, .tab-app li.selected a:visited {
color: #333;
text-decoration: none;
font-weight: bold;
}

.tab-app li.selected a {
height: 24px;
line-height: 23px;
}

.sns-tab ul li a {
float: left;
padding: 0 10px;
text-decoration: none;
}

.tab-app li a:hover {
border: 1px solid #dcdcdc;
border-bottom: none;
height: 24px;
line-height: 23px;
padding: 0 9px;
background-color: #fff;
margin-bottom: 1px;
color: #000;
text-decoration: none;
}

.tab-app li.selected a:hover {
border: none;
height: 23px;
padding: 0 10px;
}

ul.tab-sub {
border-bottom: 1px solid #D1D1D1;
padding: 5px 10px 4px 10px;
background-color: #fff;
border-top: 1px solid #dcdcdc;
z-index: 1;
height: 25px;
}

ul.tab-sub li {
border: none;
background: none;
float: left;
position: relative;
z-index: 10;
margin: 0 3px;
margin-bottom: 0;
}

.tab-sub li a, .tab-sub li a:visited{
height: 25px;
line-height: 25px;
color: #313131;
text-decoration: none;
font-weight: 100;
padding: 0 10px;
}

ul.tab-sub li a:hover {
border: 1px solid #dcdcdc;
height: 25px;
line-height: 25px;
padding: 3px 9px;
background-color: #fff;
margin-bottom: 1px;
text-decoration: none;
}

ul.tab-sub li.selected a:hover{
border: 1px solid #dcdcdc;
height: 25px;
line-height: 25px;
padding: 3px 9px;
}

ul.tabInfoTitle li.selected{
border: 1px solid #dcdcdc;
height: 25px;
line-height: 25px;
padding: 0 5px;
margin: 0 5px;
font-weight: bold;
}

ul.tabInfoTitle {
height: 32px;
border-bottom: 1px solid #dcdcdc;
margin-top: 5px;
}

.tab-sub li.selected a, .tab-sub li.selected a:visited {
color: #666;
font-weight: 700;
border: 1px solid #dcdcdc;
padding: 3px 9px;
text-decoration: none;
}

ul.sub-sub {
margin-top: -1px;
}

/*右边快捷菜单的样式 END*/

/*用户消息的样式 ST*/
.B_message_box .W_main_c .all_msg_list .msg_list_node {
margin: 0 20px;
}

.WB_msg_type .id_avatar {
float: left;
width: 50px;
height: 50px;
position: relative;
}

.WB_msg_type .msg_main {
margin-left: 65px;
height: 50px;
overflow: hidden;
_width: 492px;
}

.WB_msg_type .msg_main .msg_title {
margin-bottom: 5px;
}

.W_f14 {
font-size: 14px;
}

.W_fb {
font-weight: 700;
}

.WB_msg_type .msg_main .msg_detail {
line-height: 30px;
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
margin-right: 2em;
_margin-right: 0;
_width: 463px;
_zoom: 1;
_float: left;
}

.S_txt2, .SW_fun2:hover .S_txt3 {
color: #808080;
}

.S_line2 {
border-color: #e6e6e6;
}

.WB_msg_type .msg_list_node {
border-bottom-width: 1px;
border-bottom-style: solid;
padding-top: 20px;
padding-bottom: 15px;
position: relative;
width: 100%
}

.WB_msg_type .msg_ctrls {
position: absolute;
right: 0;
top: 22px;
}

div.page-limit {
float: right;
margin-top: 20px;
}

div.WB_msg_type {
margin: 0 5px;
}

.msg_dialogue {
margin-top: 25px;
padding: 0 20px;
line-height: 22px;
}

.msg_dialogue_list {
margin-bottom: 20px;
}

.msg_dialist_l .msg_dialist_pic {
float: left;
_margin-right: 15px;
}

.msg_dialist_l .msg_dialist_content {
float: left;
margin-left: 15px;
_margin-left: 0;
}

.msg_dialogue_list .msg_dialist_content {
border-width: 1px;
border-style: solid;
border-radius: 5px;
position: relative;
zoom: 1;
box-shadow: 0 3px 3px rgba(0,0,0,.05);
border-color: #e6e6e6;
}

.msg_dialogue_list .msg_dialist_content .msg_arrow {
position: absolute;
top: 15px;
width: 10px;
overflow: hidden;
}

.msg_dialogue_list .msg_dialist_content .msg_arrow * {
font-family: "SimSun";
overflow: hidden;
font-size: 20px;
line-height: 1.231;
display: block;
height: 20px;
}

.msg_dialogue_list .msg_dialist_content .msg_dialist_main {
border-radius: 5px;
}

.msg_dialogue_list .msg_dialist_content .msg_diamain_box {
width: 550px;
padding: 15px 20px 10px;
}



.msg_dialist_l .msg_arrow {
left: -10px;
}

.S_line2_c {
color: #e6e6e6;
}

.S_bg5_c {
color: #ffffff;
}

em {
font-style: normal;
font-weight: normal;
}

.msg_dialist_l .msg_arrow span {
margin: -20px 0 0 1px;
}

fieldset {
display: block;
padding: 0 0 0 20px;
border-style: solid;
border-width: 1px 0 0 0;
}

.msg_time_line {
margin: 5px 10px 25px 65px;
_margin-bottom: 0;
text-align: center;
padding: 0 0 0 148px;
_padding-bottom: 25px;
}

.msg_time_line .time_tit {
width: 120px;
text-align: center;
font-weight: 400;
}

.S_txt3 {
color: #aeaeae;
}

#content_head .MMod ul li {
padding-bottom: 15px;
border-bottom: 1px solid #e6e6e6;
margin-bottom: 10px;
}
/*用户消息的样式 END*/

/*收藏样式 ST*/
.stylistBtn a, .styleResult a.styleBtn, .styleBtn a {
background: #f09499;
color: #fff;
padding: 5px 5px;
}

.styleBtn {
	margin-top: 8px;
}

li.styleItem {
display: inline;
float: left;
}

div.styleResult {
border-right: 1px solid #DDDDDD;
padding: 0 8px;
}

.blogS {
background-color: #7c25ff;
}

.blogCategoryBL10 {
background-position: -360px 0;
display: block;
width: 107px;
height: 19px;
text-align: center;
color: white;
}

.mR70 {
margin-right: 70px;
}

.followBlogBtn .buttons {
color: #fff;
font-size: 9px;
padding: 2px;
float: right;
margin-right: 15px;
}

a.blogTitle {
text-decoration: underline;
font-size: 13px;
font-weight: bold;
}

.couponLeft {
width: 25px;
}

.couponRight {
width: 100px;
padding: 0 5px;
}
/*收藏样式 END*/

/*我的作品 ST*/
.styleList .styleItem {
float: left;
padding: 0px 10px 15px 0px;
border-right: 1px solid #dddddd;
margin: 0 5px;
}

.bbl {
border-bottom: 1px solid #dddddd;
padding-bottom: 10px;
}
/*我的作品 END*/

/*我的动态  ST*/
li.Blog {
display: inline;
float: left;
border-bottom: 1px solid #dddddd;
padding-bottom: 10px;
margin-top: 10px;
}

.blogList a.newBlog {
width: 100%;
padding-bottom: 10px;
border-bottom: 1px solid #dddddd;
float: left;
}

.blogList .buttons {
border-bottom: 1px solid #dddddd;
padding: 5px;
}

div.BlogTitle h1 {
font-size: 15px;
margin-bottom: 5px;
}

.BlogEntity .BlogTitle {
padding-bottom: 5px;
border-bottom: 2px solid #f09499;
margin-bottom: 15px;
}

.BlogEntity ul {
margin-top: 10px;
}

.BlogEntity ul li {
float: left;
}

.BlogEntity ul li a {
text-decoration: underline;
}

.BlogEntity li.nextPost {
float: right;
}

.blogContents dl dt label {
font-weight: bold;
}

.blogContents dl dt {
margin-bottom: 5px;
}

.blogContents dl {
margin-bottom: 20px;
}

.blogContents dl dd select {
white-space: nowrap;
line-height: 30px;
color: #999;
border: 2px solid #999;
font-size: 9pt;
padding: 3px 1px;
cursor: pointer;
}

.blogContents input#tags {
width: 100%;
height: 30px;
}

.blogContents dl#isVisible_field dt, .blogContents dl#pushToSalon_field dt, .blogContents dl#allowComment_field dt {
float: left;
margin-right: 30px;
margin-top: -1px;
min-width: 100px;
}

.blogContents dl#isVisible_field dt label, .blogContents dl#pushToSalon_field dt label,
.blogContents dl#allowComment_field dt label {
font-weight: normal;
}

.blogContents dl#isVisible_field, .blogContents dl#pushToSalon_field,
.blogContents dl#allowComment_field {
margin-bottom: 5px;
}

div.blogSet font {
font-weight: bold;
}

div.blogSet {
margin-bottom: 5px;
}

.blogContents .buttons {
padding: 7px 50px;
margin-top: 20px;
}

div.BlogComments {
margin-top: 50px;
}
/*我的动态 END*/

/*我的信息 ST*/
div.mysalon-stylist-group li {
display: inline;
}

.cassetteHeading h4 a {
text-decoration: underline;
}

a.removeSalon, a.followBtn {
padding: 5px;
background: #f09499;
color: #fff;
}

div.listBody {
margin-top: 10px;
}

.listBody .bl {
border: 1px solid #dddddd;
}

.h170 {
	height: 170px;
}

p.introHeader {
color: #f09499;
font-size: 16px;
font-weight: bold;
}

.mW65 {
	min-width: 60px;
}

.mW90 {
	min-width: 90px;
}

.pl5 {
padding-left: 5px;
}

.CouponArea .couponItem {
padding-bottom: 1px;
border-bottom: 1px dotted;
}

.CouponArea .couponItem:last-child {
border-bottom: none;
}
/*我的信息 END*/
/*申请技师 ST*/
#getSalonForm .buttons {
padding: 2px 10px;
}
a.applyToStylist {
color: #fff;
padding: 5px 10px;
margin-left: 10px;
}

div.mysalon-stylist-group {
margin-top: 20px;
}
/*申请技师 END*/
.checkboxArea {
float: left;
min-width: 70px;
}

.reserveArea .buttons {
padding: 5px 15px;
}


.taC {
text-align: center !important;
}

.PB30 {
padding-bottom: 30px;
}

/*--------申请技师导航条--------*/
.step {
  overflow: hidden;
  margin-bottom: 30px;
  height: 25px;
}

.step li {
  float: left;
  background: url(/assets/images/login/p1.jpg) no-repeat top right #ededed;
  height: 25px;
  line-height: 25px;
  color: #999999;
  padding: 0 50px 0 44px;;
  font-weight: bold;
}

.step .one {
  background: url(/assets/images/login/p5.jpg) no-repeat top right #bbbbbb;
  color: #FFF;
}

.step .one1 {
  background: url(/assets/images/login/p9.jpg) no-repeat top right #bbbbbb;
  color: #FFF;
}

.step .four {
  background: none #ededed;
}

.step .cur {
  background: url(/assets/images/login/p2.jpg) no-repeat top right #ffe6bc;
  color: #ff6600;
}

.step .four1 {
  background: none #ffe6bc;
}

#filePhoto, #target {
  margin-bottom: 10px;
}

/*--------申请技师导航条--------*/
