@CHARSET "UTF-8";

#entry {
background: #e8e8e8;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
padding: 5px;
margin: 20px auto 50px;
position: relative;
width: 98%;
}

.w1 {
width: 890px;
margin: 0 auto;
}

#entry .mc {
border: 1px solid #e1e1e1;
background: #ffffff;
height: 343px;
}

#entry .form {
position: absolute;
top: 18px;
right: 32px;
width: 320px;
overflow: hidden;
height: 354px;
}

.free-regist {
position: absolute;
right: 42px;
bottom: -31px;
background: #e8e8e8;
width: 115px;
height: 32px;
text-align: center;
line-height: 32px;
-moz-border-radius: 0 0 3px 3px;
-webkit-border-radius: 0 0 3px 3px;
border-radius: 0 0 3px 3px;
padding: 0px 5px 5px;
}

.free-regist span {
text-align: center;
font-size: 14px;
background: #6ec7e5;
width: 115px;
height: 32px;
display: block;
color: #FFF;
-moz-border-radius: 0 0 3px 3px;
-webkit-border-radius: 0 0 3px 3px;
border-radius: 0 0 3px 3px;
}

.free-regist a:link, .free-regist a:visited {
color: #ffffff;
}

#entry .item {
height: 64px;
line-height: 26px;
overflow: visible;
position: relative;
width: 320px;
z-index: 1;
}

#entry .item span {
color: #999999;
height: 20px;
line-height: 20px;
display: block;
margin-top: 1px;
}

#entry .item .item-ifo {
position: relative;
width: 307px;
}

#entry .text {
float: none;
width: 282px;
height: 24px;
line-height: 24px;
padding: 4px 20px 4px 3px;
border: 1px solid #cccccc;
font-size: 14px;
font-family: arial,"宋体";
}

#entry .item-ifo .i-name {
background: url(/assets/images/login/login-all-bg.png) no-repeat -373px -111px #fff;
width: 16px;
height: 16px;
top: 8px;
}

#entry .item-ifo .i-pass {
background: url(/assets/images/login/login-all-bg.png) no-repeat -346px -108px #fff;
width: 14px;
height: 19px;
top: 8px;
}

#entry .item-ifo .ico {
position: absolute;
right: 12px;
z-index: 5;
}

#entry .text {
float: none;
width: 282px;
height: 24px;
line-height: 24px;
padding: 4px 20px 4px 3px;
border: 1px solid #cccccc;
font-size: 14px;
font-family: arial,"宋体";
}

#entry .btn-entry:hover {
background: url(/assets/images/login/login-all-bg.png) no-repeat 0 -95px;
}

#entry .btn-entry {
width: 307px;
height: 34px;
line-height: 100px;
text-indent: -9999px;
background: url(/assets/images/login/login-all-bg.png) no-repeat 0 -61px;
overflow: hidden;
border: none;
}

#entry #autoentry {
height: 37px;
margin-top: 35px;
}

