@(blog : Blog, logged : Boolean)

@import java.text.DateFormat
     
					<div class="BlogTitle">
			    		<div class="title">
			            	<h2><span class="icon" style="background:#44ac57;" title=""></span>	<a href="@noAuth.routes.Blogs.getOneBlogById(blog.id)">@blog.title</a></h2>			    	
			        		<div class="outline">
			            	  <span class="">
													@Messages("blog.blogCategory"): 
									@blog.blogCategory			   							                			            		
							  </span>
							  <br />		  
							  @if(logged){
			                  <span class="blog_admin">( <a href="@auth.routes.Blogs.editBlog(blog.id)">@Messages("common.edit")</a> | <a href="" class="deleteBlog" data-blog="@blog.id">@Messages("common.delete")</a> )</span>
			                  }
			        	    </div>
			    		</div>		
					</div>
					
			    	<div class="BlogContent" id="">
						@Html(blog.content.slice(0, 100))
                		@if(blog.content.length > 100) {...}
			    	</div>
			    	
					<div class="bottom">	
						@Messages("blog.createAt",DateFormat.getDateInstance.format(blog.createTime)), | @Messages("blog.comment") (@noAuth.Comments.clean @Comment.all(blog.id).size)@*| 收藏(0)*@
			    		<a href="@noAuth.routes.Blogs.getOneBlogById(blog.id)" class="fullcontent">@Messages("blog.readFullBlog")</a>
			    	</div>
			    	
   



