@(formBlog: Form[models.portal.blog.Blog], list : List[String], user : models.portal.user.User, followInfo:models.portal.user.FollowInformation, blog : models.portal.blog.Blog)

@import helper._
@import views.html.user._

<script src="@routes.Assets.at("javascripts/ckeditor/ckeditor.js")" type="text/javascript"></script>

@myPageMain("my-acts", user, followInfo, user.id, true) {
  <div>
    <ul class="tabInfoTitle">
      <li class="fl selected">
        @Messages("blog.editBlog")
      </li>        
    </ul>
  </div>
  <div class="mT40 blogContents">
    @form(action = auth.routes.Blogs.modBlog(blog.id)) {
      @inputText(formBlog("title"), '_label -> Messages("blog.title"), '_error -> formBlog("title").error.map(_.withMessage(Messages("blog.titleErr"))), '_help -> "")             
      @textarea(formBlog("content"), '_label -> Messages("blog.content"), 'rows -> 5, 'cols -> 20, '_error -> formBlog("content").error.map(_.withMessage(Messages("blog.contentErr"))), '_help -> "")
      @inputDate(formBlog("createTime"),'_label -> "" ,'style -> "display: none", '_help -> "")
      @select(
        field = formBlog("blogCategory"), 
        options = options(list),
        '_label -> Messages("blog.blogCategory")
      )                 
      @*@inputText(formBlog("blogPics"), args = '_label -> "上传图片")*@   
      @inputText(formBlog("tags"), args = '_label -> Messages("blog.tags"), 'placeholder -> Messages("blog.placeholder"))
      <div class="blogSet"><font>@Messages("blog.blogSet")</font></div>
      @inputRadioGroup(field = formBlog("isVisible").copy(value=formBlog("isVisible").value.map{Some(_)}.getOrElse(Some("true"))), options = options("true" -> Messages("blog.visible"), "false" -> Messages("blog.unVisible")) , '_label -> Messages("blog.isVisible"), '_help -> "")
      @if(user.userTyp.equals(models.portal.user.User.STYLIST)) {
       @inputRadioGroup(field = formBlog("pushToSalon").copy(value=formBlog("pushToSalon").value.map{Some(_)}.getOrElse(Some("true"))), options = options("true" -> Messages("blog.pushToSalon"), "false" -> Messages("blog.notPushToSalon")) , '_label -> Messages("blog.isPushToSalon"), '_help -> "")
      }
      @inputRadioGroup(field = formBlog("allowComment").copy(value=formBlog("allowComment").value.map{Some(_)}.getOrElse(Some("true"))), options = options("true" -> Messages("blog.allowComment"), "false" -> Messages("blog.notAllowComment")) , '_label -> Messages("blog.isAllowComment"), '_help -> "")
      <input type="submit" class = "buttons" value= "@Messages("blog.saveBlog")" >
       <script>
         CKEDITOR.replace( 'content' );
       </script>
    }
  </div>
}

