@(blog : Blog)

@import java.text.DateFormat


<div class="Blog">      
					<div class="BlogTitle">
			    		<div class="title">
			            	<h2><span class="icon" style="background:#44ac57;" title=""></span>	<a href="@routes.Blogs.showBlogById(blog.id)">@blog.title</a></h2>			    	
			        		<div class="outline">
			            	  <span class="">
													分类: 
									@blog.blogCategory			   							                			            		
							  </span>
							  <br />		  
			                  @*<span class="blog_admin">( <a href="@routes.Blogs.editBlog(blog.id)">修改</a> | <a href="javascript:deleteBlog(@blog.id);">删除</a> )</span>*@ 
			                  <span class="blog_admin">( <a href="@routes.Blogs.editBlog(blog.id)">@Messages("common.edit")</a> | <a href="" class="deleteBlog" data-blog="@blog.id">@Messages("common.delete")</a> )</span>
			        	    </div>
			    		</div>		
					</div>
					
			    	<div class="BlogContent" id="">
						@Html(blog.content)
			    	</div>
			    	
					<div class="bottom">	
						发布于@DateFormat.getDateInstance.format(blog.createTime)， | 评论(@Comments.clean@Comment.all(blog.id).size)| 收藏(0)
			    		<a href="@routes.Blogs.showBlogById(blog.id)" class="fullcontent">阅读全文...</a>
			    	</div>
			    	
</div>
   



