@(user : User, blogList : List[Blog], followInfo:FollowInformation, loginUserId : ObjectId = new ObjectId, logged:Boolean = false)
@import views.html.user._

	@myPageMain(navInMyPage = "my-blog", user, followInfo, loginUserId, logged) {
		
		@if(loginUserId.equals(user.id)){		
   			<a href = "@auth.routes.Blogs.newBlog"><input type="button" value="@Messages("blog.newBlog")" ></a>
    	}
    			
		@if(blogList.isEmpty){
			<div class="bgAlertMsg mT20">
        		<p class="alertMsg">@Messages("user.notWriteBlog")</p>
    		</div>
		}else{
			@blogList.map { blog =>
				<li class="Blog">
					@views.html.blog.admin.blogItemOfUser(blog, logged)				
				</li>
			}	
		}
	}