@(user : User, blogList : List[Blog], followInfo:FollowInformation, loginUserId : ObjectId = new ObjectId, logged:Boolean = false)
@import views.html.user._

	@myActsMain("my-blogs", user, followInfo, loginUserId, logged) {
		
		<div class="mT40 blogList">
			@if(loginUserId.equals(user.id)){		
	   			<a href = "@auth.routes.Blogs.newBlog" class="newBlog"><input type="button"  class="buttons" value="@Messages("blog.newBlog")" ></a>
	    	}
			
			@blogList.map { blog =>
			<li class="Blog">
				@views.html.blog.admin.blogItemOfUser(blog, logged)				
			</li>
			}
		</div>
	
	}