@CHARSET "UTF-8";

.title {
background-color: #E8E8E2;
border: #A6A6A6 solid 1px;
display: block;
line-height: 20px;
padding-top: 10px;
padding-bottom: 2px;
padding-left: 10px;
padding-right: 10px;
}

.fs18 {
font-size: 18px;
}

.directRsv {
background-position: -840px -580px;
width: 90px;
height: 25px;
}

.underTabContents {
border-top: 2px solid #988989;
position: relative;
z-index: 0;
padding-top: 10px;
zoom: 1;
}

.coverTable {
background-color: #F5F3EF;
border-bottom: #DDDDDD solid 1px;
border-left: #DDDDDD solid 1px;
border-right: #DDDDDD solid 1px;
display: block;
padding: 5px;
}

.whiteTable2 {
background-color: #FFFFFF;
border: #E6E6E6 solid 1px;
padding: 5px;
}

.innerTable {
width: 100%;
border-spacing: 3px;
}

.timeColor {
background-color: #F5F3EF;
}

.monthColor {
background-color: #EDEAE5;
}

timeColor, .monthColor, .sat, .sun, .timeCell, .closeColor, .openColor, .dayCell {
border: 1px solid #E6E6E6;
font-weight: bold;
text-align: center;
}

.dayCell {
background-color: #F5F3EF;
height: 32px;
width: 35px;
}

.sat {
background-color: #D9E3EC;
color: #4466BB;
height: 32px;
width: 35px;
}

.sun {
background-color: #EEDDD9;
color: #BB5555;
height: 32px;
width: 35px;
}

.timeCell {
background-color: #F5F3EF;
}

.innerCell {
border: 0 none;
}

.moreInnerTable {
border: 0 none;
width: 100%;
border-spacing: 0;
padding: 0;
margin: 0;
}

.hourR, .scheduleOffR {
width: 100%;
height: 24px;
margin-top: 8px;
}

.separate {
height: 3px;
border: solid 0px;
background-color: #FFFFFF;
padding: 0px;
}

.openColor {
background-color: #FFFFFF;
height: 32px;
width: 35px;
text-align: center;
}

.scheduleR {
height: 32px;
width: 35px;
}

.innerCloseCell {
border: 1px solid #E6E6E6;
background-color: #EEEEEE;
text-align: center;
}

.closeday {
background-position: -50px 0;
width: 35px;
height: 90px;
}

.rsvS {
background-image: url("/assets/images/reservation/reserve.png");
background-repeat: no-repeat;
display: block;
}

.arrowPagingWeekR {
background-position: right -241px;
padding-right: 8px;
}

.arrowPagingWeekL {
background-position: -196px -121px;
padding-left: 8px;
}

.arrowPagingWeekLOff {
background-position: -196px -361px;
padding-left: 8px;
}

.arrowPagingWeekROff {
background-position: right -461px;
padding-right: 8px;
}

.reservBS {
background-image: url(/assets/images/b.png);
background-repeat: no-repeat;
background-color: transparent;
border: 0;
}

/* 预约步骤指示区域 ST */
.step {
overflow: hidden;
margin-bottom: 30px;
height: 25px;
}

.step li {
float: left;
background: url(/assets/images/login/p1.jpg) no-repeat top right #ededed;
height: 25px;
line-height: 25px;
color: #999999;
padding: 0 48.5px 0 40px;
font-weight: bold;
}

.step .one {
background: url(/assets/images/login/p5.jpg) no-repeat top right #bbbbbb;
color: #FFF;
}

.step .one1 {
background: url(/assets/images/login/p9.jpg) no-repeat top right #bbbbbb;
color: #FFF;
}

.step .two {
background: url(/assets/images/login/p10.jpg) no-repeat top right #bbbbbb;
color: #FFF;
}

.step .two1 {
background: url(/assets/images/login/p9.jpg) no-repeat top right #bbbbbb;
color: #FFF;
}

.step .three {
background: url(/assets/images/login/p5.jpg) no-repeat top right #bbbbbb;
color: #FFF;
}

.step .three1 {
background: url(/assets/images/login/p9.jpg) no-repeat top right #bbbbbb;
color: #FFF;
}

.step .four {
background: url(/assets/images/login/p5.jpg) no-repeat top right #bbbbbb;
color: #FFF;
}

.step .four1 {
background: url(/assets/images/login/p9.jpg) no-repeat top right #bbbbbb;
}

.step .cur {
background: url(/assets/images/login/p2.jpg) no-repeat top right #ffe6bc;
color: #ff6600;
}

.step .five {
background: none #ededed;
}

.step .five1 {
background: none #ffe6bc;
}

/* 预约步骤指示区域 END */

.reserveTitleOuter {
background-position: -3060px top;
background-repeat: no-repeat;
background-color: #A6A39B;
position: relative;
zoom: 1;
}

.reserveTitleInner {
background-position: -3825px bottom;
background-repeat: no-repeat;
color: white;
font-size: 14px;
padding: 6px 10px;
}

.reserveMark {
font-size: 25px;
vertical-align: middle;	
}

.titleBottom {
border-bottom: 2px solid #BFBFBF;
}

a.nominatedReserve {
color: #fff;
line-height: 30px;
font-weight: bold;
text-align: center;
}

.mysalon-stylist {
float: left;
}

#pageTopForReserv {
	width: 765px;
	margin: auto;
}

#footerForReserv {
width: 765px;
margin: 0 auto;
clear: both;
overflow: hidden;
position: relative;
padding-bottom: 10px;
}

#footerLinksForReserv {
font-size: 10px;
overflow: hidden;
position: absolute;
top: 25px;
right: 0;
}

#footerLinksForReserv li {
float: left;
border-right: 1px solid #DDD;
padding-right: 15px;
margin-left: 15px;
margin-right: -1px;
}

.postSalonInfoForReserv {
left: 200px;
}

.submitArea2 {
background-color: #F5F3EF;
display: block;
line-height: 20px;
padding: 10px;
}

.confirmL { 
background-position: -148px -52px; 
width: 150px; 
height: 50px;
color: #fff;
font-size: 15px;
font-weight: bold; 
}
.confirmL:hover {
background-position: -148px -102px; 
}

.resvbt {
text-decoration: underline;
font-weight: bold;
}

.resvbt a:hover {
color: #FF8A90;
}

.br {
border-right: 1px solid #ddd;
}

.pCell5 th, .pCell5 td {
padding: 5px;
}