@(comment: Comment)
<div class="reportHeaderPickup">
	<div class="shopInfo reportPickupTitle cFix">
		<p class="fl w580 pL25"><span class="b">评论人昵称</span><span class="mL5 fs10 fgGray">评论人的一些特点</span></p>
		<div class="fr mT2">
			<p class="fs10 fgGray">[评论时间] @comment.createTime.toLocaleString</p>
		</div>
	</div>
</div>

<div class="mT10 pH10">
	<p class="mT10 wwbw">评论的内容，要实现所见即所得</p>
	<dl class="mT25">
		<dt class="couponMenuTitle fl">预约的优惠券和菜单</dt>
		<dd class="oh zoom1">
			<p>评论的对象，是哪一个coupon</p>
			<p class="fs10">[菜单]哪些菜单</p>
			</dd>
	</dl>
</div>

<div class="BlogCommentForm">
	@*<form id="form_inline_comment" action="@routes.Comments.reply(comment.id, blog.id, 3)" method="POST">*@
	  <!-- <input type="hidden" id="inline_reply_id" name="reply_id" value="1452044_278889672"> -->          
      <textarea name="content" id="ccom_content" style="width:650px;height:60px;"></textarea><br>
	  <p>
		  <span style="float:right;">
    	  <input type="button" value="关闭" class="blg_submit_btn" id="btn_close_inline_reply" style="background: rgba(255,255,255,0);color: #555;">
    	  <input type="submit" value="回复" id="btn_comment" class="blg_submit_btn"> 
		  </span>
		  插入：
				<a href="javascript:;" onclick="javascript:insert_emotions('ccom_content',this);" class="blog_emotion">表情</a>
		 <span class="NoData" id="ficmp_msg" style="color:#F00"></span>
	  </p>
    </form>
</div>