@(salon : Salon, comment: Comment)

<script type="text/javascript">     
      function replyForm(contId, showBlockId){
      	var txt = document.getElementById(contId).value;
      	if(txt.trim() == ""){  
      		document.getElementById(showBlockId).innerHTML = "评论内容不能为空";
      		return false;
      	}
      	return true;
      }

      function replyInline(divDisplay){
          if(document.getElementById(divDisplay).style.display != "block")
          {
              document.getElementById(divDisplay).style.display = "block";
          }
          else
          {
              document.getElementById(divDisplay).style.display = "none";
          }
      }
</script>

@import java.text.DateFormat
@if(comment.commentObjType == 2) {
<div class="reportHeaderPickup">
	<div class="shopInfo reportPickupTitle cFix">
		<p class="fl w580 pL25"><span class="b">@User.findOneByUserId(comment.authorId).get.nickName</span><span class="mL5 fs10 fgGray">（@User.findOneByUserId(comment.authorId).get.sex/@Application.getAge(User.findOneByUserId(comment.authorId).get.birthDay)/@User.findOneByUserId(comment.authorId).get.socialStatus）</span></p>
		<div class="fr mT2">
			<p class="fs10 fgGray">@Messages("comment.passDate") @DateFormat.getDateInstance.format(comment.createTime)</p>
		</div>
	</div>
	
	<ul class="judgeList cFix">
			    <li class="bdN fgGray b">
			       @Messages("comment.complex")
			        <span class="mL5 mR10 fgPink">
			            @comment.complex
			        </span>
			        @for(i <- 0 until comment.complex){
		        	 	<span class="iconStarOn">
				           	 ★
				        </span>
			        }
			        @for(i <- comment.complex until 5){			     
				        <span class="iconStarOff">
				           	 ★
				        </span>
			        }
			    </li>
			    <li>
			        <span class="fgGray">
			           @Messages("comment.atmosphere")
			        </span>
			        <span class="mL10 fgPink b">
			            @comment.atmosphere
			        </span>
			    </li>
			    <li>
			        <span class="fgGray">
			           @Messages("comment.service")
			        </span>
			        <span class="mL10 fgPink b">
			            @comment.service
			        </span>
			    </li>
			    <li>
			        <span class="fgGray">
			           @Messages("comment.skill")
			        </span>
			        <span class="mL10 fgPink b">
			            @comment.skill
			        </span>
			    </li>
			    <li class="bdN">
			        <span class="fgGray">
			            @Messages("comment.price")
			        </span>
			        <span class="mL10 fgPink b">
			            @comment.price
			        </span>
			    </li>
			</ul>
	
</div>

<a onclick="return replyInline('reply_@comment.id')" style="cursor:pointer;">@Messages("blog.replyComment")</a>
<a onclick="return replyInline('reply_@comment.id')" style="cursor:pointer;">@Messages("comment.complain")</a>

<div class="mT10 pH10">
	<p class="mT10 wwbw">@comment.content</p>
	<dl class="mT25">
		<dt class="couponMenuTitle fl">@Messages("comment.usedCoupon")</dt>
		<dd class="oh zoom1">
			<p>@Coupon.findOneById(comment.commentObjId).get.couponName</p>
			<p class="fs10">@Messages("comment.usedServices")
				@Coupon.findOneById(comment.commentObjId).get.serviceItems.map { service => @service.serviceName}
			</p>
			</dd>
	</dl>
</div>

<div id="reply_@comment.id" class="inline_reply" style="display:none;">
<div class="BlogCommentForm">
	<form id="form_inline_comment" action="@routes.Comments.replyAdmin(comment.id, salon.id, 3)" method="GET">
	  <input type="hidden" id="inline_reply_id" name="reply_id" value="1452044_278889672">         
      <textarea name="content" id="ccom_content_@comment.id" style="width:650px;height:60px;"></textarea><br>
	  <p style = "height:50px;">
		  <span style="float:right;">
    	  <input type="submit" value="@Messages("blog.reply")" id="btn_comment" onclick="return replyForm('ccom_content_@comment.id', 'ficmp_msg_@comment.id');" class="blg_submit_btn"> 
		  </span>
		 <span class="NoData" id="ficmp_msg_@comment.id" style="color:#F00"></span>
	  </p>
    </form>
</div>
</div>
}