@charset "utf-8";
.hcHeadingTitle {
    position: relative;
    top: 7px;
    left: 2px;
    width: 216px;
    height: 26px;
    background: url(/assets/images/text_nail_catalog.jpg) no-repeat 0 0;*/
}



@charset "utf-8";
/* @group reset
================================================== */

* {
    margin: 0;
    padding: 0
}
body {
    margin:0;
}
a {
    text-decoration : none;
}
ul, ol {
    list-style : none;
}
img {
    vertical-align : middle;
    border:0;
}
/* new clearfix */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
* html .clearfix {
    zoom: 1;
} /* IE6 */
*:first-child+html .clearfix {
    zoom: 1;
} /* IE7 */
/* #Base styles
================================================== */
body {
    font-family : 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
    line-height : 1.5;
    font-size:12px;
    background-color:#fff;
    color:#484848;
    text-align:left;
}
a {
    color:#333333;
    text-decoration:none;
}
a:hover {
    color:#f95dab;
    text-decoration:underline;
}
/* header
================================================== */
body {
    position:relative;
}
img {
    max-width:100%;
}
h1 img {
    max-width:100%;
    width:124px;
    height:32px;
}
.account {
    float:left;
    margin:16px 2% 0 2%;
    width:30%;
    vertical-align:middle;
    display: table-cell;
}
.account img {
    margin-right:6px;
    max-width:30%;
    float:left;
}
.account_name {
    display:block;
    float: left;
    width:64%;
}
.logout {
    display:none;
}
.login_bt {
    width:20%;
    float:left;
    margin:22px 0 0 4%;
    width:70px;
}
.login_bt a{
    font-weight:bold;
    background-image:url(../images/icn_pc_login.png);
    background-repeat:no-repeat;
    background-size:10px 18px;
    padding:4px 0 0 18px;
    color:#111;
}


.menu_bt {
    width:20%;
    float:right;
    margin:12px 2% 2px 0;
    text-align:right;
}
.menu_bt img {
    max-width:100%;
}
.login_bt a:hover,.menu_bt img:hover{
    filter: alpha(opacity=70);
    -moz-opacity:0.7;
    opacity:0.7;
}
header {
    padding-bottom:10px;
}
.desgin_detail header{
    border-bottom:1px solid #dfdfdf;
}
p.home { text-align:center;
    padding-bottom:30px;
}
p.home span { background:url(../images/icn_menu_home.png) left no-repeat; padding-left:20px; }

@media screen and (min-width : 780px) {
    h1 img {
        width:136px;
        height:35px;
    }
    .account {
        float:right;
        margin:0px 0px 0 0;
        padding-top:0px;
        height:47px;
        width:180px;
        text-align:right;
        display:table;
        position:relative;
        z-index:100;
    }
    .account a { display:table-cell; vertical-align:middle; height:47px; width:29px; padding:0px; word-break:break-all; }
    .account img {
        float:none;
        width:23px!important;
        height:23px!important;
        max-width:23px;
        display:block;
    }
    .account a.account_name {
        float: none;
        width:auto;
        padding:0px 10px 0px 5px!important;
        text-align:left;
        width:auto!important;
    }
    .account a.logout {
        background:#f7f7f7;
        border-left:1px solid #dfdfdf;
        border-right:1px solid #dfdfdf;
        padding:0px 15px!important;
        width:60px;
    }
    .login_bt{
        float:right;
        margin:16px 10px 0 0;
        height:24px;
        width:80px;

    }
    .login_bt a{

    }
    .login_bt a:hover{
        text-decoration:none;
    }
    .menu_bt {
        display:none;
    }
    header {
        border-bottom:1px #dfdfdf solid;
        padding-bottom:0;
        height:47px;
        position:fixed;
        background:#fff;
        z-index:100;
        width:100%;
    }
}
@media screen and (min-width : 1000px) {
    .wrapper {
        width:1000px;
        margin:0 auto;
        position:relative;
    }
    .login_bt{
        margin-right:0;
    }
}
/* nav#menu
================================================== */
#glnv {
    background-image:url(../images/bg_menu_fukidashi.gif);
    background-repeat:no-repeat;
    background-position:91% 0px;
    background-size:9px 7px;
    padding-top:7px;
    clear: both;
    display:none;
}
#glnv ul {
    font-size:16px;
}
#glnv #glnv_home {
    display:none;
}
#glnv h2 {
    margin:0px;
    background:#636363;
    font-weight:300;
}
#glnv h2 img { vertical-align:middle; }
#glnv h2 span {
    color:#fff;
}

#glnv ul li {
    background:#e3e3e3;
    border-top:#fff 1px solid;
    border-bottom:#9c9c9c 1px solid;
}
#glnv ul li a {
    background:url(../images/icn_arrow_sp_menu.png) no-repeat;
    background-position:right;
    background-size:17px 17px;
    display:block;
    padding:12px 16px;
}
#menu ul#logout { }
#menu ul#logout li {  }
#menu ul#logout li a {  }
@media screen and (min-width : 780px) {

    /*nav*/

    #glnv { clear:none; width: 380px; height: 47px; margin: 0px; background-image:none; background:#fff; padding:0; position:absolute; top:0; left:180px; display:block; }
    #glnv div.category { display:inline;  display:-moz-inline-box; display:inline-block; /display:inline; /zoom: 1; vertical-align:top; position:relative; }
    #glnv #glnv_home { display:inline;  display:-moz-inline-box; display:inline-block; /display:inline; /zoom: 1; vertical-align:top; position:relative; }
    #glnv div.category h2 { text-align: center; width: 70px; height:47px; overflow:hidden; border: none; margin:0; background:#fff!important; font-size:12px!important; font-weight:300!important; }
    #glnv div.category h2 img { display:none; }
    #glnv div.category h2 span { font-size:10px; font-weight: bold; color:#444; padding: 26px 0 5px 0px; display:block; cursor:pointer; }
    #glnv div.category h2 span:hover { background: #f2f2f2; color:#f95dab; text-decoration:none; }
    #glnv div.category h2#glnv01 span { display:block; background:url(../images/icn_menu_home.png) no-repeat; background-position: center 10px; }
    #glnv div.category h2#glnv01 span:hover { display:block; background:#f2f2f2 url(../images/icn_menu_home.png) no-repeat; background-position: center 10px; }
    #glnv div.category h2#glnv02 span { display:block; background:url(../images/icn_menu_design.png) no-repeat; background-position: center 10px; }
    #glnv div.category h2#glnv02 span:hover { display:block; background:#f2f2f2 url(../images/icn_menu_design.png) no-repeat; background-position: center 10px; }
    #glnv div.category h2#glnv03 span { display:block; background:url(../images/icn_menu_salon.png) no-repeat; background-position: center 10px; }
    #glnv div.category h2#glnv03 span:hover { display:block; background:#f2f2f2 url(../images/icn_menu_salon.png) no-repeat; background-position: center 10px; }
    #glnv div.category h2#glnv04 span { display:block; background:url(../images/icn_menu_other.png) no-repeat; background-position: center 10px; }
    #glnv div.category h2#glnv04 span:hover { display:block; background:#f2f2f2 url(../images/icn_menu_other.png) no-repeat; background-position: center 10px; }
    #glnv div.category h2#glnv05 span { display:block; background:url(../images/icn_menu_ranking.png) no-repeat; background-position: center 10px; }
    #glnv div.category h2#glnv05 span:hover { display:block; background:#f2f2f2 url(../images/icn_menu_ranking.png) no-repeat; background-position: center 10px; }
    #glnv div.category h2#glnv06 span { display:block; background:url(../images/icn_menu_salon.png) no-repeat; background-position: center 10px; }
    #glnv div.category h2#glnv06 span:hover { display:block; background:#f2f2f2 url(../images/icn_menu_salon.png) no-repeat; background-position: center 10px; }
    #glnv div.category ul { width:160px; -webkit-border-radius: 0 0 3px 3px; -moz-border-radius: 0 0 3px 3px; border-radius: 0 0 3px 3px; background: #fff!important; border: solid 1px #dfdfdf; border-top:1px solid #fff; display:none; position:absolute; top:47px; }
    #glnv div.category ul li { font-size:11px; background:#fff; border:0; }
    #glnv div.category ul li a { background:#fff; border:0; padding:5px 10px; color:#222; text-decoration:none; display:block; }
    #glnv div.category ul li a:hover { background: #fbecf4; color:#f95dab; }
    /*nav*/

}

/* nav#global
================================================== */

.nav {
    clear:both;
    margin:0 2px 10px 0;
    padding:0px 10px;
    border-bottom:1px #e5e5e5 solid;
}
.nav ul {
    position:relative;
    top:1px;
    text-align:center;
}
.nav li {
    display:inline;  display:-moz-inline-box; display:inline-block; /display:inline; /zoom: 1; vertical-align:top;
    border:1px #e5e5e5 solid;
    border-radius: 3px 3px 0 0;        /* CSS3草案 */
    -webkit-border-radius: 3px 3px 0 0;    /* Safari,Google Chrome用 */
    -moz-border-radius: 3px 3px 0 0;   /* Firefox用 */
    height:50px;
    margin:0px 2px;
}
.nav li.nav01 {
    width:30%;
}
.nav li.nav02 {
    width:30%;
}
.nav li.nav03 {
    width:30%;
}
.nav li {
    text-align:center;
    padding-bottom:2px;
}
.nav li.nav01 a {
    display:block;
    background-image:url(../images/icn_sp_menu_design.png);
    background-repeat:no-repeat;
    background-position:center 5px;
    background-size:24px 24px;
    padding-top:30px;
}
.nav li.nav02 a {
    display:block;
    background-image:url(../images/icn_sp_menu_salon.png);
    background-repeat:no-repeat;
    background-position:center 5px;
    background-size:24px 24px;
    padding-top:30px;
}
.nav li.nav03 a {
    display:block;
    background-image:url(../images/icn_sp_menu_matome.png);
    background-repeat:no-repeat;
    background-position:center 5px;
    background-size:24px 24px;
    padding-top:30px;
}
.nav li.nav_current {
    border-bottom:1px solid #fff;
}
.nav a {
    color:#444444;
}
.nav a:hover {
    color:#f95dab;
    text-decoration:none;
}
.nav li img {
    display:block;
    margin:6px auto 0px;
}
@media screen and (min-width : 780px) {
    .nav {
        clear:both;
        float:left;
        margin:0px auto 15px;
        padding:0;
        width:486px;
        border-bottom:1px #dfdfdf solid;
    }
    .nav ul {
        width:350px;
        border:0;
        background:none;
        margin-left:10px;
    }
    .nav li {
        background:#fff;
        border-top:1px #dfdfdf solid;
        height:25px;
        border-radius: 3px 3px 0 0;        /* CSS3草案 */
        -webkit-border-radius: 3px 3px 0 0;    /* Safari,Google Chrome用 */
        -moz-border-radius: 3px 3px 0 0;   /* Firefox用 */
        text-align:left;
    }
    .nav li:hover {
        background:#f8f8f8;
    }
    .nav li a {
        display:block;
        padding:5px 0 0;
    }
    .nav li.nav01 a {
        background-image:url(../images/icn_menu_design.png);
        background-size:17px 17px;
        background-position:6px 6px;
        padding:6px 0 0 26px;
    }
    .nav li.nav02 a {
        background-image:url(../images/icn_menu_salon.png);
        background-size:17px 17px;
        background-position:6px 6px;
        padding:6px 0 0 26px;
    }
    .nav li.nav03 a {
        background-image:url(../images/icn_menu_matome.png);
        background-size:17px 17px;
        background-position:6px 6px;
        padding:6px 0 0 26px;
    }
    .nav li a:hover {
        color:#444;
    }
    .nav li.nav01 {
        width:96px;
        border-right:1px #dfdfdf solid;
        border-left:1px #dfdfdf solid;
    }
    .nav li.nav02 {
        width:96px;
        border-right:1px #dfdfdf solid;
    }
    .nav li.nav03 {
        border-right:1px #dfdfdf solid;
        margin-right:0px;
        width:96px;
    }
    .nav li.nav_current {
        border-bottom:1px solid #fff;
    }
    .nav li a img {
        display:inline;
        margin: 0px auto 0;
        width:15px;
        height:15px;
    }
}
@media screen and (min-width : 1000px) {
    .nav {
        width:742px;
        margin-bottom:20px;

    }

    .nav li.nav01 a,.nav li.nav02 a,.nav li.nav03 a{

        background-position:16px 6px;
        padding:6px 0 0 36px;
    }

    .nav li.nav01 ,.nav li.nav02,.nav li.nav03{
        width:106px;
    }

}
/* breadcrumbs
================================================== */
@media screen and (max-width : 780px) {
    .breadcrumbs {
        height:auto;
        margin-bottom:130px;
        padding:0 20px 0 20px;
        font-size:10px;
        position: absolute;
        bottom: 0;
    }
}
@media screen and (min-width : 780px) {
    .breadcrumbs {
        display:block;
        font-size:10px;
        margin:10px 0 10px 10px;
    }
    .breadcrumbs li {
        float:left;
        margin-right:4px;
        color:#898989;
    }
    .breadcrumbs li a {
        color:#898989;
        text-decoration:underline;
    }
    .breadcrumbs li a:hover{
        text-decoration:none;
    }
}
@media screen and (min-width : 1000px) {
    .breadcrumbs {
        width:1000px;
        margin:10px auto;
    }
}
/* main
================================================== */

.post {
    margin:0 0 0 1%;
}
.block {
    margin:0 1% 16px;
    width:47%;
    float:left;
    border:1px #dfdfdf solid;
}
.block_design, .block_salon, .block_matome {
    display:none;
}
.price {
    padding:8px 10px;
    font-weight:600;
    border-bottom:1px #dfdfdf solid;
}
.data_user {
    padding:12px 10px;
    border-bottom:1px #dfdfdf solid;
}
.data_user_icn {
    display:block;
    float:left;
    margin-right:3%;
    width:23px;
    height:23px;
}
.data_user_nailist {
    display:block;
    max-width:60%;
    margin-bottom:3px;
    width:58px;
    height:11px;
}
.data_user_name {
    display:block;
    word-wrap: break-word;
    max-width:73%;
    line-height:1.2;
}
.likeov {
    display:none;
}
.kawaii {
    clear:both;
    padding:8px 10px;
}
.kawaii img {
    float:left;
    width:32px;
    cursor:pointer;
}
.postdate { float:left; }
.count {
    background-image:url(../images/icn_sp_kawaii.gif);
    background-repeat:no-repeat;
    background-position:left;
    background-size:11px 10px;
    padding-left:14px;
    color:#a8a8a8;
    font-size:16px;
    margin:8px 0 0;
    float:right;
    font-weight:bold;
}
.data_salon {
    padding:12px 10px;
}
.data_salon a {
    font-weight:bold;
}
.data_salon p {
    font-size:10px;
    margin-top:6px;
}
aside {
    display:none;
}
.sns{
    margin-bottom:10px;
}
.footercont {
    height: 130px;
    bottom: 0;
    text-align:center;
}
.footer {
    max-width:820px;
    height: 100%;
    margin:auto;
    font-size:11px;
    color:#a8a8a8;
    padding-top:10px;
    background-color:#F6F6F6;
    text-align:center;
    letter-spacing: 0.1em
}

@media screen and (max-width : 780px) {
    .footer {
        height: 100%;
        margin:auto;
        font-size:11px;
        color:#a8a8a8;
        padding:10px 20px 0px 20px;
        background-color:#F6F6F6;
        text-align:center;
        letter-spacing: 0.2em;
    }
}

.ad{
    height:auto;
    margin-bottom:40px;
}

@media screen and (min-width : 780px) {
    .main {
        width:742px;
        margin:0 auto;
        padding-top:50px;
    }
    .post {
        margin:30px 0px 30px;
        float:left;
        width:504px;
    }
    .block {
        margin:0 14px 14px 0;
        width:236px;
        float:left;
        border:0;
        height: auto;
    }
    .block_wrap {
        border:1px #dfdfdf solid;
        border-top:none;
        position:relative;
    }
    .photo {
        position:relative;
    }
    .hoverimg {
        position:absolute;
        top:0;
        left:0;
        width:234px;
        height:234px;
        overflow:hidden;
        z-index:10;
    }
    .lkv_t .likeov {
        position:absolute;
        top:12px;
        left:12px;
        z-index:20;
        text-align:center;
        padding-top:32px;
        font-size:10px;
        width:50px;
        height:18px;
        z-index:20;
        cursor:pointer;
    }
    .like_off {
        background:url(../images/bt_hover_kwaii.png) no-repeat;
    }
    .like_on {
        background:url(../images/bt_hover_kwaii_on.png) no-repeat;
        color:#fff;
    }
    .like_load {
        background:url(../images/bt_hover_kwaii_load.gif) no-repeat;
    }

    .block_design {
        display:block;
        background:url(../images/img_tag_design.gif) no-repeat;
        background-position:top;
        width:236px;
        height:28px;
        border-bottom:2px #f95dab solid;
        text-indent:-9999px;
    }
    .block_salon {
        display:block;
        background:url(../images/img_tag_salon.gif) no-repeat;
        background-position:top;
        width:236px;
        height:28px;
        border-bottom:2px #1b1b1b solid;
        text-indent:-9999px;
    }
    .block_matome {
        display:block;
        background:url(../images/img_tag_matome.gif) no-repeat;
        background-position:top;
        width:236px;
        height:28px;
        border-bottom:2px #9a9a9a solid;
        text-indent:-9999px;
    }
    .data_user {
        padding:10px;
    }
    .data_user_icn {
        width:30px;
        height:30px;
    }
    .data_user_nailist {
        width:73px;
        height:14px;
    }
    .data_user_name {
        float:left;
        word-wrap: break-word;
        line-height:1.2;
    }
    .kawaii {
        clear:both;
        padding:0px 10px;
        line-height:200%;
    }
    .kawaii img {
        display:none;
    }
    .count {
        background-image:url(../images/icn_kawaii.png);
        font-size:12px;
        background-size:13px 10px;
        margin: 1px 0 0;
    }
    aside {
        display:block;
        float:left;
        margin-right:0px;
        margin-top:30px;
        width:236px;
    }
    aside article {
        margin-bottom:14px;
    }
    .app {
        border:1px #dfdfdf solid;
        text-align:center;
        padding:20px 12px 15px;
    }
    .app h2 {
        font-size:12px;
        font-weight:normal;
        text-align:left;
        margin:8px 0 0;
    }
    .app p {
        text-align:left;
        margin:0;
    }
    .app img:hover {
        filter: alpha(opacity=70);
        -moz-opacity:0.7;
        opacity:0.7;
    }
    .app p {
        margin:0px 0 6px;
    }
    .sidebt a {
        display:block;
        border:1px #dfdfdf solid;
        padding: 10px 0 10px 12px;
        background:url(../images/icn_arrow_side.gif) no-repeat;
        background-position:right;
        width:222px;
        background-color:#f7f7f7;
    }
    .sidebt a:hover {
        filter: alpha(opacity=70);
        -moz-opacity:0.7;
        opacity:0.7;
    }
    .sidebt.wide a {
        padding: 0px 0 0px 0px;
        background:#fff;
        width:234px;
    }
    .sidebt.wide a:hover {
        filter: alpha(opacity=100);
        -moz-opacity:1;
        opacity:1;
    }
    .sidebt a.bt_contact {
        border-bottom:0;
    }
    .kuchikomi {
        width:210px;
        border:1px #dfdfdf solid;
        font-weight:bold;
        padding:12px 12px;
    }
    .kuchikomi ul {
        font-weight:normal;
        font-size:10px;
        margin:8px 0;
    }
    .kuchikomi li {
        border-bottom:1px #f7dbe9 solid;
        margin:0px 0 10px;
        padding-bottom:8px;
    }
    .kuchikomi li:last-child {
        border-bottom:0;
        margin:0px;
        padding-bottom:0px;
    }
    .kuchikomi img {
        weight:30px;
        height:30px;
        margin-right:5px;
    }
    .kuchikomi li p {
        margin-left:38px;
    }
    .footercont {
        height: 160px;
        bottom: 0;
        margin-bottom:-220px;
        text-align:center;
    }

    .sns {
        text-align:left;
        margin:10px 0;
    }
    .sns_bt {
        height:30px;
        margin-right:2px;
    }
}
@media screen and (min-width : 1000px) {
    .main {
        width:1000px;
        margin:0 auto;
    }
    .post {
        width:750px;
    }
    aside {
        float:right;
    }

}
/* others
================================================== */
.pagetop {
    position:fixed;
    right:0;
    bottom:-65px;
    display: none;
    z-index: 1000;
}
.pagetop img {
    margin-top:-106px;
    width:42px;
    height:42px;
}
.pagetop img:hover {
    filter: alpha(opacity=90);
    -moz-opacity:0.9;
    opacity:0.9;
}
/*.loading {
    clear:both;
    margin:0px auto;
    width:29px;
    padding:20px 0;
} */
@media screen and (min-width : 780px) {
    .pagetop img {
        width:65px;
        height:65px;
    }
}

/* scroll
================================================== */
.scroll_area {
    padding-right: 0px;
}
@media screen and (min-width : 780px) {
    .scroll_area {
        padding-right: 20px;
    }
}
.jspContainer
{
    overflow: hidden;
    position: relative;
}

.jspPane
{
    position: absolute;
}

.jspVerticalBar
{
    position: absolute;
    top: 0;
    right: 0;
    width: 7px;
    height: 100%;
    border-left:3px solid #f0f0f0;
    border-right:3px solid #f0f0f0;
}

.jspHorizontalBar
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 16px;
    background: red;
}

.jspVerticalBar *,
.jspHorizontalBar *
{
    margin: 0;
    padding: 0;
}

.jspCap
{
    display: none;
}

.jspHorizontalBar .jspCap
{
    float: left;
}

.jspTrack
{
    background: #f0f0f0;
    position: relative;
}

.jspDrag
{
    background: #fda1cf;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
    float: left;
    height: 100%;
}

.jspArrow
{
    background: #50506d;
    text-indent: -20000px;
    display: block;
    cursor: pointer;
}

.jspArrow.jspDisabled
{
    cursor: default;
    background: #80808d;
}

.jspVerticalBar .jspArrow
{
    height: 14px;
}

.jspHorizontalBar .jspArrow
{
    width: 7px;
    float: left;
    height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
    outline: none;
}

.jspCorner
{
    background: #eeeef4;
    float: left;
    height: 100%;
}

* html .jspCorner
{
    margin: 0 -3px 0 0;
}

#loaderImage {
    background-size: 1365px 95px;
}

/* freepage
================================================== */
#freepage { padding:20px; }

/* float
================================================== */
.fll { float:left; }
.flr { float:right; }

/* font
================================================== */
.f10 { font-size:10px; }
.f11 { font-size:11px; }
.f12 { font-size:12px; }
.f14 { font-size:14px; }
.f16 { font-size:16px; }
.f18 { font-size:18px; }
.f21 { font-size:21px; }
.f24 { font-size:24px; }

/* title
================================================== */
.ttl01 { padding-bottom:5px; margin-bottom:10px; border-bottom:1px solid #dfdfdf; }

/* more
================================================== */
p.more01 { text-align:right; background:url(../images/icn_more.png) right no-repeat; padding-right:15px; background-size:10px 8px; }

/* btns
================================================== */
p.btn { }
p.btn a { background:#f95dab; padding:5px 15px; color:#fff; }
p.btn_search { text-align:center; margin-bottom:10px; }
p.btn_search a { background:#f95dab; padding:5px 30px; color:#fff; }
p.btn_search a:hover { background:#fd89c3; }
p.btn_search a span { background:url(../images/icn_search.png) left no-repeat; padding-left:20px; }
.btn_p{
    width:260px;
    font-size:13px;
    font-weight:bold;
    padding:12px 20px 9px 20px;
    color:#FFFFFF;
    background:#F95DAB;
}

/* word-wrap
================================================== */
p,
div,
span,
dd,
dt,
li,
a { word-wrap:break-word; }

/* textarea
================================================== */
/*.text, textarea{
    border:1px solid #dfdfdf;
    padding: 8px;
    border-radius: 5px;

    -webkit-border-radius: 5px;

}*/

/* login
================================================== */
.login{
    margin:25px 0 0 20px;
    padding: 8px;
    width: 450px;
    height:200px;
    text-align:center;
    border-right: 1px dashed #cccccc;
}
.regist{
    padding: 8px;
    margin:-235px 0 0 470px;
    width: 450px;
    text-align:center;
}

@media screen and (max-width: 910px) {
    .salon_account_pop {
        display: none;
    }
}
