@(user :User, followInfo :FollowInformation, loginUserId :ObjectId = new ObjectId, logged:Boolean = false, styleAddForm: Form[models.Style], styleParaAll: models.StylePara, stylists: List[models.Stylist] = Nil, isStylist: Boolean)

@import views.html.user._

@myPageMain("my-styles", user, followInfo, loginUserId, logged ){
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/style/style.css")">
	
	<div>
		<ul class="tabInfoTitle">
			<li class="fl selected">
				@Messages("hair.styleAdd")
			</li>		
		</ul>
	</div>
	<div class="mT40">
		@views.html.style.admin.styleAdd(styleAddForm, styleParaAll, stylists, isStylist)
	</div>
}
