@(user :User, followInfo :FollowInformation, loginUserId :ObjectId = new ObjectId, logged:Boolean = false, stylist: Stylist)

@import views.html.user._

@myPageMain("my-reservation",user,followInfo,loginUserId,logged){
  <div>
    <ul class="tabInfoTitle">
      <li class="fl selected">
        @Messages("stylistMag.futureResv")
      </li>        
    </ul>
  </div>
  
}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script src="@routes.Assets.at("javascripts/jquery.cookie.js")" type="text/javascript"> </script>
