@(subNavInSalon: String = "stylist-reservation", user :models.portal.user.User, followInfo :models.portal.user.FollowInformation, loginUserId :ObjectId = new ObjectId, logged:Boolean = false)(content: Html)

@import views.html.user._

@myPageMain("my-reservation",user,followInfo,loginUserId,logged){

  <div>
    <ul class="tab-sub">
      <li class="fl  @if(subNavInSalon == "stylist-reservation") {selected}">
        <a class="current-demo" href="@auth.routes.Stylists.myHomePage">@Messages("stylist.revervation")</a>
      </li>
      <li class="fl  @if(subNavInSalon == "my-reserving") {selected}">
        <a class="current-demo" href="@auth.routes.Reservations.getReserving">@Messages("user.reverving")</a>
      </li>
      <li class="fl  @if(subNavInSalon == "my-reservationHistory") {selected}">
        <a class="current-demo" href="@auth.routes.Reservations.getReservationHistory">@Messages("user.revervationHistory")</a>
      </li>
    </ul>
  </div>
  @content
  
}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script src="@routes.Assets.at("javascripts/jquery.cookie.js")" type="text/javascript"> </script>
