@(user :models.portal.user.User, followInfo :models.portal.user.FollowInformation, loginUserId :ObjectId = new ObjectId, logged:Boolean = false, stylist: models.portal.stylist.Stylist, styles: List[models.portal.style.Style], latestBlog: Option[models.portal.blog.Blog])

@import views.html.user._

@myPageMain("stylistHomepage",user,followInfo,loginUserId,logged){
  <div class="cFix mT30 pH10">
  <div class="mT30">
    <div class="yS mainContentsSecondTitleOuter">
      <h3 class="yS mainContentsSecondTitleInner">
      @Messages("stylist.haircatalog", models.portal.stylist.Stylist.findUserName(user.id))
      </h3>&nbsp;&nbsp;&nbsp;
      <a href="@noAuth.routes.Stylists.findStylesByStylist(user.id)">@Messages("stylistMag.showAllStyles")</a>
    </div>
  </div>
        
  <!-- get all the salons with all the styles.  -->
    @views.html.stylist.styleGroup(styles)
  </div>
}
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/style/style.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/stylist/stylist.css")">
