@(user: User, loginUserId: ObjectId, logged: Boolean, salon: Salon, isStylistApply: Boolean = false, isStylistSearch: Boolean = false)



<li class="mT20">
	<div class="shopInformationHead ympS">
		<div class="shopInformationBottom ympS">
			<!-- ↓shopContentsInnerMysalon -->
			<div class="shopInformationMysalon ympS">
				<div class="shopContentsInnerMysalon">
				<!-- ↓cassetteHeading -->
					<div class="cassetteHeading cFix">
						<div>
							<h4 class="fs18 lh16 dibBL w500 vaM"><a href="@noAuth.Salons.getSalon(salon.id)">@salon.salonName</a></h4>
						</div>
						<div class="mT10 cFix">
							<div class="fl cFix">
								<p class="fl fgLGray2 b mT2 mR8">@salon.salonAddress.map(add=>add.accessMethodDesc).getOrElse(None) </p>
							</div>
							<p class="fr">
							@if(user.id == loginUserId){
								@if(SalonAndStylist.checkSalonAndStylistValid(salon.id, user.id)){
						           @*<a href="@auth.routes.Stylists.removeSalon(salon.id)">
	    								@Messages("stylist.removeSalon")
	    						   </a>*@
	    						   @*<a href="" class="removeSalon" data-salon="@salon.id" >@Messages("stylist.removeSalon")</a>*@
	    						   <a onclick="del('@auth.routes.Stylists.removeSalon(salon.id)','@Messages("stylist.rmSalon")');">@Messages("stylist.removeSalon")</a>
					            }
					        }    
							</p>
						</div>
					</div>
					<!-- ↑cassetteHeading -->
					<!-- ↓listBody -->
					<div class="listBody cFix">
						<div class="fl w221 mR10 taC">
							<div class="mHA">
								<a href="@noAuth.routes.Salons.getSalon(salon.id)" target="blank"><img src="@routes.Application.getPhoto(salon.salonPics(0).fileObjId)" align="absmiddle" alt="" title="@salon.salonName" class="SmallPortrait"></a>
							</div>
						</div>
						<div class="fr w464">
							<div>
								<p class="mT10 pB10">
									@if(salon.salonDescription.nonEmpty){
										@salon.salonDescription.get.slice(0, 100)
										@if(salon.salonDescription.get.length > 100) {...}
									}								
								</p>
							</div>
							<div>
								<dl class="cFix mB2">
								<dt class="fl fgLGray2 b">@Messages("salon.priceCutOnly")</dt>
								<dd class="fl w100">
									<div class="mL10">
										@Salon.getLowestPriceOfCut(salon.id) match {
                       						case None => { @Messages("salon.priceCutOnlyUndefined")}
                       						case Some(price) => { @Messages("salon.priceCutOnlyMsg", price)}
                    					}
									</div>
								</dd>
								<dt class="fl fgLGray2 b">@Messages("salon.seatNums")</dt>
								<dd class="fl w80"><div class="mL10">@Messages("salon.seatNumsMsg", salon.seatNums.getOrElse(""))</div></dd>
								</dl>
								<dl class="cFix mB2">
								<dt class="fl fgLGray2 b">@Messages("salon.stylistNums")</dt>
								<dd class="fl w100">
									<div class="mL10">
										@Messages("slaon.stylistNumUnit", Salon.getCountOfStylists(salon.id))
									</div>
								</dd>
								<dt class="fl fgLGray2 b">@Messages("salon.parkingDesc")</dt>
								<dd class="fl w80">
									<div class="mL10">
									 @if(salon.salonFacilities.map(fac=>fac.hasParkingNearby).getOrElse(None)) { @salon.salonFacilities.get.parkingDesc} else { @Messages("salon.hasNoParkingNearByMsg")}
									</div>
								</dd>
								</dl>
							</div>
							<div class="mT20 w451">
								<h3 class="cassetteContentsHeading mT14 mL2">@Messages("user.salonBlogTitle", salon.salonName)</h3>
									<div class="CouponArea zoom1">
										<div class="CouponAreaCoupon cFix">
											<div class="CouponAreaInner">
												<dl class="cFix">
												@if(Blog.findBySalon(salon.id).length > 0){
													<dd class="fr b mL10">@User.findOneByUserId(Blog.findBySalon(salon.id).head.authorId).get.nickName</dd>
													<dd class="oh"><a href="@noAuth.routes.Blogs.getOneBlogOfSalon(salon.id, Blog.findBySalon(salon.id).head.id)">@Blog.findBySalon(salon.id).head.title</a></dd>
												}else{
													@Messages("blog.salonNoBlog")
												}
												</dl>
											</div>
										</div>
									</div>
							</div>
							
							<div class="mT20 w451">
								<h3 class="cassetteContentsHeading mT14 mL2">@Messages("user.salonCouponTitle", salon.salonName)</h3>
									<div class="CouponArea zoom1">
										<div class="CouponAreaCoupon cFix">
											<div class="CouponAreaInner">
												<dl class="cFix">
												@if(Coupon.findBySalon(salon.id).length > 0){
													<dt class="iS couponTypeSmallCT02 offL CouponMark fl"></dt><dd class="fr b mL10">@Coupon.findBySalon(salon.id).last.perferentialPrice</dd>
													<dd class="oh"><a href="@noAuth.routes.Salons.getAllCoupons(salon.id)">@Coupon.findBySalon(salon.id).last.description</a></dd>
												}else{
													@Messages("user.salonCouponNoFound")
												}
												</dl>
											</div>
										</div>
									</div>
							</div>
						</div>
					</div>
				
						<!-- ↑listBody -->
				</div>
				 @if(user.id == loginUserId){
				 	@*技师对来自店铺邀请做操作*@
				 	@if((!SalonAndStylist.checkSalonAndStylistValid(salon.id, user.id)) && (isStylistApply == false)){
						<p>
					    	@*<a href="@auth.routes.Stylists.agreeSalonApply(salon.id)">@Messages("stylist.acceptApply")</a>|*@
					    	@*<a href="" class="agreeSalonApply_@salon.id" data-salon="@salon.id" >@Messages("stylist.acceptApply")</a>|*@
					    	<a onclick="del('@auth.routes.Stylists.agreeSalonApply(salon.id)','@Messages("stylist.actApply")');">@Messages("stylist.acceptApply")</a>|
					    	@*<a href="@auth.routes.Stylists.rejectSalonApply(salon.id)">@Messages("stylist.rejectApply")</a>*@
					    	@*<a href="" class="rejectSalonApply_@salon.id" data-salon="@salon.id" >@Messages("stylist.rejectApply")</a>*@
					    	<a onclick="del('@auth.routes.Stylists.rejectSalonApply(salon.id)','@Messages("stylist.rjtApply")');">@Messages("stylist.rejectApply")</a>
				    	</p>          
					}
					@*技师取消自己的申请*@ 
					@if((!SalonAndStylist.checkSalonAndStylistValid(salon.id, user.id)) && isStylistApply && (!isStylistSearch)){
						@*<a href="@auth.routes.Stylists.cancelMyApplying">
    						<p>@Messages("stylistMag.cancelApplying")</p>
    					</a>*@
    					@*<a href="" class="cancelApplying" >@Messages("stylistMag.cancelApplying")</a>*@
    					<a onclick="del('@auth.routes.Stylists.cancelMyApplying','@Messages("stylistMag.calApplying")');">@Messages("stylistMag.cancelApplying")</a>
					}
					@*技师搜索店铺后，申请*@
					@if((!SalonAndStylist.checkSalonAndStylistValid(salon.id, user.id)) && isStylistApply && isStylistSearch){
						@*<a href="@auth.routes.Stylists.toApplySalon(salon.id)">
					    	<p>@Messages("stylistMag.wantToApply")</p>
					    </a>*@
					    @*<a href="" class="toApplySalon_@salon.id" data-salon="@salon.id" >@Messages("stylistMag.wantToApply")</a>*@
					    <a onclick="del('@auth.routes.Stylists.toApplySalon(salon.id)','@Messages("stylistMag.wtApply")');">@Messages("stylistMag.wantToApply")</a>
					}
				}
			</div>
			<!-- ↑shopContentsInnerMysalon -->
		</div>
	</div>
</li>

<script type="text/javascript">
$('.removeSalon').click(function(e) {
	  e.preventDefault();
	  salonId = $(this).data('salon');
   	if(!confirm("@Messages("stylist.rmSalon")")){    
  	return;
    }else{
      @*location.href="@auth.routes.Stylists.removeSalon('salonId')";*@
      location.href="/myPage/removeSalon/" + salonId; 
    } 
	});
	
$('.cancelApplying').click(function(e) {
	  e.preventDefault();
   	if(!confirm("@Messages("stylistMag.calApplying")")){    
  	return;
    }else{
      location.href="@auth.routes.Stylists.cancelMyApplying";
      @*location.href="/myPage/removeSalon/";*@ 
    } 
	});

$('.rejectSalonApply_@salon.id').click(function(e) {
	  e.preventDefault();
	  sId = $(this).data('salon');
   	if(!confirm("@Messages("stylist.rjtApply")")){    
  	return;
    }else{
      @*location.href="@auth.routes.Stylists.removeSalon('salonId')";*@
      location.href="/myPage/rejectSalonApply/" + sId; 
    } 
	});
	
$('.agreeSalonApply_@salon.id').click(function(e) {
	  e.preventDefault();
	  sId = $(this).data('salon');
   	if(!confirm("@Messages("stylist.actApply")")){    
  	return;
    }else{
      @*location.href="@auth.routes.Stylists.removeSalon('salonId')";*@
      location.href="/myPage/agreeSalonApply/" + sId; 
    } 
	});
	
$('.toApplySalon_@salon.id').click(function(e) {
	  e.preventDefault();
	  sId = $(this).data('salon');
   	if(!confirm("@Messages("stylistMag.wtApply")")){    
  	return;
    }else{
      @*location.href="@auth.routes.Stylists.removeSalon('salonId')";*@
      location.href="/myPage/toApplySalon/" + sId; 
    } 
	});
</script>