@(navInMyPage: String = "my-reservation", user: User, stylist: Stylist, followInfo:FollowInformation)(content: Html)

@main(Messages("site.title")) {
	
	
	<head>
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/user/user.css")">
	</head>

<!-- ↓contents -->
	
        <div id="OSC_Content">
        	<div id='SpaceLeft'>
        		@views.html.stylist.management.stylistPageLeft(user, stylist, followInfo)
        	</div>
			<div id='SpaceMain'>
				@views.html.stylist.management.stylistPageHead(user = user, stylist = stylist)
	    		@content
       		</div>	        
        </div>
<!-- ↑contents -->
}