@(user :User, followInfo:FollowInformation, loginUserId:ObjectId =new ObjectId, logged:Boolean = false, stylist: Stylist, styles: List[Style], styleSearchForm: Form[models.Style], styleParaAll: models.StylePara, isFirstSearch: Boolean, isStylist: Boolean)

@import views.html.user._

@myPageMain("updateStylistInfo",user,followInfo,loginUserId,logged){
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/style/style.css")">
	@views.html.style.admin.backstageStyleSearch(styleSearchForm, styleParaAll, isFirstSearch, isStylist, stylist)
    <hr/>
    <a href="@auth.routes.Stylists.styleAddByStylist" >@Messages("hair.addStyle")</a>
	<hr/>
	@views.html.style.admin.backstageStyleSearchList(styles, isStylist)
	
}
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/salon/mycss.css")">