@(user: User, followInfo: FollowInformation, loginUserId: ObjectId, logged: Boolean, salon: Option[Salon])

@import helper._
@import views.html.user._

@myPageMain("followedStylist", user, followInfo, loginUserId, logged){
	@form(auth.routes.Stylists.findSalonBySalonAccountId, 'id -> "userForm"){
		@Messages("salon.id")&nbsp;<input name="salonId" id="stylist-search-salon">
		<span id="nameMsg"></span>
		<input type="submit" id="searchStylistToSubmit" onclick="return toSubmit();" value="@Messages("stylist.search")">
	}
	@salon.map{ sa =>
		@views.html.stylist.management.salonItem(user, loginUserId, logged, sa, true, true)	
	}
}
<script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8">
	function toSubmit(){
		val salonAccountId = $("#stylist-search-salon").val();
		$.get(
				"/checkSalonIsexitBySalonAccountId/"+salonAccountId,
				function(data){
					if(data == yes){
						$("#nameMsg").text("有效店铺");
					}else{
						$("#nameMsg").text("没有该店铺");
					}
					
				});

	}
</script>