@(style: Style)

<head>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/salon/mycss.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/salon/mySalon.css")">
</head>
<body>
	<div class="mysalon-stylist-search w166 mHA">
	    <div class="taC">
	        <a href="#">
	            <img src="@routes.Application.getPhoto(style.stylePic(0).fileObjId)" class="bdImgGray w164 h219">
	        </a>
	    </div>
    </div>
	<div class="taC mT10">
		<a href="/styleUpdate/@style.id" class="salon-stylist-reserv">修改</a>|
		<a href="/styleDelete/@style.id" class="salon-stylist-reserv">删除</a>
	</div>
</body>    