@(navInMyPage:String = "my-reservation",user: User, stylist: Stylist)
	
	<!-- ↓mainContents -->
    	<ul class="bS menuBG cFix">
		<li class="fl">
		    <a href="/myPage/myReservation/@stylist.id">
				&nbsp&nbsp&nbsp&nbsp&nbsp@Messages("stylistMag.findReserv")&nbsp&nbsp&nbsp&nbsp&nbsp
		    </a>
		</li>
		<li class="fl">
		    <a href="/myPage/mySaveCoupon/@stylist.id">
				&nbsp&nbsp&nbsp&nbsp&nbsp@Messages("stylistMag.styleManage")&nbsp&nbsp&nbsp&nbsp&nbsp
		    </a>
		</li>
		<li class="fl">
		    <a href="/myPage/mySaveBlog/@user.id">
				&nbsp&nbsp&nbsp&nbsp&nbsp@Messages("stylistMag.serviceManage")&nbsp&nbsp&nbsp&nbsp&nbsp
		    </a>
		</li>
		<li class="fl">
		    <a href="/myPage/mySaveStyle/@user.id">
				&nbsp&nbsp&nbsp&nbsp&nbsp@Messages("stylistMag.salonHistory")&nbsp&nbsp&nbsp&nbsp&nbsp
		    </a>
		</li>
		</ul>
	<!-- ↑mainContents -->