@(reservation:models.portal.reservation.Reservation)

<li class="mT20">
  <div class="shopInformationHead ympS">
    <div class="shopInformationBottom ympS">
      <div class="shopInformation ympS">
        <div class="shopContentsInnerReserve cFix">
          <div class="cFix">
            <div class="cFix fl">
              <p class="fl">
                @Messages("reservation.expectedDate")
                <span class="b fs14">
                  @reservation.expectedDate.format("yyyy/MM/dd HH:mm")
                </span>
              </p>
            </div>
            <p class="fr pT3">
              @Messages("reservation.no")
              <br>
              @reservation.id
            </p>
            @views.html.reservation.showReservItems(reservation, "confirmInfo", models.portal.reservation.Reservation.findResvItemsForType(reservation.resvItems))
          </div>
          <div>
            <p class="detailTxt2">
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>