@(user: User, loginUserId: ObjectId, salon: Salon, stylist: Stylist)

<div class="mysalon-stylist-group">
		<div class="taC">
	        <a href="/salon/@salon.id">
	        	<img src="@routes.Application.getPhoto(salon.salonPics(0).fileObjId)" class="bdImgGray w164 h219">
	        </a>
    	</div>
	    <p class="mT10">
	        <a href="@routes.Salons.getSalon(salon.id)">
	        	<p>@salon.salonName</p>
	        </a>
	    </p>
	    @if(user.id == loginUserId){
		    <p>
		    	<a href="@auth.Stylists.agreeSalonApply(stylist.stylistId, salon.id)">@Messages("stylist.acceptApply")</a>|
		    	<a href="@auth.Stylists.rejectSalonApply(stylist.stylistId, salon.id)">@Messages("stylist.rejectApply")</a>
		    </p>
	    }
</div>