@(user: User, followInfo: FollowInformation, loginUserId: ObjectId, logged: Boolean, salon: Salon)

@import views.html.user._

@myPageMain("followedStylist", user, followInfo, loginUserId, logged){
<strong>@Messages("stylistMag.myAppling")</strong>
	@if(salon == null){	
		<div id="apply_message">
			<p>@Messages("stylistMag.operateMyAPMSG")<span id="times">5</span>@Messages("user.applyStylistMessage_2")<a href="javascript:go('')"></a>@Messages("user.applyStylistMessage_3")</p>
		</div>
		<script language="javascript" type="text/javascript">
			var timer = null;
        	var i=10;
			timer=window.setInterval('showTimes()',1000);
			setTimeout("go()", 10000);
			function showTimes(){
	        		document.getElementById("times").innerHTML=i;
	        		i--;
	        		if(i==0){
	        			window.clearInterval(timer);
	        			go();
	        		}
	        }

			function go() {//定义函数
	        	window.location="/myPage";//页面跳转
	        }
		</script>
	}else{
		@views.html.stylist.management.salonItem(user, loginUserId, logged, salon, true)
	}
}