@( styleAddForm: Form[Style], stylePara : models.StylePara)

@import helper._
	
	<head>
		<script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/ajaxfileupload.js")" type="text/javascript"></script>
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/user/user.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/style/style.css")">
		<script type="text/javascript">
			function readURL(input) {
			    if (input.files && input.files[0]) {
			        var reader = new FileReader();
			        reader.onload = function(e) {
			            $('.image-insert-style-group').append('<img src='+e.target.result+' style="float:left;width:150px;margin-left:30px;margin-top:40px;"'+'>');
			        }
			        reader.readAsDataURL(input.files[0]);
			    }
			}
			$("#file").change(function() {
			    readURL(this);
			});
		
			$('.removeOptContactMethod').live('click', function(e) {
			    $(this).parents('.optContactMethod').remove()
			    renumber()
			})
		
			$('.addOptContactMethod').live('click', function(e) {
			    var template = $('.optContactMethod_template')
			    template.before('<div class="twipsies well optContactMethod">' + template.html() + '</div>')
			    renumber()
			})
		
			var renumber = function(accounts) {
			    $('.optContactMethod').each(function(i) {
			        $('input', this).each(function() {
			            $(this).attr('name', $(this).attr('name').replace(/stylePic\[.+?\]/g, 'stylePic[' + i + ']'))
			        })
			        $('.account input', this).each(function(i) {
			            $(this).attr('name', $(this).attr('name').replace(/accounts\[.+\]/g, 'accounts[' + i + ']'))
			        })
			    })
			}
		
			function ajaxFileUpload() {
			    $("#loading").ajaxStart(function() {
			        $(this).show();
			    }) @*开始上传文件时显示一个图片 *@ 
			           
				.ajaxComplete(function(){ 
			    	$(this).hide();
			     });
			    $.ajaxFileUpload({                  
				url:"/fileUploadAction",                
				secureuri:false,                  
				fileElementId:'file',
				dataType:'text/html',
				success: function (data, status){ 
				var reg = /<pre.+?>(.+)<\/pre>/g;  
		        var result = data.match(reg); 
				var objvalue=RegExp.$1;
				var $obj=$('.imageoffileobjid');
				alert("obj length "+$obj.length);
				$obj.each(function(i){
					var index=$obj.index($(this));
					alert(index);
					if(index==($obj.length-2)){
					$(this).val(objvalue);
					var $imgdivs=$('.image-insert-style-group div');
					$imgdivs.eq(index).append("<img src=>");
					}
				});
				var sizes=$obj.size();
				var arr1=$obj.get(0);
				if(typeof(data.error) != 'undefined'){
					if(data.error != ''){   
						alert(data.error);                
					}else{
						alert(data.message);    
					}           
				}                 
				},
				error: function (data, status, e){
					alert("files error"); 
					alert(e);  
				}             
				})                   
				return false;      
			}    
		
			</script>
		</head>
	<body>
	@form(routes.Stylists.styleToAddNewStyle(new ObjectId), 'enctype -> "multipart/form-data", 'id -> "styleAddForms"){
		
			<div>
				@Messages("hair.styleName")<input type = "text" class="" name = "styleName">
			</div>
			<div>
				@*@input(field = styleAddForm("stylePic"),args = '_label ->"图片"){(id,name,value,args) =>*@
	                <input type = "text" class="" name = "fileObjId" field = styleAddForm("stylePic.fileObjId") value = "">
	                <input type = "text" class="" name = "picUse" field = styleAddForm("stylePic.picUse") value = "sshit">
	                <input type = "number" class="" name = "showPriority" field = styleAddForm("stylePic.showPriority")value = "1">
	                <input type = "text" class="" name = "description" field = styleAddForm("stylePic.description")value = "">
				@*}*@
			</div>
			<div>
				@Messages("hair.stylist")<input type = "text" class="" name = "stylistId" field = styleAddForm("stylistId")>	
			</div>
		<div align="left">	
			<br/>@Messages("hair.styleLength")<br/>
	            @for(i <- 0 to stylePara.styleLength.length-1){
	                
	                    <input type = "radio" class="" name = "styleLength", value = "@stylePara.styleLength(i)">@stylePara.styleLength(i)
	                
	            }
	        <br/>@Messages("hair.impression")<br/>
	            @for(i <- 0 to stylePara.styleImpression.length-1){
	                
	                    <input type = "radio" class="" name = "styleImpression", value = "@stylePara.styleImpression(i)">@stylePara.styleImpression(i)
	                
	            }
		    @input(field = styleAddForm("styleColor"),args = '_label ->Messages("hair.color")){(id,name,value,args) =>
		    	@for(i <- 0 to stylePara.styleColor.length-1){
		    		
						<input type = "checkbox" class="" name = "styleColor[@i]", value = "@stylePara.styleColor(i)">@stylePara.styleColor(i)
					
		    	}
		    }
		    @input(field = styleAddForm("serviceType"),args = '_label ->Messages("hair.serviceType")){(id,name,value,args) =>
		    	@for(i <- 0 to stylePara.serviceType.length-1){
		      		
						<input type = "checkbox" class="" name = "serviceType[@i]", value = "@stylePara.serviceType(i)">@stylePara.serviceType(i)
					
		    	}
		    }
		    @input(field = styleAddForm("styleAmount"),args = '_label ->Messages("hair.styleAmount")){(id,name,value,args) =>
		    	@for(i <- 0 to stylePara.styleAmount.length-1){
		      		
						<input type = "checkbox" class="" name = "styleAmount[@i]", value = "@stylePara.styleAmount(i)">@stylePara.styleAmount(i)
					
		    	}
		    }
		    @input(field = styleAddForm("styleQuality"),args = '_label ->Messages("hair.styleQuality")){(id,name,value,args) =>
		    	@for(i <- 0 to stylePara.styleQuality.length-1){
		      		
						<input type = "checkbox" class="" name = "styleQuality[@i]", value = "@stylePara.styleQuality(i)">@stylePara.styleQuality(i)
					
		    	}
		    }
		    @input(field = styleAddForm("styleDiameter"),args = '_label ->Messages("hair.styleDiameter")){(id,name,value,args) =>
		    	@for(i <- 0 to stylePara.styleDiameter.length-1){
		      		
						<input type = "checkbox" class="" name = "styleDiameter[@i]", value = "@stylePara.styleDiameter(i)">@stylePara.styleDiameter(i)
					
		    	}
		    }
		    @input(field = styleAddForm("faceShape"),args = '_label ->Messages("hair.faceShape")){(id,name,value,args) =>
		    	@for(i <- 0 to stylePara.faceShape.length-1){
		      		
						<input type = "checkbox" class="" name = "faceShape[@i]", value = "@stylePara.faceShape(i)">@stylePara.faceShape(i)
					
		    	}
		    }
		    @input(field = styleAddForm("consumerSocialStatus"),args = '_label ->Messages("hair.consumerSocialStatus")){(id,name,value,args) =>
		    	@for(i <- 0 to stylePara.consumerSocialStatus.length-1){
		      		
						<input type = "checkbox" class="" name = "consumerSocialStatus[@i]", value = "@stylePara.consumerSocialStatus(i)">@stylePara.consumerSocialStatus(i)
					
		    	}
		    }
		    @input(field = styleAddForm("consumerSex"),args = '_label ->Messages("hair.consumerSex")){(id,name,value,args) =>
		    	@for(i <- 0 to stylePara.consumerSex.length-1){
		      		<input type = "radio" class="" name = "consumerSex", value = "@stylePara.consumerSex(i)">@stylePara.consumerSex(i)
				}
		    }
		    @input(field = styleAddForm("consumerAgeGroup"),args = '_label ->Messages("hair.consumerAgeGroup")){(id,name,value,args) =>
		    	@for(i <- 0 to stylePara.consumerAgeGroup.length-1){
		      		
						<input type = "checkbox" class="" name = "consumerAgeGroup[@i]", value = "@stylePara.consumerAgeGroup(i)">@stylePara.consumerAgeGroup(i)
					
		    	}
		    }
	    </div>
		<div>
			@Messages("hair.assessFromStylist")<input type = "text" class="" name = "description">
	    </div>
	    
	    <fieldset>
	    	<form action="fileUploadAction" enctype="multipart/form-data">
		    	<img src="loading.gif" id="loading" style="display: none;">
		    	<input type="file" id="file" name="photo" /><br />
		    	<input type="button" value="上传" onclick="return ajaxFileUpload();">
	            <legend>@Messages("user.optContactMethod")</legend>
        		</form>
	    	<div id="optContactMethods">
                @repeat(styleAddForm("stylePic")) { stylePicOne =>
                    @stylePicOneGroup(stylePicOne)
                }
                @**
                 * Keep an hidden block that will be used as template for Javascript copy code
                 **@
                @stylePicOneGroup(
                    styleAddForm("stylePic[x]"),
                    className = "optContactMethod_template"
                )
                <div class="manage">
                    <a class="addOptContactMethod btn success">Add another stylePic</a>
                </div>
            </div>
        </fieldset>
        
        @*<input type="file" id="filePhoto" name="photo" style="width:50"  />*@
        
        <div class="image-insert-style-group" id="target">
        	<ul>
        		<li>
        			<div class="image-insert-style-index-item">
        				
        			</div>
        		</li>
        		<li>
        			<div class="image-insert-style-index-item">
        				
        			</div>
        		</li>
        		<li>
        			<div class="image-insert-style-index-item">
        				
        			</div>
        		</li>
        		<li>
        			<div class="image-insert-style-index-item">
        				
        			</div>
        		</li>
        	</ul>
        </div>
	    <div align="center">
	        <input type = "reset" class = "buttons" value=@Messages("common.reset")>
		    <input type="submit" class = "buttons" value=@Messages("common.submit")>
        </div>
      
     }
     </body>
     
@stylePicOneGroup(field: Field, className: String = "optContactMethod") = {
    <div class="twipsies well @className" id="imgGroupsUploadfield">
        <a class="removeOptContactMethod btn danger pull-right">Remove this stylePic</a>
        @inputText(
            field("fileObjId"), 
            '_label -> "fileObjId",'placeholder -> new ObjectId, 'id -> "imageoffileobjid", 'class ->"imageoffileobjid",'type -> "hidden"
        )
        @inputText(
            field("picUse"),'_label -> "picUse",'class -> "imagepictureuse"
        )
        @inputText(
            field("showPriority"), 
            '_label -> "showPriority"
        )
        @inputText(
            field("description"), 
            '_label -> "description"
        )
    </div>
    }    

	     

    
