@(navInMyPage: String = "my-reservation", user: User, stylist: Stylist, salon: Salon)

@stylistPageMain(navInMyPage, user, stylist){
	<div class="mysalon-stylist-group">
		<div class="taC">
	        <a href="@routes.Stylists.findStylistById(stylist.id)">
	            <img src="@routes.Application.getPhoto(stylist.myPics.get(0).fileObjId)" class="bdImgGray w164 h219">
	        </a>
    	</div>
	    <p class="mT10">
	        <a href="">
	        	<p>@salon.salonName</p>
	        </a>
	    </p>
    </div>
}