@(navInMyPage: String = "my-reservation", user: User, stylist: Stylist, styles: List[Style], followInfo: FollowInformation)

@stylistPageMain(navInMyPage, user, stylist, followInfo){
	<div class="mysalon-stylist-group">
		<div>
			<form action="/stylistFindStylesByCondtion" method="get">
					
			</form>
			
		</div>
		<div class="stylist-stylist-group">
			<input type = "button" class="stylist-addstyle-button" value="@Messages("hair.addStyle")" onclick='location.href="/styleLogin/@stylist.stylistId"'>
			<div class="stylist-styles-map">
			@styles.map{style=>
				@views.html.stylist.management.stylistStyleItem(style)
			}
			</div>
		</div>
	</div>
}
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/salon/mycss.css")">