@(user :User, followInfo:FollowInformation, loginUserId:ObjectId =new ObjectId, logged:Boolean = false, stylist: Stylist, stylistForm: Form[Stylist], goodAtStylePara: GoodAtStyle)

@import helper._
@import views.html.user._

@usePictuerGroup(field: Field, className: String = "stylistUpdateInfo") = {
    <div class="twipsies well @className">
        @inputText(
            field("fileObjId") 
        )
        
        @inputText(
            field("picUse") 
            
        )
        @inputText(
            field("showPriotiry") 
            
        )
        @inputText(
            field("description") 
           
        )
     </div>   
        }
        
@stylistPosition(field: Field, className: String = "optContactMethod") ={
	<div class="twipsies well @className">
		<a class="removeOptContactMethod btn danger pull-right">@Messages("removePositionAndIndusty")</a>
		<div class="industry">
        @select(
                field("industryName"), 
                options = options(goodAtStylePara.industry),
                '_default -> Messages("ChooseIndustry"),
                '_label -> Messages("industy")
                
            )
         &nbsp;&nbsp;
        @select(
                field("positionName"), 
                options = options(goodAtStylePara.position),
                '_default -> Messages("ChoosePosition"),
                '_label -> Messages("positionName")
                
            )
        </div>
        <div></div>    
 	</div>
}

       

@myPageMain("updateStylistInfo",user,followInfo,loginUserId,logged){
	<div class="container">
	<div class="content">

      <div class="page-header">
        
      </div>
		<div class="row">
        <div class="span14">
          	@form(routes.Stylists.toUpdateStylistInfo(stylist.stylistId), 'id -> "userForm"){
		
       		@inputText(stylistForm("workYears"), '_label -> Messages("stylist.workYesrs"), 'readOnly -> true, 'class ->  "font1")
			<fieldset>
			 <div id="optContactMethods">
			@repeat(stylistForm("position")){position=>
				@stylistPosition(position)
			}
			@**
                 * Keep an hidden block that will be used as template for Javascript copy code
                 **@
                @stylistPosition(
                    stylistForm("position[x]"),
                    className = "optContactMethod_template"
                )
                
                <div class="manage">
                    <a class="addOptContactMethod btn success">@Messages("addPositionAndIndusty")</a>
                </div>
            
            </div>
            
        	</fieldset>
			
			@input(field = stylistForm("goodAtImage"),args = '_label ->Messages("stylist.goodAtImage")){(id,name,value,args) =>
			 	@for(i <- 0 to goodAtStylePara.goodAtImage.length-1){
			 		@if(stylist.goodAtImage.contains(goodAtStylePara.goodAtImage(i))){
			 			<input type = "checkbox" name = "goodAtImage[@i]" checked="checked" value = "@goodAtStylePara.goodAtImage(i)">@goodAtStylePara.goodAtImage(i)&nbsp;
			 		}else{
			 			<input type = "checkbox" name = "goodAtImage[@i]" value = "@goodAtStylePara.goodAtImage(i)">@goodAtStylePara.goodAtImage(i)&nbsp;
			 		}
			 	}
			  }
			  
			@input(field = stylistForm("goodAtStatus"),args = '_label ->Messages("stylist.goodAtStatus")){(id,name,value,args) =>
			 	@for(i <- 0 to goodAtStylePara.goodAtStatus.length-1){
			 		@if(stylist.goodAtStatus.contains(goodAtStylePara.goodAtStatus(i))){
			 			<input type = "checkbox" name = "goodAtStatus[@i]" checked="checked" value = "@goodAtStylePara.goodAtStatus(i)">@goodAtStylePara.goodAtStatus(i)
			 		}else{
			 			<input type = "checkbox" name = "goodAtStatus[@i]" value = "@goodAtStylePara.goodAtStatus(i)">@goodAtStylePara.goodAtStatus(i)
			 		}
			 		
			 	}
			  }
			  
			@input(field = stylistForm("goodAtService"),args = '_label ->Messages("stylist.goodAtService")){(id,name,value,args) =>
			 	@for(i <- 0 to goodAtStylePara.goodAtService.length-1){
			 		@if(stylist.goodAtService.contains(goodAtStylePara.goodAtService(i))){
			 			<input type = "checkbox" name = "goodAtService[@i]" checked="checked" value = "@goodAtStylePara.goodAtService(i)">@Messages(goodAtStylePara.goodAtService(i))
				 		@if((i+1)%6==0){
				 			<br />
				 		}
			 		}else{
			 			<input type = "checkbox" name = "goodAtService[@i]" value = "@goodAtStylePara.goodAtService(i)">@Messages(goodAtStylePara.goodAtService(i))
				 		@if((i+1)%6==0){
				 			<br />
				 		}
			 		}
			 		
			 	}
			  }
			  
			@input(field = stylistForm("goodAtUser"),args = '_label ->Messages("stylist.goodAtUser")){(id,name,value,args) =>
			 	@for(i <- 0 to goodAtStylePara.goodAtUser.length-1){
			 		@if(stylist.goodAtUser.contains(goodAtStylePara.goodAtUser(i))){
			 			<input type = "checkbox" name = "goodAtUser[@i]" checked="checked" value = "@goodAtStylePara.goodAtUser(i)">@goodAtStylePara.goodAtUser(i)
			 		}else{
			 			<input type = "checkbox" name = "goodAtUser[@i]" value = "@goodAtStylePara.goodAtUser(i)">@goodAtStylePara.goodAtUser(i)
			 		}
			 		
			 	}
			  }  
			
			@input(field = stylistForm("goodAtAgeGroup"),args = '_label ->Messages("stylist.goodAtAgeGroup")){(id,name,value,args) =>
			 	@for(i <- 0 to goodAtStylePara.goodAtAgeGroup.length-1){
			 		@if(stylist.goodAtAgeGroup.contains(goodAtStylePara.goodAtAgeGroup(i))){
			 			<input type = "checkbox" name = "goodAtAgeGroup[@i]" checked="checked" value = "@goodAtStylePara.goodAtAgeGroup(i)">@goodAtStylePara.goodAtAgeGroup(i)
			 		}else{
			 			<input type = "checkbox" name = "goodAtAgeGroup[@i]" value = "@goodAtStylePara.goodAtAgeGroup(i)">@goodAtStylePara.goodAtAgeGroup(i)
			 		}
			 		
			 	}
			  }
			
			@textarea(field = stylistForm("myWords"),'rows -> 4, 'cols -> 40, '_label -> Messages("stylist.myWords"))
			
			@textarea(field = stylistForm("mySpecial"),'rows -> 4, 'cols -> 40, '_label -> Messages("stylist.mySpecial"))
			            
            @textarea(field = stylistForm("myBoom"),'rows -> 4, 'cols -> 40, '_label -> Messages("stylist.myBoom"))
 		
		  	@textarea(field = stylistForm("myPR"),'rows -> 4, 'cols -> 40, '_label -> Messages("stylist.myPR"))
		  	
		  	 @repeat(stylistForm("myPics")) { myPic =>
                
                    @usePictuerGroup(myPic)
                
             }
		  	<input type="submit" class = "buttons" value="@Messages("stylist.update")">
            
        	<input type = "reset" class = "buttons" value="@Messages("stylist.reset")">
        </div>
      </div>

    </div>
	
    

  </div>
  }
  <script type="text/javascript" charset="utf-8">
        
        $('.removeOptContactMethod').live('click', function(e) {
            $(this).parents('.optContactMethod').remove()
            renumber()
        })
        
        $('.addOptContactMethod').live('click', function(e) {
            var template = $('.optContactMethod_template')
            template.before('<div class="twipsies well optContactMethod">' + template.html() + '</div>')
            renumber()
        })
       
        var renumber = function(accounts) {
            $('.optContactMethod').each(function(i) {
                $('select', this).each(function() {
                    $(this).attr('name', $(this).attr('name').replace(/position\[.+?\]/g, 'position[' + i + ']'))
                })
                
            })
        }
        
    </script>
}
