@(user :User, followInfo:FollowInformation, loginUserId:ObjectId =new ObjectId, logged:Boolean = false, stylist: Stylist, stylistForm: Form[Stylist], goodAtStylePara: GoodAtStyle)

@import helper._
@import views.html.user._

@usePictuerGroup(field: Field, className: String = "stylistUpdateInfo") = {
    <div class="twipsies well @className">
        @inputText(
            field("fileObjId") 
        )
        
        @inputText(
            field("picUse") 
            
        )
        @inputText(
            field("showPriority") 
            
        )
        @inputText(
            field("description") 
           
        )
     </div>   
        }
        
@stylistPosition(field: Field, className: String = "optContactMethod") ={
	<div class="twipsies well @className">
		<a class="removeOptContactMethod btn danger pull-right">@Messages("removePositionAndIndusty")</a>
		<div class="industry">
        @select(
                field("industryName"), 
                options = options(goodAtStylePara.industry),
                '_default -> Messages("ChooseIndustry"),
                '_label -> Messages("industy")
                
            )
         &nbsp;&nbsp;
        @select(
                field("positionName"), 
                options = options(goodAtStylePara.position),
                '_default -> Messages("ChoosePosition"),
                '_label -> Messages("positionName")
                
            )
        </div>
        <div></div>    
 	</div>
}

       

@InfoChange(user,followInfo,loginUserId,logged){
	<div class="container">
	<div class="content">

      <div class="page-header">
        
      </div>
		<div class="row">
        <div class="span14">
          	@form(auth.routes.Stylists.toUpdateStylistInfo(stylist.stylistId), 'id -> "userForm"){
		
       		<table cellspacing="0" class="wFull bdCell pCell10 bgThNml mT10">
			    <tbody>
			        <tr>
			            <th class="w222 ">
			                <!-- -->
			                <div class="dibBL vaM w154">
			                   	@Messages("stylist.workYears")
			                </div>
			            </th>
			            <td>
			                <div>
			                	@inputText(stylistForm("stylist.workYears"), '_label -> None, 'class ->  "font1")
			                </div>
			            </td>
					</tr>
			        <tr>
			            <th class="w222 ">
			                <!-- -->
			                <div class="dibBL vaM w154">
			                   	@Messages("positionName")
			                </div>
			            </th>
			            <td>
			                <div>
			                	<div id="optContactMethods">
									@repeat(stylistForm("position")){position=>
										@stylistPosition(position)
									}
									@**
						                 * Keep an hidden block that will be used as template for Javascript copy code
						                 **@
						                @stylistPosition(
						                    stylistForm("position[x]"),
						                    className = "optContactMethod_template"
						                )
						                
						                <div class="manage">
						                    <a class="addOptContactMethod btn success">@Messages("addPositionAndIndusty")</a>
						                </div>
	            				</div>
			                </div>
			            </td>
			        </tr>
			        <tr>
			            <th class="w222 ">
			                <!-- -->
			                <div class="dibBL vaM w154">
			                   	@Messages("stylist.goodAtImage")
			                </div>
			            </th>
			            <td>
			                <div>
			                	@input(field = stylistForm("stylist.goodAtImage"),args = '_label -> None){(id,name,value,args) =>
								 	@for(i <- 0 to goodAtStylePara.goodAtImage.length-1){
								 		<input type = "checkbox" name = "goodAtImage[@i]" value = "@goodAtStylePara.goodAtImage(i)">@Messages("style.styleImpression."+goodAtStylePara.goodAtImage(i))&nbsp;
								 	}
								  }
			                </div>
			            </td>
			        </tr>
			        <tr>
			            <th class="w222 ">
			                <!-- -->
			                <div class="dibBL vaM w154">
			                   	@Messages("stylist.goodAtStatus")
			                </div>
			            </th>
			            <td>
			                <div>
			                	@input(field = stylistForm("stylist.goodAtStatus"),args = '_label -> None){(id,name,value,args) =>
								 	@for(i <- 0 to goodAtStylePara.goodAtStatus.length-1){
								 		<input type = "checkbox" name = "goodAtStatus[@i]" value = "@goodAtStylePara.goodAtStatus(i)">@Messages("style.socialStatus."+goodAtStylePara.goodAtStatus(i))
								 	}
								}
	
			                </div>
			            </td>
			        </tr>
			        <tr>
			            <th class="w222 ">
			                <!-- -->
			                <div class="dibBL vaM w154">
			                   	@Messages("stylist.goodAtService")
			                </div>
			            </th>
			            <td>
			                <div>
			                	@input(field = stylistForm("stylist.goodAtService"),args = '_label -> None){(id,name,value,args) =>
								 	@for(i <- 0 to goodAtStylePara.goodAtService.length-1){
								 		<input type = "checkbox" name = "stylist.goodAtService[@i]" value = "@goodAtStylePara.goodAtService(i)">@Messages(goodAtStylePara.goodAtService(i))
								 		@if((i+1)%6==0){
								 			<br />
								 		}
								 	}
								}
	
			                </div>
			            </td>
			        </tr>
			        <tr>
			            <th class="w222 ">
			                <!-- -->
			                <div class="dibBL vaM w154">
			                   	@Messages("stylist.goodAtUser")
			                </div>
			            </th>
			            <td>
			                <div class="mL50">
			                	@input(field = stylistForm("stylist.goodAtUser"),args = '_label -> None){(id,name,value,args) =>
								 	@for(i <- 0 to goodAtStylePara.goodAtUser.length-1){
								 		<input type = "checkbox" name = "stylist.goodAtUser[@i]" value = "@goodAtStylePara.goodAtUser(i)">@Messages("style.sex." +goodAtStylePara.goodAtUser(i))
								 	}
								}
			                </div>
			            </td>
			        </tr>
			        <tr>
			            <th class="w222 ">
			                <!-- -->
			                <div class="dibBL vaM w154">
			                   	@Messages("stylist.goodAtAgeGroup")
			                </div>
			            </th>
			            <td>
			                <div>
			                	@input(field = stylistForm("stylist.goodAtAgeGroup"),args = '_label -> None){(id,name,value,args) =>
								 	@for(i <- 0 to goodAtStylePara.goodAtAgeGroup.length-1){
								 		<input type = "checkbox" name = "stylist.goodAtAgeGroup[@i]" value = "@goodAtStylePara.goodAtAgeGroup(i)">@Messages("style.ageGroup." +goodAtStylePara.goodAtAgeGroup(i))
								 	}
								}
			                </div>
			            </td>
			        </tr>
			        <tr>
			            <th class="w222 ">
			                <!-- -->
			                <div class="dibBL vaM w154">
			                   	@Messages("stylist.myWords")
			                </div>
			            </th>
			            <td>
			                <div>
			                	@textarea(field = stylistForm("stylist.myWords"),'rows -> 4, 'cols -> 40, '_label -> None, '_help -> Messages("stylistAdmin.selectField"))
			                </div>
			            </td>
			        </tr>
			        <tr>
			            <th class="w222 ">
			                <!-- -->
			                <div class="dibBL vaM w154">
			                   	@Messages("stylist.mySpecial")
			                </div>
			            </th>
			            <td>
			                <div>
			                	@textarea(field = stylistForm("stylist.mySpecial"),'rows -> 4, 'cols -> 40, '_label -> None, '_help -> Messages("stylistAdmin.selectField"))
			                </div>
			            </td>
			        </tr>
			        <tr>
			            <th class="w222 ">
			                <!-- -->
			                <div class="dibBL vaM w154">
			                   	@Messages("stylist.myBoom")
			                </div>
			            </th>
			            <td>
			                <div>
			                	@textarea(field = stylistForm("stylist.myBoom"),'rows -> 4, 'cols -> 40, '_label -> None, '_help -> Messages("stylistAdmin.selectField"))
			                </div>
			            </td>
			        </tr>
			        <tr>
			            <th class="w222 ">
			                <!-- -->
			                <div class="dibBL vaM w154">
			                   	@Messages("stylist.myPR")
			                </div>
			            </th>
			            <td>
			                <div>
			                	@textarea(field = stylistForm("stylist.myPR"),'rows -> 4, 'cols -> 40, '_label -> None, '_help -> Messages("stylistAdmin.selectField"))
			                </div>
			            </td>
			        </tr>
				</tbody>
			</table>
		  	
		  	 @repeat(stylistForm("myPics")) { myPic =>
                
                    @usePictuerGroup(myPic)
                
             }
		  	<input type="submit" class = "buttons" value="@Messages("stylist.update")">
            
        	<input type = "reset" class = "buttons" value="@Messages("stylist.reset")">
        </div>
      </div>

    </div>
	
    

  </div>
  }
  <script type="text/javascript" charset="utf-8">
        
        $('.removeOptContactMethod').live('click', function(e) {
            $(this).parents('.optContactMethod').remove()
            renumber()
        })
        
        $('.addOptContactMethod').live('click', function(e) {
            var template = $('.optContactMethod_template')
            template.before('<div class="twipsies well optContactMethod">' + template.html() + '</div>')
            renumber()
        })
       
        var renumber = function(accounts) {
            $('.optContactMethod').each(function(i) {
                $('select', this).each(function() {
                    $(this).attr('name', $(this).attr('name').replace(/position\[.+?\]/g, 'position[' + i + ']'))
                })
                
            })
        }
        
    </script>
}
