

/* the css of blog start*/
.latestBlogtitle {
color: #665555;
background-color: #E4E0D9;
font-weight: bold;
padding: 5px 8px;
}

.blogS {
background-color: #7c25ff;
}

.mR70 {
margin-right: 70px;
}

.w557 {
width: 479px;
}

/* the css of blog end*/

.styleItem {
	border-bottom: none;
}

.hMin35 {
	min-height: 35px;
}

.hMin399 {
	min-height: 399px;
}

.listCassette {
border: 1px solid #DDDDDD;
padding: 10px;
}

.cl {
clear: left;
}
