@(coupon: models.portal.coupon.Coupon, beforeSevernDate: java.util.Date, stylistId: String = "")
<div>
  <table summary="summary" cellspacing="1" class="mT2 wFull bgLGray2 fs10 couponTable">
    <tbody>
      <tr>
        <td class="bgPink8 fgWhite bd0 taC p5 fs12 b">
            @if(beforeSevernDate.after(coupon.startDate)) {
              @Messages("coupon.oldCoupon")
            } else {
              @Messages("coupon.newCoupon")
            }
          <br>
          @Messages("coupon.coupon")
        </td>
        <td class="w554 bgWhite">
          <div class="w534 p10">
            <div class="">
              <ul class="couponMenuIcons fs10 cFix">
              @for(service <- coupon.serviceItems) {
                <li class="couponMenuIcon mB5">
                    @Messages("ServiceType.serviceTypeName." + service.serviceType)
                </li>
              }
              </ul>
            </div>
            <div class="mT5 b fs12 cFix">
              <p class="fl">
                  @coupon.couponName
              </p>
              <p class="fr fgRed">
                <span class="fs13">
                  @coupon.perferentialPrice @Messages("coupon.currency")
                </span>
              </p>
            </div>
          </div>
          <p class="mT10 fgGray fs10">
              @coupon.description
          </p>
          <dl class="mT10">
            <dt class="di fgPink">
                @Messages("coupon.presentTime")
            </dt>
            <dd class="di mR10 pR10 fgGray bdLGrayR">
                @coupon.presentTime
            </dd>
            <dt class="di fgPink">
                @Messages("coupon.useConditions")
            </dt>
            <dd class="di mR10 pR10 fgGray bdLGrayR">
                @coupon.useConditions
            </dd>
            <dt class="di fgPink">
                @Messages("coupon.endDate")
            </dt>
            <dd class="di mR20 fgGray">
                @coupon.endDate.format("yyyy-MM-dd")
            </dd>
          </dl>
        </td>
        <td class="bdWhite bgLLGray2 vaM">
          <div class="pV10 fs12">
            <div>
              <a href="@routes.Reservations.reservSelectDate(coupon.salonId, "coupon", coupon.id, stylistId, 0)"
              class="btn btn2H50 btnWlines w146 mHA">
                <span>
                  <span>
                      @Messages("coupon.appointment1")
                    <br>
                      @Messages("coupon.appointment2")
                  </span>
                </span>
              </a>
            </div>
            <div class="mT8 taC">
              <a href="@routes.Reservations.reservServicesView(coupon.salonId, "coupon", coupon.id, stylistId)" class="iS arrowR">
                  @Messages("coupon.addMenu")
              </a>
            </div>
            @if(stylistId == "") {
              <div class="mT8 taC">
                <a href="javascript:void(0);" onclick="addFollow('@coupon.id','coupon')" class="iS arrowR">
                    @Messages("user.followThisCoupon")
                </a>
              </div>
            }
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
