<div id="index_ps">
  <h2><img src="@routes.Assets.at("images/index_leis_title.jpg")" width="272" height="36" /></h2>
  <div id="index_ps_nr">
    <ul>
      <li><img src="@routes.Assets.at("images/relax/index_ps_pic01.jpg")" width="167" height="110" /><span><a href="#">@Messages("salonRelax.footSpa")</a></span></li>
      <li class="right"><img src="@routes.Assets.at("images/relax/index_ps_pic02.jpg")" width="167" height="110" /><span><a href="#">@Messages("salonRelax.bodySpa")</a></span></li>
      <li><img src="@routes.Assets.at("images/relax/index_ps_pic03.jpg")" width="167" height="110" /><span><a href="#">@Messages("salonRelax.sportSpa")</a></span></li>
      <li class="right"><img src="@routes.Assets.at("images/relax/index_ps_pic04.jpg")" width="167" height="110" /><span><a href="#">@Messages("salonRelax.yoGa")</a></span></li>
    </ul>
  </div>
</div>
