@(followTypeTypeForm: Form[FollowType])

@import helper._

    @main(title = Messages("")) {

		<body>
        @form(routes.FollowTypes.addFollowType(), 'id -> "followTypeTypeForm") {
          <fieldset>
          
            @inputText(followTypeTypeForm("followTypeName"),'_label -> Messages("user.relation.type"))
      
		  </fieldset>
		  
            <input type="submit" class = "buttons" value="@Messages("service.addBton")">
            
            <input type = "reset" class = "buttons" value="@Messages("service.resetBton")">
           
        }
        
        </body>

    }