@(stylistForm: Form[StylistApply], user: User, goodAtStylePara: GoodAtStyle,followInfo:FollowInformation )
@import helper._

@myPageMain(navInMyPage = "my-reservation",user, followInfo, user.id, true){
	
	<div class="container">

    <div class="content">

      <div class="page-header">
        <h1>普通会员申请技师</h1>
      </div>

      <div class="row">
        <div class="span14">
          	@form(auth.routes.Users.commitStylistApply(), 'id -> "userForm"){
		
       		@inputText(stylistForm("stylist.label"), '_label -> Messages("stylist.name"), 'default ->user.nickName)
			
			@inputText(stylistForm("stylist.workYears"), '_label -> Messages("stylist.workYears"), 'class ->  "font1")

			
			@inputText(stylistForm("salonId"), '_label -> "salonId", 'class ->  "font1")
			
			@input(field = stylistForm("stylist.position.industryName"),args = '_label ->Messages("stylist.industry")){(id,name,value,args) =>
			 	@for(i <- 0 to goodAtStylePara.industry.length-1){
			 		<input type = "checkbox" class="" name = "stylist.position.industryName[@i]" value = "@goodAtStylePara.industry(i)">@goodAtStylePara.industry(i)
			 		<select name="stylist.position.positionName[@i]">
			 			<option>--</option>
			 			@goodAtStylePara.position.map{idy=>
			 				<option value="@idy">@idy</option>
			 			}
			 		</select>
			 		<br />
			 	}
			 }
			
			@input(field = stylistForm("stylist.goodAtImage"),args = '_label ->Messages("stylist.goodAtImage")){(id,name,value,args) =>
			 	@for(i <- 0 to goodAtStylePara.goodAtImage.length-1){
			 		<input type = "checkbox" name = "goodAtImage[@i]" value = "@goodAtStylePara.goodAtImage(i)">@goodAtStylePara.goodAtImage(i)&nbsp;
			 	}
			  }
			  
			@input(field = stylistForm("stylist.goodAtStatus"),args = '_label ->Messages("stylist.goodAtStatus")){(id,name,value,args) =>
			 	@for(i <- 0 to goodAtStylePara.goodAtStatus.length-1){
			 		<input type = "checkbox" name = "goodAtStatus[@i]" value = "@goodAtStylePara.goodAtStatus(i)">@goodAtStylePara.goodAtStatus(i)
			 	}
			  }
			  
			@input(field = stylistForm("stylist.goodAtService"),args = '_label ->Messages("stylist.goodAtService")){(id,name,value,args) =>
			 	@for(i <- 0 to goodAtStylePara.goodAtService.length-1){
			 		<input type = "checkbox" name = "stylist.goodAtService[@i]" value = "@goodAtStylePara.goodAtService(i)">@goodAtStylePara.goodAtService(i)
			 		@if((i+1)%6==0){
			 			<br />
			 		}
			 	}
			  }
			  
			@input(field = stylistForm("stylist.goodAtUser"),args = '_label ->Messages("stylist.goodAtUser")){(id,name,value,args) =>
			 	@for(i <- 0 to goodAtStylePara.goodAtUser.length-1){
			 		<input type = "checkbox" name = "stylist.goodAtUser[@i]" value = "@goodAtStylePara.goodAtUser(i)">@goodAtStylePara.goodAtUser(i)
			 	}
			  }  
			
			@input(field = stylistForm("stylist.goodAtAgeGroup"),args = '_label ->Messages("stylist.goodAtAgeGroup")){(id,name,value,args) =>
			 	@for(i <- 0 to goodAtStylePara.goodAtAgeGroup.length-1){
			 		<input type = "checkbox" name = "stylist.goodAtAgeGroup[@i]" value = "@goodAtStylePara.goodAtAgeGroup(i)">@goodAtStylePara.goodAtAgeGroup(i)
			 	}
			  }
			
			@textarea(field = stylistForm("stylist.myWords"),'rows -> 2, 'cols -> 20, '_label -> Messages("stylist.myWords"))
			
			@textarea(field = stylistForm("stylist.mySpecial"),'rows -> 2, 'cols -> 20, '_label -> Messages("stylist.mySpecial"))
			            
            @textarea(field = stylistForm("stylist.myBoom"),'rows -> 2, 'cols -> 20, '_label -> Messages("stylist.myBoom"))
 		
		  	@textarea(field = stylistForm("stylist.myPR"),'rows -> 2, 'cols -> 20, '_label -> Messages("stylist.myPR"))
		  	
		<input type="submit" class = "buttons" value="@Messages("stylist.submit")">
            
        <input type = "reset" class = "buttons" value="@Messages("stylist.reset")">
        </div>
      </div>

    </div>
  </div>
	}
}
