@(changePassForm: Form[(User,String)],user :User)(implicit flash: Flash)

	@import helper._

	 @main(title = "changePassword") {

	 	<h2>@Messages("user.changePassword")</h2>

	 	@form(action = routes.Users.changePassword(user.userId), 'method ->"post"){

	 		<input text="hidden" name="user.userId" value = "@user.userId">

	 		@inputPassword(field = changePassForm("user.oldPassword"), '_label -> Messages("user.oldPassword"), 'placeholder ->"Old Password" ,
            				'_error -> changePassForm("user").error.map(_.withMessage(Messages("user.oldPasswordErr"))))

			@inputPassword(changePassForm("newPassword.main"),'_label -> Messages("user.password"))

            @inputPassword(changePassForm("newPassword.confirm"),'_label -> Messages("user.confirmPas"),'_error -> changePassForm.error("newPassword"))

            <input type= "submit" class = "buttons" value="@Messages("user.updateBtn")">
	 	}
	 }
