@(changePassForm: Form[(User,String)],user :User, followInfo:FollowInformation)(implicit flash: Flash)

	@import helper._

     @myPageMain(navInMyPage = " ", user, followInfo, user.id, true){
	 	<h2>@Messages("user.changePassword")</h2>

	 	@form(action = auth.routes.Users.changePassword(user.userId), 'method ->"post"){

	 		<input type="hidden" name="user.userId" value = "@user.userId">

	 		@inputPassword(field = changePassForm("user.oldPassword"), '_label -> Messages("user.oldPassword"), 'placeholder ->"Old Password" ,
            				'_error -> changePassForm("user").error.map(_.withMessage(Messages("user.oldPasswordErr"))))

			@inputPassword(changePassForm("newPassword.main"),'_label -> Messages("user.newPassword"))

            @inputPassword(changePassForm("newPassword.confirm"),'_label -> Messages("user.confirmPas"),'_error -> changePassForm.error("newPassword"))

            <input type= "submit" class = "buttons" value="@Messages("service.update")">
	 	}
	 }
