@(changePassForm: Form[(User,String)],user :User, followInfo:FollowInformation)(implicit flash: Flash)

	@import helper._


     @myPageMain(navInMyPage = " ", user, followInfo, user.id, true){

	 	<h2>@Messages("user.changePassword")</h2>

	 	@form(action = auth.routes.Users.changePassword(user.userId), 'method ->"post"){

	 		<input type="hidden" name="user.userId" value = "@user.userId">

			<table cellspacing="0" class="wFull bdCell pCell10 bgThNml mT10">
			    <tbody>
					<tr>
			            <th class="w222 ">
			                <div class="dibBL vaM w154">
			                   	<font class="cR">*</font>@Messages("user.oldPassword")
			                </div>
			            </th>
			            <td>
			                <div>
			                	@inputPassword(changePassForm("user.oldPassword"),'_label -> None, 'placeholder -> Messages("user.oldPasswordPress"),
			                		'_error -> changePassForm("user").error.map(_.withMessage(Messages("user.oldPasswordErr")))
			                    )
			                </div>
			            </td>
			        </tr>
			        
			        <tr>
			            <th class="w222 ">
			                <div class="dibBL vaM w154">
			                   	<font class="cR">*</font>@Messages("user.newPassword")
			                </div>
			            </th>
			            <td>
			                <div>
			                	@inputPassword(changePassForm("newPassword.main"),'_label -> None, 'placeholder -> Messages("user.newPasswordPress"),
			                		'_help -> Messages("user.toBePassword"))
			                </div>
			            </td>
			        </tr>
			        
			        <tr>
			            <th class="w222 ">
			                <div class="dibBL vaM w154">
			                   	<font class="cR">*</font>@Messages("user.confirmPas")
			                </div>
			            </th>
			            <td>
			                <div>
			                	@inputPassword(changePassForm("newPassword.confirm"),'_label -> None, 'placeholder -> Messages("user.comfirmPasswordPress"),
			                		 '_error -> changePassForm.error("newPassword"))
			                </div>
			            </td>
			        </tr>
			      </tbody>
			  </table>
            <input type= "submit" class = "registerButtons" value="@Messages("service.update")">
	 	}
	 }
