@(reservation: models.portal.reservation.Reservation, user :models.portal.user.User, followInfo:models.portal.user.FollowInformation)

@import models.portal.salon.Salon

@myPageMain("my-reservation", user, followInfo, user.id, true) {
  <div class="middleContentsInner">
    <div class="middleContentsInnerHead pT25">
      <div class="middleContentsInnerBottom">
        <div class="shopContentsWrapper">
          <div class="skinHeadingWrapper">
            <h3>
              @Messages("reservation.handle.-1")
            </h3>
          </div>
          <dl class="bgLGray pT30 mT30 pB10">
            <dt class="fs18 taC b pB30">
              @reservation.expectedDate.format("yyyy/MM/dd HH:mm") @Salon.findOneById(reservation.salonId).map(s => s.salonName) <p>@Messages("reservation.cancelSuccessful")</p>
            </dt>
            <dd class="taC pB30">
              <a href="@auth.routes.Users.myPage()" title=""
              class="toReserveList">
                @Messages("reservation.ReserveList")
              </a>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>

  }
