@(user :User, followInfo:FollowInformation, loginUserId:ObjectId =new ObjectId, logged:Boolean = false)

@myPageMain("followedSalon", user, followInfo, loginUserId, logged) {
	
    <div id="content_head">
        <p><strong>@user.nickName@Messages("user.followedSalon")</strong></p>
    </div>
    <div id='SpaceMain'>
	  <div class="MMod" id="Logs">
    	  <ul id="listWrapper">
    		  @followInfo.followSalon.map{salon =>
    			  @views.html.user.followedSalonItem(salon,loginUserId,logged)
    		  }
    	  </ul>
   	  </div>
   	</div>
}
