@(followUser:User, loginUserId:ObjectId, logged:Boolean)
<li>
	<table class="ostable">
		<tbody>
			<tr>
				<td class="avatar"><a href="@noAuth.routes.Users.userPage(followUser.userId)" title=""><img src="@routes.Application.getPhoto(followUser.userPics)" align="middle"></a></td>
				<td class="update">
					<span class="name"><a href="@noAuth.routes.Users.userPage(followUser.userId)">@followUser.nickName</a></span><br>
					<span class="city">@if(followUser.address.nonEmpty){@followUser.address.get.province}else{@null} &nbsp;@if(followUser.address.nonEmpty){@followUser.address.get.city}else{@null}</span>
				</td>
				@if(followUser.id != loginUserId){
				<td class="opts">
					@if(logged.equals(true) &&  MyFollow.checkIfFollow(loginUserId,followUser.id)){
						<a href="@auth.routes.MyFollows.cancelFollow(followUser.id)">@Messages("user.cancelFollow")</a>
					}else{
						<a href="javascript:void(0);" onclick="addFollow('@followUser.id','user')">@Messages("user.addFollow")</a>
					}
					<a class="sendMsg" value="@followUser.id">@Messages("user.sendMsg")</a>
				</td>
				}
			</tr>
		</tbody>
	</table>
</li>