@(user :User, followInfo:FollowInformation, isFans: Boolean ,loginUserId:ObjectId =new ObjectId, logged:Boolean = false)

@myPageMain("followedUser", user, followInfo, loginUserId, logged) {
    @if(isFans.equals(true)){
        <p><strong>@user.nickName@Messages("user.fans")</strong></p>
    }else{
        <p><strong>@user.nickName@Messages("user.followedUser")</strong></p>
    }

    <div class="MMod" id="Logs">
        <ul>
        @followInfo.followUser.map{user =>
            @views.html.user.followedUserItem(user,loginUserId,logged)
        }
        </ul>
    </div>
}

