@(user: User, followInfo:FollowInformation, loginUserId:ObjectId)

@myPageMain("followedStyle", user, followInfo, loginUserId, true){
	
     @if(followInfo.followStyle.isEmpty){
    <div class="bgAlertMsg mT20">
        <p class="alertMsg">@Messages("user.noStyleSearched")</p>
    </div>
    } else {
        @for(style <- followInfo.followStyle){
        	@if(style.isValid){
    		<li class="couponItem">
    		<div class = "styleResult">
    		   @views.html.user.followItem.followStyleItem(style)
    		   
    		   @if(MyFollow.checkIfFollow(loginUserId,style.id)){
    		   		<a href="@auth.routes.MyFollows.cancelFollow(style.id)">@Messages("user.deleteFollow")</a>
    		   }else{
    		   		<a href="javascript:void(0);" onclick="addFollow('@style.id','style')">@Messages("user.addFollow")</a>
    		   }
            </div>
        	</li>
        	}
        }
    }
}