@(salon:models.portal.salon.Salon, loginUserId:ObjectId, logged : Boolean)

<li class="mT20">
  <div class="shopInformationHead ympS">
    <div class="shopInformationBottom ympS">
      <!-- ↓shopContentsInnerMysalon -->
      <div class="shopInformationMysalon ympS">
        <div class="shopContentsInnerMysalon">
        <!-- ↓cassetteHeading -->
          <div class="cassetteHeading cFix">
            <div>
              <h4 class="fs18 lh16 dibBL w500 vaM"><a href="@noAuth.routes.Salons.getSalon(salon.id)">@salon.salonName</a></h4>
            </div>
            <div class="mT10 cFix">
              <div class="fl cFix">
                <p class="fl fgLGray2 b mT2 mR8"> @salon.salonAddress.map(add=>add.accessMethodDesc).getOrElse(None) </p>
              </div>
              <p class="fr">
                @if(logged.equals(true) && models.portal.user.MyFollow.checkIfFollow(loginUserId,salon.id)){
                  <a href="@auth.routes.MyFollows.cancelFollow(salon.id)" class="followBtn">@Messages("user.cancelFollow")</a>
                }else{
                  <a href="javascript:void(0);" onclick="addFollow('@salon.id','salon')" class="followBtn">@Messages("user.addFollow")</a>
                }
              </p>
            </div>
          </div>
          <!-- ↑cassetteHeading -->
          <!-- ↓listBody -->
          <div class="listBody cFix">
            <div class="fl w221 h170 mR10 taC mL10 bl">
              <div class="mHA">
                <a href="@noAuth.routes.Salons.getSalon(salon.id)" target="blank"><img src="@routes.Application.getPhoto(salon.salonPics(0).fileObjId)" align="absmiddle" alt="" title="@salon.salonName" class="SmallPortrait"></a>
              </div>
            </div>
            <div class="fr w440 mR10">
              <div>
                <p class="mT10 introHeader">
                  @if(salon.salonIntroduction.nonEmpty){
                    @salon.salonIntroduction.get.introHeader
                  }                                
                </p>
                <p class="mT10 pB10 introContent">
                  @if(salon.salonIntroduction.nonEmpty){
                    @salon.salonIntroduction.get.introContent.slice(0, 100) ...
                  }    
                </p>
              </div>
              <div>
                <dl class="cFix mB2">
                <dt class="fl fgLGray2 b mW65">@Messages("salon.priceCutOnly")</dt>
                <dd class="fl w100">
                  <div class="mL10">
                    @models.portal.salon.Salon.getLowestPriceOfCut(salon.id) match {
                        case None => { @Messages("salon.priceCutOnlyUndefined")}
                        case Some(price) => { @Messages("salon.priceCutOnlyMsg", price)}
                    }
                  </div>
                </dd>
                <dt class="fl fgLGray2 b mW90">@Messages("salon.seatNums")</dt>
                <dd class="fl w80"><div class="mL10">@Messages("salon.seatNumsMsg", salon.seatNums.getOrElse(None))</div></dd>
                </dl>
                <dl class="cFix mB2">
                <dt class="fl fgLGray2 b mW65">@Messages("salon.stylistNums")</dt>
                <dd class="fl w100">
                  <div class="mL10">
                    @Messages("slaon.stylistNumUnit", models.portal.salon.Salon.getCountOfStylists(salon.id))
                  </div>
                </dd>
                <dt class="fl fgLGray2 b mW90">@Messages("salon.parkingDesc")</dt>
                <dd class="fl w80">
                  <div class="mL10">
                   @if(salon.salonFacilities.map(fac=>fac.hasParkingNearby).getOrElse(None)) { @salon.salonFacilities.get.parkingDesc} else { @Messages("salon.hasNoParkingNearByMsg")}
                  </div>
                </dd>
                </dl>
                <ul class="cFix reserveArea">
                  <li class="fr"><a href = "#"><input type = "button" class = "buttons"  value = "@Messages("reserve.name")"></a></li>
                </ul>
              </div>
              <div class="mT20 w440">
                <h3 class="cassetteContentsHeading mT14 mL2">@Messages("user.salonBlogTitle", salon.salonName)</h3>
                  <div class="CouponArea zoom1">
                    <div class="CouponAreaCoupon cFix">
                      <div class="CouponAreaInner">
                        <dl class="cFix">
                        @if(models.portal.blog.Blog.findBySalon(salon.id).length > 0){
                          <dd class="fr b mL10">@models.portal.user.User.findOneByUserId(models.portal.blog.Blog.findBySalon(salon.id).head.authorId).get.nickName</dd>
                          <dd class="oh"><a href="@noAuth.routes.Blogs.getOneBlogOfSalon(salon.id, models.portal.blog.Blog.findBySalon(salon.id).head.id)">@models.portal.blog.Blog.findBySalon(salon.id).head.title</a></dd>
                        }else{
                          @Messages("blog.salonNoBlog")
                        }
                        </dl>
                      </div>
                    </div>
                  </div>
              </div>
              
              <div class="mT20 w440">
                <h3 class="cassetteContentsHeading mT14 mL2">@Messages("user.salonCouponTitle", salon.salonName)</h3>
                  <div class="CouponArea zoom1">
                    <div class="CouponAreaCoupon cFix">
                      <div class="CouponAreaInner">
                        <dl class="cFix">
                          @if(models.portal.coupon.Coupon.findValidCouponBySalon(salon.id).length > 0){
                            @for(i <- 0 to (if(models.portal.coupon.Coupon.findValidCouponBySalon(salon.id).length > 5) 4 else models.portal.coupon.Coupon.findValidCouponBySalon(salon.id).length - 1)) {
                              <div class="couponItem">
                                <dt class="iS couponTypeSmallCT02 offL models.portal.coupon.CouponMark fl"></dt><dd class="fr b mL10">@models.portal.coupon.Coupon.findValidCouponBySalon(salon.id)(i).perferentialPrice</dd>
                                <dd class="oh pl5"><a href="@noAuth.routes.Salons.getAllCoupons(salon.id, "")">@models.portal.coupon.Coupon.findValidCouponBySalon(salon.id)(i).description.slice(0, 30) ...</a></dd>
                              </div>
                            }
                          }else{
                            @Messages("user.salonCouponNoFound")
                          }
                        </dl>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
            <!-- ↑listBody -->
        </div>
      </div>
      <!-- ↑shopContentsInnerMysalon -->
    </div>
  </div>
</li>
