@(salon:Salon, loginUserId:ObjectId, logged : Boolean)
	<li><table class="ostable">
		<tbody>
			<tr>
				<td class="avatar"><a href="/salon/@salon.id" target="blank"><img src="#" align="middle" alt="" title="@salon.salonName" class="SmallPortrait" user="1435017"></a></td>
				<td class="update">
					<span class="name"><a href="/salon/@salon.id" target="blank">@salon.salonName</a></span><br>
					<span class="city">@salon.salonAddress.province &nbsp;@salon.salonAddress.city</span>
				</td>
				<td class="opts">
					@if(logged.equals(false) || MyFollow.checkIfFollow(loginUserId,salon.id)){
						<a href="@auth.routes.MyFollows.cancelFollow(salon.id)">@Messages("user.cancelFollow")</a>
					}else{
						<a href="@auth.routes.MyFollows.addFollow(salon.id,"salon")">@Messages("user.addFollow")</a>
					}
					<a href="#">@Messages("user.sendMsg")</a>
				</td>
			</tr>
		</tbody>
		</table>
</li>
