@(user :User, followInfo:FollowInformation, loginUserId:ObjectId =new ObjectId, logged:Boolean = false)

    @myPageMain("followedStylist", user, followInfo, loginUserId, logged) {
    <div id="content_head">
        <p><strong>@user.nickName@Messages("user.followedStylist")</strong></p>
    </div>
    <div>
            <ul>
            @followInfo.followStylist.map{stylist =>
                @views.html.user.followedStylistItem(stylist,loginUserId,logged)
            }
            </ul>
	</div>
    }
