@(user: models.portal.user.User, followInfo:models.portal.user.FollowInformation, loginUserId:ObjectId)

@myCollectsMain("my-collectStyle", user, followInfo, loginUserId, true){
  <div class="mT40">
     @if(followInfo.followStyle.isEmpty){
      <div class="bgAlertMsg">
        <p class="alertMsg">@Messages("user.noStyleSearched")</p>
      </div>
    } else {
      <div class="yS mainContentsSecondTitleOuter">
        <h2 class="yS mainContentsSecondTitleInnerForAdmin">
          @if(loginUserId.equals(user.id)){
            @Messages("user.myCollectStylesCount", followInfo.followBlog.length)    
          } else {
            @Messages("user.otherCollectStylesCount", followInfo.followBlog.length)
          }
          
        </h2>
      </div>
      <div class="mT20">
        @for(style <- followInfo.followStyle){
          @if(style.isValid){
            <li class="styleItem">
              <div class = "styleResult">
                @views.html.user.followItem.followStyleItem(style)
                
                <p class="txtC">
                  @if(models.portal.user.MyFollow.checkIfFollow(loginUserId,style.id)){
                      <a href="@auth.routes.MyFollows.cancelFollow(style.id)" class="styleBtn">@Messages("user.deleteFollow")</a>
                  }else{
                      <a href="javascript:void(0);" onclick="addFollow('@style.id','style')" class="styleBtn">@Messages("user.addFollow")</a>
                  }
                </p>
              </div>
            </li>
          }
        }
      </div>
    }
  </div>
}
