@(user: User,followInfo:FollowInformation, loginUserId:ObjectId, beforeSevernDate: java.util.Date)

@myPageMain(navInMyPage = "followedCoupon", user, followInfo, loginUserId, true) {
	
    @if(followInfo.followCoupon.isEmpty) {
    <div class="bgAlertMsg mT20">
        <p class="alertMsg">@Messages("user.noCouponSearched")</p>
    </div>
} else {
    @for(coupon <- followInfo.followCoupon) {
    	@if(coupon.isValid){
    		<li class="couponItem">
    		   @views.html.user.followItem.followCouponItem(coupon, beforeSevernDate, loginUserId)
        	</li>	
        }
    	}
    }
}
