@* UserInfomation Template File *@
@(userForm: Form[User],user:User)
 @import helper._
 
    @myPageMain(navInMyPage = "information", user)  {

        @form(routes.Users.update(user.id), 'id -> "userForm") {
          <fieldset>
           	
                  @inputText(userForm("userId"),'_label -> Messages("user.name"), 'readonly -> "true")

                  <input type="hidden" name="password" value="@user.password">

                  @inputText(userForm("nickNm"),'_label -> Messages("user.nickNm"))

                  @inputDate(userForm("birthDay"), '_label -> Messages("user.birthDay"))

                  @inputRadioGroup(userForm("sex"),options = options("M" -> Messages("user.male"), "F" -> Messages("user.female")) , '_label -> Messages("user.sex"),
                  '_error -> userForm("sex").error.map(_.withMessage(Messages("user.sexErr"))))

                  @inputText(userForm("city"),'_label -> Messages("user.city"))

                  @inputText(userForm("job"),'_label -> Messages("user.job"))

                  @inputText(userForm("email"), '_label -> Messages("user.email"))

                  @inputText(userForm("tel"), '_label -> Messages("user.tel"))

                  @inputText(userForm("qq"), '_label -> "QQ")

                  @inputText(userForm("msn"), '_label -> "MSN")

                  @inputText(userForm("weChat"),'_label -> Messages("user.weChat"))

                  @inputDate(userForm("added"),'_label -> "" ,'style -> "display: none")
                  
                  <input type="hidden" name="userTyp" value="@user.userTyp">
                  
                  <input type="hidden" name="userBehaviorLevel" value="@user.userBehaviorLevel">
                  
                  <input type="hidden" name="point" value="@user.point">
                  
                  <input type="hidden" name="added" value="@user.added">
                  
                  <input type="hidden" name="status" value="@user.status">
                  
                  <input type="hidden" name="id" value="@user.id">

			
		  </fieldset>            

            <input type = "submit" class = "buttons" value="@Messages("service.update")">           
        }

    }
