@(loginForm: Form[Option[User]])(implicit flash: Flash)

	@import helper._
	
	 @main(title = Messages("user.userLogin")) {
	 	
	 	<head>
			<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/user/userLogin.css")">
		</head>
	 	
	 	<div class="contentsTitleWrapper">
	 		<h2 class="contentsTitleInner mT10">@Messages("user.login")</h2>
	 	</div>
	 	
	 	<div class="cFix mT20">
			<div class="loginRBox fl">
				<div class="loginRBoxTop">
					<dl class="loginRBoxBottom">
						<dt>
							<div>
								<p class="b fs14"><font>@Messages("user.userLogin")</font></p>
								<p><font><font class="">@Messages("user.loginMessage")</font></font></p>
							</div>
						</dt>
						<dd class="mT5 pT5">
							<div class="pr">
								<dl class="lh30">
									@form(action = auth.routes.Users.login(), 'method ->"post"){
										
										<dd class="mT5 pT5">
											<div class="pr">
												<dl class="lh30">
													<dt class="dibBL vaM w150 b fl"><font class="cR">*</font>@Messages("user.name")</dt>
													<dd class="dibBL vaM w280">
														@inputText(field = loginForm("userId"), '_label -> None, 'placeholder -> Messages("user.name"), 'class -> "inputField",
															'_error ->  loginForm("userId").error.map(_.withMessage(Messages("user.loginUserIdErr")))
														)
													</dd>
													<dt class="dibBL vaM w150 b fl"><font class="cR">*</font>@Messages("user.password")</dt>
													<dd class="dibBL vaM w280">
														@inputPassword(field = loginForm("password"), '_label -> None, 'placeholder ->Messages("user.password") ,
																		'_error -> loginForm.globalError.map(_.withMessage(Messages("user.loginErr"))), 'class -> "inputField")
													</dd>
												</dl>
											</div>
										</dd>
										<div class="mT15">
											<span class="btn btn2H32 w194 mHA">
												<span>
													<input type= "submit" class = "loginbuttons" value="@Messages("user.loginBtn")">												
												</span>
											</span>
										</div>
			 						}	
								</dl>
							</div>
						</dd>
						<div class="mT10 taR">
							<p><a href="@routes.Mails.forgotPassword" id="pwRemindLink" title="@Messages("user.forgetPassword")"><font><font>@Messages("user.forgetPassword")</font></font></a></p>
						</div>
						</dd>
					</dl>
				</div>
			</div>
			<div class="loginRBox fr">
				<div class="loginRBoxTop">
				    <dl class="loginRBoxBottom">
				        <dt class="b fs14">
				            <font>
				                @Messages("user.newUser")
				            </font>
				        </dt>
				        <dd class="mT5 pT10 taC">
				            <p class="dibBL taL">
				                <font>
				                    @Messages("user.registerMessage1")
				                </font>
				                <br>
				                <font>
				                    @Messages("user.registerMessage2")
				                </font>
				                <br>
				                <font>
				                    @Messages("user.registerMessage3")
				                </font>
				            </p>
				        </dd>
				        <dd class="mT10 mB10">
				            <div>
				                <span class="btn btn2H32 w194 mHA">
				                	<span>
				                		<a href="@routes.Application.register()" class="w194">
					                        <input type="button" class="loginbuttons w194" value="@Messages("user.registerBtn")">
					                    </a>
				                	</span>
				                </span>
				            </div>
				        </dd>
				    </dl>
				</div>
			</div>
		</div>
	 }
