@(loginForm: Form[Option[models.portal.user.User]], user: Option[models.portal.user.User] = None)(implicit flash: Flash)

  @import helper._
  @import common.loginAndRegisterMain
  
   @loginAndRegisterMain(Messages("user.userLogin"), "userLogin", user) {
     
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/user/userLogin.css")">
     
     <div class=" w1" id="entry">
       <div class="mc " id="bgDiv">
         <div id="entry-bg">
           <img src="@routes.Assets.at("images/login/dl_pic.jpg")"/>
         </div>
         <div class="form">
           @form(action = auth.routes.Users.login(), 'method ->"post"){
            <div class="item fore1">
              <span>@Messages("user.name")</span>
              <div class="item-ifo">
                @inputText(field = loginForm("userId"), '_label -> None, 'placeholder -> Messages("user.name"), 'class -> "text",
                      '_error ->  loginForm("userId").error.map(_.withMessage(Messages("user.loginUserIdErr"))), '_help -> ""
                    )
    
                <div class="i-name ico"></div>
                <label id="loginname_succeed" class="blank invisible succeed"></label>
                <label id="loginname_error" class="focus"></label>
              </div>
            </div>
            <div class="item fore2">
            <span>@Messages("user.password")</span>
            <div class="item-ifo">
              @inputPassword(field = loginForm("password"), '_label -> None, 'placeholder ->Messages("user.password"), 'class -> "text",
               '_error -> loginForm.globalError.map(_.withMessage(Messages("user.loginErr"))))
  
              <div class="i-pass ico"></div>
              <label id="loginpwd_succeed" class="blank invisible"></label>
              <label id="loginpwd_error" class="hide"></label>
            </div>
          </div>
          <div class="item fore4" id="autoentry">
            <div class="item-ifo">
              <label><a href="@routes.Mails.forgotPassword" class="" title="@Messages("user.forgetPassword")">@Messages("user.forgetPassword")</a></label>
              <div class="clr"></div>
            </div>
          </div>
          <div class="item login-btn2013">
            <input type= "submit" class = "btn-img btn-entry" value="@Messages("user.loginBtn")">
          </div>
        }
         </div>
          
       </div>
     </div>
     
     <div class="free-regist">
      <span><a href="@routes.Application.register()" >@Messages("user.registerBtn")</a></span>
    </div>
   }
