@(loginForm: Form[(String,String)])

	@import helper._
	
	 @main(title = Messages("user.login")) {
	 	
	 	<font size =30px align = "center">@Messages("user.login")</font>
	 	
	 	@form(action = routes.Users.doLogin, args = 'id -> "userloginForm"){
	 		
	 		@inputText(field = loginForm("userId"), args = '_label -> Messages("user.name"), 'placeholder ->"UserId")
          
			@inputPassword(field = loginForm("password"),args = '_label -> Messages("user.pasword"), 'placeholder ->"Password" ,
				'_error -> loginForm.globalError.map(_.withMessage(Messages("user.loginErr"))))
			
            <a href = "@routes.Users.register"><input type="button" class = "buttons" value="@Messages("user.registerBtn")"></a>
            
            <input type= "submit" class = "buttons" value="@Messages("user.loginBtn")">
	 	}
	 }
