@(subNavInSalon: String = "my-followSalon", user :User, followInfo:FollowInformation, loginUserId:ObjectId =new ObjectId, logged:Boolean = false)(content: Html)

@myPageMain("my-acts", user, followInfo, loginUserId, logged){
  
  <div>
    <ul class="tab-sub">
      <li class="fl  @if(subNavInSalon == "my-blogs") {selected}">
        <a class="current-demo" href="@noAuth.routes.Blogs.getAllBlogsOfUser(user.userId)">
          @if(loginUserId.equals(user.id)){
            @Messages("user.myBlog")
          } else {
            @Messages("user.otherBlog")
          }
          
        </a>
      </li>        
    </ul>
  </div>
  @content
  
}
