@(user: User, followInfo:FollowInformation)

@myPageMain(navInMyPage = "my-sava-style", user, followInfo) {
	
     @if(followInfo.followStyle.isEmpty) {
    <div class="bgAlertMsg mT20">
        <p class="alertMsg">@Messages("coupon.noCouponSearched")</p>
    </div>
} else {
    @for(style <- followInfo.followStyle) {
    		<li class="couponItem">
    		<div class = "styleResult">
    		   @views.html.user.followItem.followStyleItem(style)
            	<a href="@auth.routes.MyFollows.cancelFollow(style.id)">@Messages("user.deleteFollow")</a>
            	}
            </div>
        	</li>	
    	}
   }
