@(user: User,followInfo:FollowInfomation)

@myPageMain(navInMyPage = "my-save-coupon", user, followInfo) {
	
    @if(followInfo.followCoupon.isEmpty) {
    <div class="bgAlertMsg mT20">
        <p class="alertMsg">@Messages("coupon.noCouponSearched")</p>
    </div>
} else {
    @for(coupon <- followInfo.followCoupon) {
        @if(coupon.isValid && coupon.endDate.after(new java.util.Date()) && coupon.startDate.before(new java.util.Date())) {
    		<li class="couponItem">
            	@views.html.coupon.couponItem(coupon)
            	<p align = "right"><a href="@routes.MyFollows.cancelFollow(coupon.id)">@Messages("user.deleteFollow")</a></p>
        	</li>	
    	}
    }
}

}
