@(user:User,loginUser : User)
@import helper._
   <div class="myLetters">
       @form(routes.UserLetters.sendLetter(), 'method -> "post"){
           <input type="hidden" name="userMessage.sender" value="@loginUser.userId">
           <input type="hidden" name="userMessage.senderNm" value="@loginUser.nickName">
           <input type="hidden" name="userMessage.addressee" value="@user.userId">
           <label>收信人</label>
           <input type="text" name="userMessage.addresseeNm" value="@user.nickName"><br/>
           <label>标题</label>
           <input type="text" name="message.title"><br/>
           <label>内容</label><br/>
           <textarea cols="60" rows="10" name="message.content"></textarea>
           <input type="submit" value="发送">
       }
   </div>

