@(letters: List[UserLetter], count: Long, pages: Int, page:Int, user:User, followInfo:FollowInformation)

@myRelevantsMain("my-messages", user, followInfo, user.id, true){
	<div class="content-core mT40">
		<div class="yS mainContentsSecondTitleOuter">
			<h2 class="yS mainContentsSecondTitleInnerForAdmin">@Messages("user.messageList")</h2>
		</div>
		<input type="hidden" name="page" id="page" value="@page">
		<input type="hidden" name="totalPage" id="totalPage" value="@pages">
		
		@letters.map{letter=>
			<div class="WB_msg_type">
				<div class="msg_list_node S_line2 clearfix">
		            <div class="id_avatar">
			            <a href="@noAuth.routes.Users.userPage(User.findOneByNickNm(letter.userMessage.senderNm).get.userId)">
		    	 			<img src="@routes.Application.getPhoto(User.findOneByNickNm(letter.userMessage.senderNm).get.userPics)" alt="@letter.userMessage.senderNm"
		    	 				 title="@letter.userMessage.senderNm" align="absmiddle" class = "SmallPortrait" width="50" height="50"/>
		                </a>
		            </div>
		            <div class="msg_main">
		                <div class="W_f14 W_fb msg_title">
		                	<a href="@auth.routes.UserLetters.showMessage(letter.userMessage.id)">@letter.message.title</a>
		                </div>
		                
		                <div class="W_f14 msg_detail S_txt2">
		                	@letter.message.content.slice(0,100) ...
		                </div>
		            </div>
		            <div class="msg_ctrls">
		                <span class="S_txt2">@letter.userMessage.createdTime.format("yyyy-MM-dd HH:mm")</span>
		            </div>
		        </div>
			</div>
		}
		
		<div class="page-limit">
			<a href="javascript:toUpPage();">上一页</a>
			@for(i <-1 to pages){
				@if(page==i){
					<a href="javascript:toPage(@i);" class="pagelink">@i</a>
				}else{
					<a href="javascript:toPage(@i);">@i</a>
				}
				
			}
			<a href="javascript:toNextPage();">下一页</a>
		</div>
	</div>
}
