@(user :User)
			<div class ="Owner">
				<a href="#" class='Img'><img src="@routes.Assets.at("images/user/portrait.png")" align="absmiddle" alt="@user.userId" title="@user.userId" class="LargePortrait"/></a>
				<span class='U'>
      				<a href="#" class='Name' title='female'>@user.userId</a>
					<span class='opts'>
						<img src="@routes.Assets.at("images/user/women.png")" align='absmiddle' title='female'/>
						<a href = "#">更换头像</a>
					</span>
				</span>
    			<div class="clear"></div>
				<div class ="sta">
		  			<a href="http://my.oschina.net/dongming/fellow">关注<span>(121)</span></a>
					<a href="http://my.oschina.net/dongming/fans">粉丝<span>(204)</span></a>
					<a href="http://www.oschina.net/question/3307_20931" title="查看OSCHINA积分规则">积分<span>(463)</span></a>
				</div>
			</div>
			<div class="Resume" id="MyResume">
   				个人座右铭
   			</div>
   			<div class='Opts clearfix'>
				<a href="#" class='a2 admin'><i>.</i><span>修改资料</span></a>
				<a href="#" class='a1 blog'><i>.</i><span>我的博客</span></a>
			</div>  			
			<div class='Mod Users' id='Fellows'>
    			<strong>关注的店铺</strong>
	  			<ul class='clearfix'>
    	 			<li><a href="#" title="郑露好人"><img src="http://static.oschina.net/uploads/user/27/55577_50.jpeg?t=1388822552000" align="absmiddle" alt="露" title="露" class="SmallPortrait" user="55577"></a></li>
    			</ul>
				<div class='more'>
    				<a href="http://my.oschina.net/dongming/fellow">显示所有关注(121)</a>
    			</div>
			</div>
			<div class='Mod Users' id='Fellows'>
    			<strong>关注的技师</strong>
	  			<ul class='clearfix'>
    	 			<li><a href="#" title="郑露好人"><img src="http://static.oschina.net/uploads/user/27/55577_50.jpeg?t=1388822552000" align="absmiddle" alt="露" title="露" class="SmallPortrait" user="55577"></a></li>
    			</ul>
				<div class='more'>
    				<a href="http://my.oschina.net/dongming/fellow">显示所有关注(121)</a>
    			</div>
			</div>
			<div class='Mod Users' id='Fans'>
	   			<strong>我的粉丝</strong>
	   			<ul class='clearfix'>
      				<li><a href="#" title="露露"><img src="http://static.oschina.net/uploads/user/437/874878_50.jpg?t=1372122960000" align="absmiddle" alt="露露" title="露露" class="SmallPortrait" user="874878"/></a></li>
				</ul>
		 		<div class='more'>
       				<a href="#">显示所有粉丝(204)</a>
     			</div>
			</div>
			<div class='RMod' id='UserSkills'>
	  			<div id="OtherScore">
        			<h1><a href="http://www.oschina.net/question/3307_20931" target="_blank" title="如何获得积分？"><em>50</em>活跃积分:</a></h1>
        			<h1><a href="http://www.oschina.net/question/3307_20931" target="_blank" title="如何获得积分？"><em>463</em>可用积分:</a></h1>
    			</div> 
				<div style="clear: both"></div>
	<!-- ↑mainContents -->