@(user: User)

@myPageMain(navInMyPage = "my-reservation", user) {
	
    <div class="MMod" id="Logs">
    	<div class="shopContentsWrapper">
			<div class="mT30">
				<div class="skinHeadingWrapper">
					<h3>現在受付中の予約</h3>
				</div>
				<ul>
					<li class="mT20">
						<div class="shopInformationHead ympS">
							<div class="shopInformationBottom ympS">
								<div class="shopInformation ympS">
									<div class="shopContentsInnerReserve cFix">
										<div class="cFix">
											<h4 class="shopName fl"><a class="" href="http://beauty.hotpepper.jp/slnH000252257/" title="hair space COCO Shibuya 津田沼店">
												hair space COCO Shibuya 津田沼店</a>
											</h4>
											<div class="fr">
												<ul class="salonMark taR">
													<li class="serviceHairSalonN iS dibBL"><span class="salonMarkListInner">ヘアサロン</span></li>
												</ul>
											</div>
										</div>
										<div class="cFix">
											<p class="fl">来店日時：<span class="b fs14">2014年03月13日(星期四) 14:00</span></p>
											<dl class="reserveMessageHistory cFix">
												<dt class="fl reserveFix iS">予約確定</dt>
												<dd class="fl salonsAnswer ">ご指定の日時にサロンへご来店ください。</dd>
											</dl>
										</div>
										<div class="tableHistoryWrapper2 dibBL">
											<table class="tableHistory">
												<tbody>
													<tr>
														<th class="boxHeadingHistory">お支払予定金額</th>
														<td class="boxBody b">¥3,780</td>
														<th class="boxHeadingHistory">予約番号</th>
														<td class="boxBody">B026644508</td>
													</tr>
													<tr>
													<th class="boxHeadingHistory">ご利用ポイント</th>
													<td class="boxBodyHistory" colspan="3">利用なし<a href="javascript:void(0);" class="questionMark iS mL10 fs10 point_guide">金額・ポイントについて</a></td>
													</tr>
												</tbody>
											</table>
											<p class="detailTxt1"></p>
										</div>
										<div class="detailBtn1 dibBL vaB">
											<ul>
												<li><a href="http://beauty.hotpepper.jp/slnH000252257/map/" title="">MAP</a></li>
												<li><a href="https://beauty.hotpepper.jp/CSP/my/reserveStatus/?reserveId=B026644508">予約内容詳細</a></li>
											</ul>
											<p class="b mT10"><a href="https://beauty.hotpepper.jp/CSP/my/reserveCancel/confirm/?reserveId=B026644508" class="crossMark iS">取消预约</a></p>
										</div>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
							<!-- <div class="mT30">
								<div class="skinHeadingWrapper">
									<h3>予約した事があるサロン</h3>
								</div>
								<div class="mT20">
									<div class="categoryHeading mL130">ヘアサロン</div>
									<div class="jscListWrapper">
										<div class="mT20 cFix">
											<div class="fl mR15">
											<span class="w20 db">&nbsp;</span>
											</div>
											
											<div class="fl listShopImgWrapper">
												<ol id="jsiListShopImg1" class="listShopImg">
													<li class="jscPinSlnIdH000231733-01">
														<p class="jscShopImg shopImg">
															<a href="https://beauty.hotpepper.jp/CSP/my/mySalon/reserveHistory/?storeId=H000231733&amp;systemKbn=01"><img src="/CSP/IMG_SRC/74/97/B002997497/B002997497_219-164.jpg" class="w200 h150" alt="Freres　フレール" /></a>
														</p>
														<p class="b"><a href="https://beauty.hotpepper.jp/CSP/my/mySalon/reserveHistory/?storeId=H000231733&amp;systemKbn=01">Freres　フレール</a></p>
														<p>明治神宮前駅　５番出口　徒歩５分</p>
													</li>
													<li class="jscPinSlnIdH000252257-01">
														<p class="jscShopImg shopImg">
															<a href="https://beauty.hotpepper.jp/CSP/my/mySalon/reserveHistory/?storeId=H000252257&amp;systemKbn=01"><img src="/CSP/IMG_SRC/52/52/B004845252/B004845252_219-164.jpg" class="w200 h150" alt="hair space COCO Shibuya 津田沼店" /></a>
														</p>
														<p class="b"><a href="https://beauty.hotpepper.jp/CSP/my/mySalon/reserveHistory/?storeId=H000252257&amp;systemKbn=01">hair space COCO Shibuya 津田沼店</a></p>
														<p>津田沼駅より徒歩３分★ロング料金はかかりません</p>
													</li>
													</ol>
											</div>
											
											<div class="fr">
											<span class="w20 db">&nbsp;</span>
											</div>
										</div>
									</div>
								</div>
								<div class="mT20">
									<div class="categoryHeading mL130">リラク＆ビューティー</div>
									<div class="jscListWrapper">
										<div class="mT20 cFix">
											<div class="fl mR15">
											<span class="w20 db">&nbsp;</span>
											</div>
											
											<div class="fl listShopImgWrapper">
												<ol id="jsiListShopImg2" class="listShopImg">
													<li class="jscPinSlnIdH000249390-02">
														<p class="jscShopImg shopImg">
															<a href="https://beauty.hotpepper.jp/CSP/my/mySalon/reserveHistory/?storeId=H000249390&amp;systemKbn=02"><img src="/CSP/IMG_SRC_K/96/59/C001159659/C001159659_219-164.jpg" class="w200 h150" alt="DASHING DIVA　銀座ナイン店" /></a>
														</p>
														<p class="b"><a href="https://beauty.hotpepper.jp/CSP/my/mySalon/reserveHistory/?storeId=H000249390&amp;systemKbn=02">DASHING DIVA　銀座ナイン店</a></p>
														<p>各線「新橋駅」 徒歩１分、 「銀座駅」A3・C3出口 徒歩6分</p>
													</li>
													</ol>
											</div>
											
											<div class="fr">
											<span class="w20 db">&nbsp;</span>
											</div>
											
										</div>
									</div>
								</div>
								</div>
							</div> -->
		</div>
    </div>

}
