@(user :User)
			<div class ="Owner">
				<a href="#" class='Img'><img src="@routes.Assets.at("images/user/portrait.png")" align="absmiddle" alt="@user.userId" title="@user.userId" class="LargePortrait"/></a>
				<span class='U'>
      				<a href="@routes.Users.myPage(user.userId.toString)" class='Name' title='female'>@user.userId</a>
					<span class='opts'>
						<img src="@if(user.sex == "F") {@routes.Assets.at("images/user/women.png")" align='absmiddle' title='female'} else {@routes.Assets.at("images/user/men.png")" align='absmiddle' title='man'}"/>
						<a href = "#">@Messages("user.changeImage")</a>
					</span>
				</span>
    			<div class="clear"></div>
				<div class ="sta">
					<a href="@routes.Users.showMyFollowers(user.id)"><font color="gray">@Messages("user.myFollowers")<span>(@FollowCollect.getFollowers(user.id).length)</span></font></a>
				</div>
			</div>
   			<div class='Opts clearfix'>
                                <a href="@routes.Users.show(user.userId)" class='a2 admin'><i>.</i><span>@Messages("user.changeInfo")</span></a>
				<a href="/showBlog/@user.id" class='a1 blog'><i>.</i><span>@Messages("user.myBlog")</span></a>
			</div>  			
			<div class='Mod Users' id='Fellows'>
    			<strong>@Messages("user.followSalon")</strong>
	  			<ul class='clearfix'>
	  				@for(i <- 0 to FollowCollect.getAllFollowCollectAtId(1,user.id).length-1){
	  					@Salon.findById(FollowCollect.getAllFollowCollectAtId(1,user.id)(i)).map {salon =>
	  					<li>
    	 				<!--  <a href="#"><img src="#" align="absmiddle" alt="" title="" class="SmallPortrait"></a>-->
    	 				<a href="#">@salon.salonName</a>&nbsp;&nbsp;&nbsp;&nbsp;
    	 			     </li>
	  					}
	  				}
    			</ul>
				<div class='more'>
    				<a href="@routes.Users.showAllFollowSalon(user.id)">@Messages("user.showAllFollow")@FollowCollect.getAllFollowCollectAtId(1,user.id).length)</a>
    			</div>
			</div>
			<div class='Mod Users' id='Fellows'>
    			<strong>@Messages("user.followStylist")</strong>
	  			<ul class='clearfix'>
    	 			@for(i <- 0 to FollowCollect.getAllFollowCollectAtId(2,user.id).length-1){
	  					@Stylist.findById(FollowCollect.getAllFollowCollectAtId(2,user.id)(i)).map {stylist =>
	  					<li>
    	 				<!--  <a href="#"><img src="#" align="absmiddle" alt="" title="" class="SmallPortrait"></a>-->
    	 				<a href="#">@stylist.label</a>&nbsp;&nbsp;&nbsp;&nbsp;
    	 			     </li>
	  					}
	  				}
    			</ul>
				<div class='more'>
    				<a href="@routes.Users.showAllFollowStylist(user.id)">@Messages("user.showAllFollow")@FollowCollect.getAllFollowCollectAtId(2,user.id).length)</a>
    			</div>
			</div>
			<div class='Mod Users' id='Fans'>
	   			<strong>@Messages("user.followUser")</strong>
	   			<ul class='clearfix'>
      				@for(i <- 0 to FollowCollect.getAllFollowCollectAtId(6,user.id).length-1){
	  					@User.findById(FollowCollect.getAllFollowCollectAtId(6,user.id)(i)).map {user =>
	  					<li>
    	 				<!--  <a href="#"><img src="#" align="absmiddle" alt="" title="" class="SmallPortrait"></a>-->
    	 				<a href="@routes.Users.otherIndex(user.id)">@user.userId</a>&nbsp;&nbsp;&nbsp;&nbsp;
    	 			     </li>
	  					}
	  				}
				</ul>
		 		<div class='more'>
       				<a href="@routes.Users.showAllFollowUser(user.id)">@Messages("user.showAllFollow")@FollowCollect.getAllFollowCollectAtId(6,user.id).length)</a>
     			</div>
			</div>
			<div class='RMod' id='UserSkills'>
	  			<div id="OtherScore">
        			<h1><a href="http://www.oschina.net/question/3307_20931" target="_blank" title="@Messages("user.howToGetPoint")"><em>@user.point</em>@Messages("user.point")</a></h1>
    			</div> 
				<div style="clear: both"></div>
	  		</div>
	  		<div class='RMod' id='UserSkills'>
	  			<a href = "@routes.Users.loginout">@Messages("user.loginOut")</a>
	  		</div>
	<!-- ↑mainContents -->
