@(user: User)

@myPageMain(navInMyPage = "my-save-coupon", user) {
	
    <div class="MMod" id="Logs">
	    <div class="cFix">
			<h4 class="shopName fl"><a class="" href="http://beauty.hotpepper.jp/slnH000252257/" title="hair space COCO Shibuya 津田沼店">
				hair space COCO Shibuya 津田沼店</a>
			</h4>	
    		<div class="mT10">
				<table summary="summary" cellspacing="1" class="mT2 wFull bgLGray6 fs10 couponTable">
					<tbody>
						<tr>
							<td class="bgPink8 fgWhite bd0 taC p5 fs12 b">全<br />員</td>
							<td class="w554 bgWhite">
								<div class="w534 p10">
									<div class="">
										<div class="">
											<ul class="couponMenuIcons fs10 cFix">
												<li class="couponMenuIcon mB5">カット</li>
												<li class="couponMenuIcon mB5">カラー</li>
											</ul>
										</div>
										<div class="mT5 b fs12 cFix">
											<p class="fl"><a href="http://beauty.hotpepper.jp/slnH000235128/coupon/#couponList" class="db lh23 b">【人気No.1★】カット+モロッカンカラー¥3980</a></p>
											<p class="fr fgRed"><span class="fs13">¥3,980</span></p>
										</div>
									</div>
									<dl class="mT10">
										<dt class="di fgPink">提示条件：</dt><dd class="di mR10 pR10 fgGray bdLGrayR">予約時＆入店時</dd>
										<dt class="di fgPink">利用条件：</dt><dd class="di mR10 pR10 fgGray bdLGrayR">どなたでも</dd>
										<dt class="di fgPink">有効期限：</dt><dd class="di mR20 fgGray">2014年03月31日まで</dd>
									</dl>
								</div>
							</td>
							<td class="bdWhite bgLLGray2 vaM">
								<div class=" pV10 fs12">
									<div>
				 						<a href ="#">删除</a>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
    	
    		<div class="mT10">
				<table summary="summary" cellspacing="1" class="mT2 wFull bgLGray6 fs10 couponTable">
					<tbody>
						<tr>
							<td class="bgPink8 fgWhite bd0 taC p5 fs12 b">新<br />規</td>
								<td class="w554 bgWhite">
									<div class="w534 p10">
										<div class="">
											<div class="">
												<ul class="couponMenuIcons fs10 cFix">
													<li class="couponMenuIcon mB5">カット</li>
												</ul>
											</div>
										<div class="mT5 b fs12 cFix">
											<p class="fl"><a href="http://beauty.hotpepper.jp/slnH000074881/coupon/#couponList" class="db lh23 b">シャンプー＋店長クラスカット￥4500</a></p>
											<p class="fr fgRed"><span class="fs13">¥4,500</span></p>
										</div>
									</div>
									<dl class="mT10">
										<dt class="di fgPink">提示条件：</dt><dd class="di mR10 pR10 fgGray bdLGrayR">予約時＆入店時</dd>
										<dt class="di fgPink">利用条件：</dt><dd class="di mR10 pR10 fgGray bdLGrayR">どなたでも</dd>
										<dt class="di fgPink">有効期限：</dt><dd class="di mR20 fgGray">2014年03月31日まで</dd>
									</dl>
								</div>
							</td>
							<td class="bdWhite bgLLGray2 vaM">
								<div class=" pV10 fs12">
									<div>
										<a href ="#">删除</a>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
    	</div>
    </div>

}
