@(user: User)

@myPageMain(navInMyPage = "my-sava-blog", user) {
	
    <div class="MMod" id="Logs">
    	<ul id="listWrapper">
    		<li class="listCassette cFix">
				<div class="fl w150 taC">
					<a href="http://beauty.hotpepper.jp/slnH000074881/blog/bidA003340750.html"><img src="http://imgbp.hotp.jp/CSP/IMG_BLOG/23/66/I003362366/I003362366_119-89.jpg" alt="お店の癒しブース"></a>
				</div>
				<div class="fr w397">
					<div class="cFix">
						<div>サロンのNEWS</div>
							<div class="fl">
								<dl class="cFix">
									<dt class="fl">投稿日：</dt>
									<dd class="fl">2014/3/3</dd>
								</dl>
								<dl class="cFix">
									<dt class="fl">投稿者：</dt>
									<dd class="fl">榎原 佐絵子</dd>
								</dl>
							</div>
						</div>
						<div class="mT10">
							<div class="cFix">
								<div class="fs14 b wwbw">
									<a href="http://beauty.hotpepper.jp/slnH000074881/blog/bidA003340750.html">お店の癒しブース</a>
								</div>
							</div>
							<div class="mT5 wwbw">こんにちはレセプション榎原です！！今日はお店の癒しの場所シャンプーブースを紹介したいと思いますシャンプー台は全部で4台☆その中のうち一台が炭酸泉もう一つがコスメトリートメ…<a href="http://beauty.hotpepper.jp/slnH000074881/blog/bidA003340750.html">続きを見る</a>
							</div>
						</div>
					</div>
					<div>
						<a href="#">删除</a>
					</div>
				</li>
			</ul>
    </div>

}
