@(user: User)

@myPageMain(navInMyPage = "my-sava-style", user) {
	
    <div class="MMod" id="Logs">
    	<div class = "shopInformationMysalon ympS">
    		<div class="oh w725 mB15">
				<table cellspacing="0" class="w725 mT30">
					<tbody>
						<tr>
							<td class="w186 vaT bdGrayR">
								<div class="w156 mHA">
									<div class="taC mT10">
										<a href="http://beauty.hotpepper.jp/slnH000074881/style/L000756635.html" title="モードな大人ベリーショート"><img src="@routes.Assets.at("images/haircatalog/hair-show02.jpg")"></a>
									</div>
									<p class="mT5">
									<a href="http://beauty.hotpepper.jp/slnH000074881/style/L000756635.html" title="モードな大人ベリーショート">モードな大人ベリーショート</a>
									</p>
									<div class="w156 mHA mT15 mB5">	スタイリスト：<a href="http://beauty.hotpepper.jp/slnH000074881/stylist/T000208400/" title="山川 大輔">山川 大輔</a>
									</div>
									<div class="w156 mHA pB10">
										<a href="http://beauty.hotpepper.jp/slnH000074881/" title="Ａｓｈ 池袋店">Ａｓｈ 池袋店</a>
									</div>
									<p class="taC mT10 pB10"><a href="https://beauty.hotpepper.jp/CSP/my/myStyle/doDelete/?storeId=H000074881&amp;styleId=L000756635&amp;org.apache.struts.taglib.html.TOKEN=0faf356485ed3a0526c8f5ea9147bfcb" class="iS arrowR fs10" title="マイスタイルから削除する">マイスタイルから削除する</a></p>
									</div>
							</td>
							<td class="w186 vaT">
								<div class="w156 mHA">
								</div>
							</td>
							<td class="w186 vaT">
								<div class="w156 mHA">
								</div>
							</td>
							<td class="w186 vaT">
								<div class="w156 mHA">
							</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
    	
    		<div class="postList">
				<ul class="paging">&nbsp;</ul>
					<p class="pageControl">
						1/1ページ
					</p>
			</div>
		</div>
    </div>

}
