@(user :User, followInfo:FollowInformation, loginUserId:ObjectId =new ObjectId, logged:Boolean = false)
			<div class ="Owner">
				<a href="#" class='Img'><img src="@routes.Assets.at("images/user/portrait.png")" align="absmiddle" alt="@user.userId" title="@user.userId" class="LargePortrait"/></a>
				<span class='U'>
      				<a href="@auth.routes.Users.myPage" class='Name' title='female'>@user.userId</a>
					<span class='opts'>
						<img src="@if(user.sex == "F") {@routes.Assets.at("images/user/women.png")" align='absmiddle' title='female'} else {@routes.Assets.at("images/user/men.png")" align='absmiddle' title='man'}"/>
						@if(MyFollow.checkIfFollow(loginUserId,user.id)){
                        <a href="@auth.routes.MyFollows.cancelFollow(user.id)">@Messages("user.cancelFollow")</a>
                    }else{
                        <a href="@auth.routes.MyFollows.addFollow(user.id,FollowType.FOLLOW_USER)">@Messages("user.addFollow")</a>
                    }
					</span>
				</span>
    			<div class="clear"></div>
				<div class ="sta">
					<a href="@noAuth.routes.MyFollows.followers(user.id)"><font color="gray">@Messages("user.myFollowers")<span>(@followInfo.follower.length)</span></font></a>
				</div>
			</div>
   			<div class='Opts clearfix'>
                <a class='a2 admin' id="sendMsg"><span>@Messages("user.sendMsg")</span></a>
				<a href="/showBlog/@user.userId" class='a1 blog'><span>@Messages("user.otherBlog")</span></a>
			</div> 
			<div class='Mod Users' id='Fellows'>
    			<a href = "#"><strong>@Messages("user.collectBlog")</strong></a>
			</div>
			<div class='Mod Users' id='Fellows'>
    			<a href = "#"><strong>@Messages("user.collectStyle")</strong></a>
			</div> 			
			<div class='Mod Users' id='Fellows'>
    			<strong>@Messages("user.followSalon")</strong>
	  			<ul class='clearfix'>
	  				@followInfo.followSalon.map {salon =>
	  						<li>
    	 						<a href="/salon/@salon.id" target="blank">@salon.salonName</a>&nbsp;&nbsp;&nbsp;&nbsp;
    	 			     	</li>
    	 			}
    			</ul>
				<div class='more'>
    				<a href="@noAuth.routes.MyFollows.followedSalon(user.id)">@Messages("user.showAllFollow")@followInfo.followSalon.length)</a>
    			</div>
			</div>
			<div class='Mod Users' id='Fellows'>
    			<strong>@Messages("user.followStylist")</strong>
	  			<ul class='clearfix'>
    	 			@followInfo.followStylist.map {stylist =>
	  					<li>
    	 				       <a href="/stylistViews/@stylist.stylistId">@stylist.stylistId</a>&nbsp;&nbsp;&nbsp;&nbsp;
    	 			    </li>
	  					}
    			</ul>
				<div class='more'>
    				<a href="@noAuth.routes.MyFollows.followedStylist(user.id)">@Messages("user.showAllFollow")@followInfo.followStylist.length)</a>
    			</div>
			</div>
			<div class='Mod Users' id='Fans'>
	   			<strong>@Messages("user.followUser")</strong>
	   			<ul class='clearfix'>
      				@followInfo.followUser.map {user =>
	  					<li>
    	 				       <a href="@noAuth.routes.Users.userPage(user.userId)">@user.userId</a>&nbsp;&nbsp;&nbsp;&nbsp;
    	 			    </li>
	  				}
				</ul>
		 		<div class='more'>
       				<a href="@noAuth.routes.MyFollows.followedUser(user.id)">@Messages("user.showAllFollow")@followInfo.followUser.length)</a>
     			</div>
			</div>
<input type="hidden" id="addressee" value="@user.id">
<script type="text/javascript">

$("#sendMsg").click(function() {
var userId = document.getElementById("addressee" ).getAttribute("value");
var url = "/sendLetterPage/"+userId;
window.open(url,"","width=600,height=400");
});
</script>
	<!-- ↑mainContents -->
