@(user :models.portal.user.User, followInfo:models.portal.user.FollowInformation, loginUserId:ObjectId =new ObjectId, logged:Boolean = false)
      <div class ="Owner">
        <a href="#" class='Img'><img src="@routes.Application.getPhoto(user.userPics)"/></a>
        <span class='myPageA'>
           <a href="@noAuth.routes.Users.userPage(user.userId)" class='Name' title='female'>@user.nickName</a>
          <span class='opts'>
            <img src="@if(user.sex == "F") {@routes.Assets.at("images/user/women.png")" align='middle' title='female'} else {@routes.Assets.at("images/user/men.png")" align='absmiddle' title='man'}"/>
          @if(models.portal.user.MyFollow.checkIfFollow(loginUserId,user.id)){
            <a href="@auth.routes.MyFollows.cancelFollow(user.id)">@Messages("user.cancelFollow")</a>
          }else{
            @if(user.userTyp.equals(models.portal.user.User.NORMAL_USER)){
              <a href="javascript:void(0);" onclick="addFollow('@user.id','@models.portal.user.FollowType.FOLLOW_USER')">@Messages("user.addFollow")</a>
            }else{
              <a href="javascript:void(0);" onclick="addFollow('@user.id','@models.portal.user.FollowType.FOLLOW_STYLIST')">@Messages("user.addFollow")</a>
            }
          }
          </span>
        </span>
        <div class="clear"></div>
        <div class ="sta">
          <a href="@noAuth.routes.MyFollows.followers(user.id)"><font>@Messages("user.myFollowers")<span>(@followInfo.follower.length)</span></font></a>
        </div>
      </div>
        <div class='Opts clearfix'>
        <a class='a2 admin' id="sendMsg" value="@user.id"><span>@Messages("user.sendMsg")</span></a>
        <a href="@noAuth.routes.Blogs.getAllBlogsOfUser(user.userId)" class='a1 blog'><span>@Messages("user.otherBlog")</span></a>
      </div>
@if(user.userTyp.equals(models.portal.user.User.STYLIST)){
  <!-- 我的沙龙，如果没有则显示来自沙龙的邀请 -->
  <div class='Mod models.portal.user.Users' id='Fans'>
  @if(models.portal.relation.SalonAndStylist.findByStylistId(user.id).isEmpty){
      <strong>@Messages("stylist.salon")</strong>
      <div class='more'>
          <span>@Messages("stylistMag.noSalon")</span>
      </div>
      }else{

    <a href="@noAuth.routes.Stylists.mySalonFromStylist(user.id)">
      <strong>@Messages("stylist.salon")</strong>
      <div class='more'>
        <a href="@noAuth.routes.Stylists.mySalonFromStylist(user.id)">
          <img src="@routes.Application.getPhoto(models.portal.stylist.Stylist.mySalon(user.id).salonPics(0).fileObjId)"
               alt="@models.portal.stylist.Stylist.mySalon(user.id).salonNameAbbr"
               title="@models.portal.stylist.Stylist.mySalon(user.id).salonNameAbbr" align="absmiddle" class = "SmallPortrait"/>
          <span>@models.portal.stylist.Stylist.mySalon(user.id).salonName</span>
        </a>
      </div>
      }
  </div>
  <!-- 我的发型 -->
  <div class='Mod models.portal.user.Users' id='Fellows'>
    <strong>@Messages("stylist.style")</strong>
    <div class='more'>
      <a href="@noAuth.routes.Stylists.findStylesByStylist(user.id)">@Messages("stylistMag.showAllStyles")
        (@models.portal.stylist.Stylist.countStyleByStylist(user.id))</a>
    </div>
  </div>
}
      <div class='Mod models.portal.user.Users' id='Fellows'>
        <strong>@Messages("user.other")@Messages("user.followSalon")</strong>
         <ul class='clearfix'>
           @followInfo.followSalon.slice(0,8).map {salon =>
               <li>
                 <a href="@noAuth.routes.Salons.getSalon(salon.id)">
                  <img src="@routes.Application.getPhoto(salon.salonPics(0).fileObjId)" alt="@salon.salonNameAbbr" title="@salon.salonNameAbbr" align="absmiddle" class = "SmallPortrait">
                </a>
               </li>
           }
        </ul>
        <div class='more'>
          <a href="@noAuth.routes.MyFollows.followedSalon(user.id)">@Messages("user.showAllFollow")@followInfo.followSalon.length)</a>
        </div>
      </div>
      <div class='Mod models.portal.user.Users' id='Fellows'>
        <strong>@Messages("user.other")@Messages("user.followStylist")</strong>
         <ul class='clearfix'>
           @followInfo.followStylist.slice(0,8).map {stylist =>
             <li>
                <a href="@noAuth.routes.Users.userPage(models.portal.user.User.findOneById(stylist.stylistId).get.userId)">
                  <img src="@routes.Application.getPhoto(stylist.myPics(0).fileObjId)"
                       alt="@models.portal.stylist.Stylist.findUserName(stylist.stylistId)"
                       title="@models.portal.stylist.Stylist.findUserName(stylist.stylistId)"
                       align="absmiddle" class = "SmallPortrait">
                </a>
             </li>
             }
        </ul>
        <div class='more'>
          <a href="@noAuth.routes.MyFollows.followedStylist(user.id)">@Messages("user.showAllFollow")@followInfo.followStylist.length)</a>
        </div>
      </div>
      <div class='Mod models.portal.user.Users' id='Fans'>
          <strong>@Messages("user.other")@Messages("user.followUser")</strong>
          <ul class='clearfix'>
           @followInfo.followUser.slice(0,8).map {user =>
             <li>
                <a href="@noAuth.routes.Users.userPage(user.userId)">
                   <img src="@routes.Application.getPhoto(user.userPics)" alt="@user.nickName" title="@user.nickName" align="absmiddle" class = "SmallPortrait"/>
                </a>
             </li>
             }
        </ul>
         <div class='more'>
            <a href="@noAuth.routes.MyFollows.followedUser(user.id)">@Messages("user.showAllFollow")@followInfo.followUser.length)</a>
         </div>
      </div>
  <!-- ↑mainContents -->
