@(user: User, followInfo:FollowInfomation, seesionId: ObjectId)(content: Html)

@main(Messages("site.title")) {
	
	
	<head>
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/user/user.css")">
	</head>

<!-- ↓contents -->

        <div id="OSC_Content">
        	<div id='SpaceLeft'>
        		@views.html.user.otherPageLeft(user, followInfo, seesionId)
        	</div>
			<div id='SpaceMain'>
       		 	@content
       		</div>	        
        </div>

<!-- ↑contents -->
}
