@(userForm: Form[User])

    @import helper._

    @main(Messages("site.title")) {
    	
    	<head>
			<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/user/user.css")">
		</head>
		
		<div class="contentsTitleWrapper">
			<h2 class="contentsTitleInner">@Messages("user.registerBtn")</h2>
		</div>
       
        @form(noAuth.routes.Users.register(), 'id -> "userForm", 'name -> "userForm") {
        	@if(userForm.hasGlobalErrors) { 
              <div>
                  @userForm.globalError.get.message
              </div>
            }
	      	<table cellspacing="0" class="wFull bdCell pCell10 bgThNml mT10">
			    <tbody>
			        <tr>
			            <th class="w222 ">
			                <!-- -->
			                <div class="dibBL vaM w154">
			                   	<font class="cR">*</font>@Messages("user.name")
			                </div>
			            </th>
			            <td>
			                	@inputText(userForm("userId"),
			                		'_label -> None, 
			                		'placeholder -> Messages("user.name"), 
			                		'_help -> Messages("user.toBeUserId"),
			                		'id -> "accountId",
							        '_error -> userForm("userId").error.map(_.withMessage(Messages("user.userIdErr")))
							            	)
			            </td>
			            <td rowspan="10">
			            	<div class="mT20 txtC">
			            		<span>@Messages("user.hasUserId")</span><br>
			            		<a href="@auth.routes.Users.login"><span>@Messages("user.loginBtn")</span></a>
			            	</div>
			            </td>
			        </tr>
			        <tr>
			            <th class="w222 ">
			                <!-- -->
			                <div class="dibBL vaM w154">
			                   	<font class="cR">*</font>@Messages("user.password")
			                </div>
			            </th>
			            <td>
			                <div>
			                	@inputPassword(userForm("password.main"),
			                		'_label -> None, 
			                		'placeholder -> Messages("user.password"), 
			                		'_help -> Messages("user.toBePassword"),
			                		'id -> "password_main",
			                		'_error -> userForm("password.main").error.map(_.withMessage("user.passwordError")))
			                </div>
			            </td>
			        </tr>
			        <tr>
			            <th class="w222 ">
			                <!-- -->
			                <div class="dibBL vaM w154">
			                   	<font class="cR">*</font>@Messages("user.confirmPas")
			                </div>
			            </th>
			            <td>
			                <div>
			                	@inputPassword(userForm("password.confirm"),
			                		'_label -> None,
			                		'_help -> Messages(""),
			                		'_error -> userForm.error("password"), 
			                		'id -> "password_confirm",
			                		'placeholder -> Messages("user.confirmPas"))
			                </div>
			            </td>
			        </tr>
			        <tr>
			            <th class="w222 ">
			                <!-- -->
			                <div class="dibBL vaM w154">
			                   	<font class="cR">*</font>@Messages("user.nickNm")
			                </div>
			            </th>
			            <td>
			                <div>
			                	@inputText(userForm("nickName"),
			                		'_label -> None,
			                		'_help -> Messages("user.nickName"), 
			                		'placeholder -> Messages("user.nickNm"),
			                		'id -> "salonName",
							        '_error -> userForm("nickName").error.map(_.withMessage("user.nickNameErr"))
							            )
			                </div>
			            </td>
			        </tr>
			        <tr>
			            <th class="w222 ">
			                <!-- -->
			                <div class="dibBL vaM w154">
			                   	<font class="cR">*</font>@Messages("user.email")
			                </div>
			            </th>
			            <td>
			                <div>
			                	@inputText(userForm("email"), 
			                		'_label -> None,
			                		'_help -> Messages(""),
			                		'placeholder -> Messages("user.email"),
			                		'id -> "contact_email",
					            	'_error -> userForm("email").error.map(_.withMessage(Messages("user.emailErr")))
					            )
			                </div>
			            </td>
			        </tr>
				</tbody>
			</table>
				
            @inputText(userForm("optContactMethod"), '_label -> "",'style -> "display: none")
            
            @*inputText(userForm("address"), '_label -> "",'style -> "display: none")*@
            
            @inputText(userForm("userPics"), '_label -> "",'style -> "display: none")

		  	<div class="mT20 txtC">
		  		<input type="button" class = "registerButtons" value="@Messages("user.agreeToRegister")" onclick="checksForUserRegister();">
		  	</div>
		  	
		  	
		  	<div class="mT20 txtC">
				<a href= "#"><p>@Messages("user.agreement")</p></a>
		  	</div>
        }

    }

    
    <script src="@routes.Assets.at("javascripts/checksForForms.js")" type="text/javascript"></script>
    <script type="text/javascript">
    function checksForUserRegister(){
        //当为修改注册信息页面时，用户ID：readonly；
        //当为注册页面时，用户ID为必填项；
        if (!$('#accountId').attr("readonly")){
            checkedAccountId();
            checkedPassword();
            checkedPasswordConfirm();
            checkedSalonName();
            checkedEmail();
        }

        checkedTel();
        var errInput = $('.errorMsg')
        if (errInput.length != 0 ){
            return false;
        }
        document.userForm.submit();
    }
    </script>