@(userForm: Form[User])

    @import helper._

    @main(Messages("site.title")) {
    	
    	<head>
			<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/user/user.css")">
		</head>

        <font size =30px align = "center">@Messages("user.new")</font>
       
        @form(routes.Users.doRegister, 'id -> "userForm") {
          <fieldset>
            @inputText(userForm("userId"),'_label -> Messages("user.name"),
            	'_error -> userForm("userId").error.map(_.withMessage(Messages("user.regErr"))))

			@inputPassword(userForm("password.main"),'_label -> Messages("user.pasword"))
			
			@inputPassword(userForm("password.confirm"),'_label -> Messages("user.confirmPas"),'_error -> userForm.error("password"))

            @inputText(userForm("nickNm"),'_label -> Messages("user.nickNm"))

            @inputDate(userForm("birthDay"), '_label -> Messages("user.birthDay"))

			@inputRadioGroup(userForm("sex"),options = options("M" -> Messages("user.male"), "F" -> Messages("user.female")) , '_label -> Messages("user.sex"),
				'_error -> userForm("sex").error.map(_.withMessage(Messages("user.sexErr"))))
            @inputText(userForm("city"),'_label -> Messages("user.city"))

            @inputText(userForm("job"),'_label -> Messages("user.job"))

              @inputText(userForm("email"), '_label -> Messages("user.email"))

              @inputText(userForm("tel"), '_label -> Messages("user.tel"))

              @inputText(userForm("qq"), '_label -> "QQ")

              @inputText(userForm("msn"), '_label -> "MSN")

              @inputText(userForm("weChat"),'_label -> Messages("user.weChat"))

			@checkbox(userForm("accept"), '_label -> None, '_text -> "I agree to the Terms and conditions",
				'_error -> userForm("accept").error.map(_.withMessage(Messages("user.agree"))))
	
		  </fieldset>
		  
            <input type="submit" class = "buttons" value="@Messages("user.new")">
            
            <a href="login"><input type = "button" class = "buttons" value="@Messages("user.loginBtn")"></a>
            
            <input type = "reset" class = "buttons" value="@Messages("service.resetBton")">
           
        }

    }
