@(resetPassForm: Form[(User,String)], userId : String, uuid : String)

	@import helper._

	@main(Messages("common.resetPassword")) {
	 	<head>
			<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/user/findPwd.css")">
		</head>
		
		<div id="entry" class="w m">
	 		<div class="mt">
				<h2>@Messages("user.resetPassword")</h2>
				<b></b>
			</div>
			<div class="mc">
				<div class="step">
		            <ul>
		               <li class="one one1">填写账户名</li>
		               <li class="two">验证身份</li>
		               <li class="three cur">设置新密码</li>
		               <li class="four">完成</li>
		            </ul>
		        </div>
		        <div class="form">
		        	@form(action = routes.Mails.resetPassword(uuid), 'method ->"post"){
			        	<div class="item">
							<span class="label">@Messages("user.newPassword"):</span>
							<div class="fl">
								<!-- text_error -->
								@inputPassword(resetPassForm("newPassword.main"),'_label -> None, '_help -> Messages("user.toBePassword"), 'class -> "text")
								<span class="clr"></span>
								<label id="password_error"></label>
							</div>
						</div>
						<div class="item">
							<span class="label">@Messages("user.confirmPas"):</span>
							<div class="fl">
								<!-- text_error -->
								@inputPassword(resetPassForm("newPassword.confirm"),'_label -> None,'_error -> resetPassForm.error("newPassword"), 'class -> "text")
								<span class="clr"></span>
								<label id="repassword_error" class=""></label>
							</div>
						</div>
						<div class="item">
							<span class="label">&nbsp;</span>
							<input type= "submit" class = "buttons btn-img btn-entry" value="@Messages("common.submit")">
						</div>
					}
		        </div>
		     </div>
	 	</div>
	}		