@(resetPassForm: Form[(User,String)],userId : String)

	@import helper._


	 	@form(action = routes.Mails.resetPasswordForNew(userId), 'method ->"post"){
	 		
			<input type="hidden" name="user.userId" value = "@userId">
			
			@inputPassword(resetPassForm("newPassword.main"),'_label -> Messages("user.newPassword"))

            @inputPassword(resetPassForm("newPassword.confirm"),'_label -> Messages("user.confirmPas"))

            <input type= "submit" class = "buttons" value="@Messages("common.submit")">
	 	}
