@(mailAndUserIdForm: Form[Option[User]])

	@import helper._


	 	@form(action = routes.Mails.resetPassword(), 'method ->"post"){

			@inputText(mailAndUserIdForm("userId"),'_label -> Messages("user.name"))

            @inputText(mailAndUserIdForm("email"),'_label -> Messages("user.email"),
            	'_error -> mailAndUserIdForm.globalError.map(_.withMessage(Messages("user.resetErr")))
            )

            <input type= "submit" class = "buttons" value="@Messages("common.submit")">
	 	}
