@(reservation: models.portal.reservation.Reservation, user :models.portal.user.User, followInfo:models.portal.user.FollowInformation, pageType: String = "my-resvInProcessing")

@myPageMain("my-reservation", user, followInfo, user.id, true){
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/reservation/reservation.css")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/reservation/salonReserv.css")">

  <div>
    <ul class="tabInfoTitle">
      <li class="fl selected">
      @Messages("reservation.detail")
      </li>
    </ul>
  </div>
  @views.html.user.userResvInfoDetail(reservation, user)

}