@(resetPassForm: Form[(User,String)], userId : String, uuid : String)

	@import helper._

	@main(title = "resetPassword") {
	 	<head>
			<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/user/userLogin.css")">
		</head>
		
		<div class="contentsTitleWrapper">
	 		<h2 class="contentsTitleInner mT10">@Messages("user.resetPassword")</h2>
	 	</div>
			 	
	 	<div class="cFix mT20">
			<div class="loginRBox fl">
				<div class="loginRBoxTop">
					<dl class="loginRBoxBottom">
						<dd class="mT5 pT5">
							<div class="pr">
								<dl class="lh30">
									@form(action = routes.Mails.resetPassword(uuid), 'method ->"post"){										
										<dd class="mT5 pT5">
											<div class="pr">
												<dl class="lh30">
												<input type="hidden" name="user.userId" value = "@userId">
													<dt class="dibBL vaM w150 b fl">@Messages("user.newPassword")</dt>
													<dd class="dibBL vaM w280">
														
														@inputPassword(resetPassForm("newPassword.main"),'_label -> None)
													</dd>
													<dt class="dibBL vaM w150 b fl">@Messages("user.confirmPas")</dt>
													<dd class="dibBL vaM w280">
														@inputPassword(resetPassForm("newPassword.confirm"),'_label -> None,'_error -> resetPassForm.error("newPassword"))
													</dd>
												</dl>
											</div>
										</dd>
										<div class="mT15">
											<span class="btn btn2H32 w194 mHA">
												<span>
													<input type= "submit" class = "buttons" value="@Messages("common.submit")">												
												</span>
											</span>
										</div>
			 						}	
								</dl>
							</div>
						</dd>
						</dd>
					</dl>
				</div>
			</div>
		</div>
	}		