@(mailAndUserIdForm: Form[Option[User]])

	@import helper._

	@main(Messages("common.resetPassword")) {
	 	<head>
			<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/user/userLogin.css")">
		</head>
		
		<div class="contentsTitleWrapper">
	 		<h2 class="contentsTitleInner mT10">@Messages("user.resetPassword")</h2>
	 	</div>
			 	
	 	<div class="cFix mT20">
			<div class="loginRBox fl">
				<div class="loginRBoxTop">
					<dl class="loginRBoxBottom">
						<dd class="mT5 pT5">
							<div class="pr">
								<dl class="lh30">
									@form(action = routes.Mails.sendMailForResetPwd(), 'method ->"post"){
										
										<dd class="mT5 pT5">
											<div class="pr">
												<dl class="lh30">
													<dt class="dibBL vaM w150 b fl">@Messages("user.name")</dt>
													<dd class="dibBL vaM w280">
														@inputText(mailAndUserIdForm("userId"),'_label -> None,  '_help -> "",
															'_error ->  mailAndUserIdForm("userId").error.map(_.withMessage(Messages("user.loginUserIdErr"))))
													</dd>
													<dt class="dibBL vaM w150 b fl">@Messages("user.email")</dt>
													<dd class="dibBL vaM w280">
														@inputText(mailAndUserIdForm("email"),'_label -> None,'_help -> "",
            												'_error -> mailAndUserIdForm.globalError.map(_.withMessage(Messages("user.resetErr"))))
													</dd>
												</dl>
											</div>
										</dd>
										<div class="mT15">
											<span class="btn btn2H32 w194 mHA">
												<span>
													<input type= "submit" class = "buttons" value="@Messages("common.submit")">												
												</span>
											</span>
										</div>
			 						}	
								</dl>
							</div>
						</dd>
						</dd>
					</dl>
				</div>
			</div>
		</div>
	}		