@(user :User, followInfo:FollowInformation, loginUserId:ObjectId =new ObjectId, logged:Boolean = false)

@main("") {
	
	<head>
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/user/user.css")">
	</head>
	
    <div id="OSC_Content">
        	<div id='SpaceLeft'>
        		@if(loginUserId.equals(user.id) ){
        			@views.html.user.myPageLeft(user,followInfo)
        		}else{
        			@views.html.user.otherPageLeft(user, followInfo, loginUserId)
        		}
        	</div>
			<div id='SpaceMain'>
	    		 <div class="MMod" id="Logs">
    				<ul>
    					@followInfo.followSalon.map{salon =>
    					
    						@views.html.user.showAllFollowSalonItem(salon,loginUserId)
    					
    					}
    				</ul>
   				</div>
       		</div>	        
        </div>

}
