@(stylist:Stylist, loginUserId:ObjectId)
	<li><table class="ostable">
		<tbody>
			<tr>
				<td class="avatar"><a href="/stylistViews/@stylist.id" title=""><img src="#" align="absmiddle" alt="" title="1" class="SmallPortrait" user="1435017"></a></td>
				<td class="update">
					<span class="name"><a href="/stylistViews/@stylist.id" target="_blank">@stylist.id</a></span><br>
					<span class="city">@stylist.myWords</span>
				</td>
				<td class="opts">
					@if(MyFollow.checkIfFollow(loginUserId,stylist.id)){
						<a href="@auth.routes.MyFollows.cancelFollow(stylist.id)">@Messages("user.cancelFollow")</a>
					}else{
						<a href="@auth.routes.MyFollows.addFollow(stylist.id,"stylist")">@Messages("user.addFollow")</a>
					}
					<a href="#">@Messages("user.sendMsg")</a>
				</td>
			</tr>
		</tbody>
		</table>
</li>