@(stylist:Stylist,sessionUserId:Option[String])
	<li><table class="ostable">
		<tbody>
			<tr>
				<td class="avatar"><a href="#" title=""><img src="#" align="absmiddle" alt="" title="1" class="SmallPortrait" user="1435017"></a></td>
				<td class="update">
					<span class="name"><a href="#" target="_blank">@stylist.id</a></span><br>
					<span class="city">@stylist.myWords</span>
				</td>
				<td class="opts">
					@if(sessionUserId.nonEmpty && MyFollows.checkIfFollowByName(sessionUserId.get,stylist.id)){
						<a href="@routes.Users.cancelFollow(sessionUserId.get,stylist.id)">@Messages("user.cancelFollow")</a>
					}else{
						<a href="@routes.Users.addFollow(stylist.id,"stylist")">@Messages("user.addFollow")</a>
					}
					<a href="#">@Messages("user.sendMsg")</a>
				</td>
			</tr>
		</tbody>
		</table>
</li>