@(followUser:User,loginUserId:ObjectId)
	<li><table class="ostable">
		<tbody>
			<tr>
				<td class="avatar"><a href="#" title=""><img src="#" align="absmiddle" alt="" title="1" class="SmallPortrait" user="1435017"></a></td>
				<td class="update">
					<span class="name"><a href="#" target="_blank">@followUser.userId</a></span><br>
					<span class="city">@followUser.point</span>
				</td>
				<td class="opts">
					@if(MyFollow.checkIfFollow(loginUserId,followUser.id)){
						<a href="@routes.MyFollows.cancelFollow(followUser.id)">@Messages("user.cancelFollow")</a>
					}else{
						<a href="@routes.MyFollows.addFollow(followUser.id,"user")">@Messages("user.addFollow")</a>
					}
					<a href="#">@Messages("user.sendMsg")</a>
				</td>
			</tr>
		</tbody>
		</table>
</li>