@(followUser:User)
	<li><table class="ostable">
		<tbody>
			<tr>
				<td class="avatar"><a href="/userPage/@followUser.userId" target="_blank">
                    <img src="@if(followUser.id.getTime.equals(followUser.userPics.getTime)) {@routes.Assets.at("images/user/portrait.png")"} else {@routes.Application.getPhoto(followUser.userPics)"}"
                    align="middle" alt="" title="@followUser.userId" class="SmallPortrait" user="1435017"></a></td>
				<td class="update">
					<span class="name"><a href="/userPage/@followUser.userId" target="_blank">@followUser.nickName</a></span><br>
					<span class="city">@followUser.point</span>
				</td>
				<td class="opts">
					<a href="#">@Messages("user.cancelFollow")</a>
					<a id="sendMsg">@Messages("user.sendMsg")</a>
				</td>
			</tr>
		</tbody>
		</table>
</li>