@(followUser:User)
	<li><table class="ostable">
		<tbody>
			<tr>
				<td class="avatar"><a href="/userPage/followUser.userId" target="_blank"><img src="/userPage/followUser.userId" align="absmiddle" alt="" title="@followUser.userId" class="SmallPortrait" user="1435017"></a></td>
				<td class="update">
					<span class="name"><a href="/userPage/followUser.userId" target="_blank">@followUser.userId</a></span><br>
					<span class="city">@followUser.point</span>
				</td>
				<td class="opts">
					<a href="#">@Messages("user.cancleBothFollow")</a>
					<a href="#">@Messages("user.sendMsg")</a>
				</td>
			</tr>
		</tbody>
		</table>
</li>