@(followInfo:FollowInformation,user:User,loginUserId:ObjectId)

@main("") {
	
	<head>
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/user/user.css")">
	</head>
	
    <div id="OSC_Content">
        	<div id='SpaceLeft'>
        	@if(loginUserId.equals(user.id) ){
				@views.html.user.myPageLeft(user, followInfo)        		
        	}else{
        	    @views.html.user.otherPageLeft(user)
        	}
        	</div>
			<div id='SpaceMain'>
	    		 <div class="MMod" id="Logs">
    				<ul>
    					@followInfo.followUser.map{followUser =>
    					
    						@views.html.user.showAllFollowUserItem(followUser,loginUserId)
    					
    					}
    				</ul>
   				</div>
       		</div>	        
        </div>

}
