@(salon: Salon, styles: List[Style], navBar: List[(String, String)] = Nil, sex: String = "all", user : Option[User])

@salonInfoMain(navInSalon = "salon-style", salon, navBar, user) {
	
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/style/style.css")">

    <div class="yS mainContentsSecondTitleOuter">
        <h2 class="yS mainContentsSecondTitleInner">@Messages("hair.salonStyleTitle", salon.salonName)</h2>
    </div>
    <!-- styleGroupMenu -->
    @views.html.style.styleGroupMenu(sex, salon)
    <!-- get all the salons with all the styles.  -->
    @views.html.style.styleGroup(styles, salon)

}
