@(salon: Salon)

 	<div class="cFix">
			<div class="fl w349">
				<div id="jsViewer">
				@for(i <- 0 to salon.salonPics.size-1){
					@if(salon.salonPics(i).picUse == "Navigate" ){						
			 			<img src="@routes.Application.getPhoto(salon.salonPics(i).fileObjId)" width="349" height="262"  oncontextmenu="return false;" />																								
					}															
				}
				</div>
			</div>
		<div class="fr w349">
				<p class="shopCatchCopy"><b><strong>@salon.picDescription.picTitle</strong></b></p>
				<p class="mT10">@salon.picDescription.picContent</p>
				<p class="mT20 b">@salon.picDescription.picFoot</p>
		</div>
	</div>

			<div class="mT30">
				<div class="yS mainContentsSecondTitleOuter">
					<h2 class="yS mainContentsSecondTitleInner">@Messages("salon.picUse.Atmosphere")</h2>
				</div>
				<div class="pH10 mT20 oh w745">
					<ul class="cFix w786">
					<li class="fl w221 bdGrayR mR20 pR20">
							<div class="taC"><img src="@routes.Application.getPhoto(salon.salonPics(4).fileObjId)" class="bdImgGray" /></div>
							<p class="fgGray fs10 mT10">@salon.salonPics(4).description</p>
						</li>
					<li class="fl w221 bdGrayR mR20 pR20">
							<div class="taC"><img src="@routes.Application.getPhoto(salon.salonPics(5).fileObjId)" class="bdImgGray" /></div>
							<p class="fgGray fs10 mT10">@salon.salonPics(5).description</p>
						</li>
					<li class="fl w221">
							<div class="taC"><img src="@routes.Application.getPhoto(salon.salonPics(6).fileObjId)" class="bdImgGray" /></div>
							<p class="fgGray fs10 mT10">@salon.salonPics(6).description</p>
						</li>
					</ul>
				</div>
				<p class="mT5 taR"><i><em class="seoCaption">@Messages("salon.picUse.Atmosphere")</em></i></p>
			</div>
