@(salon: Salon)

 	<div class="cFix">
			<div class="fl w349">
				<div id="jsViewer">
				@for(i <- 0 to salon.salonPics.size-1){
					@if(salon.salonPics(i).picUse == "Navigate" ){						
			 			<img src="@routes.Application.getPhoto(salon.salonPics(i).fileObjId)" width="349" height="262"  oncontextmenu="return false;" />																								
					}															
				}
				</div>
			</div>
		<div class="fr w349">
				<p class="shopCatchCopy"><b><strong>@salon.picDescription.picTitle</strong></b></p>
				<p class="mT10">@salon.picDescription.picContent</p>
				<p class="mT20 b">@salon.picDescription.picFoot</p>
		</div>
	</div>

			<div class="mT30">
				<div class="yS mainContentsSecondTitleOuter">
					<h2 class="yS mainContentsSecondTitleInner">フレール　Freresの雰囲気</h2>
				</div>
				<div class="pH10 mT20 oh w745">
					<ul class="cFix w786">
					<li class="fl w221 bdGrayR mR20 pR20">
							<div class="taC"><img src="http://imgbp.hotp.jp/CSP/IMG_SRC/75/27/B002997527/B002997527_219-164.jpg" class="bdImgGray" alt="フレール　Freresの雰囲気（緑もたくさんあります＾＾♪）" /></div>
							<p class="fgGray fs10 mT10">緑もたくさんあります＾＾♪</p>
						</li>
					<li class="fl w221 bdGrayR mR20 pR20">
							<div class="taC"><img src="http://imgbp.hotp.jp/CSP/IMG_SRC/11/99/B003281199/B003281199_219-164.jpg" class="bdImgGray" alt="フレール　Freresの雰囲気（お子様連れも大歓迎です＾０＾☆おもちゃもあります♪）" /></div>
							<p class="fgGray fs10 mT10">お子様連れも大歓迎です＾０＾☆おもちゃもあります♪</p>
						</li>
					<li class="fl w221">
							<div class="taC"><img src="http://imgbp.hotp.jp/CSP/IMG_SRC/07/46/B003030746/B003030746_219-164.jpg" class="bdImgGray" alt="フレール　Freresの雰囲気（４種類のオーガニックティーをお召し上がりください＾ー＾）" /></div>
							<p class="fgGray fs10 mT10">４種類のオーガニックティーをお召し上がりください＾ー＾</p>
						</li>
					</ul>
				</div>
				<p class="mT5 taR"><i><em class="seoCaption">フレール　Freres</em></i></p>
			</div>
