@(salon: Salon)
					
    <div class="mT30">
        <div class="yS mainContentsSecondTitleOuter">
        <h2 class="yS mainContentsSecondTitleInner">
            @Messages("salon.salonData", salon.salonName)
        </h2>
        </div>
        <p class="mT5 taR"> <i> <em class="seoCaption"> @salon.salonName </em> </i> </p>
        <table cellspacing="0" class="wFull bdCell bgThNml fgThNml vaThT pCellV10H12">
        <tbody>
            <tr>
                <th class="w120"> @Messages("salon.mainPhone") </th>
                <td colspan="3" class="w620"> <a href="#"> @salon.mainPhone </a> </td>

            </tr>
            <tr>
                <th class="w120"> @Messages("salon.address") </th>
                <td colspan="3" class="w620">
                    @(Messages(salon.salonAddress.province))
                    @(Messages(salon.salonAddress.city.get))
                    @(Messages(salon.salonAddress.region.get))
                    @salon.salonAddress.addrDetail
                </td>
            </tr>
            <tr>
                <th class="w120"> @Messages("salon.accessMethod") </th>
                <td colspan="3" class="w620"> @salon.salonAddress.accessMethodDesc </td>
            </tr>
            <tr>
                <th class="w120"> @Messages("salon.workTime") </th>
                <td colspan="3" class="w620"> @salon.workTime.openTime -- @salon.workTime.closeTime </td>
            </tr>
            <tr>
                <th class="w120"> @Messages("salon.restDay") </th>
                <td colspan="3" class="w620">
                    @salon.restDays.restDay.map(restDay => Messages(restDay))
                </td>
            </tr>
            <tr>
                <th class="w120"> @Messages("salon.isPosAvailable") </th>
                <td colspan="3" class="w620">
                    @if(salon.salonFacilities.isPosAvailable) {@Messages("salon.posAvailable")} else {@Messages("salon.posNotAvailable")}
                </td>
            </tr>
            <tr>
                <th class="w120"> @Messages("salon.homepage") </th>
                <td colspan="3" class="w620">
                    <p> <i> <em class="seoCaption"> @salon.salonName </em> </i> </p>
                    <a href="javascript:void(0);" id="store_hp"> @salon.homepage</a>
                </td>
            </tr>
            <tr>
                <th class="w120"> @Messages("salon.priceCutOnly") </th>
                <td class="w208 vaT">
                    @Salon.getLowestPriceOfCut(salon.id) match {
                       case None => { @Messages("salon.priceCutOnlyUndefined")}
                       case Some(price) => { @Messages("salon.priceCutOnlyMsg", price)}
                    }
                </td>
                <th class="w120"> @Messages("salon.seatNums") </th>
                <td class="w208 vaT"> @Messages("salon.seatNumsMsg", salon.seatNums) </td>
            </tr>
            <tr>
                <th class="w120"> @Messages("salon.stylistNums") </th>
                <td class="w208 vaT">
                    @Messages("slaon.stylistNumUnit", Salon.getCountOfStylists(salon.id))
                </td>
                <th class="w120"> @Messages("salon.parkingDesc") </th>
                <td class="w208 vaT">
                    @if(salon.salonFacilities.hasParkingNearby) { @salon.salonFacilities.parkingDesc} else { @Messages("salon.hasNoParkingNearByMsg")}
                </td>
            </tr>
            <tr>
                <th class="w120"> @Messages("salon.description") </th>
                <td colspan="3" class="w620"> @salon.salonDescription </td>
            </tr>
        </tbody>
        </table>
    </div>

