@(salon: models.portal.salon.Salon, blog: models.portal.blog.Blog, navBar: List[(String, String)] = Nil, listYM : List[String], newestBlogsOfSalon : List[models.portal.blog.Blog], stylist : models.portal.stylist.Stylist, user: Option[models.portal.user.User])

@salonInfoMain(navInSalon = "salon-blog", salon, navBar, user) {
  
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/blog/blog.css")">
  
  @views.html.blog.blogItemComponent(salon, blog, listYM, newestBlogsOfSalon, stylist)
  
}
