@(salon: models.portal.salon.Salon, stylist: Option[models.portal.stylist.StylistDetailInfo] = None, styles: List[models.portal.style.Style] = Nil, latestBlog: Option[models.portal.blog.Blog] = None, navBar: List[(String, String)] = Nil, user: Option[models.portal.user.User])

@salonInfoMain(navInSalon = "salon-stylist", salon, navBar, user){

  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/style/style.css")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/stylist/stylist.css")">

  @stylist match {
    case None => {<h1>Not Found</h1>}
    case Some(dtl) => {
      <div class="mT30">

        <!--↓ Get stylist's work positons.--> 
        @dtl.stylistInfo match {
          case None => {<h1>Not a models.portal.stylist.Stylist.</h1>}    
          case Some(info) => {
            <div class="stylePageTileOuter">
              <div class="fgPink b fs10">
                @info.position.map { p => @Messages("position.positionName." + p.positionName)}
              </div>
              <h2 class="fs16 dibBL">
                @dtl.basicInfo.nickName
              </h2>
            </div>
          } 
        }
        <!--↑ Get stylist's work positons.--> 
        
        <!--↓ Get stylist's self introductions.--> 
        @views.html.stylist.stylistBasicInfoContent(salon, dtl, styles, latestBlog)
        <!--↑ Get stylist's self introductions.--> 

        <!--↓ models.portal.stylist.Stylist's Works: All the styles.  -->
        <div class="mT30">
          <div class="yS mainContentsSecondTitleOuter">
            <h3 class="yS mainContentsSecondTitleInner">
              @Messages("stylist.haircatalog", dtl.basicInfo.nickName)
            </h3>
          </div>
        </div>
        
        <!-- get all the salons with all the styles.  -->
        @views.html.style.styleGroup(styles, salon)
        <!--↑ models.portal.stylist.Stylist's Works: All the styles.  -->

        <!--↓ models.portal.stylist.Stylist's Works: All the styles.  -->
        @views.html.stylist.pleaseReserveMe(dtl)    
        <!--↑ models.portal.stylist.Stylist's Works: All the styles.  -->

      </div>
    }
  }
}
