@(salon: models.portal.salon.Salon, stylists: List[models.portal.stylist.StylistDetailInfo] = Nil, navBar: List[(String, String)] = Nil, user :Option[models.portal.user.User])

@salonInfoMain(navInSalon = "salon-stylist", salon, navBar, user) {
  
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/salon/mycss.css")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/stylist/stylist.css")">

  <div class="yS mainContentsSecondTitleOuter">
    <h2 class="yS mainContentsSecondTitleInner">@Messages("salon.stylistsList", salon.salonName)</h2>
  </div>

  <!-- Get All stylists in a models.portal.salon.Salon with all the styles.  -->
  @if(stylists.isEmpty) {
  <div class="bgAlertMsg mT20">
    <p class="alertMsg">@Messages("stylist.salonNoStylist")</p>
  </div>
  }else{
    <div class="oh w745 mT20 pH10">
      @views.html.stylist.stylistGroup(stylists)
    </div>
  }

}
