@(navInSalon:String = "salon-basic", salon: Salon)

<div class="detailHeader cFix pr">
    <div class="detailHeaderShopInfo detail2S cFix">
        <div class="fl pL10 pT10">
			<a href="#" class='Img'><img src="@routes.Application.getPhoto(salon.salonPics(0).fileObjId)" class="w100 h100"/></a>									      
        </div>
        <div class="fr sprtHeaderInnerR pa right0 w180">
        <ul class="p10">
            <li class="pa top10 left10">
            <a href=""
            class="btn btn1H60 w156">
                <span>
                    <span>@Messages("reserve.confirmAndReserve")</span>
                </span>
            </a>
            </li>
            <li class="mT50 pT15">
            <div class="jscMySalonSaveLayer">
                <p class="jscMySlnSvStIdH000231733" style="height: 19px; overflow:hidden;">
                <ahref="javascript:void(0);" onclick="addFollow('@salon.id','salon')" class="bS addIntoMyPage jscBtnSaveToMySalon offL db">
                    @Messages("salon.followSalon") 
                </a>
                <span class="btnSlnSaveToMySalonDone bS offL">
                    @Messages("salon.savedAsMysalon")
                </span>
                </p>
            </div>
            </li>
            <!-- 
            <li class="mT5">
            <a href=""
            class="bS db sendToMobile offL salonSendMobileP">
               @Messages("salon.pushToMobile") 
            </a>
            </li>            
             -->

        </ul>
        </div>
        <div class="pL10 oh">
        <div class="sprtHeaderOuter">
            <div class="sprtHeaderInner pV10 pR10 ">
            <p class="detailTitle">
                <a href="@noAuth.routes.Salons.getSalon(salon.id)"> @salon.salonName</a>
            </p>
            <p class="fs10 fgGray">
                @salon.salonNameAbbr 
            </p>
            <!--↓salon optional facilities-->
            @views.html.salon.component.salonOptFacilities(salon)
            <!--↑salon optional facilities-->
           <div class="cFix mT5 pT5 bdDotT">
                <div class="fr cFix qrcode">
                <ul>
                    <li>
                    <!--TODO-->
                    <!--<img src="/CSP/qrCode/?storeId=H000231733&amp;cellsize=1&amp;margine=5&amp;vos=hbt1082"
                    alt="フレール　Freresの2次元バーコード">-->
                    </li>
                </ul>
                </div>
                <ul class="fs10">
                <li>
                    @salon.salonAddress.map(add=>add.province).getOrElse(None)
                    @salon.salonAddress.map(add=>add.city).getOrElse(None)
                    @salon.salonAddress.map(add=>add.region).getOrElse(None)
                    @salon.salonAddress.map(add=>add.addrDetail).getOrElse(None)
                </li>
                <li>
                    @salon.salonAddress.map(add=>add.accessMethodDesc).getOrElse(None)
                </li>
                </ul>
            </div>
            </div>
        </div>
        </div>
        <ul class="bS menuBG cFix">
            <li class="fl">
                <a href="@noAuth.routes.Salons.getSalon(salon.id)" class="bS db @if(navInSalon == "salon-basic") {salonInformationCurrent} else {salonInformation} offL">@Messages("salon.salonBasic")</a>
            </li>
            <li class="fl">
                <a href="@noAuth.routes.Salons.getAllCoupons(salon.id)" class="bS db @if(navInSalon == "salon-coupon") {couponAndMenuCurrent} else {couponAndMenu} offL">@Messages("salon.couponMenus") </a>
            </li>
            <li class="fl">
                <a href="@noAuth.routes.Salons.getAllStylists(salon.id)" class="bS db @if(navInSalon == "salon-stylist") {stylistCurrent} else {stylist} offL">@Messages("salon.stylists")</a>
            </li>
            <li class="fl">
                <a href="@noAuth.routes.Salons.getAllStyles(salon.id)" class="bS db @if(navInSalon == "salon-style") {styleCurrent} else {style} offL">@Messages("salon.styles")</a>
            </li>
            <li class="fl">
                <a href="@noAuth.routes.Blogs.getAllBlogsOfSalon(salon.id)" class="bS db @if(navInSalon == "salon-blog") {blogCurrent} else {blog} offL">@Messages("salon.blogs")</a>
            </li>
            <li class="fl">
                <a href="@noAuth.routes.Salons.getMap(salon.id)" class="bS db @if(navInSalon == "salon-accessmap") {accessMapCurrent} else {accessMap} offL">@Messages("salon.accessMap")</a>
            </li>
            <li class="fr">
                <a href="@noAuth.routes.Comments.findBySalon(salon.id)" class="bS db @if(navInSalon == "salon-comment") {kuchikomiCurrent} else {kuchikomi} offL">@Messages("salon.comments")</a>
            </li>
        </ul>
    </div>
</div>


