@(navInSalon:String = "salon-basic", salon: Salon)

<div class="detailHeader cFix pr">
    <div class="detailHeaderShopInfo detail2S cFix">
        <div class="fl pL10 pT10">
			<a href="#" class='Img'><img src="@routes.Application.getPhoto(salon.salonPics(0).fileObjId)" class="w100 h100"/></a>									      
        </div>
        <div class="fr sprtHeaderInnerR pa right0 w180">
        <ul class="p10">
            <li class="pa top10 left10">
            <div class="sl_show_yy">
               <p align="center">
                   <a href = "#">@Messages("reserve.confirmAndReserve")</a>
               </p>
            </div>
            </li>
            <li class="mT50 pT15">
            <div class="jscMySalonSaveLayer">
                <p class="jscMySlnSvStIdH000231733" style="height: 19px; overflow:hidden;">
                <ahref="javascript:void(0);" onclick="addFollow('@salon.id','salon')" class="bS addIntoMyPage jscBtnSaveToMySalon offL db">
                    @Messages("salon.followSalon") 
                </a>
                <span class="btnSlnSaveToMySalonDone bS offL">
                    @Messages("salon.savedAsMysalon")
                </span>
                </p>
            </div>
            </li>
            <!-- 
            <li class="mT5">
            <a href=""
            class="bS db sendToMobile offL salonSendMobileP">
               @Messages("salon.pushToMobile") 
            </a>
            </li>            
             -->

        </ul>
        </div>
        <div class="pL10 oh">
        <div class="sprtHeaderOuter">
            <div class="sprtHeaderInner pV10 pR10 ">
            <p class="detailTitle">
                <a href="@noAuth.routes.Salons.getSalon(salon.id)"> @salon.salonName</a>
            </p>
            <p class="fs10 fgGray">
                @salon.salonNameAbbr 
            </p>
            <!--↓salon optional facilities-->
            @views.html.salon.component.salonOptFacilities(salon)
            <!--↑salon optional facilities-->
           <div class="cFix mT5 pT5 bdDotT">
                <div class="fr cFix qrcode">
                <ul>
                    <li>
                    <!--TODO-->
                    <!--<img src="/CSP/qrCode/?storeId=H000231733&amp;cellsize=1&amp;margine=5&amp;vos=hbt1082"
                    alt="フレール　Freresの2次元バーコード">-->
                    </li>
                </ul>
                </div>
                <ul class="fs10">
                <li>
                    @salon.salonAddress.map(add=>add.province).getOrElse(None)
                    @salon.salonAddress.map(add=>add.city).getOrElse(None)
                    @salon.salonAddress.map(add=>add.region).getOrElse(None)
                    @salon.salonAddress.map(add=>add.addrDetail).getOrElse(None)
                </li>
                <li>
                    @salon.salonAddress.map(add=>add.accessMethodDesc).getOrElse(None)
                </li>
                </ul>
            </div>
            </div>
        </div>
        </div>
        <div id = "nav2">
        <ul>
            <li class="@if(navInSalon == "salon-basic") {btn} else {}">
                <a href="@noAuth.routes.Salons.getSalon(salon.id)">@Messages("salon.salonBasic")</a>
            </li>
            <li @if(navInSalon == "salon-coupon"){class="btn"}>
                <a href="@noAuth.routes.Salons.getAllCoupons(salon.id)">@Messages("salon.couponMenus") </a>
            </li>
            <li @if(navInSalon == "salon-stylist"){class="btn"}>
                <a href="@noAuth.routes.Salons.getAllStylists(salon.id)">@Messages("salon.stylists")</a>
            </li>
            <li @if(navInSalon == "salon-style"){class="btn"}>
                <a href="@noAuth.routes.Salons.getAllStyles(salon.id)">@Messages("salon.styles")</a>
            </li>
            <li @if(navInSalon == "salon-blog"){class="btn"}>
                <a href="@noAuth.routes.Blogs.getAllBlogsOfSalon(salon.id)">@Messages("salon.blogs")</a>
            </li>
            <li @if(navInSalon == "salon-accessmap"){class="btn"}>
                <a href="@noAuth.routes.Salons.getMap(salon.id)">@Messages("salon.accessMap")</a>
            </li>
            <li @if(navInSalon == "salon-comment"){class="btn"}>
                <a href="@noAuth.routes.Comments.findBySalon(salon.id)">@Messages("salon.comments")</a>
            </li>
        </ul>
        </div>
    </div>
</div>


