@(navBar: List[(String, String)], user: Option[User], searchParaForSalon: SearchParaForSalon, salons: List[SalonGeneralSrchRst])

@main(Messages("site.title"), nav = "HairSalon", navBar) {

  <div id="generalContents">

    <div class="pT15 cFix">
    <div class="cFix">
      <!-- ↓generalContentTopColumn -->
      @views.html.salon.general.leftColumn(searchParaForSalon, salons)
      <!-- ↑generalContentTopColumn -->
      
      <!-- ↓generalContentRightColumn -->
      @views.html.salon.general.rightColumn(user)
      <!-- ↑generalContentRightColumn -->
    </div>
    </div>
  </div>

}
  <script src="@routes.Assets.at("javascripts/jquery.cookie.js")" type="text/javascript"> </script>
  <script src="@routes.Assets.at("javascripts/meifanMain.js")" type="text/javascript"> </script>
