
<div class="w328 fl mR15">

    <div class="mT20">
        <div class="skinHeadingWrapper">
            <h3>
                お知らせ
            </h3>
        </div>
        <ul class="infoList">
            <li class="infoListCassette">
                <p class="mT5">
                    <a href="/doc/info/system_info/info.html" title="消費税率引上げに伴うお知らせ" target="_blank"
                    class="iS arrowR">
                        消費税率引上げに伴うお知らせ
                    </a>
                </p>
            </li>
        </ul>
    </div>
    <div class="mT20">
        <div class="skinHeadingWrapper">
            <h3>
                Beauty編集部セレクション
            </h3>
        </div>
        <!-- ヘアカタパート -->
        <div class="w328 mT15">
            <div class="cFix">
                <div class="fl">
                    <a href="/catalog/ladys/word%e3%83%8c%e3%83%bc%e3%83%87%e3%82%a3%e3%80%80%e3%82%ab%e3%83%a9%e3%83%bc/?wak=BPTP100001_button_nudycolor">
                        <img src="/CSP/c_common/ALL/IMG/nudie_218_80.jpg" alt="ヌーディカラー" width="164"
                        height="60" class="imgFrame">
                    </a>
                </div>
                <div class="fr w154">
                    <ul>
                        <li>
                            <a href="/CSP/bt/hairCatalogSearch/ladys/condtion?menuContentsCds=MC01&amp;keyword=%e3%81%bb%e3%81%a4%e3%82%8c&amp;wak=BPTP100001_button_hotsurewave"
                            class="iS arrowR">
                                ほつれウェーブ
                            </a>
                        </li>
                        <li>
                            <a href="/catalog/ladys/word%e3%81%8b%e3%81%8d%e3%81%82%e3%81%92/?wak=BPTP100001_button_kakiagebang"
                            class="iS arrowR">
                                かきあげバング
                            </a>
                        </li>
                        <li>
                            <a href="/catalog/ladys/imgIC17/?wak=BPTP100001_button_officestyle" class="iS arrowR">
                                オフィススタイル
                            </a>
                        </li>
                    </ul>
                    <p class="mT7" style="text-align:right;">
                        <a href="/catalog/theme/">
                            ヘアカタログ特集一覧
                        </a>
                    </p>
                </div>
            </div>
            <div>
                <ul class="cFix">
                    <!-- -->
                    <li class="cFix dibBL vaT wHalf mT18">
                        <div class="fl mR10">
                            <a href="/catalog/ladys/word%e3%81%b2%e3%81%97%e5%bd%a2/?wak=BPTP100001_button_rhombusform">
                                <img src="/CSP/c_common/ALL/IMG/hishigata_s.jpg" alt="ひし形フォルム" width="64"
                                height="72" class="imgFrame">
                            </a>
                        </div>
                        <dl class="oh zoom1 pR10 pT5">
                            <dt>
                                <a href="/catalog/ladys/word%e3%81%b2%e3%81%97%e5%bd%a2/?wak=BPTP100001_button_rhombusform">
                                    ひし形フォルム
                                </a>
                            </dt>
                            <dd class="fs10 mT2">
                                魅力的な小顔を手に入れる☆
                            </dd>
                        </dl>
                    </li>
                    <!-- -->
                    <li class="cFix dibBL vaT wHalf mT18">
                        <div class="fl mR10">
                            <a href="/catalog/ladys/word%e8%80%b3%e3%81%8b%e3%81%91%e3%83%9c%e3%83%96/?wak=BPTP100001_button_mimikakebob">
                                <img src="/CSP/c_common/ALL/IMG/mimikake_s.jpg" alt="耳かけボブ" width="64"
                                height="72" class="imgFrame">
                            </a>
                        </div>
                        <dl class="oh zoom1 pR10 pT5">
                            <dt>
                                <a href="/catalog/ladys/word%e8%80%b3%e3%81%8b%e3%81%91%e3%83%9c%e3%83%96/?wak=BPTP100001_button_mimikakebob">
                                    耳かけボブ
                                </a>
                            </dt>
                            <dd class="fs10 mT2">
                                定番ボブも耳かけでクールにも変身
                            </dd>
                        </dl>
                    </li>
                    <!-- -->
                    <li class="taR mT20">
                        <a href="/catalog/" target="_blank" class="iS arrowR">
                            日本最大級のヘアカタログ！掲載スタイル20万件！
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /ヘアカタパート -->
        <!-- Beauty selection -->
        <ul>
            <!-- 今週末予約できるサロン -->
            <li class="cFix dibBL vaT wFull mT40">
                <div class="fl mR20">
                    <a href="/doc/theme/weekend/">
                        <img src="/CSP/c_common/ALL/IMG/weekend_110_72.jpg" alt="今週末予約できるサロン"
                        width="110" height="72">
                    </a>
                </div>
                <dl class="oh mT5">
                    <dt>
                        <a href="/doc/theme/weekend/">
                            今週末予約できるサロン
                        </a>
                    </dt>
                    <dd class="fs10 mT2">
                        今週の土日に空きのあるサロンを検索できます！
                    </dd>
                </dl>
            </li>
            <!--/ 今週末予約できるサロン -->
            <!-- 今日明日行けるサロン -->
            <li class="cFix dibBL vaT wFull mT15">
                <div class="fl mR20">
                    <a href="/doc/theme/today/">
                        <img src="/CSP/c_common/ALL/IMG/today_110_72.jpg" alt="今日明日行けるサロン" width="110"
                        height="72">
                    </a>
                </div>
                <dl class="oh mT5">
                    <dt>
                        <a href="/doc/theme/today/">
                            今日明日行けるサロン
                        </a>
                    </dt>
                    <dd class="fs10 mT2">
                        今すぐ行きたい！急な予約も簡単便利にできる♪
                    </dd>
                </dl>
            </li>
            <!--/ 今日明日行けるサロン -->
            <li>
                <div class="taR mT20">
                    <a href="/doc/theme/" target="_blank" class="iS arrowR">
                        特集コンテンツ一覧
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <!-- /Beauty selection -->
    <div class="mT41">
        <div class="skinHeadingWrapper">
            <h3>
                新着口コミ
            </h3>
        </div>
        <div class="oh zoom1">
            <ul class="sideShortcutSearchBox">
                <li class="sideShortcutSearchCassette bdDotGrayT ">
                    <div class="cFix">
                        <p class="fl fs10 fgLLGray b mR30 mT2">
                            2014-03-03 23:59:34.0(评论的时间)
                        </p>
                        <p class="mT5 mB5">
                            <a href="salon/530d7288d7f2861457771bdd/comments">
                                Ameri chou chou　アメリシュシュ（评论的店铺）
                            </a>
                        </p>
                    </div>
                    <p class="fs10 fgLGray wwbw">
                        初めて伺いました。お店は家具調度品の一つ一つにこだわりが感じられ、とてもガーリーな雰囲気でした。かつ、落ち着きもありホット癒やされる空間でしたよ。
                        担当のスタッフの方が一つ一つ丁寧…（评论的内容）
                    </p>
                </li>
                <li class="sideShortcutSearchCassette bdDotGrayT pV10">
                    <div class="cFix">
                        <p class="fl fs10 fgLLGray b mR30 mT2">
                            2014-03-03 23:59:29.0(评论的时间)
                        </p>
                        <p class="mT5 mB5">
                            <a href="http://beauty.hotpepper.jp/slnH000075063/review/">
                                Jewel＆Barbie （ジュエル＆バービー）（评论的店铺）
                            </a>
                        </p>
                    </div>
                    <p class="fs10 fgLGray wwbw">
                        一年ぶりに来店しました！予定を変更してカラーと前髪カットをしてもらいました(^^)前髪をきってもらっただけなのに、雰囲気がかわり、カラーもとてもよくなりました！周りの反応もとてもよかっ…（评论的内容）
                    </p>
                </li>
           </ul>
        </div>
    </div>
    <div class="mT20">
        <div class="skinHeadingWrapper">
            <h3>
                新着ブログ
            </h3>
        </div>
        <div class="oh zoom1">
            <ul class="sideShortcutSearchBox">
                <li class="sideShortcutSearchCassette bdDotGrayT ">
                    <div class="cFix">
                        <p class="fl fs10 fgLLGray b mR30 mT2">
                            2014-03-04 18:45:23.0（blog的时间）
                        </p>
                        <p class="mT5 mB5 wwbw">
                            <a href="salon/530d7288d7f2861457771bdd/blog/53195fb4a89e175858abce82">
                                cut（blog的title）
                            </a>
                        </p>
                    </div>
                    <p>
                        HAIR×design ARUE (アルエ)（blog属于哪个店铺的）
                    </p>
                    <p class="fs10 fgLGray wwbw mT5">
                        カットで表面に段をつけて、 ミックス巻きするとこんな感じでかっこよくくずれますよ。。（blog的内容）
                    </p>
                </li>
                <li class="sideShortcutSearchCassette bdDotGrayT pV10">
                    <div class="cFix">
                        <p class="fl fs10 fgLLGray b mR30 mT2">
                            2014-03-04 18:45:13.0（blog的时间）
                        </p>
                        <p class="mT5 mB5 wwbw">
                            <a href="http://beauty.hotpepper.jp/slnH000129540/blog/bidA003347409.html">
                                吉祥寺の隠れグルメ！（blog的title）
                            </a>
                        </p>
                    </div>
                    <p>
                        松本平太郎美容室　東急通り店（blog属于哪个店铺的）
                    </p>
                    <p class="fs10 fgLGray wwbw mT5">
                        吉祥寺にはいろいろな美味しいものがありますがその中でもちょっとめずらしいお店をご紹介します。 それが「ドーナツプラント」というお店なのですが、何と夜の12時オープンのドーナツ屋さんな…（blog的内容）
                    </p>
                </li>
           </ul>
        </div>
    </div>
</div>
