<div class="bgSalonMap mT10 pB20 fl">
    <h2 class="mapArea">
        <img src="http://imgbp.hotp.jp/CSP/img/bt/map/bg/bg_hairsalonmap_0.gif"
        width="421" height="358" alt="エリアからヘアサロンを探す" usemap="#Map" id="jsiImgmap">
    </h2>
    <p class="copyHeadline">
        <span class="fs16">
            エリア
        </span>
        からヘアサロンを探す
    </p>
    <ul class="copyList">
        <li class="b fgHGray">
            &nbsp;
        </li>
        <li class="iS pcweb pL22">
            ２４時間ネット予約・空席確認
        </li>
        <li class="iS point pL22">
            ポイント２%が貯まる
        </li>
        <li class="iS balloon pL22">
            口コミ数 国内最大級
        </li>
    </ul>
    <!-- ↓MAP -->
    @views.html.salon.general.map()
    <!-- ↑MAP -->
</div>