<div class="mT20">
    <div class="skinHeadingWrapper">
        <h3>
            @Messages("index.editoralColl")
        </h3>
    </div>
    <!-- ヘアカタパート -->
    <div class="w328 mT15">
        <div class="cFix">
            <div class="fl">
                <a href="#">
                    <img src="/assets/images/mimikake_218_80.jpg" alt="ヌーディカラー" width="164"
                    height="60" class="imgFrame">
                </a>
            </div>
            <div class="fr w154">
                <ul>
                    <li>
                        <a href="#" class="iS arrowR">
                            ほつれウェーブ
                        </a>
                    </li>
                    <li>
                        <a href="#" class="iS arrowR">
                            かきあげバング
                        </a>
                    </li>
                    <li>
                        <a href="#" class="iS arrowR">
                            オフィススタイル
                        </a>
                    </li>
                </ul>
                <p class="mT7" style="text-align:right;">
                    <a href="#">
                        ヘアカタログ特集一覧
                    </a>
                </p>
            </div>
        </div>
        <div>
            <ul class="cFix">
                <!-- -->
                <li class="cFix dibBL vaT wHalf mT25 fl">
                    <div class="fl mR10">
                        <a href="#">
                            <img src="/assets/images/hishigata_s.jpg" alt="ひし形フォルム" width="64" height="72"
                            class="imgFrame">
                        </a>
                    </div>
                    <dl class="oh zoom1 pR10 pT5">
                        <dt>
                            <a href="#">
                                ひし形フォルム
                            </a>
                        </dt>
                        <dd class="fs10 mT2">
                            魅力的な小顔を手に入れる☆
                        </dd>
                    </dl>
                </li>
                <!-- -->
                <li class="cFix dibBL vaT wHalf mT25">
                    <div class="fl mR10">
                        <a href="#">
                            <img src="/assets/images/hotsure_s.jpg" alt="耳かけボブ" width="64" height="72"
                            class="imgFrame">
                        </a>
                    </div>
                    <dl class="oh zoom1 pR10 pT5">
                        <dt>
                            <a href="#">
                                耳かけボブ
                            </a>
                        </dt>
                        <dd class="fs10 mT2">
                            定番ボブも耳かけでクールにも変身
                        </dd>
                    </dl>
                </li>
                <!-- -->
                <li class="taR mT20">
                    <a href="#" target="_blank" class="iS arrowR">
                        日本最大級のヘアカタログ！掲載スタイル20万件！
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /ヘアカタパート -->
</div>