<div class="tabBody">
    <div class="pr jscTabBody " style="top: 0px; ">
        <div class="pT5">
            <ul class="hairStyleTabLinks2 cFix">
                <li class="fl pV5 mR25">
                    <a class="iS arrowR nowrap" href="http://beauty.hotpepper.jp/catalog/ladys/lenHL03/">
                        ミディアム
                    </a>
                </li>
                <li class="fl pV5 mR25">
                    <a class="iS arrowR nowrap" href="http://beauty.hotpepper.jp/catalog/ladys/lenHL04/">
                        ショート
                    </a>
                </li>
                <li class="fl pV5 mR25">
                    <a class="iS arrowR nowrap" href="http://beauty.hotpepper.jp/catalog/ladys/lenHL02/">
                        セミロング
                    </a>
                </li>
                <li class="fl pV5 mR25">
                    <a class="iS arrowR nowrap" href="http://beauty.hotpepper.jp/catalog/ladys/lenHL01/">
                        ロング
                    </a>
                </li>
                <li class="fl pV5">
                    <a class="iS arrowR nowrap" href="http://beauty.hotpepper.jp/catalog/ladys/lenHL05/">
                        ベリーショート
                    </a>
                </li>
                <li class="fl pV5 mR25">
                    <a class="iS arrowR nowrap" href="http://beauty.hotpepper.jp/catalog/ladys/lenHL08/">
                        ヘアセット
                    </a>
                </li>
                <li class="fl pV5 mR25">
                    <a class="iS arrowR nowrap" href="http://beauty.hotpepper.jp/catalog/ladys/lenHL07/">
                        ミセス
                    </a>
                </li>
            </ul>
        </div>
        <div class="mT25">
            <div class="jsSkinHeadingWrapper cFx">
                <h3 class="fl">
                    人気ヘアスタイルランキング
                </h3>
                <p class="fr fs10 mT5 fgLGray n fFg">
                    毎週木曜日更新
                </p>
            </div>
            <div class="mT20">
                <ul class="cFix">
                    <li class="fl w130 mR25 hairStyleList">
                        <!--<a href="@routes.Styles.getStyleInfoOfSalon(new ObjectId("530d7288d7f2861457771bdd"), new ObjectId("530d828cd7f2861457771c0b"))"-->
                        <a href="salon/530d7288d7f2861457771bdd/style/530d828cd7f2861457771c0b"
                            <h4 class="rankingListHeading icnCrown1">
                                <img src="http://imgbp.hotp.jp/CSP/img/bt/text/text_ranking_1.png">
                            </h4>
                            <p>
                                <img src="http://imgbp.hotp.jp/CSP/IMG_SRC/66/92/B004366692/B004366692_154-205.jpg"
                                class="w130 h173" oncontextmenu="return false;">
                            </p>
                            <div class="mT2">
                                <p class="hairStyleListInnerAnchor fs10">
                                    ☆大人可愛いオールマイティボブ☆
                                </p>
                                <div class="mT2">
                                    <p class="hairStyleListShop">
                                        Freres　フレール
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <ul class="cFix mT30">
                    <li class="fl w89 mR10 hairStyleList">
                        <a href="/salon/530d7288d7f2861457771bdd/style/530d828cd7f2861457771c0c"
                            <h4 class="rankingListHeading icnCrownOther">
                                <img src="http://imgbp.hotp.jp/CSP/img/bt/text/text_ranking_4.png">
                            </h4>
                            <p>
                                <img src="http://imgbp.hotp.jp/CSP/IMG_SRC/87/94/B003888794/B003888794_89-119.jpg"
                                oncontextmenu="return false;">
                            </p>
                            <div class="mT2">
                                <p class="hairStyleListInnerAnchor fs10">
                                    AFLOAT『伊輪　宣幸』大人可愛いトップふっくらショート☆
                                </p>
                                <div class="mT2">
                                    <p class="hairStyleListShop">
                                        AFLOAT　JAPAN　アフロート　ジャパン
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <p class="taR mT15">
                <a href="http://beauty.hotpepper.jp/catalog/ladys/ranking/" class="iS arrowR">
                    総合ランキング1位～20位を見る
                </a>
            </p>
        </div>
        <div class="mT20">
            <div class="jsSkinHeadingWrapper cFx">
                <h3 class="fl">
                    新着ヘアスタイル
                </h3>
            </div>
            <div class="mT20">
                <ul class="cFix">
                    <li class="fl w66 mR15 hairStyleList">
                        <a onclick="return LoadPVImgStyleClk('H000195855', 'L000818700', 'P_NEW_TOP' ,this);"
                          href="/salon/530d7292d7f2861457771bde/style/530d828cd7f2861457771c0d">
                            <p>
                                <img src="http://imgbp.hotp.jp/CSP/IMG_SRC/92/32/B004819232/B004819232_89-119.jpg"
                                class="w66 h88" oncontextmenu="return false;">
                            </p>
                            <div class="mT2">
                                <p class="hairStyleListInnerAnchor fs10">
                                    European Doll
                                </p>
                                <div class="mT2">
                                    <p class="hairStyleListShop">
                                        Ca livio HAIR 【カリビオヘアー】
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <p class="taR mT40 pB10">
                <a href="http://beauty.hotpepper.jp/catalog/ladys/new/" class="iS arrowR">
                    レディースの新着スタイルをもっと見る
                </a>
            </p>
        </div>
    </div>
    <div class="pr jscTabBody dn" style="top: 0px; ">
        <div class="pT5">
            <ul class="hairStyleTabLinks2 cFix pT5">
                <li class="fl pV5 mR20">
                    <a class="iS arrowR nowrap" href="http://beauty.hotpepper.jp/catalog/mens/lenHL11/">
                        ショート
                    </a>
                </li>
                <li class="fl pV5 mR20">
                    <a class="iS arrowR nowrap" href="http://beauty.hotpepper.jp/catalog/mens/lenHL10/">
                        ベリーショート
                    </a>
                </li>
                <li class="fl pV5 mR20">
                    <a class="iS arrowR nowrap" href="http://beauty.hotpepper.jp/catalog/mens/lenHL12/">
                        ミディアム
                    </a>
                </li>
                <li class="fl pV5 mR20">
                    <a class="iS arrowR nowrap" href="http://beauty.hotpepper.jp/catalog/mens/lenHL09/">
                        ボウズ
                    </a>
                </li>
                <li class="fl pV5 mR20">
                    <a class="iS arrowR nowrap" href="http://beauty.hotpepper.jp/catalog/mens/lenHL13/">
                        ロング
                    </a>
                </li>
                <li class="fl pV5 mR20">
                    <a class="iS arrowR nowrap" href="http://beauty.hotpepper.jp/catalog/mens/lenHL06/">
                        その他
                    </a>
                </li>
            </ul>
        </div>
        <div class="mT25">
            <div class="jsSkinHeadingWrapper cFx">
                <h3 class="fl">
                    人気ヘアスタイルランキング
                </h3>
                <p class="fr fs10 mT5 fgLGray n fFg">
                    毎週木曜日更新
                </p>
            </div>
            <div class="mT20">
                <ul class="cFix">
                    <li class="fl w130 mR25 hairStyleList">
                        <a href="http://beauty.hotpepper.jp/slnH000155775/style/L000503390.html">
                            <h4 class="rankingListHeading icnCrown1">
                                <img src="http://imgbp.hotp.jp/CSP/img/bt/text/text_ranking_1.png">
                            </h4>
                            <p>
                                <img src="http://imgbp.hotp.jp/CSP/IMG_SRC/60/04/B003316004/B003316004_154-205.jpg"
                                class="w130 h173" oncontextmenu="return false;">
                            </p>
                            <div class="mT2">
                                <p class="hairStyleListInnerAnchor fs10">
                                    ツーブロック王道ベリーショート～ベリーショート～【NINE】
                                </p>
                                <div class="mT2">
                                    <p class="hairStyleListShop">
                                        NINE
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <ul class="cFix mT30">
                    <li class="fl w89 mR10 hairStyleList">
                        <a href="http://beauty.hotpepper.jp/slnH000260521/style/L000718509.html">
                            <h4 class="rankingListHeading icnCrownOther">
                                <img src="http://imgbp.hotp.jp/CSP/img/bt/text/text_ranking_4.png">
                            </h4>
                            <p>
                                <img src="http://imgbp.hotp.jp/CSP/IMG_SRC/65/06/B004376506/B004376506_89-119.jpg"
                                oncontextmenu="return false;">
                            </p>
                            <div class="mT2">
                                <p class="hairStyleListInnerAnchor fs10">
                                    [BREEN原宿]王道の清潔感ショートメンズ★無造作感大で雰囲気UP
                                </p>
                                <div class="mT2">
                                    <p class="hairStyleListShop">
                                        BREEN ブリーン　【原宿駅/表参道近】
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <p class="taR mT15">
                <a href="http://beauty.hotpepper.jp/catalog/mens/ranking/" class="iS arrowR">
                    総合ランキング1位～20位を見る
                </a>
            </p>
        </div>
        <div class="mT20">
            <div class="jsSkinHeadingWrapper cFx">
                <h3 class="fl">
                    新着ヘアスタイル
                </h3>
            </div>
            <div class="mT20">
                <ul class="cFix">
                    <li class="fl w66 mR15 hairStyleList">
                        <a onclick="return LoadPVImgStyleClk('H000163506', 'L000818709', 'P_NEW_TOP' ,this);"
                        href="http://beauty.hotpepper.jp/slnH000163506/style/L000818709.html">
                            <p>
                                <img src="http://imgbp.hotp.jp/CSP/IMG_SRC/91/65/B004819165/B004819165_89-119.jpg"
                                class="w66 h88" oncontextmenu="return false;">
                            </p>
                            <div class="mT2">
                                <p class="hairStyleListInnerAnchor fs10">
                                    メンズショート
                                </p>
                                <div class="mT2">
                                    <p class="hairStyleListShop">
                                        Loput
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <p class="taR mT40 pB10">
                <a href="http://beauty.hotpepper.jp/catalog/mens/new/" class="iS arrowR">
                    メンズの新着スタイルをもっと見る
                </a>
            </p>
        </div>
    </div>
</div>
