
.tabBody {
padding: 20px 10px;
background-color: #F2F2F2;
zoom: 1;
}


.hcHeading {
position: relative;
top: 7px;
left: 2px;
width: 216px;
height: 26px;
background: url(/assets/images/haircatalog/text/text_hair_catalog.png) no-repeat 0 0;
}


.headingLength {
background: url(/assets/images/haircatalog/heading/heading_length.png) no-repeat 0 0;
width: 172px;
height: 17px;
}


.headingSelection {
background: url(/assets/images/haircatalog/heading/heading_beauty_selection.png) no-repeat 0 0;
width: 137px;
height: 17px;
}

.headingRanking {
background: url(/assets/images/haircatalog/heading/heading_ranking.png) no-repeat 0 0;
width: 206px;
height: 17px;
}

.headingImage {
background: url(/assets/images/haircatalog/heading/heading_image.png) no-repeat 0 0;
width: 130px;
height: 17px;
}


.icnCrown1 {
padding-top: 6px;
padding-left: 34px;
background: url(/assets/images/icons/icon_crown1.png) no-repeat 0 0;
}

.icnCrown2 {
padding-top: 6px;
padding-left: 34px;
background: url(/assets/images/icons/icon_crown2.png) no-repeat 0 0;
}

.icnCrown3 {
padding-top: 6px;
padding-left: 34px;
background: url(/assets/images/icons/icon_crown3.png) no-repeat 0 0;
}

.icnCrownOther {
padding-top: 6px;
padding-left: 28px;
background: url(/assets/images/icons/icon_crown_other.png) no-repeat 0 0;
}

