@charset "utf-8";

.styleItem {
float: left;
padding-right: 10px;
padding-bottom: 15px;
border-bottom: 1px solid #DDDDDD;
padding-top: 20px;
min-height: 248px;
}

.styleResult {
float: left;
padding: 15px 25px 5px;
border-right: 1px solid #ddd;
margin: 15px 0;
}

.styleContainer {
float: left;
border-bottom: 1px solid #DDDDDD;
}

.stylePageTileOuter {
border-bottom: 3px solid #E4E0D9;
padding: 0 0 8px 10px;
}

#imgMain img {
width: 271px;
height: 361px;
}

.wP80 {
	width: 80%;
}

.sreachtabBody {
	padding: 20px 10px;
	background-color: #F2F2F2;
	zoom: 1;
}

div.skinHeadingWrapper2 {
height: 22px;
border-bottom: 1px dotted #D5D5D5;
padding: 0;
}

.skinTbl1 {
border-collapse: collapse;
border: 1px solid #FFFFFF;
background-color: #FFFFFF;
}

.pCell1 th {
padding: 5px 0;
}

.skinTbl1 th {
background-color: #E5E1DD;
color: #6E6E6E;
font-weight: bold;
}

.skinTbl1 {
border-collapse: collapse;
}

.pCell1 td {
padding: 5px 3px;
}

.pH0 {
padding-left: 0 !important;
padding-right: 0 !important;
}

.bdTblSprt {
border-top: 1px dotted #D5D5D5;
font-size: 0;
height: 0;
}

.skinTbl1Wrapper {
border: 1px solid #DED9D6;
}

.headingSearch {
background: url(/assets/images/heading_search.jpg) no-repeat 0 0;
width: 138px;
height: 15px;
}

.hcHeader {
padding: 10px 12px 0;
background: url(/assets/images/bg_contents_heading.png) repeat 0 0;
margin-bottom: 20px;
}

.hcHeading {
position: relative;
top: 7px;
left: 2px;
width: 216px;
height: 26px;
background: url(/assets/images/text_hair_catalog.jpg) no-repeat 0 0;
}

.hcHeaderTopPage {
height: 62px;
}

.hcHeadingCaption {
font-size: 10px;
color: #666666;
font-weight: normal;
}

.rankingListHeading {
margin-bottom: 4px;
}

.icnCrown0 {
padding-top: 6px;
padding-left: 34px;
background: url(/assets/images/icon_crown1.png) no-repeat 0 0;
}

.icnCrown1 {
padding-top: 6px;
padding-left: 34px;
background: url(/assets/images/icon_crown2.png) no-repeat 0 0;
}

.icnCrown2 {
padding-top: 6px;
padding-left: 34px;
background: url(/assets/images/icon_crown3.png) no-repeat 0 0;
}

.icnCrownOther {
padding-top: 6px;
padding-left: 34px;
background: url(/assets/images/icon_crown_other.png) no-repeat 0 0;
}

ol {
-webkit-margin-before: 0;
-webkit-margin-after: 0;
-webkit-padding-start: 0;
}

.pankuzu {
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
}

.imgFrame {
border: 1px solid #EEEEEE;
padding: 1px;
}

a .imgFrame {
-webkit-transition: border .2s linear;
-moz-transition: border .2s linear;
-ms-transition: border .2s linear;
-o-transition: border .2s linear;
transition: border .2s linear;
}

a:hover .imgFrame {
	border: 1px solid #999999;
	-webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, .05);
}

.image-insert-style-index-item{
	border:1px solid gray;
	width:90px;
	height:120px;
	margin:10px 0 0 15px;
}

.inputHidden {
    display: none;
}

.style_ranking_display_block {
	width:768px;
    clear:both;
    overflow:hidden;
}

.style_ranking_display_none {
    DISPLAY: none;
    CLEAR: both
}

 #style_nvfxjs_nr_box {
        TEXT-ALIGN: center;HEIGHT: 30px; CLEAR: both; padding-bottom:2px;
    }
    #style_nvfxjs_nr_box h2 {
        margin:0px; padding:0px 0px 0px 0px; width:98px; float:left; height:36px; font:bold 12px/30px "宋体"; text-align:center; overflow:hidden; color:#333; border-right:1px solid #FFF;
    }
    #style_nvfxjs_nr_box h2.menuOn {
        font:normal 16px/30px "微软雅黑"; cursor:hand; background-color:#f6d7d7; width:93px; height:30px; color:#8b0009;
        cursor: pointer;
    }
    #style_nvfxjs_nr_box h2.menuNo {
        font:normal 16px/30px "微软雅黑"; cursor:hand; background-color:#a79d9d; width:93px; height:30px; color:#fff;
        cursor: pointer;
    }

#salon_tjtj {
width: 768px;
clear: both;
overflow: hidden;
padding-bottom: 15px;
}
#salon_tjtj h2 {
width: 768px;
clear: both;
overflow: hidden;
border-top: 1px solid #f39aa3;
}
#salon_tjtj_nr {
width: 768px;
clear: both;
overflow: hidden;
padding-top: 8px;
}
#salon_tjtj table {
border-collapse: collapse;
border-spacing: 0;
}
#salon_tjtj table[Attributes Style] {
width: 768px;
border-top-width: 0px;
border-right-width: 0px;
border-bottom-width: 0px;
border-left-width: 0px;
}
#salon_tjtj table {
display: table;
}
.fx_pic_t {
clear: both;
margin: 0 auto 5px;
padding: 2px;
}
#salon_tjtj_nr p{
	width:98px;	
}
.bdGrayL {
border-left: 1px solid #8B8181;
}

.hairLittleOn {
background-color: #CC4466;
width: 48px;
height: 21px;
display: block;
color: white;
text-align: center;
}

.titleStyle {
font-weight: bold;
color: #665555;
background-color: #E4E0D9;
padding: 3px 8px;
}