@CHARSET "UTF-8";
.newFilter .wBox {
border-bottom: 1px dashed #dfdfdf;
padding: 5px 0 0 0;
}
.newFilter .rBox .notto {
width: 36px;
float: left;
text-align: center;
margin-right: 5px;
}
.newFilter .rBox .notto a.cur {
background: #e65361;
color: #fff;
}

.newFilter .rBox .notto a {
padding: 0 5px;
display: inline-block;
text-decoration: none;
color: #666;
}
#select .mb {
position: relative;
overflow: visible;
height: 0;
border-top: 0px;
border-bottom: none;
margin-bottom: 34px;
_margin-bottom: 10px;
text-align: center;
font-size: 0;
}
#select .mb .attr-extra {
position: relative;
display: inline-block;
height: 24px;
border: 1px solid #ddd;
border-top: none;
margin-top: -1px;
background: #fff;
line-height: 20px;
text-align: right;
cursor: pointer;
font-size: 12px;
}
#select .mb .attr-extra div {
position: relative;
_display: inline;
_zoom: 1;
height: 24px;
padding: 0 32px 0 24px;
line-height: 24px;
}
.place {
width: 70%;
float: left;
}
#filterArea li{
width:78px;
}
.v-option {
width: 40px;
height: 20px;
padding-top: 2px;
float: right;
cursor: pointer;
color: #005AA0;
}
.styleImpressionDIV .o-more {
float: right;
position: relative;
width: 45px;
height: 20px;
padding-right: 14px;
line-height: 20px;
line-height: 21px\9;
text-align: right;
text-decoration: none;
cursor: pointer;
color: #005AA0;
}

.serviceTypeDIV .o-more {
float: right;
position: relative;
width: 45px;
height: 20px;
padding-right: 14px;
line-height: 20px;
line-height: 21px\9;
text-align: right;
text-decoration: none;
cursor: pointer;
color: #005AA0;
}
.newFilter .wBox p.style_title {
width: 65px;
color: #666;
line-height: 25px;
font-weight: bold;
float: left;
display: inline-block;
text-align: right;
}
.style_title {
display: block;
line-height: 20px;
padding: 0px 10px 2px;
}
.hide_li{
display:none;	
}
#lessProp .hiddenIcon{
width: 11px;
height: 11px;
display: inline-block;
background: url(/assets/images/meifan2014.png) no-repeat -11px -948px;
margin-left: 5px;
vertical-align: middle;
}
#moreProp .xlicon{
width: 11px;
height: 11px;
display: inline-block;
background: url(/assets/images/meifan2014.png) no-repeat 0 -948px;
margin-left: 5px;
vertical-align: middle;	
}
.v-option .unfold b{
width: 9px;
height: 5px;
background: url(/assets/images/meifan2014.png) no-repeat 0 -880px;
display: inline-block;
margin-left: 2px;

}
.v-option .fold b{
width: 9px;
height: 5px;
background: url(/assets/images/meifan2014.png) no-repeat 0 -893px;
display: inline-block;
margin-left: 2px;
}