@CHARSET "UTF-8";

#select .mb {
position: relative;
overflow: visible;
height: 0;
border-top: 1px solid #E6E6E6;
border-bottom: none;
margin-bottom: 34px;
_margin-bottom: 10px;
text-align: center;
font-size: 0;
}
#select .mb .attr-extra {
position: relative;
display: inline-block;
height: 24px;
border: 1px solid #ddd;
border-top: none;
margin-top: -1px;
background: #fff;
line-height: 20px;
text-align: right;
cursor: pointer;
font-size: 12px;
}
#select .mb .attr-extra div {
position: relative;
_display: inline;
_zoom: 1;
height: 24px;
padding: 0 32px 0 24px;
line-height: 24px;
}
#filterArea ul{
width:600px;
}
#filterArea li{
width:78px;
}
.styleImpressionDIV .v-option {
position: absolute;
right: 10px;
top: 43px;
width: 105px;
height: 20px;
padding-top: 2px;
}
.styleImpressionDIV .o-more {
float: right;
position: relative;
width: 31px;
height: 20px;
padding-right: 14px;
line-height: 20px;
line-height: 21px\9;
text-align: right;
text-decoration: none;
cursor: pointer;
color: #005AA0;
}

.serviceTypeDIV .v-option {
position: absolute;
right: 10px;
top: 80px;
width: 105px;
height: 20px;
padding-top: 2px;
}
.serviceTypeDIV .o-more {
float: right;
position: relative;
width: 31px;
height: 20px;
padding-right: 14px;
line-height: 20px;
line-height: 21px\9;
text-align: right;
text-decoration: none;
cursor: pointer;
color: #005AA0;
}
.newFilter .wBox p.style_title {
width: 65px;
color: #666;
line-height: 25px;
font-weight: bold;
float: left;
display: inline-block;
text-align: right;
}
.style_title {
display: block;
line-height: 20px;
padding: 0px 10px 2px;
}
.hide_li{
display:none;	
}