.codrops-demos{
    text-align:center;
	display: block;
	line-height: 30px;
	padding:20px 0px 5px 0px;
}
.codrops-demos a{
    display: inline-block;
	text-decoration:none;
	margin: 0px 4px;
	padding:6px;
	color: #aaa;
	font-weight:800;
	line-height: 20px;	
	font-size: 14px;
	text-shadow: 1px 1px 1px #fff;
	border: 1px solid #ddd;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
	background: linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5);
}
.codrops-demos a:hover{
	color: #333;
	box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5);
}
.codrops-demos a:active{
	background: #fff;
}
.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover{
	background: #f6f6f6;
	color:#ff6600;
}
*{margin:0;padding:0;list-style-type:none;}
a{blr:expression(this.onFocus=this.blur())}/*去掉a标签的虚线框，避免出现奇怪的选中区域*/
a,img{border:0;}
body{_background-image:url(about:blank);/*用浏览器空白页面作为背景*/_background-attachment:fixed; /* prevent screen flash in IE6 确保滚动条滚动时，元素不闪动*/ } 
body{font:12px/180% Arial,Lucida,Verdana,"宋体",Helvetica,sans-serif;color:#333;background:#fff;}


.demo{padding:10px;width:760px;margin:0 auto;}

.logoupload{height:50px;padding:20px 0 0 0;}
.logoupload .uploadtip{float:left;padding:5px 10px;background:#E8F0FF;border:solid 1px #BCD2FF;line-height:18px;margin:8px 0 0 15px;display:inline;color:#5e5e5e;}
.logoupload .uploadtip b{color:#ff6600;margin:0 5px;}
.logoupload .btnbox{width:143px;height:45px;float:left;}
.logoupload .fl-progress{float:left;margin-top:0!important;margin-left:20px;display:inline;}
.logoupload .uploadbtn{float:left;width:145px;height:47px;line-height:999em;overflow:hidden;font-size:14px;display:block;color:#ffffff;}


/* progress-box */
.progress-box{width:300px;margin:10px 0 0 0;}
.progress-num{height:30px;line-height:30px;overflow:hidden;font-size:14px;}
.progress-num b{font-weight:400;color:#3366cc;}
.progress-bar{width:100%;height:8px;overflow:hidden;position:relative;background:#dedede;}
.progress-bar .bar-line{position:absolute;left:0;top:0;height:8px;overflow:hidden;background:#007cdc;}

/* batch-pic */
.batch-pic{padding:20px 0 0 5px;height:280px;position:relative;}
.batch-pic li{width:120px;float:left;position:relative;margin:10px 12px 0 30px;display:inline;}
.batch-pic li .p-pic{border:solid 1px #d8d8d8;height:150px;overflow:hidden;}
.batch-pic li .p-pic img{width:120px;height:150px;}
.batch-pic li .p-des{height:28px;line-height:28px;overflow:hidden;text-align:center;color:#5e5e5e;}
.batch-pic li .p-des span{color:#3366cc;margin:0 5px;}
.batch-pic li .p-text input{padding:3px;width:162px;}
.batch-pic li .p-btn{margin:10px 0 0 0;}
.batch-pic li .p-btn .upbtn{width:103px;height:34px;display:block;overflow:hidden;margin:0 auto;}

.addstyles-byStylist{

}
#imageoffileobjid_field,#stylePic_x__picUse_field,#stylePic_x__showPriority_field,#stylePic_x__description_field label{
	display:none;
}
.addOtherStylePic,.salonPic_template,.imgShowPriority,.styleUpdate_picuse{
	display:none;
}
.picture-show-description{
	clear:left;
	margin-left: 180px;
}

.picDesLimit h3 {
	display: block;
	margin: 0 0 2px 0;
	font-weight: 700;
}
.picDesLimit p {
	margin: 0 0 15px 0;
}
.picDesLimit p strong {
	color: #ff6600;
}
.picDesLimit {
	padding: 15px;
	margin: 15px 17px 0 0;
	border: 1px solid #cce3f6;
	background: #f5faff;
	line-height: 20px;
	color: #666;
	overflow: hidden;
	zoom: 1;
}
