@(serviceTypeForm: Form[models.portal.service.ServiceType], user: Option[models.portal.user.User] = None)

@import helper._

<div>
  <ul class="tabInfoTitle">
    <li class="fl selected">
      @Messages("service.addService")
    </li>        
  </ul>
</div>
<div class = "mT40">
  @main(title = Messages("service.addServiceType")) {

    <head>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/service/service.css")">
    </head>
    <body>
    @form(routes.ServiceTypes.addServiceType, 'id -> "serviceTypeForm") {
     <fieldset>
     
     @input(field=serviceTypeForm("industryName"),'_label -> Messages("industy")) { (id, name, value,_) =>
     <select name= "industryName">
      @models.portal.industry.Industry.findAllIndustryName.toList.map {industyName =>
         <option value= @industyName>@Messages("industry.industryName."+ industyName)</option>
      }
     </select>
     }
     
      @inputText(serviceTypeForm("serviceTypeName"),'_label -> Messages("service.type"))
   
     </fieldset>
     
      <div class="btnArea">
        <input type="submit" class = "buttons" value="@Messages("service.addBton")">
      
        <input type = "reset" class = "buttons" value="@Messages("service.resetBton")">
      </div>
     
      
      
    }
    
    </body>

  }
</div> 
   
