@CHARSET "UTF-8";

/************************************************************
 * CLASSES(コンポーネント)
 ************************************************************/

/* 販売店情報ヘッダ */
.detailHeaderShopInfo {
	background-position: 0 -940px;
}

/* クーポン */
.couponList {
	font-size: 10px;
	border-top: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
}

.list p {
	margin-top:5px;
}

/* 見出し */
.singleMenuHead{
	color: #444444;
	background-color: #F0EDDD;
	font-weight: bold;
	font-size: 14px;
	padding:3px;
}
.narrowDownPanelArrow {
	position: absolute;
	bottom: -0.5em;
	left: 50%;
	margin-left: -0.5em;
	line-height: 1;
	font-size: 40px;
	color: #CCCCCC;
	z-index: -1;
}

/* 一覧 */
#listWrapper {
	margin-top: -30px;
	position: relative;
	z-index: 0;
	zoom: 1;
}

/* 特集バラ売り */
.separateLine {
	border-top: 1px solid #DDDDDD;
	height: 1px;
	overflow: hidden;
	margin: 30px 0;
}

/************************************************************
 * MyStyleSave Style
 ************************************************************/

/* border-radius */
.jscRadius3px {
	border-radius: 3px;
}

/************************************************************
 * CLASSES(プロパティ)
 ************************************************************/
/* COMMON */
li.couponItem {
display: inline;
}

ol {
-webkit-padding-start: 0;
}

li.couponItem div {
margin-bottom: 10px;
}

/*createCoupon start*/
.showCoupon, .showMenu {
float: left;
width: 100%;
}

.showCoupon li.couponItem div {
margin-bottom: 0;
}

.w70 {
width: 70px;
}

.w595 {
width: 595px;
}

.w585 {
width: 585px;
}

.showCoupon .btn2H50.btnWlines, .showMenu .btn2H50.btnWlines {
line-height: 36px;
}

.txtM {
text-align: center;
}

.mainTitle {
font-size: 15px;
width: 76%;
border-bottom: 1px solid #dedddc;
}
