@CHARSET "UTF-8";

.mainTitle {
font-size: 15px;
width: 100%;
border-bottom: 1px solid #dedddc;
}

.menuInfo {
margin-top: 10px;
}

.menuInfo dt {
float: left;
font-size: 13px;
margin: 4px 8px 0 0;
width: 100px;
}

.menuInfo dl {
margin-bottom: 6px;
width: 710px;
height: 30px;
}

.menuInfo dl dd {
margin-left: 20px;
float: left;
}

.serviceArea {
border: 1px solid #c1c7c5;
margin-bottom: 10px;
}

.menuInfo .serviceArea dl {
height: auto;
}

.serviceTypeItem {
margin: 5px 0;
}