@(salon: Salon, blog: Blog, stylist : Stylist)

<dt class="titleBlogPublisher">@Messages("blog.authorTitle")</dt>
<dd class="list p10 bgDGray2">
	<div class="taC">
		<img src="http://imgbp.hotp.jp/CSP/IMG_SRC/19/34/B003961934/B003961934_89-119.jpg" alt="フレール　Freres&nbsp;坂本 隆文">
	</div>
	<p class="fgPink fs10 mT5">@stylist.position.map {position => @position.industryName}</p>
	<p class="mT5">
		<a href="/salon/@salon.id/blogs/@stylist.stylistId">@User.findOneByUserId(blog.authorId).get.nickName</a>
	</p>
	<p class="fs10 mT5">@stylist.myWords</p>
	<div class="mT5">
		<a href="/salon/@salon.id/blogs/@stylist.stylistId" class="bS db showDetailW131H30 offL mHA">@Messages("blog.moreInfo")</a>
	</div>
	<div class="mT5 taC">
		<a href="#" class="bS db nominatedReserve offL mHA">@Messages("reserve.name")</a>
	</div>
</dd>