@(blog: Blog, salon: Salon = null)

@import java.text.DateFormat


<li class="listCassette cFix">
	<div class="fr w557">
		<div class="cFix">
			<div class="fl blogS blogCategoryBL10 mT5 hMin19 mR70 vaM">@blog.blogCategory</div>
			<div class="fl">
				<dl class="cFix">
					<dt class="fl">@Messages("blog.passDate")</dt>
					<dd class="fl">@DateFormat.getDateInstance.format(blog.createTime)</dd>
				</dl>
				<dl class="cFix">
					<dt class="fl">@Messages("blog.author")</dt>
					<dd class="fl">
					@if(salon != null){
					    <a href="@noAuth.routes.Blogs.getAuthorOfSalonBlog(salon.id, blog.authorId)">
					}else{
					    <a href="@noAuth.routes.Blogs.showBlog(blog.authorId)">
					}
                                        @User.findOneByUserId(blog.authorId).get.nickName</a>
					
					</dd>
				</dl>
			</div>
		</div>
		<div class="mT10">
			<div class="cFix">
				<div class="fs14 b wwbw">
				@if(salon != null){
					<a href="/salon/@salon.id/blog/@blog.id">@blog.title</a>
					<span class="iS upLately offL dib vaM">UP</span>
				}else{
					<a href="@noAuth.routes.Blogs.showBlogById(blog.id)">@blog.title</a>
				}
				</div>
			</div>
			<div class="mT5 wwbw">
				@Html(blog.content.slice(0, 100))
                @if(blog.content.length > 100) {...}
			</div>
		</div>
	</div>
</li>

