@(blog: Blog, salon: Salon)

@import java.text.DateFormat

<li class="listCassette cFix">
	<div class="fr w557">
		<div class="cFix">
			<div class="fl blogS blogCategoryBL10 mT5 hMin19 mR70 vaM">@blog.blogCategory</div>
			<div class="fl">
				<dl class="cFix">
					<dt class="fl">@Messages("blog.passDate")</dt>
					<dd class="fl">@DateFormat.getDateInstance.format(blog.createTime)</dd>
				</dl>
				<dl class="cFix">
					<dt class="fl">@Messages("blog.author")</dt>
					<dd class="fl">
					<a href="/salon/@salon.id/stylistOne/@blog.authorId">@User.findOneByUserId(blog.authorId).get.nickName</a>
					</dd>
				</dl>
			</div>
		</div>
		<div class="mT10">
			<div class="cFix">
				<div class="fs14 b wwbw">
					<a href="/salon/@salon.id/blog/@blog.id">@blog.title</a>
					<span class="iS upLately offL dib vaM">UP</span>
				</div>
			</div>
			<div class="mT5 wwbw">@Html(blog.content)</div>
		</div>
	</div>
</li>
