@(formCatagory: Form[(String)], list : List[String], user : User, blogId : ObjectId)

@import helper._
@import views.html.user._

@myPageMain(navInMyPage = "my-blog", user) {
    
    @form(action = routes.Blogs.changeCatagory(blogId)) {
      <fieldset>
		@select(
	        field = formCatagory("blogTyp"), 
	        options = options(list),
	        '_label -> "博客类型"
        )	
     </fieldset>

        <input type="submit" class = "buttons" value="确认" >
        <input type="button" class = "buttons" value="取消" onclick="history.go(-1)" >
       }

}