@(blogId : ObjectId, formBlog: Form[(String,String,String,String)], list : List[String], user : User)
@*@(formBlog: Form[Blog], list : List[String], user : User)*@

@import helper._
@import views.html.user._

@myPageMain(navInMyPage = "my-blog", user) {
    @form(action = routes.Blogs.modBlog(blogId)) {
      <fieldset>
        @inputText(formBlog("title"),'_label -> "标题")
		@textarea(formBlog("content"),'_label -> "内容")
		@select(
	        field = formBlog("blogTyp"), 
	        options = options(list),
	        '_label -> "博客类型"
        )
		@inputText(formBlog("tags"), args = '_label -> "标签")
      </fieldset>

      <input type="submit" class = "buttons" value="保存修改" >
    }
}