@(user : User, blogCatagories : List[String])
@import helper._
@import views.html.user._

@myPageMain(navInMyPage = "my-blog", user) {
    <body>
		<form>
			<table border = 1>
			  <tr>
			 		<td>分类</td>
			 		<td></td>
			 		<td></td>
			 		
			 	</tr>
			 @blogCatagories.map { blogCatagory =>
			 	
				<tr>
					
					<td>@blogCatagory</td>
					
					@*<td><a href = "@routes.BlogCatagories.modBlogCatagory(user.userId, blogCatagory)"><input type="button" value="编辑" ></a></td>*@
					@*<td><a href = "@routes.BlogCatagories.delBlogCatagory(user.userId, blogCatagory)"><input type="button" value="删除" ></a></td>*@
				</tr>
				}
				
				
			</table>
			@*<a href = "@routes.BlogCatagories.newBlogCatagory(user.userId)"><input type="button" value="新建" ></a>*@

		</form>
		
		
	
	</body>

}
