@(blogs: List[Blog] = Nil, salon: Salon, listYM : List[String])

<div class="mT30">
	<div class="yS mainContentsSecondTitleOuter">
		<h2 class="yS mainContentsSecondTitleInner">@salon.salonName 博客</h2>
	</div>
</div>

<ul>
@for(blog <- blogs) {
    <li>
        @views.html.blog.item(blog, salon)
    </li>
}
</ul>

<dl class="rightContents fr w187">
	<dt class="titleBlog">店员</dt>
		<dd class="list p10">
			@Stylist.findBySalon(salon.id).map { stylist =>
				@if(!Blog.getBlogByUserId(User.findOneById(Stylist.findOneById(stylist.id).get.publicId).get.userId).isEmpty){
				<p><a href="/salon/@salon.id/blogs/@stylist.id">@User.findOneById(Stylist.findOneById(stylist.id).get.publicId).get.nickName （@Blog.getBlogByUserId(User.findOneById(Stylist.findOneById(stylist.id).get.publicId).get.userId).size）</a></p>
				}
			}
		</dd>
	<dt class="titleBlog">历史博客</dt>
	<dd class="list p10">
		@listYM.map { yM =>
			@if(Blogs.getBlogBySalonAndYM(salon.id, yM).size != 0){
			<p><a href="/salon/@salon.id/blogYM/@yM">@yM（@Blogs.getBlogBySalonAndYM(salon.id, yM).size）</a></p>
			}else{
			<p>@yM（@Blogs.getBlogBySalonAndYM(salon.id, yM).size）</p>
			}
		}
	</dd>
</dl>    

