@(blog: Blog, salon: Salon)

@import java.text.DateFormat


<div class="fr w397">
	<div class="cFix">
		<div class="fl blogS blogCategoryBL10 mT5 hMin19 offL pR10">ビューティー</div>
		<div class="fl">
			<dl class="cFix">
				<dt class="fl">投稿日：</dt>
				<dd class="fl">@DateFormat.getDateInstance.format(blog.createTime)</dd>
			</dl>
			<dl class="cFix">
				<dt class="fl">投稿者：</dt>
				<dd class="fl">
				<a href="/salon/@salon.id/stylist/@blog.authorId">@User.findOneByUserId(blog.authorId).get.nickName</a>
				</dd>
			</dl>
		</div>
	</div>
	<div class="mT10">
		<div class="cFix">
			<div class="fs14 b wwbw">
				<a href="/salon/@salon.id/blog/@blog.id">@blog.title</a>
				<span class="iS upLately offL dib vaM">UP</span>
				</div>
		</div>
		<div class="mT5 wwbw">@blog.content
		</div>
	</div>
</div>
