@(formBlogCatagory : Form[(String)], blogCatagory : String, user : User)

@import helper._
@import views.html.user._

@myPageMain(navInMyPage = "my-blog", user) {
    @*@form(action = routes.BlogCatagories.modCatagory(user.userId, blogCatagory)) {*@
      <fieldset>
        @inputText(formBlogCatagory("catagory"),'_label -> "博客类型" ,'placeholder -> blogCatagory)
        
        @*{
        	(blogCatagory,_) => <input type="text" value = blogCatagory "label" =  "博客类型">
        }*@
        <input type="submit" class = "buttons" value="确认修改" >
      </fieldset>

        
      @* }*@
}