@(salon: models.portal.salon.Salon, blog: models.portal.blog.Blog, listYM : List[String], newestBlogsOfSalon : List[models.portal.blog.Blog], stylist : models.portal.stylist.Stylist)

<dl class="rightContents fr w187">
  <!-- the information of author -->
  @views.html.blog.authorInfoColumn(salon, blog, stylist)
  
  <!-- the latest blogs -->    
  @views.html.blog.latestBlogColumn(salon, blog, newestBlogsOfSalon)
  
  <!-- blogs by type -->
  @views.html.blog.rightBlogColumn(salon, listYM)            
</dl>
