@(resvSreachForm: Form[models.portal.reservation.ResvSreachCondition], resvStatusList: List[String], pageType: String = "my-resvInProcessing")

@import helper._
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/style/style.css")">

<div class="mT40 sreachtabBody">
  @form(if(pageType == "my-resvInProcessing"){auth.routes.Salons.findResvs} else{auth.routes.Salons.findResvsRecord}, 'id -> "resvSreachForm"){
    <div class="skinHeadingWrapper2 mB15 cFix pr">
      <h3 class="fl skinHeading1 headingSearch offL">预约检索</h3>
    </div>
    <div class="skinTbl1Wrapper">
      <table class="skinTbl1 pCell1" width="100%">
        <tbody>
          <tr>
            <th class="w85 vaM taC nowrap">预约番号</th>
            <td colspan="5">
              @inputText(resvSreachForm("resvId"),
                          '_label -> None,
                          '_help -> "",
                          'id -> "resvId")
            </td>
          </tr>
        </tbody>
        <tbody>
          <tr><td colspan="6" class="pV1 pH0"><p class="bdTblSprt">&nbsp;</p></td></tr>
          <tr>
            <th class="w85 vaM taC nowrap">预约者</th>
            <td colspan="2">
            @inputText(resvSreachForm("nickName"),
              '_label -> None,
              '_help -> "",
              'id -> "nickName")
            </td>
            <th class="w85 vaM taC nowrap">预留号码</th>
            <td colspan="2">
            @inputText(resvSreachForm("userTel"),
              '_label -> None,
              '_help -> "",
              'id -> "userTel")
            </td>
          </tr>
        </tbody>
        <tbody>
          <tr><td colspan="6" class="pV1 pH0"><p class="bdTblSprt">&nbsp;</p></td></tr>
          <tr>
            <th class="w85 vaM taC nowrap">预约时间</th>
            <td colspan="5">
              <span class="fl mR10">从</span>
              @input(field = resvSreachForm("startExpectedDate"),
                '_help -> "",
                '_label -> None,
                '_class -> "fl") { (id, name, value, _) =>
                <input class="Wdate" id = "startExpectedDate" type="text" name="@name" value="@value" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm', maxDate:'#F{$dp.$D(\'endExpectedDate\')}'})">
              }
              <span class="fl mR10 mL10">到</span>
              @input(field = resvSreachForm("endExpectedDate"),
                '_help -> "",
                '_label -> None) { (id, name, value, _) =>
                <input class="Wdate" id = "endExpectedDate" type="text" name="@name" value="@value" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm', minDate:'#F{$dp.$D(\'startExpectedDate\',{s: 1})}'})">
              }
            </td>
          </tr>
        </tbody>
        @if(pageType == "my-resvRecord") {
          <tbody>
            <tr><td colspan="6" class="pV1 pH0"><p class="bdTblSprt">&nbsp;</p></td></tr>
            <tr>
              <th class="w85 vaM taC nowrap">预约状态</th>
              <td colspan="5">
              @for((resvStatus, i) <- resvStatusList.zipWithIndex) {
                <li class="fl w112">
                  @if(resvSreachForm.get.resvStatus.contains(resvStatus)) {
                  <input type = "checkbox" name = "resvStatus[@i]" id="@resvStatus" value = "@resvStatus" class="cbF" checked ="checked">
                  <label for="@resvStatus">
                    <span>@Messages("reservation.resvStatus." + resvStatus)</span>
                  </label>
                  } else {
                    <input type = "checkbox" name = "resvStatus[@i]" id="@resvStatus" value = "@resvStatus" class="cbF">
                    <label for="@resvStatus">
                      <span>@Messages("reservation.resvStatus." + resvStatus)</span>
                    </label>
                  }
                </li>
              }
              </td>
            </tr>
          </tbody>
        }
      </table>
      <div align="center">
        <input type="submit" class = "salonSearchBtn mT10 mB10" value="检索">
      </div>
    </div>
  }
</div>


