@(processingResvs: List[models.portal.reservation.Reservation], subNavInSalon: String)

@import helper._
@import java.util.Date

<div class="mT50">
  @helper.form(auth.routes.Salons.handleResv, 'id -> "", 'name -> "") {
    @if(subNavInSalon == "my-resvInProcessing") {
      <div class="fr mB10">
        <select name= "handleType" class="vaM">
          <option value= "-1">取消预约</option>
          <option value= "1">完成预约</option>
          <option value= "2">过期预约</option>
        </select>
        <input type="submit" name="searchT" value="执行" class="salonSearchBtn">
      </div>
    }
    <table cellspacing="0" id="jsMenuSelect" class="wFull bdCell pCell5 mT15 fgRbrown jscAddMenuSelect">
      <tbody>
        <tr class=" bgLGray2">
          @if(subNavInSalon == "my-resvInProcessing") {
            <th><input type="checkbox" name="selectAllResv" id="selectAll" value="all" class="cbF">全选</th>
          }
          <th class="taC">预约番号</th>
          <th class="taC">预约者</th>
          <th class="taC">预约时间</th>
          <th class="taC">预留手机号</th>
          <th class="taC">预约状态</th>
        </tr>
        @for((processingResv, i) <- processingResvs.zipWithIndex) {
          <tr class="">
            @if(subNavInSalon == "my-resvInProcessing") {
              <td class="checkboxIndent">
                <input type="checkbox" name="reservs[@i].resvId" id="@processingResv.id" value="@processingResv.id" class="cbF resvId">
              </td>
            }
            <td>
              <label for="@processingResv.id">
                <span>@processingResv.id</span>
              </label>
            </td>
            <td>
            @models.portal.user.User.findOneByUserId(processingResv.userId).map(user => user.nickName).getOrElse("not found user")
            </td>
            <td>
              <span class="@if(processingResv.expectedDate.before(new Date())){cR}">
                @processingResv.expectedDate.format("yyyy-MM-dd HH:ss")
              </span>
            </td>
            <td>
            @processingResv.userPhone
            </td>
            <td>
            @Messages("reservation.resvStatus." + processingResv.status)
            </td>
          </tr>
        }
      </tbody>
    </table>
  }
</div>

<script type="text/javascript">
  $('#selectAll').change(function () {
    var resvs = $('.resvId');
    if($('#selectAll' ).prop('checked')) {
      for(var i = 0; i < resvs.length; i++) {
        resvs[i].checked = true;
      }
    } else {
      for(var i = 0; i < resvs.length; i++) {
        resvs[i].checked = false;
      }
    }
  });
</script>

