@(styles: Seq[Style], styleSearchForm: Form[Style], stylePara: models.StylePara)


<!--
    TODO
    1. Need Structs which contains data for 
       # search by Ranking of different type: General, Medium, Short, Semi-long, Long, Very-Short, Hair Set, Mature Women, Men 
           [
               {"General", [top1, top2, top3]},
               {"Meduim", [top1, top2, top3]},
               {"Short", [top1, top2, top3]},
               ......
           ]
       # search for Create Time: The latest Style For women and men
           [
               {"Women", [top1, top2, top3...]},
               {"Men", [top1, top2, top3...]},
           ]
 

-->



@main(title = Messages("hair.tabName"), nav = "hair-style") {

    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/style/sye.css")">
    <div>
        <div style="float:left;width:80%">
            <!-- Style Search By Conditons. -->    
            @views.html.style.general.styleSearch(styleSearchForm, stylePara)
            <hr/>
            <!-- Style Search By Ranking. -->    
            @views.html.style.general.searchByRanking(styles)
            <hr/>
            <!-- Style Search By Length For Women. -->    
            @views.html.style.general.searchByLengthForF()
            <hr/>
            <!-- Style Search By Length For Men. -->    
            @views.html.style.general.searchByLengthForM()
            <hr/>
            <!-- Style Search By Impression. -->    
            @views.html.style.general.searchByImpression()
            
        </div>
        <div style="">
            <!-- ↓generalContentRightColumn -->
            @views.html.salon.general.rightColumn(None)
            <!-- ↑generalContentRightColumn -->
        </div>
    </div>
}
