<div>
    <div>
        <ul class="cFix">
            <li class="fl mR10">
                <a href="@routes.Styles.findByLength("短","女")">
                    <img src="/assets/images/style/style01.jpg" alt="ミディアム" class="imgFrame" width="94px">
                </a>
            </li>
            <li class="fl mR10">
                <a href="@routes.Styles.findByLength("中","女")">
                    <img src="/assets/images/style/style02.jpg" alt="ショート" class="imgFrame" width="94px">
                </a>
            </li>
            <li class="fl mR10">
                <a href="@routes.Styles.findByLength("长","女")">
                    <img src="/assets/images/style/style03.jpg" alt="セミロング" class="imgFrame" width="94px">
                </a>
            </li>
            <li class="fl mR10">
                <a href="@routes.Styles.findByLength("短","女")">
                    <img src="/assets/images/style/style04.jpg" alt="ミディアム" class="imgFrame" width="94px">
                </a>
            </li>
            <li class="fl mR10">
                <a href="@routes.Styles.findByLength("中","女")">
                    <img src="/assets/images/style/style05.jpg" alt="ショート" class="imgFrame" width="94px">
                </a>
            </li>
            <li class="fl mR10">
                <a href="@routes.Styles.findByLength("长","女")">
                    <img src="/assets/images/style/style06.jpg" alt="セミロング" class="imgFrame" width="94px">
                </a>
            </li>
            <li class="fl mR10">
                <a href="@routes.Styles.findByLength("短","女")">
                    <img src="/assets/images/style/style07.jpg" alt="ミディアム" class="imgFrame" width="94px">
                </a>
            </li>
        </ul>
    </div>
</div>
