@(styles : Seq[Style])

<div class="mT30">
    <div>
        <div class="skinHeadingWrapper1 mB15 cFix pr">
            <h3 class="fl skinHeading1 offL headingRanking">@Messages("hair.styleRanking")</h3>
        </div>
        <div>
            <ul class="cFix tabRanking mB10" id="jsiRankingTab">
                <li class="fl mR3 current"><a href="javascript: void(0);" class="offL tabRankingAll"><span class="vaM">@Messages("hair.rankingAll")</span></a></li>
                <li class="fl mR3"><a href="javascript: void(0);" class="offL tabRankingMedium">@Messages("hair.rankingMedium")</a></li>
                <li class="fl mR3"><a href="javascript: void(0);" class="offL tabRankingShort">@Messages("hair.rankingShort")</a></li>
                <li class="fl mR3"><a href="javascript: void(0);" class="offL tabRankingSemiLong">@Messages("hair.rankingSemiLong")</a></li>
                <li class="fl mR3"><a href="javascript: void(0);" class="offL tabRankingLong">@Messages("hair.rankingLong")</a></li>
                <li class="fl mR3"><a href="javascript: void(0);" class="offL tabRankingVeryShort">@Messages("hair.rankingVeryShort")</a></li>
                <li class="fl mR3"><a href="javascript: void(0);" class="offL tabRankingHairSet">@Messages("hair.rankingHairSet")</a></li>
                <li class="fl mR3"><a href="javascript: void(0);" class="offL tabRankingMrs">@Messages("hair.rankingMrs")</a></li>
                <li class="fl"><a href="javascript: void(0);" class="offL tabRankingMens">@Messages("hair.rankingMens")</a></li>
        	</ul>
        </div>
    </div>
    <div class="mT20 w748 oh">
        <div class="rankingListWrapper" id="jsiRankListWrapper">
            <div id="jsiRankListInner">
                <div class="jscRankList current pr top0 left0">
                <ul class="cFix rankingList">
                	@for(i <- 0 until (if (styles.length > 5) 5 else styles.length)){
                		<li class="fl w137 mR15">
	                        <a href="#">
	                        	@if(i < 3) {
	                        		<h4 class="rankingListHeading icnCrown@i"><img src="/assets/images/text_ranking_@i'.png"></h4>
	                        	} else {
	                        		<h4 class="rankingListHeading icnCrownOther"><img src="/assets/images/text_ranking_@i'.png"></h4>
	                        	}
	                        	
	                            <div>
	                                <p><img src="http://imgbp.hotp.jp/CSP/IMG_SRC/66/92/B004366692/B004366692_154-205.jpg" class="imgFrame w134 h182 msInterMode" alt="@styles(i).styleName" oncontextmenu="return false;"  width="138px"></p>
	                                <div class="mT2">
	                                    <p class="rankingListInnerAnchor">@styles(i).styleName</p>
	                                    <div class="mT2">
	                                        <p class="rankingListShop">@Style.findSalonByStyle(styles(i).stylistId).get.salonName</p>
	                                        <p class="rankingListStylist">@Stylist.findUser(styles(i).stylistId).nickName</p>
	                                    </div>
	                                </div>
	                            </div>
	                        </a>
                        </li>
                	}
                </ul>
                <div class="mT20">
                    <p class="taR"><a href="#" class="iS arrowR">@Messages("hair.headingAllMore")</a></p>
                </div>
            </div>
                <div class="jscRankList dn pr top0 left0">
                <ul class="cFix rankingList">
                        <li class="fl w137 mR15">
                        <a href="http://beauty.hotpepper.jp/slnH000231733/style/L000716075.html">
                                <h4 class="rankingListHeading icnCrown1"><img src="http://imgbp.hotp.jp/CSP/img/hc/text/text_ranking_1.png"></h4>
                                <div>
                                    <p><img src="http://imgbp.hotp.jp/CSP/IMG_SRC/66/92/B004366692/B004366692_154-205.jpg" class="imgFrame w134 h182 msInterMode" alt="☆大人可愛いオールマイティボブ☆" oncontextmenu="return false;"></p>
                                    <div class="mT2">
                                        <p class="rankingListInnerAnchor">☆大人可愛いオールマイティボブ☆</p>
                                        <div class="mT2">
                                            <p class="rankingListShop">Freres　フレール</p>
                                            <p class="rankingListStylist">Stylist：島崎 修</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    <li class="fl w137 mR15">
                        <a href="http://beauty.hotpepper.jp/slnH000226219/style/L000701656.html">
                                <h4 class="rankingListHeading icnCrown2"><img src="http://imgbp.hotp.jp/CSP/img/hc/text/text_ranking_2.png"></h4>
                                <div>
                                    <p><img src="http://imgbp.hotp.jp/CSP/IMG_SRC/14/36/B004291436/B004291436_154-205.jpg" class="imgFrame w134 h182 msInterMode" alt="＜etowal＞ハイトーングラデーション大人可愛いバルーンミディ" oncontextmenu="return false;"></p>
                                    <div class="mT2">
                                        <p class="rankingListInnerAnchor">＜etowal＞ハイトーングラデーション大人可愛いバルーンミディ</p>
                                        <div class="mT2">
                                            <p class="rankingListShop">etowal</p>
                                            <p class="rankingListStylist">Stylist：北澤 隆太</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    <li class="fl w137 mR15">
                        <a href="http://beauty.hotpepper.jp/slnH000160218/style/L000718472.html">
                                <h4 class="rankingListHeading icnCrown3"><img src="http://imgbp.hotp.jp/CSP/img/hc/text/text_ranking_3.png"></h4>
                                <div>
                                    <p><img src="http://imgbp.hotp.jp/CSP/IMG_SRC/63/03/B004376303/B004376303_154-205.jpg" class="imgFrame w134 h182 msInterMode" alt="春　ヘアスタイル 大人可愛いSWEETミディ" oncontextmenu="return false;"></p>
                                    <div class="mT2">
                                        <p class="rankingListInnerAnchor">春　ヘアスタイル 大人可愛いSWEETミディ</p>
                                        <div class="mT2">
                                            <p class="rankingListShop">AFLOAT　NAGOYA　(アフロート　ナゴヤ)</p>
                                            <p class="rankingListStylist">Stylist：渡辺 卓哉</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    <li class="fl w137 mR15">
                        <a href="http://beauty.hotpepper.jp/slnH000233454/style/L000632445.html">
                                <h4 class="rankingListHeading icnCrownOther"><img src="http://imgbp.hotp.jp/CSP/img/hc/text/text_ranking_4.png"></h4>
                                <div>
                                    <p><img src="http://imgbp.hotp.jp/CSP/IMG_SRC/82/48/B003968248/B003968248_154-205.jpg" class="imgFrame w134 h182 msInterMode" alt="大人可愛い小顔ひし形フレンチワンカール" oncontextmenu="return false;"></p>
                                    <div class="mT2">
                                        <p class="rankingListInnerAnchor">大人可愛い小顔ひし形フレンチワンカール</p>
                                        <div class="mT2">
                                            <p class="rankingListShop">AFLOAT　JAPAN　アフロート　ジャパン </p>
                                            <p class="rankingListStylist">Stylist：鈴木 司</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    <li class="fl w137">
                        <a href="http://beauty.hotpepper.jp/slnH000036964/style/L000596834.html">
                                <h4 class="rankingListHeading icnCrownOther"><img src="http://imgbp.hotp.jp/CSP/img/hc/text/text_ranking_5.png"></h4>
                                <div>
                                    <p><img src="http://imgbp.hotp.jp/CSP/IMG_SRC/39/01/B003793901/B003793901_154-205.jpg" class="imgFrame w134 h182 msInterMode" alt="【Calon】☆ナチュラルミディ☆（杉谷 将也）" oncontextmenu="return false;"></p>
                                    <div class="mT2">
                                        <p class="rankingListInnerAnchor">【Calon】☆ナチュラルミディ☆（杉谷 将也）</p>
                                        <div class="mT2">
                                            <p class="rankingListShop">Calon hair &nbsp;カロンヘア</p>
                                            <p class="rankingListStylist">Stylist：杉谷 将也</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="mT20">
                        <p class="taR"><a href="http://beauty.hotpepper.jp/catalog/ladys/lenHL03/ranking/" class="iS arrowR">ミディアムランキング　1位～20位を見る</a></p>
                    </div>
                    </div>
                <div class="jscRankList dn pr top0 left0">
                <ul class="cFix rankingList">
                        <li class="fl w137 mR15">
                        <a href="http://beauty.hotpepper.jp/slnH000233454/style/L000639709.html">
                                <h4 class="rankingListHeading icnCrown1"><img src="http://imgbp.hotp.jp/CSP/img/hc/text/text_ranking_1.png"></h4>
                                <div>
                                    <p><img src="http://imgbp.hotp.jp/CSP/IMG_SRC/07/19/B004000719/B004000719_154-205.jpg" class="imgFrame w134 h182 msInterMode" alt="ナチュラル可愛いボブ～前髪＆顔周りで見せる小顔カット～" oncontextmenu="return false;"></p>
                                    <div class="mT2">
                                        <p class="rankingListInnerAnchor">ナチュラル可愛いボブ～前髪＆顔周りで見せる小顔カット～</p>
                                        <div class="mT2">
                                            <p class="rankingListShop">AFLOAT　JAPAN　アフロート　ジャパン </p>
                                            <p class="rankingListStylist">Stylist：裕二朗 </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    <li class="fl w137 mR15">
                        <a href="http://beauty.hotpepper.jp/slnH000233454/style/L000463765.html">
                                <h4 class="rankingListHeading icnCrown2"><img src="http://imgbp.hotp.jp/CSP/img/hc/text/text_ranking_2.png"></h4>
                                <div>
                                    <p><img src="http://imgbp.hotp.jp/CSP/IMG_SRC/87/94/B003888794/B003888794_154-205.jpg" class="imgFrame w134 h182 msInterMode" alt="AFLOAT『伊輪　宣幸』大人可愛いトップふっくらショート☆" oncontextmenu="return false;"></p>
                                    <div class="mT2">
                                        <p class="rankingListInnerAnchor">AFLOAT『伊輪　宣幸』大人可愛いトップふっくらショート☆</p>
                                        <div class="mT2">
                                            <p class="rankingListShop">AFLOAT　JAPAN　アフロート　ジャパン </p>
                                            <p class="rankingListStylist">Stylist：伊輪 宣幸</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    <li class="fl w137 mR15">
                        <a href="http://beauty.hotpepper.jp/slnH000233136/style/L000653540.html">
                                <h4 class="rankingListHeading icnCrown3"><img src="http://imgbp.hotp.jp/CSP/img/hc/text/text_ranking_3.png"></h4>
                                <div>
                                    <p><img src="http://imgbp.hotp.jp/CSP/IMG_SRC/03/53/B004110353/B004110353_154-205.jpg" class="imgFrame w134 h182 msInterMode" alt="Visee Line &nbsp;ふわんとスッキリショートボブ" oncontextmenu="return false;"></p>
                                    <div class="mT2">
                                        <p class="rankingListInnerAnchor">Visee Line &nbsp;ふわんとスッキリショートボブ</p>
                                        <div class="mT2">
                                            <p class="rankingListShop">Visee　Line（ヴィセ　ライン）</p>
                                            <p class="rankingListStylist">Stylist：牛田 規之</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    <li class="fl w137 mR15">
                        <a href="http://beauty.hotpepper.jp/slnH000126500/style/L000752664.html">
                                <h4 class="rankingListHeading icnCrownOther"><img src="http://imgbp.hotp.jp/CSP/img/hc/text/text_ranking_4.png"></h4>
                                <div>
                                    <p><img src="http://imgbp.hotp.jp/CSP/IMG_SRC/44/63/B004524463/B004524463_154-205.jpg" class="imgFrame w134 h182 msInterMode" alt="黒髪でも◎大人かわいい・前下がりナチュラルショート★Part.6" oncontextmenu="return false;"></p>
                                    <div class="mT2">
                                        <p class="rankingListInnerAnchor">黒髪でも◎大人かわいい・前下がりナチュラルショート★Part.6</p>
                                        <div class="mT2">
                                            <p class="rankingListShop">GAFF　ギャフ表参道本店</p>
                                            <p class="rankingListStylist">Stylist：野田 ともる</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    <li class="fl w137">
                        <a href="http://beauty.hotpepper.jp/slnH000239059/style/L000699351.html">
                                <h4 class="rankingListHeading icnCrownOther"><img src="http://imgbp.hotp.jp/CSP/img/hc/text/text_ranking_5.png"></h4>
                                <div>
                                    <p><img src="http://imgbp.hotp.jp/CSP/IMG_SRC/78/84/B004287884/B004287884_154-205.jpg" class="imgFrame w134 h182 msInterMode" alt="【GARDEN】斜めバング×ふわくしゅショートボブ(大沼圭吾)" oncontextmenu="return false;"></p>
                                    <div class="mT2">
                                        <p class="rankingListInnerAnchor">【GARDEN】斜めバング×ふわくしゅショートボブ(大沼圭吾)</p>
                                        <div class="mT2">
                                            <p class="rankingListShop">GARDEN　【ガーデン】</p>
                                            <p class="rankingListStylist">Stylist：大沼 圭吾</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="mT20">
                        <p class="taR"><a href="http://beauty.hotpepper.jp/catalog/ladys/lenHL04/ranking/" class="iS arrowR">ショートランキング　1位～20位を見る</a></p>
                    </div>
                    </div>
                <div class="jscRankList dn pr top0 left0">
                <ul class="cFix rankingList">
                        <li class="fl w137 mR15">
                        <a href="http://beauty.hotpepper.jp/slnH000263937/style/L000767301.html">
                                <h4 class="rankingListHeading icnCrown1"><img src="http://imgbp.hotp.jp/CSP/img/hc/text/text_ranking_1.png"></h4>
                                <div>
                                    <p><img src="http://imgbp.hotp.jp/CSP/IMG_SRC/76/92/B004587692/B004587692_154-205.jpg" class="imgFrame w134 h182 msInterMode" alt="X.I.M by Visee line30代からの耳かけルーズ大人かわいいカール" oncontextmenu="return false;"></p>
                                    <div class="mT2">
                                        <p class="rankingListInnerAnchor">X.I.M by Visee line30代からの耳かけルーズ大人かわいいカール</p>
                                        <div class="mT2">
                                            <p class="rankingListShop">X.I.M by Visee Line(エクシム　バイ　ヴィセライン)</p>
                                            <p class="rankingListStylist">Stylist：杉浦 成規</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    <li class="fl w137 mR15">
                        <a href="http://beauty.hotpepper.jp/slnH000260437/style/L000752602.html">
                                <h4 class="rankingListHeading icnCrown2"><img src="http://imgbp.hotp.jp/CSP/img/hc/text/text_ranking_2.png"></h4>
                                <div>
                                    <p><img src="http://imgbp.hotp.jp/CSP/IMG_SRC/42/34/B004524234/B004524234_154-205.jpg" class="imgFrame w134 h182 msInterMode" alt="シャンパーニュ栄久屋大通店]外国人風セミディワンカール" oncontextmenu="return false;"></p>
                                    <div class="mT2">
                                        <p class="rankingListInnerAnchor">シャンパーニュ栄久屋大通店]外国人風セミディワンカール</p>
                                        <div class="mT2">
                                            <p class="rankingListShop">シャンパーニュ栄久屋大通店</p>
                                            <p class="rankingListStylist">Stylist：浦谷 明成</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    <li class="fl w137 mR15">
                        <a href="http://beauty.hotpepper.jp/slnH000260437/style/L000730070.html">
                                <h4 class="rankingListHeading icnCrown3"><img src="http://imgbp.hotp.jp/CSP/img/hc/text/text_ranking_3.png"></h4>
                                <div>
                                    <p><img src="http://imgbp.hotp.jp/CSP/IMG_SRC/87/66/B004428766/B004428766_154-205.jpg" class="imgFrame w134 h182 msInterMode" alt="NewOpenシャンパーニュ栄久屋大通店　大人かわいいセミディ" oncontextmenu="return false;"></p>
                                    <div class="mT2">
                                        <p class="rankingListInnerAnchor">NewOpenシャンパーニュ栄久屋大通店　大人かわいいセミディ</p>
                                        <div class="mT2">
                                            <p class="rankingListShop">シャンパーニュ栄久屋大通店</p>
                                            <p class="rankingListStylist">Stylist：草野 かな</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    <li class="fl w137 mR15">
                        <a href="http://beauty.hotpepper.jp/slnH000234829/style/L000678655.html">
                                <h4 class="rankingListHeading icnCrownOther"><img src="http://imgbp.hotp.jp/CSP/img/hc/text/text_ranking_4.png"></h4>
                                <div>
                                    <p><img src="http://imgbp.hotp.jp/CSP/IMG_SRC/83/10/B004708310/B004708310_154-205.jpg" class="imgFrame w134 h182 msInterMode" alt="カールで大人かわいい簡単スタイリングな美髪スウィートロング" oncontextmenu="return false;"></p>
                                    <div class="mT2">
                                        <p class="rankingListInnerAnchor">カールで大人かわいい簡単スタイリングな美髪スウィートロング</p>
                                        <div class="mT2">
                                            <p class="rankingListShop">AFLOAT &nbsp;Xel-Ha　【アフロート シェルハ】</p>
                                            <p class="rankingListStylist">Stylist：蝶野 健太</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    <li class="fl w137">
                        <a href="http://beauty.hotpepper.jp/slnH000233136/style/L000492885.html">
                                <h4 class="rankingListHeading icnCrownOther"><img src="http://imgbp.hotp.jp/CSP/img/hc/text/text_ranking_5.png"></h4>
                                <div>
                                    <p><img src="http://imgbp.hotp.jp/CSP/IMG_SRC/45/21/B003254521/B003254521_154-205.jpg" class="imgFrame w134 h182 msInterMode" alt="～Visee Line～ White Love curl" oncontextmenu="return false;"></p>
                                    <div class="mT2">
                                        <p class="rankingListInnerAnchor">～Visee Line～ White Love curl</p>
                                        <div class="mT2">
                                            <p class="rankingListShop">Visee　Line（ヴィセ　ライン）</p>
                                            <p class="rankingListStylist">Stylist：村瀬 勇樹</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="mT20">
                        <p class="taR"><a href="http://beauty.hotpepper.jp/catalog/ladys/lenHL02/ranking/" class="iS arrowR">セミロングランキング　1位～20位を見る</a></p>
                    </div>
                    </div>
                <div class="jscRankList dn pr top0 left0">
                <ul class="cFix rankingList">
                        <li class="fl w137 mR15">
                        <a href="http://beauty.hotpepper.jp/slnH000218616/style/L000676582.html">
                                <h4 class="rankingListHeading icnCrown1"><img src="http://imgbp.hotp.jp/CSP/img/hc/text/text_ranking_1.png"></h4>
                                <div>
                                    <p><img src="http://imgbp.hotp.jp/CSP/IMG_SRC/06/40/B004190640/B004190640_154-205.jpg" class="imgFrame w134 h182 msInterMode" alt="暗めだけど透明感のアッシュ　スウィートグラマラスウェーブ" oncontextmenu="return false;"></p>
                                    <div class="mT2">
                                        <p class="rankingListInnerAnchor">暗めだけど透明感のアッシュ　スウィートグラマラスウェーブ</p>
                                        <div class="mT2">
                                            <p class="rankingListShop">ALICe by afloat(アリス　バイ　アフロート）</p>
                                            <p class="rankingListStylist">Stylist：浅井 剛史</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    <li class="fl w137 mR15">
                        <a href="http://beauty.hotpepper.jp/slnH000249261/style/L000722880.html">
                                <h4 class="rankingListHeading icnCrown2"><img src="http://imgbp.hotp.jp/CSP/img/hc/text/text_ranking_2.png"></h4>
                                <div>
                                    <p><img src="http://imgbp.hotp.jp/CSP/IMG_SRC/55/43/B004395543/B004395543_154-205.jpg" class="imgFrame w134 h182 msInterMode" alt="【Natura栄】シフォン☆ゆるふわウェーブ ～ロマンティックVer～" oncontextmenu="return false;"></p>
                                    <div class="mT2">
                                        <p class="rankingListInnerAnchor">【Natura栄】シフォン☆ゆるふわウェーブ ～ロマンティックVer～</p>
                                        <div class="mT2">
                                            <p class="rankingListShop">Natura栄店[ナトゥーラ]</p>
                                            <p class="rankingListStylist">Stylist：林 明男</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    <li class="fl w137 mR15">
                        <a href="http://beauty.hotpepper.jp/slnH000072922/style/L000668723.html">
                                <h4 class="rankingListHeading icnCrown3"><img src="http://imgbp.hotp.jp/CSP/img/hc/text/text_ranking_3.png"></h4>
                                <div>
                                    <p><img src="http://imgbp.hotp.jp/CSP/IMG_SRC/49/51/B004274951/B004274951_154-205.jpg" class="imgFrame w134 h182 msInterMode" alt="『 トリプルグラデーション + ヨーロピアングレージュ 』 ☆s-26" oncontextmenu="return false;"></p>
                                    <div class="mT2">
                                        <p class="rankingListInnerAnchor">『 トリプルグラデーション + ヨーロピアングレージュ 』 ☆s-26</p>
                                        <div class="mT2">
                                            <p class="rankingListShop">suburbia　サバービア</p>
                                            <p class="rankingListStylist">Stylist：杉下 恵里子</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    <li class="fl w137 mR15">
                        <a href="http://beauty.hotpepper.jp/slnH000102417/style/L000332583.html">
                                <h4 class="rankingListHeading icnCrownOther"><img src="http://imgbp.hotp.jp/CSP/img/hc/text/text_ranking_4.png"></h4>
                                <div>
                                    <p><img src="http://imgbp.hotp.jp/CSP/IMG_SRC/83/16/B002348316/B002348316_154-205.jpg" class="imgFrame w134 h182 msInterMode" alt="U-topiaスタイル116" oncontextmenu="return false;"></p>
                                    <div class="mT2">
                                        <p class="rankingListInnerAnchor">U-topiaスタイル116</p>
                                        <div class="mT2">
                                            <p class="rankingListShop">U-topia　【ユートピア】</p>
                                            <p class="rankingListStylist">Stylist：望月 裕介</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    <li class="fl w137">
                        <a href="http://beauty.hotpepper.jp/slnH000168317/style/L000205818.html">
                                <h4 class="rankingListHeading icnCrownOther"><img src="http://imgbp.hotp.jp/CSP/img/hc/text/text_ranking_5.png"></h4>
                                <div>
                                    <p><img src="http://imgbp.hotp.jp/CSP/IMG_SRC/26/38/B001542638/B001542638_154-205.jpg" class="imgFrame w134 h182 msInterMode" alt="【SWEET★Witch】・byBALLET" oncontextmenu="return false;"></p>
                                    <div class="mT2">
                                        <p class="rankingListInnerAnchor">【SWEET★Witch】・byBALLET</p>
                                        <div class="mT2">
                                            <p class="rankingListShop">BALLET　HAIR＆MAKE　バレエ　ヘアーアンドメイク</p>
                                            <p class="rankingListStylist">Stylist：IKEGAMI ATSUSHI</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="mT20">
                        <p class="taR"><a href="http://beauty.hotpepper.jp/catalog/ladys/lenHL01/ranking/" class="iS arrowR">ロングランキング　1位～20位を見る</a></p>
                    </div>
                    </div>
                <div class="jscRankList dn pr top0 left0">
                <ul class="cFix rankingList">
                        <li class="fl w137 mR15">
                        <a href="http://beauty.hotpepper.jp/slnH000074881/style/L000756635.html">
                                <h4 class="rankingListHeading icnCrown1"><img src="http://imgbp.hotp.jp/CSP/img/hc/text/text_ranking_1.png"></h4>
                                <div>
                                    <p><img src="http://imgbp.hotp.jp/CSP/IMG_SRC/62/58/B004536258/B004536258_154-205.jpg" class="imgFrame w134 h182 msInterMode" alt="モードな大人ベリーショート" oncontextmenu="return false;"></p>
                                    <div class="mT2">
                                        <p class="rankingListInnerAnchor">モードな大人ベリーショート</p>
                                        <div class="mT2">
                                            <p class="rankingListShop">Ａｓｈ 池袋店</p>
                                            <p class="rankingListStylist">Stylist：山川 大輔</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    <li class="fl w137 mR15">
                        <a href="http://beauty.hotpepper.jp/slnH000042674/style/L000832409.html">
                                <h4 class="rankingListHeading icnCrown2"><img src="http://imgbp.hotp.jp/CSP/img/hc/text/text_ranking_2.png"></h4>
                                <div>
                                    <p><img src="http://imgbp.hotp.jp/CSP/IMG_SRC/32/46/B004883246/B004883246_154-205.jpg" class="imgFrame w134 h182 msInterMode" alt="【+～ing】　ファニーショート　【内　良太】" oncontextmenu="return false;"></p>
                                    <div class="mT2">
                                        <p class="rankingListInnerAnchor">【+～ing】　ファニーショート　【内　良太】</p>
                                        <div class="mT2">
                                            <p class="rankingListShop">～ｉｎｇ　カライング</p>
                                            <p class="rankingListStylist">Stylist：内 良太</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    <li class="fl w137 mR15">
                        <a href="http://beauty.hotpepper.jp/slnH000051898/style/L000694844.html">
                                <h4 class="rankingListHeading icnCrown3"><img src="http://imgbp.hotp.jp/CSP/img/hc/text/text_ranking_3.png"></h4>
                                <div>
                                    <p><img src="http://imgbp.hotp.jp/CSP/IMG_SRC/48/60/B004264860/B004264860_154-205.jpg" class="imgFrame w134 h182 msInterMode" alt="マニッシュショート" oncontextmenu="return false;"></p>
                                    <div class="mT2">
                                        <p class="rankingListInnerAnchor">マニッシュショート</p>
                                        <div class="mT2">
                                            <p class="rankingListShop">ANOUK 　【アヌーク】</p>
                                            <p class="rankingListStylist">Stylist：初芝 良子</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    <li class="fl w137 mR15">
                        <a href="http://beauty.hotpepper.jp/slnH000268774/style/L000749342.html">
                                <h4 class="rankingListHeading icnCrownOther"><img src="http://imgbp.hotp.jp/CSP/img/hc/text/text_ranking_4.png"></h4>
                                <div>
                                    <p><img src="http://imgbp.hotp.jp/CSP/IMG_SRC/17/68/B004511768/B004511768_154-205.jpg" class="imgFrame w134 h182 msInterMode" alt="i'LL 大人カジュアルショート♪ピンクラテカラー" oncontextmenu="return false;"></p>
                                    <div class="mT2">
                                        <p class="rankingListInnerAnchor">i'LL 大人カジュアルショート♪ピンクラテカラー</p>
                                        <div class="mT2">
                                            <p class="rankingListShop">I’LL（イル）</p>
                                            <p class="rankingListStylist">Stylist：大島 SHOTA</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    <li class="fl w137">
                        <a href="http://beauty.hotpepper.jp/slnH000199736/style/L000710169.html">
                                <h4 class="rankingListHeading icnCrownOther"><img src="http://imgbp.hotp.jp/CSP/img/hc/text/text_ranking_5.png"></h4>
                                <div>
                                    <p><img src="http://imgbp.hotp.jp/CSP/IMG_SRC/84/75/B004338475/B004338475_154-205.jpg" class="imgFrame w134 h182 msInterMode" alt="ショート" oncontextmenu="return false;"></p>
                                    <div class="mT2">
                                        <p class="rankingListInnerAnchor">ショート</p>
                                        <div class="mT2">
                                            <p class="rankingListShop">Hair Life LIB 【ヘア ライフ リブ】</p>
                                            <p class="rankingListStylist">Stylist：糸数 早千男</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="mT20">
                        <p class="taR"><a href="http://beauty.hotpepper.jp/catalog/ladys/lenHL05/ranking/" class="iS arrowR">ベリーショートランキング　1位～20位を見る</a></p>
                    </div>
                    </div>
                <div class="jscRankList dn pr top0 left0">
                <ul class="cFix rankingList">
                        <li class="fl w137 mR15">
                        <a href="http://beauty.hotpepper.jp/slnH000220505/style/L000540841.html">
                                <h4 class="rankingListHeading icnCrown1"><img src="http://imgbp.hotp.jp/CSP/img/hc/text/text_ranking_1.png"></h4>
                                <div>
                                    <p><img src="http://imgbp.hotp.jp/CSP/IMG_SRC/26/39/B003512639/B003512639_154-205.jpg" class="imgFrame w134 h182 msInterMode" alt="海外セレブ風アップ★" oncontextmenu="return false;"></p>
                                    <div class="mT2">
                                        <p class="rankingListInnerAnchor">海外セレブ風アップ★</p>
                                        <div class="mT2">
                                            <p class="rankingListShop">hair&amp;make Bibbidi.bobbidi.boo　【ビビディ・バビディ・ブー】 祇園店　</p>
                                            <p class="rankingListStylist">Stylist：加納 理奈</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    <li class="fl w137 mR15">
                        <a href="http://beauty.hotpepper.jp/slnH000230539/style/L000767349.html">
                                <h4 class="rankingListHeading icnCrown2"><img src="http://imgbp.hotp.jp/CSP/img/hc/text/text_ranking_2.png"></h4>
                                <div>
                                    <p><img src="http://imgbp.hotp.jp/CSP/IMG_SRC/79/95/B004587995/B004587995_154-205.jpg" class="imgFrame w134 h182 msInterMode" alt="☆ルーズシニヨン☆" oncontextmenu="return false;"></p>
                                    <div class="mT2">
                                        <p class="rankingListInnerAnchor">☆ルーズシニヨン☆</p>
                                        <div class="mT2">
                                            <p class="rankingListShop">ヘアセット専門店first 【ファースト】</p>
                                            <p class="rankingListStylist">Stylist：熊城 真琴</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    <li class="fl w137 mR15">
                        <a href="http://beauty.hotpepper.jp/slnH000263128/style/L000715054.html">
                                <h4 class="rankingListHeading icnCrown3"><img src="http://imgbp.hotp.jp/CSP/img/hc/text/text_ranking_3.png"></h4>
                                <div>
                                    <p><img src="http://imgbp.hotp.jp/CSP/IMG_SRC/25/65/B004362565/B004362565_154-205.jpg" class="imgFrame w134 h182 msInterMode" alt="【華やかパーティーセット￥2300】★ ゆるゆるボブ編み込み ★" oncontextmenu="return false;"></p>
                                    <div class="mT2">
                                        <p class="rankingListInnerAnchor">【華やかパーティーセット￥2300】★ ゆるゆるボブ編み込み ★</p>
                                        <div class="mT2">
                                            <p class="rankingListShop">LANGE Rope' 【ランジェ　ロペ】 原宿店 </p>
                                            <p class="rankingListStylist">Stylist：RINA </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    <li class="fl w137 mR15">
                        <a href="http://beauty.hotpepper.jp/slnH000234615/style/L000750023.html">
                                <h4 class="rankingListHeading icnCrownOther"><img src="http://imgbp.hotp.jp/CSP/img/hc/text/text_ranking_4.png"></h4>
                                <div>
                                    <p><img src="http://imgbp.hotp.jp/CSP/IMG_SRC/41/28/B004514128/B004514128_154-205.jpg" class="imgFrame w134 h182 msInterMode" alt="☆Chouchou☆大人かわいいセット♪" oncontextmenu="return false;"></p>
                                    <div class="mT2">
                                        <p class="rankingListInnerAnchor">☆Chouchou☆大人かわいいセット♪</p>
                                        <div class="mT2">
                                            <p class="rankingListShop">hair design Chou Chou by Yone (シュシュ)</p>
                                            <p class="rankingListStylist">Stylist：米村 裕明</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    <li class="fl w137">
                        <a href="http://beauty.hotpepper.jp/slnH000227250/style/L000435267.html">
                                <h4 class="rankingListHeading icnCrownOther"><img src="http://imgbp.hotp.jp/CSP/img/hc/text/text_ranking_5.png"></h4>
                                <div>
                                    <p><img src="http://imgbp.hotp.jp/CSP/IMG_SRC/49/19/B002934919/B002934919_154-205.jpg" class="imgFrame w134 h182 msInterMode" alt="人気ＮＯ１！結婚式&amp;２次会アップ" oncontextmenu="return false;"></p>
                                    <div class="mT2">
                                        <p class="rankingListInnerAnchor">人気ＮＯ１！結婚式&amp;２次会アップ</p>
                                        <div class="mT2">
                                            <p class="rankingListShop">hair make b:Ash 【ヘアーメイク ビーアッシュ】</p>
                                            <p class="rankingListStylist">Stylist：MASA .Y</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="mT20">
                        <p class="taR"><a href="http://beauty.hotpepper.jp/catalog/ladys/lenHL08/ranking/" class="iS arrowR">ヘアセットランキング　1位～20位を見る</a></p>
                    </div>
                    </div>
                <div class="jscRankList dn pr top0 left0">
                <ul class="cFix rankingList">
                        <li class="fl w137 mR15">
                        <a href="http://beauty.hotpepper.jp/slnH000234624/style/L000651337.html">
                                <h4 class="rankingListHeading icnCrown1"><img src="http://imgbp.hotp.jp/CSP/img/hc/text/text_ranking_1.png"></h4>
                                <div>
                                    <p><img src="http://imgbp.hotp.jp/CSP/IMG_SRC/49/31/B004064931/B004064931_154-205.jpg" class="imgFrame w134 h182 msInterMode" alt="美シルエットショート" oncontextmenu="return false;"></p>
                                    <div class="mT2">
                                        <p class="rankingListInnerAnchor">美シルエットショート</p>
                                        <div class="mT2">
                                            <p class="rankingListShop">ＭＡＢＥＬ マーベル</p>
                                            <p class="rankingListStylist">Stylist：羽立 真和</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    <li class="fl w137 mR15">
                        <a href="http://beauty.hotpepper.jp/slnH000147478/style/L000698671.html">
                                <h4 class="rankingListHeading icnCrown2"><img src="http://imgbp.hotp.jp/CSP/img/hc/text/text_ranking_2.png"></h4>
                                <div>
                                    <p><img src="http://imgbp.hotp.jp/CSP/IMG_SRC/90/71/B004279071/B004279071_154-205.jpg" class="imgFrame w134 h182 msInterMode" alt="トップにボリュームを出した美シルエット☆大人なボブ☆自由が丘" oncontextmenu="return false;"></p>
                                    <div class="mT2">
                                        <p class="rankingListInnerAnchor">トップにボリュームを出した美シルエット☆大人なボブ☆自由が丘</p>
                                        <div class="mT2">
                                            <p class="rankingListShop">Hair Make Muse　ヘアメイクミューズ　自由が丘</p>
                                            <p class="rankingListStylist">Stylist：中村 有佑</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    <li class="fl w137 mR15">
                        <a href="http://beauty.hotpepper.jp/slnH000243733/style/L000805265.html">
                                <h4 class="rankingListHeading icnCrown3"><img src="http://imgbp.hotp.jp/CSP/img/hc/text/text_ranking_3.png"></h4>
                                <div>
                                    <p><img src="http://imgbp.hotp.jp/CSP/IMG_SRC/69/96/B004766996/B004766996_154-205.jpg" class="imgFrame w134 h182 msInterMode" alt="☆-５歳　無理しないでできるショートヘア☆" oncontextmenu="return false;"></p>
                                    <div class="mT2">
                                        <p class="rankingListInnerAnchor">☆-５歳　無理しないでできるショートヘア☆</p>
                                        <div class="mT2">
                                            <p class="rankingListShop">HAPPINESS by afloat &nbsp;四条河原町店 &nbsp;-ハピネス　バイ　アフロート -</p>
                                            <p class="rankingListStylist">Stylist：竹村 友喜</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    <li class="fl w137 mR15">
                        <a href="http://beauty.hotpepper.jp/slnH000183754/style/L000481333.html">
                                <h4 class="rankingListHeading icnCrownOther"><img src="http://imgbp.hotp.jp/CSP/img/hc/text/text_ranking_4.png"></h4>
                                <div>
                                    <p><img src="http://imgbp.hotp.jp/CSP/IMG_SRC/30/91/B003193091/B003193091_154-205.jpg" class="imgFrame w134 h182 msInterMode" alt="セレヴ☆ウーマンショート" oncontextmenu="return false;"></p>
                                    <div class="mT2">
                                        <p class="rankingListInnerAnchor">セレヴ☆ウーマンショート</p>
                                        <div class="mT2">
                                            <p class="rankingListShop">OVER CAPTAIN NAKED</p>
                                            <p class="rankingListStylist">Stylist：原子 景虎</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    <li class="fl w137">
                        <a href="http://beauty.hotpepper.jp/slnH000226771/style/L000756279.html">
                                <h4 class="rankingListHeading icnCrownOther"><img src="http://imgbp.hotp.jp/CSP/img/hc/text/text_ranking_5.png"></h4>
                                <div>
                                    <p><img src="http://imgbp.hotp.jp/CSP/IMG_SRC/55/21/B004535521/B004535521_154-205.jpg" class="imgFrame w134 h182 msInterMode" alt="【gosso】ひし形ミディアム" oncontextmenu="return false;"></p>
                                    <div class="mT2">
                                        <p class="rankingListInnerAnchor">【gosso】ひし形ミディアム</p>
                                        <div class="mT2">
                                            <p class="rankingListShop">gosso 【ゴッソ】</p>
                                            <p class="rankingListStylist">Stylist：大野 佑樹</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="mT20">
                        <p class="taR"><a href="http://beauty.hotpepper.jp/catalog/ladys/lenHL07/ranking/" class="iS arrowR">ミセスランキング　1位～20位を見る</a></p>
                    </div>
                    </div>
                <div class="jscRankList dn pr top0 left0">
                <ul class="cFix rankingList">
                        <li class="fl w137 mR15">
                        <a href="http://beauty.hotpepper.jp/slnH000155775/style/L000503390.html">
                                <h4 class="rankingListHeading icnCrown1"><img src="http://imgbp.hotp.jp/CSP/img/hc/text/text_ranking_1.png"></h4>
                                <div>
                                    <p><img src="http://imgbp.hotp.jp/CSP/IMG_SRC/60/04/B003316004/B003316004_154-205.jpg" class="imgFrame w134 h182 msInterMode" alt="ツーブロックショート【NINE】担当　五明顕太 03-6804-3532" oncontextmenu="return false;"></p>
                                    <div class="mT2">
                                        <p class="rankingListInnerAnchor">ツーブロックショート【NINE】担当　五明顕太 03-6804-3532</p>
                                        <div class="mT2">
                                            <p class="rankingListShop">NINE</p>
                                            <p class="rankingListStylist">Stylist：五明 顕太</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    <li class="fl w137 mR15">
                        <a href="http://beauty.hotpepper.jp/slnH000258909/style/L000672789.html">
                                <h4 class="rankingListHeading icnCrown2"><img src="http://imgbp.hotp.jp/CSP/img/hc/text/text_ranking_2.png"></h4>
                                <div>
                                    <p><img src="http://imgbp.hotp.jp/CSP/IMG_SRC/45/13/B004204513/B004204513_154-205.jpg" class="imgFrame w134 h182 msInterMode" alt="無造作　ショート！！" oncontextmenu="return false;"></p>
                                    <div class="mT2">
                                        <p class="rankingListInnerAnchor">無造作　ショート！！</p>
                                        <div class="mT2">
                                            <p class="rankingListShop">ROVER　【ローバー】</p>
                                            <p class="rankingListStylist">Stylist：中沢 和貴</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    <li class="fl w137 mR15">
                        <a href="http://beauty.hotpepper.jp/slnH000260521/style/L000718509.html">
                                <h4 class="rankingListHeading icnCrown3"><img src="http://imgbp.hotp.jp/CSP/img/hc/text/text_ranking_3.png"></h4>
                                <div>
                                    <p><img src="http://imgbp.hotp.jp/CSP/IMG_SRC/65/06/B004376506/B004376506_154-205.jpg" class="imgFrame w134 h182 msInterMode" alt=" [BREEN原宿]王道の清潔感ショートメンズ★無造作感大で雰囲気UP" oncontextmenu="return false;"></p>
                                    <div class="mT2">
                                        <p class="rankingListInnerAnchor">[BREEN原宿]王道の清潔感ショートメンズ★無造作感大で雰囲気UP</p>
                                        <div class="mT2">
                                            <p class="rankingListShop">BREEN ブリーン　【原宿駅/表参道近】</p>
                                            <p class="rankingListStylist">Stylist：渡邊 純</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    <li class="fl w137 mR15">
                        <a href="http://beauty.hotpepper.jp/slnH000140051/style/L000732879.html">
                                <h4 class="rankingListHeading icnCrownOther"><img src="http://imgbp.hotp.jp/CSP/img/hc/text/text_ranking_4.png"></h4>
                                <div>
                                    <p><img src="http://imgbp.hotp.jp/CSP/IMG_SRC/38/06/B004443806/B004443806_154-205.jpg" class="imgFrame w134 h182 msInterMode" alt="アップバング、２ブロックショート" oncontextmenu="return false;"></p>
                                    <div class="mT2">
                                        <p class="rankingListInnerAnchor">アップバング、２ブロックショート</p>
                                        <div class="mT2">
                                            <p class="rankingListShop">pizzicato　ピチカート</p>
                                            <p class="rankingListStylist">Stylist：松金　 祐大</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    <li class="fl w137">
                        <a href="http://beauty.hotpepper.jp/slnH000226664/style/L000417924.html">
                                <h4 class="rankingListHeading icnCrownOther"><img src="http://imgbp.hotp.jp/CSP/img/hc/text/text_ranking_5.png"></h4>
                                <div>
                                    <p><img src="http://imgbp.hotp.jp/CSP/IMG_SRC/56/06/B002835606/B002835606_154-205.jpg" class="imgFrame w134 h182 msInterMode" alt="関西人気No.1メリハリショート" oncontextmenu="return false;"></p>
                                    <div class="mT2">
                                        <p class="rankingListInnerAnchor">関西人気No.1メリハリショート</p>
                                        <div class="mT2">
                                            <p class="rankingListShop">hairsalon CrOSS 【ヘアーサロン　クロス】</p>
                                            <p class="rankingListStylist">Stylist：川西 友紀</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="mT20">
                        <p class="taR"><a href="http://beauty.hotpepper.jp/catalog/mens/ranking/" class="iS arrowR">メンズランキング　1位～20位を見る</a></p>
                    </div>
                    </div>
                </div>
        </div>
    </div>
</div>