@()

<div>
    <div>
        <ul class="cFix">
            <li class="fl mR10">
            	<a href="@routes.Styles.findByLength("短","男")">
            		<img src="http://imgbp.hotp.jp/CSP/img/hc/top/photo/mensHL11.jpg" alt="メンズ ショート" class="imgFrame">
            	</a>
            </li>
            <li class="fl mR10">
            	<a href="@routes.Styles.findByLength("中","男")">
            		<img src="http://imgbp.hotp.jp/CSP/img/hc/top/photo/mensHL10.jpg" alt="メンズ ベリーショート" class="imgFrame">
            	</a>
            </li>
            <li class="fl mR10">
            	<a href="@routes.Styles.findByLength("长","男")">
            		<img src="http://imgbp.hotp.jp/CSP/img/hc/top/photo/mensHL12.jpg" alt="メンズ ミディアム" class="imgFrame">
            	</a>
            </li>
            <li class="fl mR10">
            	<a href="@routes.Styles.findByLength("短","男")">
            		<img src="http://imgbp.hotp.jp/CSP/img/hc/top/photo/mensHL09.jpg" alt="メンズ ショート" class="imgFrame">
            	</a>
            </li>
            <li class="fl mR10">
            	<a href="@routes.Styles.findByLength("中","男")">
            		<img src="http://imgbp.hotp.jp/CSP/img/hc/top/photo/mensHL13.jpg" alt="メンズ ベリーショート" class="imgFrame">
            	</a>
            </li>
            <li class="fl mR10">
            	<a href="@routes.Styles.findByLength("长","男")">
            		<img src="http://imgbp.hotp.jp/CSP/img/hc/top/photo/mensHL06.jpg" alt="メンズ ミディアム" class="imgFrame">
            	</a>
            </li>
    	</ul>
    </div>
</div>
