<div class="mT40">
    <div class="skinHeadingWrapper1 mB15 cFix pr">
        <h3 class="fl skinHeading1 offL headingLength">
            @Messages("hair.styleLength")
        </h3>
    </div>
    <div>
        <ul class="cFix">
            <li class="fl mR15">
                <a href="@routes.Styles.findByLength("短","女")">
                    <img src="/assets/images/style/B003403767_154-205.jpg" alt="ミディアム" class="imgFrame" width="94px">
                </a>
            </li>
            <li class="fl mR15">
                <a href="@routes.Styles.findByLength("中","女")">
                    <img src="/assets/images/style/B003409244_154-205.jpg" alt="ショート" class="imgFrame" width="94px">
                </a>
            </li>
            <li class="fl mR15">
                <a href="@routes.Styles.findByLength("长","女")">
                    <img src="/assets/images/style/B003422979_154-205.jpg" alt="セミロング" class="imgFrame" width="94px">
                </a>
            </li>
            <li class="fl mR15">
                <a href="@routes.Styles.findByLength("短","女")">
                    <img src="/assets/images/style/B003730720_154-205.jpg" alt="ミディアム" class="imgFrame" width="94px">
                </a>
            </li>
            <li class="fl mR15">
                <a href="@routes.Styles.findByLength("中","女")">
                    <img src="/assets/images/style/B004000607_154-205.jpg" alt="ショート" class="imgFrame" width="94px">
                </a>
            </li>
            <li class="fl mR15">
                <a href="@routes.Styles.findByLength("长","女")">
                    <img src="/assets/images/style/B003696225_154-205.jpg" alt="セミロング" class="imgFrame" width="94px">
                </a>
            </li>
            <li class="fl mR15">
                <a href="@routes.Styles.findByLength("短","女")">
                    <img src="/assets/images/style/B003567496_154-205.jpg" alt="ミディアム" class="imgFrame" width="94px">
                </a>
            </li>
        </ul>
    </div>
</div>
