@(latestStyles: Seq[Style])

<div class="mT30">
    <div>
        <ul class="cFix tabGender" id="jsiGendarTab">
            <li class="fl mR10 current">
                <a href="javascript: void(0);" class="offL tabGenderLadys">
                    レディース
                </a>
            </li>
            <li class="fl mR10">
                <a href="javascript: void(0);" class="offL tabGenderMens">
                    メンズ
                </a>
            </li>
        </ul>
    </div>
    <div class="tabBody">
        <div class="pr jscTabBody">
            <div class="skinHeadingWrapper2 mB15 cFix pr">
                <h3 class="fl skinHeading1 offL headingNew">
                    New&nbsp;新着ヘアスタイル
                </h3>
                <p class="fs10 skinHeadingCaption pa right0 bottom2">
                    新着ヘアスタイル・髪型から最新トレンドをチェック。
                </p>
            </div>
            <div>
                <ul class="rankingList pL2 cFix">
                    <li class="fl w80 mR12">
                        <a onclick="return LoadPVImgStyleClk('H000235735','L000839490','P_NEW_CTOP',this);"
                        href="http://beauty.hotpepper.jp/slnH000235735/style/L000839490.html" class="db">
                            <p>
                                <img src="http://imgbp.hotp.jp/CSP/IMG_SRC/04/23/B004910423/B004910423_89-119.jpg"
                                class="imgFrame w76 h101" alt="bob" oncontextmenu="return false;">
                            </p>
                            <div class="mT2">
                                <p class="rankingListInnerAnchor fs10">
                                    bob
                                </p>
                                <div class="mT2">
                                    <p class="rankingListShop">
                                        snug　【スナッグ】
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="fl w80 mR12">
                        <a onclick="return LoadPVImgStyleClk('H000237478','L000839486','P_NEW_CTOP',this);"
                        href="http://beauty.hotpepper.jp/slnH000237478/style/L000839486.html" class="db">
                            <p>
                                <img src="http://imgbp.hotp.jp/CSP/IMG_SRC/04/29/B004910429/B004910429_89-119.jpg"
                                class="imgFrame w76 h101" alt="【hairTRUTH】White～road～" oncontextmenu="return false;">
                            </p>
                            <div class="mT2">
                                <p class="rankingListInnerAnchor fs10">
                                    【hairTRUTH】White～road～
                                </p>
                                <div class="mT2">
                                    <p class="rankingListShop">
                                        hair TRUTH 【ヘアー トゥルース】
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="fl w80 mR12">
                        <a onclick="return LoadPVImgStyleClk('H000250774','L000809571','P_NEW_CTOP',this);"
                        href="http://beauty.hotpepper.jp/slnH000250774/style/L000809571.html" class="db">
                            <p>
                                <img src="http://imgbp.hotp.jp/CSP/IMG_SRC/22/97/B004782297/B004782297_89-119.jpg"
                                class="imgFrame w76 h101" alt="大人ガーリーロング" oncontextmenu="return false;">
                            </p>
                            <div class="mT2">
                                <p class="rankingListInnerAnchor fs10">
                                    大人ガーリーロング
                                </p>
                                <div class="mT2">
                                    <p class="rankingListShop">
                                        Wish Hair(ウィッシュ ヘアー)
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="fl w80 mR12">
                        <a onclick="return LoadPVImgStyleClk('H000253275','L000839498','P_NEW_CTOP',this);"
                        href="http://beauty.hotpepper.jp/slnH000253275/style/L000839498.html" class="db">
                            <p>
                                <img src="http://imgbp.hotp.jp/CSP/IMG_SRC/04/39/B004910439/B004910439_89-119.jpg"
                                class="imgFrame w76 h101" alt="ヌージースタイル" oncontextmenu="return false;">
                            </p>
                            <div class="mT2">
                                <p class="rankingListInnerAnchor fs10">
                                    ヌージースタイル
                                </p>
                                <div class="mT2">
                                    <p class="rankingListShop">
                                        riff desin labo -bio-
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="fl w80 mR12">
                        <a onclick="return LoadPVImgStyleClk('H000275366','L000839502','P_NEW_CTOP',this);"
                        href="http://beauty.hotpepper.jp/slnH000275366/style/L000839502.html" class="db">
                            <p>
                                <img src="http://imgbp.hotp.jp/CSP/IMG_SRC/04/55/B004910455/B004910455_89-119.jpg"
                                class="imgFrame w76 h101" alt="ふわふわマッシュボブ☆" oncontextmenu="return false;">
                            </p>
                            <div class="mT2">
                                <p class="rankingListInnerAnchor fs10">
                                    ふわふわマッシュボブ☆
                                </p>
                                <div class="mT2">
                                    <p class="rankingListShop">
                                        Peissy 高円寺　- ペイジー -
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="fl w80 mR12">
                        <a onclick="return LoadPVImgStyleClk('H000237480','L000839493','P_NEW_CTOP',this);"
                        href="http://beauty.hotpepper.jp/slnH000237480/style/L000839493.html" class="db">
                            <p>
                                <img src="http://imgbp.hotp.jp/CSP/IMG_SRC/04/51/B004910451/B004910451_89-119.jpg"
                                class="imgFrame w76 h101" alt="【ＡｒｒｏＷ】Sweet ＵＰ　SＴＹＬＥ" oncontextmenu="return false;">
                            </p>
                            <div class="mT2">
                                <p class="rankingListInnerAnchor fs10">
                                    【ＡｒｒｏＷ】Sweet ＵＰ　SＴＹＬＥ
                                </p>
                                <div class="mT2">
                                    <p class="rankingListShop">
                                        ArroW 梅田 &nbsp;【アロー ウメダ】
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="fl w80 mR12">
                        <a onclick="return LoadPVImgStyleClk('H000229533','L000839414','P_NEW_CTOP',this);"
                        href="http://beauty.hotpepper.jp/slnH000229533/style/L000839414.html" class="db">
                            <p>
                                <img src="http://imgbp.hotp.jp/CSP/IMG_SRC/01/67/B004910167/B004910167_89-119.jpg"
                                class="imgFrame w76 h101" alt="ミルクティカラー" oncontextmenu="return false;">
                            </p>
                            <div class="mT2">
                                <p class="rankingListInnerAnchor fs10">
                                    ミルクティカラー
                                </p>
                                <div class="mT2">
                                    <p class="rankingListShop">
                                        FREAK hair design
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="fl w80">
                        <a onclick="return LoadPVImgStyleClk('H000103051','L000792801','P_NEW_CTOP',this);"
                        href="http://beauty.hotpepper.jp/slnH000103051/style/L000792801.html" class="db">
                            <p>
                                <img src="http://imgbp.hotp.jp/CSP/IMG_SRC/38/07/B004703807/B004703807_89-119.jpg"
                                class="imgFrame w76 h101" alt="siesta☆ハイライトショート！" oncontextmenu="return false;">
                            </p>
                            <div class="mT2">
                                <p class="rankingListInnerAnchor fs10">
                                    siesta☆ハイライトショート！
                                </p>
                                <div class="mT2">
                                    <p class="rankingListShop">
                                        H for ｓｉｅｓｔａ　―シエスタ―
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <p class="taR mT20">
                    <a href="http://beauty.hotpepper.jp/catalog/ladys/new/" class="iS arrowR">
                        レディースの新着スタイルをもっと見る
                    </a>
                </p>
            </div>
        </div>
        <div class="pr jscTabBody dn">
            <div class="skinHeadingWrapper2 mB15 cFix pr">
                <h3 class="fl skinHeading1 offL headingNew">
                    New&nbsp;新着ヘアスタイル
                </h3>
                <p class="fs10 skinHeadingCaption pa right0 bottom2">
                    新着ヘアスタイル・髪型から最新トレンドをチェック。
                </p>
            </div>
            <div>
                <ul class="rankingList pL2 cFix">
                    <li class="fl w80 mR12">
                        <a onclick="return LoadPVImgStyleClk('H000239003','L000836079','P_NEW_CTOP',this);"
                        href="http://beauty.hotpepper.jp/slnH000239003/style/L000836079.html" class="db">
                            <p>
                                <img src="http://imgbp.hotp.jp/CSP/IMG_SRC/86/26/B004898626/B004898626_89-119.jpg"
                                class="imgFrame w76 h101" alt="ツーブロック・ハードパーマ" oncontextmenu="return false;">
                            </p>
                            <div class="mT2">
                                <p class="rankingListInnerAnchor fs10">
                                    ツーブロック・ハードパーマ
                                </p>
                                <div class="mT2">
                                    <p class="rankingListShop">
                                        エムズハウス
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="fl w80 mR12">
                        <a onclick="return LoadPVImgStyleClk('H000138134','L000839485','P_NEW_CTOP',this);"
                        href="http://beauty.hotpepper.jp/slnH000138134/style/L000839485.html" class="db">
                            <p>
                                <img src="http://imgbp.hotp.jp/CSP/IMG_SRC/04/22/B004910422/B004910422_89-119.jpg"
                                class="imgFrame w76 h101" alt="プレミアム爽やかショート" oncontextmenu="return false;">
                            </p>
                            <div class="mT2">
                                <p class="rankingListInnerAnchor fs10">
                                    プレミアム爽やかショート
                                </p>
                                <div class="mT2">
                                    <p class="rankingListShop">
                                        HAIR SALON M（ヘア サロン エム）　大宮店
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="fl w80 mR12">
                        <a onclick="return LoadPVImgStyleClk('H000138134','L000839482','P_NEW_CTOP',this);"
                        href="http://beauty.hotpepper.jp/slnH000138134/style/L000839482.html" class="db">
                            <p>
                                <img src="http://imgbp.hotp.jp/CSP/IMG_SRC/04/13/B004910413/B004910413_89-119.jpg"
                                class="imgFrame w76 h101" alt="アメリカンショート" oncontextmenu="return false;">
                            </p>
                            <div class="mT2">
                                <p class="rankingListInnerAnchor fs10">
                                    アメリカンショート
                                </p>
                                <div class="mT2">
                                    <p class="rankingListShop">
                                        HAIR SALON M（ヘア サロン エム）　大宮店
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="fl w80 mR12">
                        <a onclick="return LoadPVImgStyleClk('H000138134','L000839480','P_NEW_CTOP',this);"
                        href="http://beauty.hotpepper.jp/slnH000138134/style/L000839480.html" class="db">
                            <p>
                                <img src="http://imgbp.hotp.jp/CSP/IMG_SRC/03/98/B004910398/B004910398_89-119.jpg"
                                class="imgFrame w76 h101" alt="UK PUNK　！！！" oncontextmenu="return false;">
                            </p>
                            <div class="mT2">
                                <p class="rankingListInnerAnchor fs10">
                                    UK PUNK　！！！
                                </p>
                                <div class="mT2">
                                    <p class="rankingListShop">
                                        HAIR SALON M（ヘア サロン エム）　大宮店
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="fl w80 mR12">
                        <a onclick="return LoadPVImgStyleClk('H000079402','L000839495','P_NEW_CTOP',this);"
                        href="http://beauty.hotpepper.jp/slnH000079402/style/L000839495.html" class="db">
                            <p>
                                <img src="http://imgbp.hotp.jp/CSP/IMG_SRC/04/54/B004910454/B004910454_89-119.jpg"
                                class="imgFrame w76 h101" alt="ビジネスマン in NY " oncontextmenu="return false;">
                            </p>
                            <div class="mT2">
                                <p class="rankingListInnerAnchor fs10">
                                    ビジネスマン in NY
                                </p>
                                <div class="mT2">
                                    <p class="rankingListShop">
                                        go s go (e)
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="fl w80 mR12">
                        <a onclick="return LoadPVImgStyleClk('H000079402','L000839491','P_NEW_CTOP',this);"
                        href="http://beauty.hotpepper.jp/slnH000079402/style/L000839491.html" class="db">
                            <p>
                                <img src="http://imgbp.hotp.jp/CSP/IMG_SRC/04/42/B004910442/B004910442_89-119.jpg"
                                class="imgFrame w76 h101" alt="nature short　" oncontextmenu="return false;">
                            </p>
                            <div class="mT2">
                                <p class="rankingListInnerAnchor fs10">
                                    nature short
                                </p>
                                <div class="mT2">
                                    <p class="rankingListShop">
                                        go s go (e)
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="fl w80 mR12">
                        <a onclick="return LoadPVImgStyleClk('H000275010','L000839462','P_NEW_CTOP',this);"
                        href="http://beauty.hotpepper.jp/slnH000275010/style/L000839462.html" class="db">
                            <p>
                                <img src="http://imgbp.hotp.jp/CSP/IMG_SRC/03/59/B004910359/B004910359_89-119.jpg"
                                class="imgFrame w76 h101" alt="大人パーマ" oncontextmenu="return false;">
                            </p>
                            <div class="mT2">
                                <p class="rankingListInnerAnchor fs10">
                                    大人パーマ
                                </p>
                                <div class="mT2">
                                    <p class="rankingListShop">
                                        アムール・マヤ
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="fl w80">
                        <a onclick="return LoadPVImgStyleClk('H000269810','L000839466','P_NEW_CTOP',this);"
                        href="http://beauty.hotpepper.jp/slnH000269810/style/L000839466.html" class="db">
                            <p>
                                <img src="http://imgbp.hotp.jp/CSP/IMG_SRC/03/31/B004910331/B004910331_89-119.jpg"
                                class="imgFrame w76 h101" alt="スワンフェザーレイヤー" oncontextmenu="return false;">
                            </p>
                            <div class="mT2">
                                <p class="rankingListInnerAnchor fs10">
                                    スワンフェザーレイヤー
                                </p>
                                <div class="mT2">
                                    <p class="rankingListShop">
                                        美容室 amie beaute 櫻井 丸子店
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <p class="taR mT20">
                    <a href="http://beauty.hotpepper.jp/catalog/mens/new/" class="iS arrowR">
                        メンズの新着スタイルをもっと見る
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
