@()

<div>
    <div>
        <ul class="cFix">
            <li class="fl mR10">
            	<a href="@routes.Styles.findByLength("super-short","male")">
            		<img src="http://imgbp.hotp.jp/CSP/img/hc/top/photo/mensHL11.jpg" alt="super-short" class="imgFrame">
            	</a>
            </li>
            <li class="fl mR10">
            	<a href="@routes.Styles.findByLength("short","male")">
            		<img src="http://imgbp.hotp.jp/CSP/img/hc/top/photo/mensHL10.jpg" alt="short" class="imgFrame">
            	</a>
            </li>
            <li class="fl mR10">
            	<a href="@routes.Styles.findByLength("near-shoulder-length","male")">
            		<img src="http://imgbp.hotp.jp/CSP/img/hc/top/photo/mensHL12.jpg" alt="near-shoulder-length" class="imgFrame">
            	</a>
            </li>
            <li class="fl mR10">
            	<a href="@routes.Styles.findByLength("shoulder-length","male")">
            		<img src="http://imgbp.hotp.jp/CSP/img/hc/top/photo/mensHL09.jpg" alt="shoulder-length" class="imgFrame">
            	</a>
            </li>
            <li class="fl mR10">
            	<a href="@routes.Styles.findByLength("mid-length","male")">
            		<img src="http://imgbp.hotp.jp/CSP/img/hc/top/photo/mensHL13.jpg" alt="mid-length" class="imgFrame">
            	</a>
            </li>
            <li class="fl mR10">
            	<a href="@routes.Styles.findByLength("long","male")">
            		<img src="http://imgbp.hotp.jp/CSP/img/hc/top/photo/mensHL06.jpg" alt="long" class="imgFrame">
            	</a>
            </li>
    	</ul>
    </div>
</div>
