@(styleAndSalon: List[models.portal.style.StyleWithAllInfo])
@import helper._

<div class="mT40">
  <div class="hcHeader">
    <div class="pr hcHeaderTopPage">
      <h2 class="headForRanking offL">@Messages("hair.ranking")</h2>
    </div>
  </div>
  <div>
    @if(styleAndSalon.length > 0) {
    <h4 class="rankingListHeading icnCrown0"><p class="b fs18">1@Messages("common.seat")</p></h4>
    <div class="stylePageTileOuter cFix">
      <div class="fs16 fl">
        <img src="@routes.Application.getPhoto(styleAndSalon(0).style.stylePic(0).fileObjId)" width="180" height="240" class="bdGray"/>
      </div>
      <div class="jscHoverTarget fl">
        <div class="">
          <div class="w660 h75">
            <div class="fl">
               <a href="@noAuth.routes.Salons.getOneStyle(styleAndSalon(0).salonId, styleAndSalon(0).style.id)" class="rankingListInnerAnchor" >
                <p class="fs18 w230 taC pH20"><span class="photoCaption">@styleAndSalon(0).style.styleName</span></p>
               </a>
            </div>
            <div class="">
            </div>
            <div class="bdGrayL fl taC w240">
                <div class="sl_show_xy">
                    <p align="center">
                      <a href = "javascript:void(0);" onclick="addFollow('@styleAndSalon(0).style.id','style')" >@Messages("hair.ToCollect")</a>
                    </p>
                </div>
            </div>
          </div>
          <div class="bgLGray w550 h200 fl mL15 mT5">
            <div>
              <h2 class="lhDe mT10 mL10">@Messages("hair.info")</h2>
            </div>
            <div class="cFix bdDotT pT10 mT7 ">
              <div class="fl pH10">
                <img src="@routes.Application.getPhoto(models.portal.stylist.Stylist.findOneByStylistId(styleAndSalon(0).style.stylistId).get.myPics(0).fileObjId)" class="w89">
              </div>
              <div class="oh zoom1">
                <p class="fs10 w397">@styleAndSalon(0).style.description</p>
                <div class="mT5">
                  <p>@Messages("salon.Name") ： @styleAndSalon(0).salonName</p>
                  <p>@Messages("hair.stylist") ： @styleAndSalon(0).stylistNickname</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
  
  <div>
    @if(styleAndSalon.length > 1) {
    <ul class="cFix rankingList mT40">
      @for(i <- 1 until styleAndSalon.length){
        <li class="fl w176 mR15">
            @if(i < 3) {
              <h4 class="rankingListHeading icnCrown@i"><p class="b fs18">@(i+1)@Messages("common.seat")</p></h4>
            } else {
              <h4 class="rankingListHeading icnCrownOther"><p class="b fs18">@(i+1)@Messages("common.seat")</p></h4>
            }
            <div class="styleResult">
              <a href="@noAuth.routes.Salons.getOneStyle(styleAndSalon(i).salonId, styleAndSalon(i).style.id)" >
                <img src="@routes.Application.getPhoto(styleAndSalon(i).style.stylePic(0).fileObjId)" class="w120 h150" alt="@styleAndSalon(i).style.styleName" >
              </a>
              <div class="layer jscLayer jscFixPng">
                <div class="sl_show_xx">
                    <p align="center">
                      <a href="javascript:void(0);" onclick="addFollow('@styleAndSalon(i).style.id','style')" >@Messages("hair.ToCollect")</a>
                    </p>
                </div>
                <p><a href="@noAuth.routes.Salons.getOneStyle(styleAndSalon(i).salonId, styleAndSalon(i).style.id)">@Messages("hair.detailInfo")</a></p>
              </div>
              <div class="mT2">
                <a href="@noAuth.routes.Salons.getOneStyle(styleAndSalon(i).salonId, styleAndSalon(i).style.id)" class="rankingListInnerAnchor" >
                  <p><span class="photoCaption">@styleAndSalon(i).style.styleName</span></p>
                  <div class="mT2">
                    <p class="rankingListShop">@styleAndSalon(i).salonName</p>
                  </div>
                </a>
              </div>
            </div>
        </li>
      }
    </ul>
    }
  </div>
</div>
