@(styleAndSalon: List[models.StyleAndSalon])
@import helper._

<div>
 	@Messages("hair.style")
   	@for(i <- 0 to styleAndSalon.length-1){
   		<a href="@routes.Salons.getOneStyle(styleAndSalon(i).salon.id, styleAndSalon(i).style.id)" >
   			<img src="#" class="" alt="@styleAndSalon(i).style.styleName" >
   		</a>
		<div class="layer jscLayer jscFixPng">
			<p>
				<a href="" >@Messages("hair.ToCollect")</a>
				<a href="" class="btnSaveToMyStyleDone">
					<span class="">@Messages("hair.BeCollected")</span>
				</a>
			</p>
			<p><a href="">@Messages("hair.detailInfo")</a></p>
		</div>
		<div class="mT2">
			<a href="@routes.Salons.getOneStyle(styleAndSalon(i).salon.id, styleAndSalon(i).style.id)" class="rankingListInnerAnchor" >
				<p><span class="photoCaption">@styleAndSalon(i).style.styleName</span></p>
				<div class="mT2">
					<p class="rankingListShop">@styleAndSalon(i).salon.salonName</p>
				</div>
			</a>
		</div>
   	}
</div>
