@CHARSET "UTF-8";

.reportHeaderPickup {
position: relative;
background: #FFEEC8;
border: 1px solid #DFDFDF;
zoom: 1;
}

.shopInfo {
padding: 11px 10px 9px;
border-bottom: 2px solid #CE5075;
}

.reportPickupTitle {
background: url("/assets/images/comment/icon_report_pickup.gif") no-repeat 5px 5px;
}

.pL25 {
padding-left: 25px;
}

.couponMenuTitle {
margin-right: 30px;
padding: 4px 10px;
background: #989898;
font-size: 10px;
color: #FFFFFF;
line-height: 1;
}

.judgeList {
padding: 5px 10px 3px;
}

.judgeList li {
display: inline;
margin-right: 10px;
padding-top: 2px;
padding-right: 10px;
border-right: 1px solid #666666;
}

.iconStarOn {
background-image: url("/assets/images/comment/icon_star_on.gif");
}

.iconStarOff {
background-image: url("/assets/images/comment/icon_star_off.gif");
}

.iconStarOn, .iconStarOff {
display: inline-block;
width: 15px;
height: 16px;
margin-top: -4px;
background-repeat: no-repeat;
background-position: center top;
vertical-align: middle;
overflow: hidden;
text-indent: -9999px;
}
