@(navBar: List[(String, String)]) 

@main(Messages("site.title"), nav = "hair-salon", navBar) {

  <div class="sort" method="sortArea">
    <ul>
      <li class="def" method="sort" data-type="popu">
        <a href="javascript:void(0)" rel="nofollow" class="on" onfocus="this.blur();"
        title="点击按热度由高到低">
          热度
        </a>
      </li>
      <li method="sort" data-type="eval">
        <a href="javascript:void(0)" rel="nofollow" class="down" onfocus="this.blur();"
        title="点击按好评由高到低">
          评价
        </a>
      </li>
      <li class="" method="sort" data-type="priceAsc">
        <a href="javascript:void(0)" rel="nofollow" class="up" onfocus="this.blur();"
        title="点击按价格由低到高">
          价格
        </a>
      </li>
    </ul>
  </div>




}
~                                                                                                                                                                       
~         
