<div id="index_nail">
  <h2><img src="@routes.Assets.at("images/index_nail_title.jpg")" width="280" height="36" /></h2>
  <div id="index_nail_nr">
    <ul>
      <li><a href="#"><img src="@routes.Assets.at("images/nailCatalog/imgFrench.jpg")" width="80" height="90" /><span>法式浪漫</span></a></li>
      <li><a href="#"><img src="@routes.Assets.at("images/nailCatalog/imgGradation.jpg")" width="80" height="90" /><span>渐变</span></a></li>
      <li><a href="#"><img src="@routes.Assets.at("images/nailCatalog/imgOneColor.jpg")" width="80" height="90" /><span>一色</span></a></li>
      <li class="right"><a href="#"><img src="@routes.Assets.at("images/nailCatalog/imgPatternNail.jpg")" width="80" height="90" /><span>碎花</span></a></li>
      <li><a href="#"><img src="@routes.Assets.at("images/nailCatalog/imgArtParts.jpg")" width="80" height="90" /><span>中心</span></a></li>
      <li><a href="#"><img src="@routes.Assets.at("images/nailCatalog/imgFoot.jpg")" width="80" height="90" /><span>边角</span></a></li>
      <li><a href="#"><img src="@routes.Assets.at("images/nailCatalog/imgOneColor.jpg")" width="80" height="90" /><span>镶钻</span></a></li>
      <li  class="right"><a href="#"><img src="@routes.Assets.at("images/nailCatalog/imgFrench.jpg")" width="80" height="90" /><span>其它</span></a></li>
    </ul>
  </div>
</div>
