@()
<div id="index_nail">
  <h2><img src="@routes.Assets.at("images/index_nail_title.jpg")" width="280" height="36" /></h2>
  <div id="index_nail_nr">
    <ul>
      <li><a href="@noAuth.routes.Nails.getNailsByRanking("natural")"><img src="@routes.Assets.at("images/nailCatalog/imgFrench.jpg")" width="80" height="90" /><span>自然</span></a></li>
      <li><a href="@noAuth.routes.Nails.getNailsByRanking("intellectual")"><img src="@routes.Assets.at("images/nailCatalog/imgGradation.jpg")" width="80" height="90" /><span>知性</span></a></li>
      <li><a href="@noAuth.routes.Nails.getNailsByRanking("sweet")"><img src="@routes.Assets.at("images/nailCatalog/imgOneColor.jpg")" width="80" height="90" /><span>甜美</span></a></li>
      <li class="right"><a href="@noAuth.routes.Nails.getNailsByRanking("fashion")"><img src="@routes.Assets.at("images/nailCatalog/imgPatternNail.jpg")" width="80" height="90" /><span>时尚</span></a></li>
      <li><a href="@noAuth.routes.Nails.getNailsByRanking("fresh")"><img src="@routes.Assets.at("images/nailCatalog/imgArtParts.jpg")" width="80" height="90" /><span>清新</span></a></li>
      <li><a href="@noAuth.routes.Nails.getNailsByRanking("gorgeous")"><img src="@routes.Assets.at("images/nailCatalog/imgFoot.jpg")" width="80" height="90" /><span>华丽</span></a></li>
      <li><a href="@noAuth.routes.Nails.getNailsByRanking("personality")"><img src="@routes.Assets.at("images/nailCatalog/imgOneColor.jpg")" width="80" height="90" /><span>个性</span></a></li>
      <li  class="right"><a href="@noAuth.routes.Nails.getNailsByRanking("retro")"><img src="@routes.Assets.at("images/nailCatalog/imgFrench.jpg")" width="80" height="90" /><span>复古</span></a></li>
    </ul>
  </div>
</div>
