@(message: String)

@main(Messages("site.title")) {

	<!-- ↓mainContents -->
	<div id="mainContents">
	    <div class="maincatch">
		<div class="maincatchLink mR2">
		    <a target="_blank" title="@Messages("main.wantToJoin")" onclick="customLinkLog('Top Salon Link');"
		    href="/basicRegister">@Messages("main.wantToJoin")
		    </a>
		</div>
		<div class="mainSubtilte">
		    <img alt="Messages("index.appeal2")" src="@routes.Assets.at("images/zenkoku_beautysalon.png")" width="281" height="18" />
		</div>
		<ul class="cFix mainLink">
		    <li class="iS balloon fr pL20 mL10 fgDGray">@Messages("index.appeal")</li>
		    <li class="iS point fr pL20 mL10 fgDGray">@Messages("index.pointPolicy")</li>
		    <li class="iS pcweb fr pL20 mL10 fgDGray">@Messages("index.reserve")</li>
		</ul>
	    </div>
	    <div class="mT13 mBN20 cFix">
		<ul class="mainImage" id="jsiMainImage">
		    <li class="current">
		        <a href="@routes.Salons.index">
		            <img alt="@Messages("index.hairSalonRsv")" src="@routes.Assets.at("images/mainImg_hair.jpg")" width="730" height="397" />
		        </a>
		    </li>
		    <li>
		        <a href="@routes.Styles.index">
		            <img alt="@Messages("index.nailSalonRsv")" src="@routes.Assets.at("images/mainImg_nail.jpg")" width="730" height="397" />
		        </a>
		    </li>
		    <li>
		        <a href="@routes.Styles.index">
		            <img alt="@Messages("index.cosmSalonRsv")" src="@routes.Assets.at("images/mainImg_relax.jpg")" width="730" height="397" />
		        </a>
		    </li>
		    <li>
		        <a href="@routes.Styles.index">
		            <img alt="@Messages("index.massageSalonRsv")" src="@routes.Assets.at("images/mainImg_esthe.jpg")" width="730" height="397" />
		        </a>
		    </li>
		</ul>
		<div class="imgNaviWrapper">
		    <div class="naviBar" id="jsiNaviBar">
		    </div>
		    <ul class="mainImage_navi" id="jsiImageNavi">
		        <li class="hair_reserve currentNav">
		            <a href="@routes.Salons.index">@Messages("index.hairSalonRsv")</a>
		        </li>
		        <li class="nail_reserve">
		            <a href="@routes.Styles.index">@Messages("index.nailSalonRsv")</a>
		        </li>
		        <li class="relax_reserve">
		            <a href="@routes.Styles.index">@Messages("index.cosmSalonRsv")</a>
		        </li>
		        <li class="esthe_reserve">
		            <a href="@routes.Styles.index">@Messages("index.massageSalonRsv")</a>
		        </li>
		    </ul>
		</div>
	    </div>
	    <div class="cFix mT34">
		<div class="cFix">
		</div>
	    </div>
	</div>
	<!-- ↑mainContents -->

}
