@(nav: String = "Top")

<div id="by_hot_search">
  <div id="by">
    @Messages("main.hairMessage")
  </div>
  <div id="top_search_hotlist">
    <div id="top_search">
      <form id="generalSrchForm" action="@noAuth.routes.GeneralSearch.getGeneralSearch" method="POST">
        <div id="uboxstyle">
          <select name="category" id="categorySel">
            @* For now, set search result to the same page with hair salon. 2014/05/23. *@
            @*<option value="Top" @if(nav == "Top") {selected="selected"}> @Messages("common.all") </option>*@
            <option value="HairSalon" @if(nav == "Top") {selected="selected"}> @Messages("common.all") </option>
            <option value="HairSalon" @if(nav == "HairSalon") {selected="selected"}> @Messages("main.hairSalon") </option>
            <option value="HairCatalog" @if(nav == "HairCatalog") {selected="selected"}> @Messages("main.hairCatalog") </option>
            <option value="NailSalon" @if(nav == "NailSalon") {selected="selected"}> @Messages("main.nailSalon") </option>
            <option value="NailCatalog" @if(nav == "NailCatalog") {selected="selected"}> @Messages("main.nailCatalog") </option>
            <option value="RelaxSalon" @if(nav == "RelaxSalon") {selected="selected"}> @Messages("main.relaxSalon") </option>
            <option value="EstheSalon" @if(nav == "EstheSalon") {selected="selected"}> @Messages("main.estheSalon") </option>
          </select>
        </div>
        <input name="keyword" id="srchKeyword" type="text" class="txt" value="@Messages("common.pleaseInputSrchKeyword")"  
          onfocus="if(this.value=='@Messages("common.pleaseInputSrchKeyword")') {this.value=''}" 
          onblur="if(this.value==''){this.value='@Messages("common.pleaseInputSrchKeyword")'}"/>
        <input type="submit" value="@Messages("common.generalSearch")" class="btn"
          onclick="doGeneralSrchSubmit($('#srchKeyword').val())"/>
      </form>
    </div>
    <!--↓ Hottest Keyword-->
    <div id="hotlist">
      @Messages("common.hotSearch"):  
      @for(kw <- HotestKeyword.findTopKeywordsOfDiv(nav, 10)) {
        <a href="javascript:void(0)" onclick="doGeneralSrchSubmit('@kw');"> @kw </a>
      }
    </div>
    <!--↑ Hottest Keyword-->
  </div>
</div>
