@(user: Option[User])

<!-- login module usually on the rigth column of a page to 
    let user to sign in or sign up or show the basice info of a user who is in the state of login.

TODO
    1. parameters is passed by controll files with data come form controll files.
    2. show different info according to the user parameter.
-->


<div id="myMenu" class="yS zoom1">
    <div id="myMenuHead" class="yS">
        <div id="myMenuBottom" class="yS">
            <dd class="myMenuBody myPointBody yS mT0">
                <div class="myMenuBodyHead yS">
                    <div class="myMenuMainBox pointBox yS">
                        <ul class="myMenuItems">
                            <li class="myMenuItemsCassette">
                                <div class="mT11 taC">
                                    <img src="@routes.Assets.at("images/recruit_point_155.gif")" width="155"
                                    alt="@Messages("point.pointDesc")" title="@Messages("point.pointDesc")">
                                </div>
                                <div class="grayPointBodyHead y4S mT8">
                                    <div class="grayPointBodyBox y4S">
                                        <div class="grayPointBody y4S taC">
                                            <p>
                                                @Messages("point.policyCond") 
                                                <br>
                                                <span>
                                                    @Messages("point.policies", "5%") 
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="loginArea mT7 taC">
                                    <p>
                                        @user match {
                                            case None => {@Messages("user.welcome", Messages("user.guestName"))}
                                            case Some(usr) => {@Messages("user.welcome", usr.nickName)}
                                        }
                                    </p>
                                    <a href="@routes.Application.login" class="btn btn2H30 mT3 tdn">
                                        <span>
                                            <span class="b">
                                               @Messages("user.loginBtn") 
                                            </span>
                                        </span>
                                    </a>
                                    <p class="mT5">
                                        <a href="@routes.Application.login" />@Messages("user.pleaseSignUp")</a>
                                    </p>
                                    <ul class="taL mT7">
                                        <li>
                                            <a href="javascript:void(0);" @*onclick="window.open('http://point.recruit.co.jp/');"*@
                                            class="iS rPoint">
                                               @Messages("point.scoreRules") 
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" @*onclick="window.open('http://point.recruit.co.jp/?tab=pointUseServise');"*@
                                            class="iS rPoint">
                                               @Messages("point.howToUse") 
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <p class="mT10">
                                    <a class="iS arrowR" title="@Messages("point.promotions")" @*href="/doc/cp/2oku/"*@
                                    target="_blank">
                                        @Messages("point.promotions") 
                                    </a>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </dd>
        </div>
    </div>
</div>

