@(geoNav: Seq[(String, String)] = Nil)

<!-- parameters: Sequences of Map[String, String] 
    1. navigator path/geo area path.  for example: 総合トップ
    2. site path. for example: http://beauty.hotpepper.jp/top/"

TODO:
    1. 

 -->

<!-- ↓preContents -->
<div id="preContents" class="cFix">
<ol class="pankuzu cFix">
    <li> <a href="http://beauty.hotpepper.jp/top/"> 総合トップ </a> &nbsp;&nbsp;&gt;&nbsp;&nbsp; </li>
    <li> <a href="http://beauty.hotpepper.jp/"> 美容院・美容室・ヘアサロン検索トップ </a> &nbsp;&nbsp;&gt;&nbsp;&nbsp; </li>
    <li> <a href="/svcSA/"> 関東トップ </a> &nbsp;&nbsp;&gt;&nbsp;&nbsp; </li>
    <li> <a href="/svcSA/macAD/"> 渋谷・青山・表参道・原宿トップ </a> &nbsp;&nbsp;&gt;&nbsp;&nbsp; </li>
    <li> <a href="/slnH000231733/"> フレール　Freres </a> &nbsp;&nbsp;&gt;&nbsp;&nbsp; </li>

    <li> <strong> スタイリスト </strong> </li>
</ol>
</div>
<!-- ↑preContents -->


