

<!-- the module of Usually asked questions. 

    collections of question pages.

 -->

    <ul>
        <!-- 注目のサロン -->
        <div style="background-image: url(/CSP/c_bt/MYAREA/IMG/usualInquiryTop.gif); background-position: left top;  background-repeat: no-repeat; padding-top: 3px; font-size: 12px; margin-top: 6px;">
            <div style="background-image: url(/CSP/c_bt/MYAREA/IMG/usualInquiryBottom.gif); background-position: left bottom; background-repeat: no-repeat; padding-bottom: 3px;">
                <dl>
                    <dt style="width: 168px; background: #FBFAF5; padding-top: 2px; padding-bottom: 5px; padding-left: 10px; border-right: 1px solid #cccccc; border-left: 1px solid #cccccc; font-weight: bold; color: #797979;">
                        よくある問い合わせ
                    </dt>
                    <dd style="width: 158px; padding: 10px 15px 10px 5px; border-top: 1px solid #cccccc; border-left: 1px solid #cccccc; border-right: 1px solid #cccccc;">
                        <ul>
                            <li>
                                <a style="background-image: url(/CSP/c_bt/MYAREA/IMG/usualInquiryDot.gif); background-repeat: no-repeat; background-position: 5px 7px; display: inline-block; padding-left: 13px;"
                                href="http://beauty.help.hotpepper.jp/app/answers/detail/a_id/508/" target="_new">
                                    ポイントはどこで使えますか
                                </a>
                            </li>
                            <li>
                                <a style="background-image: url(/CSP/c_bt/MYAREA/IMG/usualInquiryDot.gif); background-repeat: no-repeat; background-position: 5px 7px; display: inline-block; padding-left: 13px;"
                                href="http://beauty.help.hotpepper.jp/app/answers/detail/a_id/471/" target="_new">
                                    「即時予約」と「仮予約」の違いは何ですか
                                </a>
                            </li>
                            <li>
                                <a style="background-image: url(/CSP/c_bt/MYAREA/IMG/usualInquiryDot.gif); background-repeat: no-repeat; background-position: 5px 7px; display: inline-block; padding-left: 13px;"
                                href="http://beauty.help.hotpepper.jp/app/answers/detail/a_id/436/" target="_new">
                                    詳細な条件でサロンを探せますか
                                </a>
                            </li>
                            <li>
                                <a style="background-image: url(/CSP/c_bt/MYAREA/IMG/usualInquiryDot.gif); background-repeat: no-repeat; background-position: 5px 7px; display: inline-block; padding-left: 13px;"
                                href="http://beauty.help.hotpepper.jp/app/answers/detail/a_id/480/" target="_new">
                                    予約をキャンセルしたい
                                </a>
                            </li>
                            <li>
                                <a style="background-image: url(/CSP/c_bt/MYAREA/IMG/usualInquiryDot.gif); background-repeat: no-repeat; background-position: 5px 7px; display: inline-block; padding-left: 13px;"
                                href="http://beauty.help.hotpepper.jp/app/answers/detail/a_id/512/" target="_new">
                                    ポイントの残高を知りたい
                                </a>
                            </li>
                        </ul>
                    </dd>
                </dl>
            </div>
        </div>
    </ul>
 
