@(advert: Seq[Advert] = Nil)

<!-- Module for advertisement.
    
    Contents maybe change according the page and area.....

TODO

  -->

   <div class="w180 mHA">
        <!-- 2億円CP -->
        <div class="mT10">
            <a href="/c-2oku/" target="_blank">
                <img src="/CSP/c_common/ALL/IMG/2okuen_180_70.jpg" width="180" height="70"
                alt="2億円ポイント山分けキャンペーン">
            </a>
        </div>
        <!-- 2億円CP -->
        <!-- キャンペーン一覧 -->
        <div class="taR mT10">
            <a href="/doc/cp/cplist/" target="_blank" class="iS arrowR">
                キャンペーン一覧へ
            </a>
        </div>
        <!-- /キャンペーン一覧 -->
        <!-- HPBポンパレモール -->
        <div class="mT10">
            <a href="/doc/ponparemall/" target="_blank">
                <img src="/CSP/c_common/ALL/IMG/hpb_ponpare_2_180_70.jpg" width="180"
                height="70" alt="Beautyアイテム特集">
            </a>
        </div>
        <!-- /HPBポンパレモール -->
        <!-- スマホアプリバナー -->
        <div class="mT10">
            <a href="/doc/sp/" target="_blank">
                <img src="/CSP/c_common/ALL/IMG/hpbapp_180_130.jpg" width="180" height="130"
                alt="ホットペッパービューティーのスマートフォンアプリ">
            </a>
        </div>
        <!-- /スマホアプリバナー -->
        <!-- リクルートカード -->
        <div class="mT10">
            <a href="http://recruit-card.jp/lp/hpb/20130530/?vos=cprcdprochpb130515004"
            target="_blank">
                <img src="/CSP/c_common/ALL/IMG/rc_180_130.gif" width="180" height="130"
                alt="リクルートカード">
            </a>
        </div>
        <!-- /リクルートカード -->
        <!-- ポンパレバナー -->
        <div class="mT10">
            <iframe src="http://ponpare.jp/beauty/tokyo/widget.html?vos=rwdhbtokyo"
            scrolling="no" frameborder="0" marginwidth="0" marginheight="0" style="border:none; overflow:hidden; width:180px; height:244px;"
            allowtransparency="true" rel="nofollow">
            </iframe>
        </div>
        <!-- /ポンパレバナー -->
    </div>


