        <script type="text/javascript" src="/doc/theme/common/js/cont_ext_link.js">
        </script>
        <div class="w421 mT20">
            <div class="skinHeadingWrapper">
                <h3>
                    お役立ちコンテンツ
                </h3>
            </div>
            <!-- 1段目 -->
            <div class="mT15">
                <div class="cFix">
                    <!-- お得サロン特集 -->
                    <div class="fl w178 mR40">
                        <a href="/doc/theme/otoku/" target="_blank">
                            <img src="/CSP/c_common/ALL/IMG/otoku_178_119.jpg" alt="お得サロン特集" width="178"
                            height="119">
                        </a>
                    </div>
                    <!-- /お得サロン特集 -->
                    <!-- 今月のHOT PEPPER -->
                    <div class="fl w178">
                        <a href="http://magazine.hotpepper.jp/" target="_blank">
                            <img src="/CSP/c_common/ALL/IMG/hotpeppermagazine_178_119.jpg" alt="今月のHOT PEPPER"
                            width="178" height="119">
                        </a>
                    </div>
                    <!-- /今月のHOT PEPPER -->
                </div>
                <ul class="fs10 oh mT20" style=" line-height: 130%;">
                    <!-- /1段目 -->
                    <!-- CMスペシャルサイト公開中！ -->
                    <li class="fl oh w200 mR20">
                        <p class="fl mR10">
                            <a href="/doc/cm/" target="_blank">
                                <img src="/CSP/c_common/ALL/IMG/cam_cm_89_119.jpg" alt="CMスペシャルサイト公開中！"
                                width="89" height="119">
                            </a>
                        </p>
                        <div class="fl w98">
                            <p class="fs12 mT5 lh18">
                                <a href="/doc/cm/" target="_blank">
                                    CMスペシャルサイト公開中！
                                </a>
                            </p>
                            <p class="mT8 lh16">
                                【WEB限定】30秒未公開CM＆メイキング映像公開中！
                            </p>
                        </div>
                    </li>
                    <!-- /CMスペシャルサイト公開中！ -->
                    <!-- Facebookの公式ページ -->
                    <li class="fl oh w200">
                        <p class="fl mR10">
                            <a href="http://www.facebook.com/beauty.hotpepper.jp?sk=app_135585983190822"
                            target="_blank">
                                <img src="/CSP/c_common/ALL/IMG/facebook_89_119.jpg" alt="Facebookの公式ページ"
                                width="89" height="119">
                            </a>
                        </p>
                        <div class="fl w98">
                            <p class="fs12 mT5 lh18">
                                <a href="http://www.facebook.com/beauty.hotpepper.jp?sk=app_135585983190822"
                                target="_blank">
                                    Facebookの公式ページ
                                </a>
                            </p>
                            <p class="mT8 lh16">
                                ヘアスタイルやお得なキャンペーンを紹介。
                                <br>
                                「いいね！」ボタンを押してね！！
                            </p>
                        </div>
                    </li>
                    <!-- /Facebookの公式ページ -->
                </ul>
                <!-- その他 -->
                <ul class="fs10 oh mT20" style=" line-height: 130%;">
                    <!-- アフィリエイト -->
                    <li class="fl oh w100 mR10 mT10">
                        <p class="fl mR10">
                            <a href="/doc/vc/recruit/" target="_blank">
                                <img src="/CSP/c_common/ALL/IMG/icn_special_affili.gif" alt="アフィリエイト"
                                width="89" height="19">
                            </a>
                        </p>
                        <div class="fl w98">
                            <p class="fs12 mT5 lh18">
                                <a href="/doc/vc/recruit/" target="_blank">
                                    パートナー募集中
                                </a>
                            </p>
                            <p class="mT8 lh16">
                                あなたのブログやサイトで、HOT PEPPER Beautyを紹介してみませんか？
                            </p>
                        </div>
                    </li>
                    <!-- /アフィリエイト -->
                    <!-- リンク -->
                    <li class="fl oh w100 mR10 mT10">
                        <p class="fl mR10">
                            <a href="/doc/link/link.html" target="_blank">
                                <img src="/CSP/c_common/ALL/IMG/icn_special_link.gif" alt="リンク用画像" width="89"
                                height="19">
                            </a>
                        </p>
                        <div class="fl w98">
                            <p class="fs12 mT5 lh18">
                                <a href="/doc/link/link.html" target="_blank">
                                    画像はこちら
                                </a>
                            </p>
                            <p class="mT8 lh16">
                                HOT PEPPER Beautyにリンクを貼って頂ける方はこちらをお読みください。
                            </p>
                        </div>
                    </li>
                    <!-- /リンク -->
                    <!-- 用語集 -->
                    <li class="fl oh w100 mT10">
                        <p class="fl mR10">
                            <a href="/doc/bn/glossary/index.html" target="_blank">
                                <img src="/CSP/c_common/ALL/IMG/icn_special_word.gif" alt="用語集" width="89"
                                height="19">
                            </a>
                        </p>
                        <div class="fl w98">
                            <p class="fs12 mT5 lh18">
                                <a href="/doc/bn/glossary/index.html" target="_blank">
                                    ヘア用語集
                                </a>
                            </p>
                            <p class="mT8 lh16">
                                ヘアに関する専門用語をCHECK。ヘアスタイルをオーダーする時に役立ててね！
                            </p>
                        </div>
                    </li>
                    <!-- /用語集 -->
                </ul>
                <!-- /その他 -->
            </div>
        </div>
