@()

@for(i <- 1 to 5){
    <!-- ↓coupon -->
    <div class="mT10">
    <table summary="summary" cellspacing="1" class="mT2 wFull bgLGray6 fs10 couponTable">
        <tbody>
            <tr>
                <td class="bgPink8 fgWhite bd0 taC p5 fs12 b">
                    新法规
                </td>
                <td class="w554 bgWhite">
                    <div class="w534 p10">
                        <div class="">
                            <div class="">
                                <ul class="couponMenuIcons fs10 cFix">
                                    <li class="couponMenuIcon mB5">
                                        切
                                    </li>
                                    <li class="couponMenuIcon mB5">
                                        治疗
                                    </li>
                                    <li class="couponMenuIcon mB5">
                                        其他
                                    </li>
                                </ul>
                            </div>
                            <div class="mT5 b fs12 cFix">
                                <p class="fl">
                                    <a href="http://beauty.hotpepper.jp/slnH000231733/coupon/#couponList"
                                    class="db lh23 b">
                                        [兄弟公司☆宝石]小脸斩+香薰头部按摩5250日元允许西装
                                    </a>
                                </p>
                                <p class="fr fgRed">
                                    <span class="fs13">
                                        5250日元
                                    </span>
                                </p>
                            </div>
                        </div>
                        <dl class="mT10">
                            <dt class="di fgPink">
                                演示条件：
                            </dt>
                            <dd class="di mR10 pR10 fgGray bdLGrayR">
                                在预订时间
                            </dd>
                            <dt class="di fgPink">
                                条款及细则：
                            </dt>
                            <dd class="di mR10 pR10 fgGray bdLGrayR">
                                你看到的HOTPEPPER美容♪字
                            </dd>
                            <dt class="di fgPink">
                                到期日：
                            </dt>
                            <dd class="di mR20 fgGray">
                                直到2014年3月31日
                            </dd>
                        </dl>
                    </div>
                </td>
                <td class="bdWhite bgLLGray2 vaM">
                    <div class=" pV10 fs12">
                        <div>
                            <a href="@routes.Reservations.reservSelectDate" class="btn btn2H50 btnWlines w146 mHA">
                                <span>
                                    <span>
                                        此优惠券
                                        <br>
                                        我要检查空座位
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="mT8 taC">
                            <a href="http://beauty.hotpepper.jp/CSP/bt/reserve/?storeId=H000231733&amp;couponId=CP00000003458772&amp;add=1&amp;addMenu=1&amp;rootCd=10"
                            class="iS arrowR">
                                本书通过增加一个菜单
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
    <!-- ↑coupon -->
    
	}
