@(salon: Salon, reservation: Reservation, resvItem: ResvItem, condtionForm: Form[CouponServiceType], serviceByTypes: List[ServiceByType], serviceTypes: List[ServiceType], navBar: List[(String, String)] = Nil)

@reservationInfoMain(navInSalon = "HairSalon", "one", salon, navBar) {

  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/reservation/reservation.css")">

  @views.html.reservation.selectedResvItem(resvItem)

  <div class="yS reserveTitleOuter mT20">
    <h3 class="yS reserveTitleInner pL10">请选择额外的服务</h3>
  </div>

  <div class="cFix fgOrange mT5">
    <ul class="di fl fs10">
      <li class="mL20">※时间只是预估值，在店铺较忙的时候可能会有一些偏差。</li>
    </ul>
  </div>

  @views.html.coupon.couponSearchGroup(salon, condtionForm, serviceTypes)

  @views.html.reservation.selectServicesGroup(salon, serviceByTypes)

}
