@(salon: models.portal.salon.Salon, reservation: models.portal.reservation.Reservation, resvItem: models.portal.reservation.ResvItem, condtionForm: Form[models.portal.coupon.CouponServiceType],
	 serviceByTypes: List[models.portal.service.ServiceByType], serviceTypes: List[models.portal.service.ServiceType], stylistId: String, styleId: String, user: Option[models.portal.user.User] = None, navBar: List[(String, String)] = Nil)

@reservationInfoMain(navInSalon = Messages("main.title." + salon.salonIndustry.head), "one", salon, user, navBar) {

  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/coupon/coupon.css")">

  @views.html.reservation.selectedResvItem(resvItem)

  <div class="yS reserveTitleOuter mT20">
    <h3 class="yS reserveTitleInner pL10">@Messages("reservation.selectExtraService")</h3>
  </div>

  <div class="cFix fgOrange mT5">
    <ul class="di fl fs10">
      <li class="mL20">@Messages("reservation.resvTimeMsg")</li>
    </ul>
  </div>

  @views.html.reservation.resvServiceSearch(salon, condtionForm, serviceTypes, stylistId, styleId)

  @views.html.reservation.selectServicesGroup(salon, reservation, serviceByTypes)

  <div class="mT5 pr submitArea">
    <a href="@routes.Reservations.getTotalOfServices(stylistId, styleId)" class="bS db nominatedReserve mHA" width="200px">
    @Messages("reservation.next")
    </a>
  </div>

}
