@(navInSalon: String = "salon-basic", menuTab: String = "two", salon: models.portal.salon.Salon, user: Option[models.portal.user.User] = None, navBar: List[(String, String)] = Nil)(content: Html)


  @main(salon.salonName, user, "HairSalon", navBar) {
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/reservation/reservation.css")">
    <!-- ↓contents -->

    <!-- ↓mainContents -->
    <div id="salonMainContents">
      @views.html.reservation.reservationTop(salon, menuTab)

        <!-- ↓salonInfoBody -->
        <!-- show different body contents according to the NAV tab. -->
      @content
        <!-- ↑salonInfoBody -->

        <!-- ↓salonInfoFooter  -->
      @views.html.salon.store.salonInfoFooter(navInSalon, salon)
        <!-- ↑salonInfoFooter  -->

    </div>
    <!-- ↑mainContents -->

    <!-- ↓sideContents -->
    @views.html.salon.store.rightColumn(user = None)
    <!-- ↑sideContents -->

    <!-- ↑contents -->

  }
