@(salon: models.portal.salon.Salon, resvSchedule: models.portal.reservation.ResvSchedule, reservation: models.portal.reservation.Reservation, stylistId: Option[ObjectId], styleId: String, week: Int = 0,
  resvTab: String, jumpType: String, user: Option[models.portal.user.User] = None, navBar: List[(String, String)] = Nil)

@reservationInfoMain(navInSalon = Messages("main.title." + salon.salonIndustry.head), "two", salon, user, navBar) {

  @views.html.reservation.reservItemsInfo(reservation, "serviceDuration")

  @views.html.reservation.reservSelectDateMain(salon, resvSchedule, week, stylistId, styleId, resvTab, jumpType)
}
