@(navInSalon: String = "salon-basic", menuTab: String = "two", salon: Salon, navBar: List[(String, String)] = Nil)(content: Html)


@main(salon.salonName, "HairSalon", navBar) {

<!-- ↓contents -->

    <!-- ↓mainContents -->
    <div id="salonMainContents">
      @views.html.reservation.reservationTop(salon, menuTab)

      <!-- ↓salonInfoBody -->
      <!-- show different body contents according to the NAV tab. -->
      @content
      <!-- ↑salonInfoBody -->  

      <!-- ↓salonInfoFooter  -->
      @views.html.salon.store.salonInfoFooter(navInSalon, salon)
      <!-- ↑salonInfoFooter  -->  

    </div>
    <!-- ↑mainContents -->

    <!-- ↓sideContents -->
    @views.html.salon.store.rightColumn(user = None)
    <!-- ↑sideContents -->

<!-- ↑contents -->

}
