@(salon: Salon, resvSchedule: ResvSchedule, navBar: List[(String, String)] = Nil)

@reservationInfoMain(navInSalon = "hair-salon", salon, navBar) {
	
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/reservation/reservation.css")">

	<div id="jsRsvCdTbl" class="ReserveConditionTable underTabContents">
		<div class="coverTable">
			<div class="whiteTable2">
				<table class="innerTable taC nowrap" cellpadding="0" cellspacing="0">
					<tbody>
						<tr>
							<th rowspan="2" class="timeColor"><span class="iS arrowPagingWeekLOff">前の一週間</span></th>
							@for(yearPart <- resvSchedule.yearsPart) {
								<th colspan="@yearPart.yearNum" class="monthColor pV10">@yearPart.years</th>
							}
							<th rowspan="2" class="timeColor">
								<a href="#" title="次の一週間" class="iS arrowPagingWeekR">次の一週間</a>
							</th>
						</tr>
						<tr>
							@for(dayPart <- resvSchedule.daysPart) {
								@if(dayPart.weekDay == 7) {
									<th class="sat">@dayPart.day<br>(@Messages("reservation.weekDay." + dayPart.weekDay))</th>
								} else {
									@if(dayPart.weekDay == 1) {
										<th class="sun">@dayPart.day<br>(@Messages("reservation.weekDay." + dayPart.weekDay))</th>
									} else {
										<th class="dayCell">@dayPart.day<br>(@Messages("reservation.weekDay." + dayPart.weekDay))</th>
									}
								}
								
							}
						</tr>
						<tr>
							<th class="innerCell">
								<table cellpadding="0" cellspacing="0" class="moreInnerTable vaT">
									<tbody>
										@for(timePart <- resvSchedule.timesPart) {
											<tr><th class="timeCell"><p class="hourR">@timePart</p></th></tr>
											<tr><th class="separate"></th></tr>
										}
									</tbody>
								</table>
							</th>
							@for(resvInfoItems <- resvSchedule.resvInfoPart) {
								<th class="innerCell">
									<table cellpadding="0" cellspacing="0" class="moreInnerTable">
										<tbody>
											@for(resvInfoItem <- resvInfoItems.resvInfoItemPart) {
												@if(resvInfoItem.isResvFlg) {
													<tr>
														<td class="openColor"><p class="scheduleR"><a href="#" title="◎" class="bS db reserveImmediately offL vaT">◎</a></p></td>
													</tr>
													<tr><th class="separate"></th></tr>
												} else {
													<tr>
														<td class="closeColor"><p class="scheduleR"><span class="bS db reserveImpossible offL">×</span></p></td>
													</tr>
													<tr><th class="separate"></th></tr>
												}
											}
										</tbody>
									</table>
								</th>
							}
							<th class="innerCell">
								<table cellpadding="0" cellspacing="0" class="moreInnerTable vaT">
									<tbody>
										@for(timePart <- resvSchedule.timesPart) {
											<tr><th class="timeCell"><p class="hourR">@timePart</p></th></tr>
											<tr><th class="separate"></th></tr>
										}
									</tbody>
								</table>
							</th>
						</tr>
					</tbody>
				</table>
			</div>
		</div>	
	</div>
	
}
