@(salon: models.portal.salon.Salon, condtionForm: Form[models.portal.coupon.CouponServiceType], serviceTypes: List[models.portal.service.ServiceType], coupons: List[models.portal.coupon.Coupon], menus: List[models.portal.menu.Menu], serviceByTypes: List[models.portal.service.ServiceByType],
   beforeSevernDate: java.util.Date, stylistId: String, styleId: String, user: Option[models.portal.user.User] = None, navBar: List[(String, String)] = Nil)

@reservationInfoMain(navInSalon = Messages("main.title." + salon.salonIndustry.head), "one", salon, user, navBar) {

  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/coupon/coupon.css")">

  <div class="mT20">
    <div class="yS reserveTitleOuter">
      <h2 class="yS reserveTitleInner">@Messages("reservation.resvCouponAndMenu")</h2>
    </div>
  </div>

  @views.html.coupon.couponSearchGroup(salon, condtionForm, serviceTypes, stylistId, styleId)

  <!-- Get the models.portal.salon.Salon with all the coupons.  -->
  @views.html.coupon.couponComponent(salon, coupons, beforeSevernDate, stylistId, styleId)

  <!-- Get the models.portal.salon.Salon with all the menus.  -->
  @views.html.menu.menuGroup(salon, menus, stylistId, styleId)

  <!-- Get the models.portal.salon.Salon with all the services.  -->
  @views.html.menu.menuGroupByType(salon, serviceByTypes, stylistId, styleId)

}