@(salon: models.portal.salon.Salon, reservation: models.portal.reservation.Reservation, unReservStylists: List[models.portal.stylist.StylistDetailInfo],
  reservStylists: List[models.portal.stylist.StylistDetailInfo], user: Option[models.portal.user.User] = None, navBar: List[(String, String)] = Nil)

  @reservationInfoMain(navInSalon = "HairSalon", "two", salon, user, navBar) {

    @views.html.reservation.reservItemsInfo(reservation, "expectedDate")

    @views.html.reservation.reservSelectStylist(unReservStylists, reservStylists)
  }
