@()
<html>

<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/reservation/hairReservation.css")">
	<div class="title cFix">
		<div class="cFix">
			<span class="rsvS directRsv offL mR10 fl"><font><font>网上预订</font></font></span>
			<p class="fgRed mL5 pT3 oh">
				<font><font>※在线预订打折酒店，预订和确认的预订完成的时间。</font><font>请访问我们的，因为它是。</font></font>
			</p>
		</div>
		<div class="mT5">
			<h2 class="fs18">
				<font><font>FRERES弗里尔</font></font>
			</h2>
			<p class="fs12 dibBL">
				<font><font>弗里尔</font></font>
			</p>
		</div>
	</div>
	<dl class="cFix mT15 reservation-step">
		<dt class="stepE01">
			<font><font>步骤</font></font>
		</dt>
		<dd class="stepE01">
			<font><font>菜单选择</font></font>
		</dd>
		<dd class="stepE02On">
			<font><font>参观日期及提名选择</font></font>
		</dd>
		<dd class="stepE03">
			<font><font>客户信息输入</font></font>
		</dd>
		<dd class="stepE04">
			<font><font>确认</font></font>
		</dd>
		<dd class="stepE05">
			<font><font>预订完成</font></font>
		</dd>
	</dl>
</html>	