@(salon: Salon, serviceByTypes: List[ServiceByType])
@import helper._
@import helper.twitterBootstrap._

<div class="mT50">
  <table cellspacing="0" id="jsMenuSelect" class="wFull bdCell pCell5 mT15 fgRbrown jscAddMenuSelect">
    <tbody>
      <tr class=" bgLGray2">
        <th class="taC">@Messages("reservation.menu")</th>
        <th class="w100 taC">金额</th>
        <th class="w110 taC">服务时间（预计）</th>
      </tr>
      @if(serviceByTypes.isEmpty) {
        <div class="bgAlertMsg mT20">
          <p class="alertMsg">@Messages("service.noDataMsg")</p>
        </div>
      } else {
        @for(serviceByType <- serviceByTypes) {
          <tr class="bgLGray ">
            <td colspan="3" height="20">
              <span class="b">@Messages("ServiceType.serviceTypeName." + serviceByType.serviceTypeName)</span>
            </td>
          </tr>
          @for(service <- serviceByType.serviceItems) {
            <tr id="jsMenuWrap0" class="">
              <td class="checkboxIndent">
                <input type="checkbox" name="service" id="service@serviceByType.serviceItems.indexOf(service)" value="@service.id" class="cbF">
                <label for="service@serviceByType.serviceItems.indexOf(service)">
                  <span id="jsMenuText">@service.serviceName</span>
                </label>
              <td id="jsMenuPrice">@service.price @Messages("coupon.currency")</td>
              <td id="jsMenuTime">
                @if((service.duration / 60) != 0) {
                  @(service.duration / 60)@Messages("reservation.hour")
                }
                @if((service.duration % 60) != 0) {
                  @(service.duration % 60)@Messages("reservation.minute")
                }
              </td>
            </tr>
          }
        }
      }
    </tbody>
  </table>
</div>
